{
  "log": {
    "_recordingName": "esv/secret-list-https://openam-frodo-dev.forgeblocks.com/am/0_u/saml2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8565839c3e172837e983cd07eb9b674f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "entityid",
              "value": "ForgeopsTest"
            },
            {
              "name": "realm",
              "value": "/alpha"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/saml2/jsp/exportmetadata.jsp?entityid=ForgeopsTest&realm=%2Falpha"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 6905,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<EntityDescriptor entityID=\"ForgeopsTest\" xmlns=\"urn:oasis:names:tc:SAML:2.0:metadata\" xmlns:query=\"urn:oasis:names:tc:SAML:metadata:ext:query\" xmlns:mdattr=\"urn:oasis:names:tc:SAML:metadata:attribute\" xmlns:saml=\"urn:oasis:names:tc:SAML:2.0:assertion\" xmlns:xenc=\"http://www.w3.org/2001/04/xmlenc#\" xmlns:xenc11=\"http://www.w3.org/2009/xmlenc11#\" xmlns:alg=\"urn:oasis:names:tc:SAML:metadata:algsupport\" xmlns:x509qry=\"urn:oasis:names:tc:SAML:metadata:X509:query\" xmlns:ds=\"http://www.w3.org/2000/09/xmldsig#\">\n    <IDPSSODescriptor protocolSupportEnumeration=\"urn:oasis:names:tc:SAML:2.0:protocol\">\n        <ArtifactResolutionService index=\"0\" Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/ArtifactResolver/metaAlias/alpha/idp\"/>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/IDPSloRedirect/metaAlias/alpha/idp\" ResponseLocation=\"https://openam-frodo-dev.forgeblocks.com/am/IDPSloRedirect/metaAlias/alpha/idp\"/>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/IDPSloPOST/metaAlias/alpha/idp\" ResponseLocation=\"https://openam-frodo-dev.forgeblocks.com/am/IDPSloPOST/metaAlias/alpha/idp\"/>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/IDPSloSoap/metaAlias/alpha/idp\"/>\n        <ManageNameIDService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/IDPMniRedirect/metaAlias/alpha/idp\" ResponseLocation=\"https://openam-frodo-dev.forgeblocks.com/am/IDPMniRedirect/metaAlias/alpha/idp\"/>\n        <ManageNameIDService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/IDPMniPOST/metaAlias/alpha/idp\" ResponseLocation=\"https://openam-frodo-dev.forgeblocks.com/am/IDPMniPOST/metaAlias/alpha/idp\"/>\n        <ManageNameIDService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/IDPMniSoap/metaAlias/alpha/idp\"/>\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:persistent</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:transient</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:WindowsDomainQualifiedName</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:kerberos</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIDFormat>\n        <SingleSignOnService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/SSORedirect/metaAlias/alpha/idp\"/>\n        <SingleSignOnService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/SSOPOST/metaAlias/alpha/idp\"/>\n        <SingleSignOnService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/SSOSoap/metaAlias/alpha/idp\"/>\n        <NameIDMappingService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/NIMSoap/metaAlias/alpha/idp\"/>\n        <AssertionIDRequestService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/AIDReqSoap/IDPRole/metaAlias/alpha/idp\"/>\n        <AssertionIDRequestService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:URI\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/AIDReqUri/IDPRole/metaAlias/alpha/idp\"/>\n    </IDPSSODescriptor>\n    <SPSSODescriptor protocolSupportEnumeration=\"urn:oasis:names:tc:SAML:2.0:protocol\">\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/SPSloRedirect/metaAlias/alpha/sp\" ResponseLocation=\"https://openam-frodo-dev.forgeblocks.com/am/SPSloRedirect/metaAlias/alpha/sp\"/>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://openam-frodo-dev.forgeblocks.com/am/SPSl[...]
