{
  "log": {
    "_recordingName": "esv/secret-import/0_all-separate_directory_include-active-values/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8d2f5eccfa3f1999f352ca32412624c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 258,
            "text": "{\"_id\":\"esv-test-secret-2\",\"activeVersion\":\"1\",\"description\":\"Test Secret Two\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-07-08T17:51:36.657796Z\",\"lastChangedBy\":\"volker.scheuber@pingidentity.com\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 195,
      },
      {
        "_id": "e8d2f5eccfa3f1999f352ca32412624c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "G[...]
