{
  "log": {
    "_recordingName": "saml/export/0_A/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f87e1575d28a7d838a1db1427e7753b1",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b568713e-be22-4f27-b721-db82bb6d2d44"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/fdc90a67-b31c-4488-adda-c4b59cf511ba?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1165,
            "text": "{\"_id\":\"fdc90a67-b31c-4488-adda-c4b59cf511ba\",\"_rev\":\"a9fd21f6-492e-4d10-9576-0447d4e19080-33082\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1700934214599\",\"description\":\"vscheuber@gmail.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"_7IXR81vkSR5tJMgSnELo5DcRzK-G5bWU6uMOihJFTE\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"pZAxYCFYHxgS4bXDGp8wwRhZRnJTj9v84UDDClGntSfJb_HZiHRtD1L_TbT91mxYPzqoauZ_dnbDHWNbPUSNChqmo3y6v_lpgsbZXS79o5CTwwBT05vtGd8TpNBbOqpjB-zviTVp0IK4PYZUxeWgeYFmLXxbzCGDj6ynCJ3Ad2WMd8gdZQpMaNuWTFp8olotuQQ5yn0y3T4Ao-Wi1BsSWHG_t6weFJxfKZxfWE2m1ENy2XynUGMIfAYnEV_Ap0p-MgbjaeeIB9R4t0UcuCXV1tZW6MmwzuBUBO5a5KrcpBash2XHOuPIvzwN0pkgQK4LqkVcDnWKmOfpJKXmTsxPuweW35RWYQw6CyvXMX245Q-eSw5jp7CbCteXnFjEJAhN2wdKatOm3XSuEiys4eD68dK6ANEaPuey-CPVQlAUhVugYu8-PlLWE3WrJriwYuks1LF9_3A_6fklrjvGW7jg0hcVIPqD6rvzL9kLgLpcWDRzEWj2IUTlc3IPWJSNSwdCvAEKBpCHRfS-2Wnh9rea6R8wTMKAHNJvgSQcc-D48Q2DX0qlGJukiTmFb_MrrdTHDTSr3jzq5xh2HclFrhjaKBpYceGp3uAqGX3uNWbIjavjX9pwtowXP7tstRAnKQfEm5fKey_l17oQlzUjptno-Uv4bTglvAWgmf2TiCgdjjE\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"a9fd21f6-492e-4d10-9576-0447d4e19080-33082\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b568713e-be22-4f27-b721-db82bb6d2d44"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
