{
  "log": {
    "_recordingName": "authn/import/0_file_directory/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ee131237-971d-4a9e-83b9-35d7af058adc"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1874515102\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ee131237-971d-4a9e-83b9-35d7af058adc"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 341,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ee131237-971d-4a9e-83b9-35d7af058adc"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 273,
            "text": "{\"_id\":\"version\",\"_rev\":\"1157267696\",\"version\":\"7.6.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.6.0-SNAPSHOT Build 3044e8afddd78acfb775451f6053575b124e7cb3 (2024-June-25 16:54)\",\"revision\":\"3044e8afddd78acfb775451f6053575b124e7cb3\",\"date\":\"2024-June-25 16:54\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1157267696\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ee131237-971d-4a9e-83b9-35d7af058adc"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 419,
      },
      {
        "_id": "f8ae10fdae1a6ff17e4f707c4328370c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ee131237-971d-4a9e-83b9-35d7af058adc"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"\",\"_type\":{\"_id\":\"EMPTY\",\"collection\":false,\"name\":\"Core\"},\"accountlockout\":{\"lockoutDuration\":0,\"lockoutDurationMultiplier\":1,\"lockoutWarnUserCount\":0,\"loginFailureCount\":5,\"loginFailureDuration\":300,\"loginFailureLockoutMode\":false,\"storeInvalidAttemptsInDataStore\":true},\"core\":{\"adminAuthModule\":\"Login\",\"orgConfig\":\"Login\"},\"general\":{\"defaultAuthLevel\":0,\"externalLoginPageUrl\":\"https://volker-demo.encore.forgerock.com/demo/webapp/en/home/redirect\",\"identityType\":[\"agent\",\"user\"],\"locale\":\"en_US\",\"statelessSessionsEnabled\":false,\"twoFactorRequired\":false,\"userStatusCallbackPlugins\":[]},\"postauthprocess\":{\"loginFailureUrl\":[],\"loginPostProcessClass\":[],\"loginSuccessUrl\":[\"/enduser/?realm=/alpha\"],\"userAttributeSessionMapping\":[],\"usernameGeneratorClass\":\"com.sun.identity.authentication.spi.DefaultUserIDGenerator\",\"usernameGeneratorEnabled\":true},\"security\":{\"addClearSiteDataHeader\":true,\"keyAlias\":\"test\",\"moduleBasedAuthEnabled\":false,\"sharedSecret\":{\"$string\":\"&{am.authentication.shared.secret}\"},\"zeroPageLoginAllowedWithoutReferrer\":true,\"zeroPageLoginEnabled\":false,\"zeroPageLoginReferrerWhiteList\":[]},\"trees\":{\"authenticationSessionsMaxDuration\":5,\"authenticationSessionsStateManagement\":\"JWT\",\"authenticationSessionsWhitelist\":false,\"authenticationTreeCookieHttpOnly\":true,\"suspendedAuthenticationTimeout\":1440},\"userprofile\":{\"aliasAttributeName\":[\"uid\"],\"defaultRole\":[],\"dynamicProfileCreation\":\"false\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1438,
            "text": "{\"postauthprocess\":{\"usernameGeneratorClass\":\"com.sun.identity.authentication.spi.DefaultUserIDGenerator\",\"usernameGeneratorEnabled\":true,\"loginPostProces[...]
