{
  "log": {
    "_recordingName": "esv/secret-version-create/0_i_file/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c36d742a8772089bb5e2da2d58191bb4",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1e576411-3c15-4b05-a503-a72ef4044d35"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/6bac97fb-0665-4ba9-b66c-1cf70e074d72?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1178,
            "text": "{\"_id\":\"6bac97fb-0665-4ba9-b66c-1cf70e074d72\",\"_rev\":\"ff925211-693b-46e6-8045-520ab8183c7e-16349\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1704387529336\",\"description\":\"sandeep.chaturvedi@forgerock.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"Rq1migCsQ_FTyrMPr1ae3aJiVBtKUkWNImCRFtqwiVU\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"3Us5QnPYG04ocvOgkhrKK_Y77sbViKuKq1e-G22SEZXj3ng49a0veSOXywNGgBYCKeWza5l4x0_se4jwVQlPRZTTCQhPoWHVYXICMORg5tv9hCQwhS35tLFlnfaclNqjZUwxH_TGpKoLx_wEhbEv6oyGRORCGV5BgRBm1Gb3IXnYyS5T9vXc9DK4PjJ6tzBCKSADoe4sTGfRXp6ReNyy001hGxSaxYX3gB7dEnGYSiuoU2Sq2AyP6R8FCFXg6Jf0UaxZXiz8M7KMgCYIXrQle5EDJsKJEml8wb0kzQP7DxDyvTLZreYvRgpTFz_DeCoEhFFl3XYNjW9ttV9dCvuINU-dnWwdgVPmj2-oDElqgLjLq7ZTDXxDFvhP4un9jA5zbWVrFoyRlQBpCdmuBLuru2MjxMuvTNgK9wAbnJu1B1IM1TzCWcT4zOYTntpnAXiYPQG2w74WF6AVhHqxva8vO4ReJbArQGII7b_X3AV8Pos5MpboThNZTuOkRc1WEd8-ljyNKtN1tfiMUX_0h0mVxge9b5ciZPbXYy0GrY1o41YrNfUvcbjBGGP_5YYKuF6Ta8aWhnidTddH37tQcZZMj2wZfmOvCaJYlQl7PthpF0hnkYDnjlDn1R3lO5rCKoS9h9p3ry2KUhBBDG63_EZG3om4FnRJSj7YgJSF5hGlCjs\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"ff925211-693b-46e6-8045-520ab8183c7e-16349\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1e576411-3c15-4b05-a503-a72ef4044d35"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 136,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
