{
  "log": {
    "_recordingName": "iga/workflow-delete/0_workflow-id_force/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "26c6e7586e711f4d5f9fa15f45f2f06f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-ccb-ai.forgeblocks.com/auto/orchestration/definition/testWorkflow1/draft"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 38,
            "text": "Exception: argument \"content\" is null "
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 350,
      },
      {
        "_id": "dea86ed50cc6b07708db6b49e8af4ef2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-ccb-ai.forgeblocks.com/auto/orchestration/definition/t[...]
