{
  "log": {
    "_recordingName": "saml/import/0_all_no-deps_file/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0eda8d11-41b2-42ec-aff0-6e9c263511a6"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1874515102\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0eda8d11-41b2-42ec-aff0-6e9c263511a6"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 130,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0eda8d11-41b2-42ec-aff0-6e9c263511a6"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 275,
            "text": "{\"_id\":\"version\",\"_rev\":\"-718638044\",\"version\":\"7.5.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.5.0-SNAPSHOT Build cbdf0302eac3978c68f50b853a4495a622999003 (2024-March-06 09:56)\",\"revision\":\"cbdf0302eac3978c68f50b853a4495a622999003\",\"date\":\"2024-March-06 09:56\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-718638044\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0eda8d11-41b2-42ec-aff0-6e9c263511a6"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 70,
      },
      {
        "_id": "1359639e005eb094146bc8dd7351f3e0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0eda8d11-41b2-42ec-aff0-6e9c263511a6"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"U1BBenVyZQ\",\"entityId\":\"SPAzure\",\"serviceProvider\":{\"advanced\":{\"ecpConfiguration\":{\"ecpRequestIdpListFinderImpl\":\"com.sun.identity.saml2.plugins.ECPIDPFinder\"},\"idpProxy\":{},\"relayStateUrlList\":{},\"saeConfiguration\":{\"spUrl\":\"https://idc.scheuber.io/am/spsaehandler/metaAlias/alpha/SPAzure\"}},\"assertionContent\":{\"assertionTimeSkew\":300,\"authenticationContext\":{\"authContextItems\":[{\"contextReference\":\"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport\",\"defaultItem\":true,\"level\":0}],\"authenticationComparisonType\":\"Exact\",\"authenticationContextMapper\":\"com.sun.identity.saml2.plugins.DefaultSPAuthnContextMapper\",\"includeRequestedAuthenticationContext\":true},\"basicAuthentication\":{},\"nameIdFormat\":{\"nameIdFormatList\":[\"urn:oasis:names:tc:SAML:2.0:nameid-format:persistent\",\"urn:oasis:names:tc:SAML:2.0:nameid-format:transient\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:WindowsDomainQualifiedName\",\"urn:oasis:names:tc:SAML:2.0:nameid-format:kerberos\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName\"]},\"signingAndEncryption\":{\"encryption\":{},\"requestResponseSigning\":{},\"secretIdAndAlgorithms\":{}}},\"assertionProcessing\":{\"accountMapping\":{\"spAccountMapper\":\"com.sun.identity.saml2.plugins.DefaultSPAccountMapper\",\"useNameIDAsSPUserID\":true},\"adapter\":{},\"attributeMapper\":{\"attributeMap\":[{\"key\":\"http://schemas.microsoft.com/identity/claims/displayname\",\"value\":\"cn\"},{\"key\":\"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname\",\"value\":\"givenName\"},{\"key\":\"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname\",\"value\":\"sn\"},{\"key\":\"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress\",\"value\":\"mail\"},{\"key\":\"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name\",\"value\":\"uid\"}],\"attributeMapper\":\"com.sun.identity.saml2.plugins.DefaultSPAttributeMapper\"},\"autoFederation\":{\"autoFedEnabled\":false},\"defaultRelayState\":\"https://idc.scheuber.io/enduser/?realm=alpha#/profile\",\"responseArtifactMessageEncoding\":{\"encoding\":\"URI\"},\"url\":{}},\"services\":{\"metaAlias\":\"/alpha/SPAzure\",\"serviceAttributes\":{\"assertionConsumerService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact\",\"index\":0,\"isDefault\":true,\"location\":\"https://idc.scheuber.io/am/Consumer/metaAlias/alpha/SPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"index\":1,\"isDefault\":false,\"location\":\"https://idc.scheuber.io/am/Consumer/metaAlias/alpha/SPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:PAOS\",\"index\":2,\"isDefault\":false,\"location\":\"https://idc.scheuber.io/am/Consumer/ECP/metaAlias/alpha/SPAzure\"}],\"nameIdService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/SPMniRedirect/metaAlias/alpha/SPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/SPMniRedirect/metaAlias/alpha/SPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/SPMniPOST/metaAlias/alpha/SPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/SPMniPOST/metaAlias/alpha/SPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/SPMniSoap/metaAlias/alpha/SPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/SPMniSoap/metaAlias/alpha/SPAzure\"}],\"singleLogoutService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/SPSloRedirect/metaAlias/alpha/SPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/SPSloRedirect/metaAlias/alpha/SPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/SPSloPOST/metaAlias/alpha/SPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/SPSloPOST/metaAlias/alpha/SPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/SPSloSoap/metaAlias/alpha/SPAzure\"}]}}}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/saml2/hosted/?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 122,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"The Meta Alias \\\"/alpha/SPAzure\\t\\\" already exists under realm \\\"/alpha\\\".\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0eda8d11-41b2-42ec-aff0-6e9c263511a6"
      [...]
