{
  "log": {
    "_recordingName": "agent/web-import/0_i_f_D/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c1fa09fd-ea0c-486f-9650-67a199a149cf"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 538,
            "text": "{\"_id\":\"*\",\"_rev\":\"36966512\",\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "etag",
              "value": "\"36966512\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c1fa09fd-ea0c-486f-9650-67a199a149cf"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 100,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c1fa09fd-ea0c-486f-9650-67a199a149cf"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 282,
            "text": "{\"_id\":\"version\",\"_rev\":\"355151460\",\"version\":\"7.6.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.6.0-SNAPSHOT Build 493165657bbb9390016bd43ca767a46f23d8d24a (2024-September-23 14:30)\",\"revision\":\"493165657bbb9390016bd43ca767a46f23d8d24a\",\"date\":\"2024-September-23 14:30\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"355151460\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c1fa09fd-ea0c-486f-9650-67a199a149cf"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 75,
      },
      {
        "_id": "4f31e14ad9f2dbe906473145d899c417",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c1fa09fd-ea0c-486f-9650-67a199a149cf"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"frodo-test-web-agent\",\"_type\":{\"_id\":\"WebAgent\",\"collection\":true,\"name\":\"Web Agents\"},\"advancedWebAgentConfig\":{\"apacheAuthDirectives\":null,\"clientHostnameHeader\":null,\"clientIpHeader\":null,\"customProperties\":[],\"fragmentRedirectEnabled\":false,\"hostnameToIpAddress\":[],\"logonAndImpersonation\":false,\"overrideRequestHost\":false,\"overrideRequestPort\":false,\"overrideRequestProtocol\":false,\"pdpJavascriptRepost\":false,\"pdpSkipPostUrl\":[\"\"],\"pdpStickySessionCookieName\":null,\"pdpStickySessionMode\":\"OFF\",\"pdpStickySessionValue\":null,\"postDataCachePeriod\":10,\"postDataPreservation\":false,\"replayPasswordKey\":null,\"retainSessionCache\":false,\"showPasswordInHeader\":false},\"amServicesWebAgent\":{\"amLoginUrl\":[],\"amLogoutUrl\":[\"http://testserverurl.com:8080/UI/Logout\"],\"applicationLogoutUrls\":[\"\"],\"conditionalLoginUrl\":[\"\"],\"customLoginMode\":0,\"enableLogoutRegex\":false,\"fetchPoliciesFromRootResource\":false,\"invalidateLogoutSession\":true,\"logoutRedirectDisabled\":false,\"logoutRedirectUrl\":null,\"logoutResetCookies\":[\"\"],\"logoutUrlRegex\":null,\"policyCachePollingInterval\":3,\"policyClockSkew\":0,\"policyEvaluationApplication\":\"iPlanetAMWebAgentService\",\"policyEvaluationRealm\":\"/\",\"publicAmUrl\":null,\"regexConditionalLoginPattern\":[\"\"],\"regexConditionalLoginUrl\":[\"\"],\"retrieveClientHostname\":false,\"ssoCachePollingInterval\":3,\"userIdParameter\":\"UserToken\",\"userIdParameterType\":\"session\"},\"applicationWebAgentConfig\":{\"attributeMultiValueSeparator\":\"|\",\"clientIpValidation\":false,\"continuousSecurityCookies\":{},\"continuousSecurityHeaders\":{},\"fetchAttributesForNotEnforcedUrls\":false,\"ignorePathInfoForNotEnforcedUrls\":true,\"invertNotEnforcedUrls\":false,\"notEnforcedIps\":[\"\"],\"notEnforcedIpsList\":[\"\"],\"notEnforcedIpsRegex\":false,\"notEnforcedUrls\":[\"\"],\"notEnforcedUrlsRegex\":false,\"profileAttributeFetchMode\":\"NONE\",\"profileAttributeMap\":{},\"responseAttributeFetchMode\":\"NONE\",\"responseAttributeMap\":{},\"sessionAttributeFetchMode\":\"NONE\",\"sessionAttributeMap\":{}},\"globalWebAgentConfig\":{\"accessDeniedUrl\":null,\"agentConfigChangeNotificationsEnabled\":true,\"agentDebugLevel\":\"Error\",\"agentUriPrefix\":\"http://testagenturl.com:8080/amagent\",\"agentgroup\":null,\"amLbCookieEnable\":false,\"auditAccessType\":\"LOG_NONE\",\"auditLogLocation\":\"REMOTE\",\"cdssoRootUrl\":[\"agentRootURL=http://testagenturl.com:8080/\"],\"configurationPollingInterval\":60,\"disableJwtAudit\":false,\"fqdnCheck\":false,\"fqdnDefault\":\"testagenturl.com\",\"fqdnMapping\":{},\"jwtAuditWhitelist\":null,\"jwtName\":\"am-auth-jwt\",\"notificationsEnabled\":true,\"repositoryLocation\":\"centralized\",\"resetIdleTime\":false,\"secretLabelIdentifier\":null,\"ssoOnlyMode\":false,\"status\":\"Inactive\",\"webSocketConnectionIntervalInMinutes\":30},\"miscWebAgentConfig\":{\"addCacheControlHeader\":false,\"anonymousUserEnabled\":false,\"anonymousUserId\":\"anonymous\",\"caseInsensitiveUrlComparison\":true,\"compositeAdviceEncode\":false,\"compositeAdviceRedirect\":false,\"encodeSpecialCharsInCookies\":false,\"encodeUrlSpecialCharacters\":false,\"gotoParameterName\":\"goto\",\"headerJsonResponse\":{},\"ignorePathInfo\":false,\"invalidUrlRegex\":null,\"invertUrlJsonResponse\":false,\"mineEncodeHeader\":0,\"profileAttributesCookieMaxAge\":300,\"profileAttributesCookiePrefix\":\"HTTP_\",\"statusCodeJsonResponse\":202,\"urlJsonResponse\":[\"\"]},\"ssoWebAgentConfig\":{\"acceptSsoToken\":false,\"cdssoCookieDomain\":[\"\"],\"cdssoRedirectUri\":\"agent/cdsso-oauth2\",\"cookieName\":\"iPlanetDirectoryPro\",\"cookieResetEnabled\":false,\"cookieResetList\":[\"\"],\"cookieResetOnRedirect\":false,\"httpOnly\":true,\"multivaluePreAuthnCookie\":false,\"persistentJwtCookie\":false,\"sameSite\":null,\"secureCookies\":false}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/WebAgent/frodo-test-web-agent"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 6528,
            "text": "{\"_id\":\"frodo-test-web-agent\",\"_rev\":\"-1940700403\",\"miscWebAgentConfig\":{\"anonymousUserId\":{\"inherited\":false,\"value\":\"anonymous\"},\"profileAttributesCookieMaxAge\":{\"inherited\":false,\"value\":300},\"urlJsonResponse\":{\"inherited\":false,\"value\":[\"\"]},\"caseInsensitiveUrlComparison\":{\"inherited\":false,\"value\":true},\"compositeAdviceRedirect\":{\"inherited\":false,\"value\":false},\"compositeAdviceEncode\":{\"inherited\":false,\"value\":false},\"addCacheControlHeader\":{\"inherited\":false,\"value\":false},\"anonymousUserEnabled\":{\"inherited\":false,\"value\":false},\"invalidUrlR[...]
