{
  "log": {
    "_recordingName": "config-manager/push/telemetry/splunk_by_name/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "361a73cfa53cdee343d74c3fbe3bd96a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"endpoint\":\"https://example.com:8088'\",\"id\":\"frodo-test-splunk-1\",\"index\":\"test\",\"sources\":[\"am-access\"],\"token\":\"test\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/telemetry/splunk/frodo-test-splunk-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 118,
            "text": "{\"endpoint\":\"https://example.com:8088'\",\"id\":\"frodo-test-splunk-1\",\"index\":\"test\",\"sources\":[\"am-access\"],\"token\":\"\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 773,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
