{
  "log": {
    "_recordingName": "email/template-export/0_all-separate_no-metadata_directory/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8aebdeafe8a93743f0bb78a58be9dbb4",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b0d9e4d2-7ca6-42ab-91c0-05e85533eb27"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/76618ff6-e851-433e-9704-9d2852a17b7a?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1163,
            "text": "{\"_id\":\"76618ff6-e851-433e-9704-9d2852a17b7a\",\"_rev\":\"634c36d8-17f8-46ac-b172-30ca689a1c22-23850\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1701807230743\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"h4ifGrx6TkKeMMSvCOJRCOMw3S_CL9gfNSfIioTiIAU\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"7TPbNXJ04LNJzi9DkM7bEp4AWB0d2o1vpKWxcXQp8KYmDOi2TuevXGwDVLTLTgPUfucQ6ZI9GHNzqhO9yEYa4UUrAvV9AhIT9emvETliW-qb7kXfs3PgZS19_KsepHrZEnIZIm34GzIfrWIU94sfa12Lyoa1npwAauul_2sTYx8_Q_Hyqf0-VKjORAUd5hy5N7gUwa9-VKG9Pbx4z-g83VgD5cNyIqWI8449s1ZJTPKxDHhyh214IK1CWWJUJ6zk9wcOmfG3VAtTJ4gcUY83aOFKGrPCwP0i4OEE0-IN_cRdEpyje7ICYInX8AWMSs8M-8ci2FzPe2KQxlR9tajthjv8Mtv7GMQjAPoXr_a_kfcSo8I7YXDqdWgu50ybcb8oi29DMPl2i4RR2cfQ9eSfbZ5Mjgy8E9Pd460gAhN4HvfmCVDEn5OUH7vQTjcZpVjzbfml-p9xNEGl71RgcD5dPG8sHd94IIhy6XQ3I99oRkjeyqsC6f1BGz-xVceAd6c3fedsO9EkPxHfTBhGPpX9xiTMwmGW8oth2Efze81ZhFCKUN8wb0RukC3fr-bb09Huz-3mWlOtP8vhQ8lxUYWJiaXtKkYKrHsNYWueZvF9Rg-D8IlRCyDutZXkFnlZzAz2ybhRIpzHmjVKq96qV020yPgjcC9NSd_J49c2kKJysnE\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"634c36d8-17f8-46ac-b172-30ca689a1c22-23850\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b0d9e4d2-7ca6-42ab-91c0-05e85533eb27"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 90,
      },
      {
        "_id": "6033aadd7f5d092978e67850d3c6699c",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b0d9e4d2-7ca6-42ab-91c0-05e85533eb27"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id sw 'emailTemplate'"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config?_queryFilter=_id%20sw%20%27emailTemplate%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 6001,
            "text": "{\"result\":[{\"_id\":\"emailTemplate/forgottenUsername\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"html\":{\"en\":\"<html><body>{{#if object.userName}}<p>Your username is '{{object.userName}}'.</p>{{else}}If you received this email in error, please disregard.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\">Click here to login</a></p></body></html>\",\"fr\":\"<html><body>{{#if object.userName}}<p>Votre nom d'utilisateur est '{{object.userName}}'.</p>{{else}}Si vous avez reçu cet e-mail par erreur, veuillez ne pas en tenir compte.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\">Cliquez ici pour vous connecter</a></p></body></html>\"},\"message\":{\"en\":\"<html><head></head><body style=\\\"background-color: #324054; color: #455469; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px; margin: 0 auto; padding: 48px; width: 235px;\\\"><p>{{#if object.userName}}Your username is '{{object.userName}}'.</p><p>{{else}}If you received this email in error, please disregard.{{/if}}</p><p><a href=\\\"{{object.resumeURI}}\\\" style=\\\"text-decoration: none; color: #109cf1;\\\">Click here to login</a></p></div></body></html>\",\"fr\":\"<html><head></head><body style=\\\"background-color: #324054; color: #455469; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px; margin: 0 auto; padding: 48px; width: 235px;\\\">{{#if object.userName}}<p>Votre nom d'utilisateur est '{{object.userName}}'.</p>{{else}}Si vous avez reçu cet e-mail par erreur, veuillez ne pas en tenir compte.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\" style=\\\"text-decoration: none; color: #109cf1;\\\">Cliquez ici pour vous connecter</a></p></div></body></html>\"},\"mimeType\":\"text/html\",\"styles\":\"body{background-color:#324054;color:#5e6d82;padding:60px;text-align:center}a{text-decoration:none;color:#109cf1}.content{background-color:#fff;border-radius:4px;margin:0 auto;padding:48px;width:235px}\",\"subject\":{\"en\":\"Account Information - username\",\"fr\":\"Informations sur le compte - nom d'utilisateur\"}},{\"_id\":\"emailTemplate/registration\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"html\":{\"en\":\"<html><body><h3>This is your registration email.</h3><p><a href=\\\"{{object.resumeURI}}\\\">Email verification link</a></p></body></html>\",\"fr\":\"<html><body><h3>Ceci est votre mail d'inscription.</h3><p><a href=\\\"{{object.resumeURI}}\\\">Lien de vérification email</a></p></body></html>\"},\"message\":{\"en\":\"<html><head></head><body style=\\\"background-color: #324054; color: #5e6d82; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px;[...]
