{
  "log": {
    "_recordingName": "authz/policy-export/0_i/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/59add48c-1b03-40d2-b1ee-2db021509e0a?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1298,
            "text": "{\"_id\":\"59add48c-1b03-40d2-b1ee-2db021509e0a\",\"_rev\":\"c0523e10-ce6f-48b6-b1f6-20305a6cb61c-2368\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1783028811524\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"uKbuPJ5wtFiWeIP4qAwQz3s2Pw43pEdO3LTho-s2ysTaYxJJSZK0wz26V3XuwQcNXJgrDUEP8c6Nc9CrrZJVWgikZx4MgVev9zvdzBt-_tv_7Xu5DP6bDuVrutr7rdsgF0NZgrWypm06tbBmaCAHvhi2wu2S3KGtuo74Tq9akcxCrg3PKwap9gelbPwM10ofvNpeJ2Gyg_mNxi0VE-CrN22QGJdysYRaU7ZuyMAuIIbKEt4BByCMZFMdrC-ky98P5RAbb9RWK0A2_3Dw4lFTIXr5JbbO_-ntz2hzJH7dflz_lk0O8abb9orRhEfPhQI4rVw4z9ADIlzBC_tMbSVp4xcQAbmEl1o7OjIUNrdwPJks9EkY2BiiJdJM9WE2TteDe9RfpV7mCgGtEro02TZdkxzCL3KrMM__Qzm7b4biOrwvZop_UBqk76Xa6U_TZSeQCEEKbsTxKPpxdflVezjTBkdQb56x35s92H7jJyJCUVIDAOrJcsZvcgpWeF5a4MP-QWWXLnOECvqyhi8C8DkrGcVbem1KmEXHZZ__o-di0f4te7iOLvcGDj3zOXfls_FN_9WbSi3hlLkFF62TTstWeUBqs1NN_SDPDTjvHg_EjgVMqzhq7G56przUPyPFKfkbylJ8AZJ02vi4wrpKSPzEp_ezRtQqJwn_mCB97McugKs\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 235,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET[...]
