{
  "log": {
    "_recordingName": "config-manager/push/locales/0_n_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cc7d4fea2e7bbda08dc59898827beb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-48b74bc1-36b0-4ccb-a95c-966c09e69916"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"uilocale/fr\",\"admin\":{\"overrides\":{\"AppLogoURI\":\"URI du logo de l’application\",\"EmailAddress\":\"Adresse e-mail\",\"Name\":\"Nom\",\"Owners\":\"Les propriétaires\"},\"sideMenu\":{\"securityQuestions\":\"Questions de sécurité\"}},\"enduser\":{\"overrides\":{\"FirstName\":\"Prénom\",\"LastName\":\"Nom de famille\"},\"pages\":{\"dashboard\":{\"widgets\":{\"welcome\":{\"greeting\":\"Bonjour\"}}}}},\"login\":{\"login\":{\"next\":\"Suivant\"},\"overrides\":{\"Password\":\"Mot de passe\",\"UnabletoresumesessionItmayhaveexpired\":\"Impossible de reprendre la session. Elle a peut-être expiré.\",\"UserName\":\"Nom d'utilisateur\"}},\"shared\":{\"sideMenu\":{\"dashboard\":\"Tableau de bord\"}}}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/uilocale/fr"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 637,
            "text": "{\"_id\":\"uilocale/fr\",\"admin\":{\"overrides\":{\"AppLogoURI\":\"URI du logo de l’application\",\"EmailAddress\":\"Adresse e-mail\",\"Name\":\"Nom\",\"Owners\":\"Les propriétaires\"},\"sideMenu\":{\"securityQuestions\":\"Questions de sécurité\"}},\"enduser\":{\"overrides\":{\"FirstName\":\"Prénom\",\"LastName\":\"Nom de famille\"},\"pages\":{\"dashboard\":{\"widgets\":{\"welcome\":{\"greeting\":\"Bonjour\"}}}}},\"login\":{\"login\":{\"next\":\"Suivant\"},\"overrides\":{\"Password\":\"Mot de passe\",\"UnabletoresumesessionItmayhaveexpired\":\"Impossible de reprendre la session. Elle a peut-être expiré.\",\"UserName\":\"Nom d'utilisateur\"}},\"shared\":{\"sideMenu\":{\"dashboard\":\"Tableau de bord\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 26,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
