{
  "log": {
    "_recordingName": "app/export/0_A_no-deps_f/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "86bc1d61c5326d620cd987fd9719f982",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e4f5b95e-c23d-4fa9-841f-86420e4b1aaa"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..HhfxsTZe9kMhQlJdlReqAw.Mq7tefXyWrZWYWu-d8pm_LngUEafWRAuKBKUjNukySCVqyFxGOANwP-RtOXJskluJkwe_NI-4gzYzQsP4TG-e70G_CyFuKpyoCNSj35gRrKUvN4jakpC3xjpQb4eHHBrFyyFfA1YMOJoBUp9tb6omb8r8dzageFiKr8ifcaCGQxAqHaglgJCpCOhi1uWOdgoIK5613ZwU2kHMkex-EQOqW4ORMf92ZHmqWQ-_lVCVKysgvdlAnnzJ7dA0cM9y04y7E7irF-7NktBWg3nN869-eusENYzOeZgGlMEB3nRwg3yYAQs5VtPEF_kIvLYYYvGL8SgDaRu8WzGDqkzRkUI9gtoKbUyk4HTqvZEw2dQpaF8-m1do2OHUZakDc0b6fR1X_ouQHrXjBQroKKGEvKOYUrdWSZAbGaMclqsOzR2vBOCBg8xTG9x9bQxEzMMSePhTCb9Rgj7tHJkzV3IuuJCnOYYAL_TZzI2VhqweqVBrBKwPuVoHdJz7WYrtbEECEd50zk_YhEyYhXjTV9Ub9QipTO93SGroxuWdmXU1CozyeDFqKLI2oI-3J6gJXgrhjQ-GWSUDMYzTRTSxqDwz0UgNbcYmpvc7C3rXzwOzPeVQNc3lwlSBYOuKd-Y-N_nYyleOgSolqmt9-qHTU04uBcYtIZs1nJcyqf8W7QShcdNYBMccBReCT_VvvaP3Yo1xuK3VeR6IOXS3IYKQw0MZsgYLMqudkpsEyA_nKYrTQmtHyKmcZNXzNFs7pJ2oZjRbOQdEOhQlrg-UP7My8UY98_VoIwSASqK1DPsB_Ode5ZPuCY3RO0pC1FRC1Fu_N-y9ZRS3oyQZ_2N-uKvYaH_Lq_VuX5gCtEeSKTSNt37TUqiUUjdBO1Fdp5Bjr5nRPiCbU7B7Zd3gno9Y9nt3YN9wy5vWUDuvhvjGLnZ65zQZqcpG_wvoCC_qoT0GFLtxIOv2lviEF7n3D_4_MDDwS1CMwXdO5PSF72QKoIGLLkoSoF8pfjZbHD4vler_bf8wil0ITncToaoZR1XDs7vveTryc5wr-OHBH-mHaYrOpDYc320JqA.BJUAFLtuoAJqV5QgZY26dg"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-volker-demo.forgeblocks.com/openidm/managed/svcacct/8b17a7ac-1329-42e5-924a-5420765f2d98?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1174,
            "text": "{\"_id\":\"8b17a7ac-1329-42e5-924a-5420765f2d98\",\"_rev\":\"7481aa43-c817-4b2c-bd02-116ed03699cf-1998\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1690584046936\",\"description\":\"volker.scheuber@forgerock.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"6zh3LwxajnuCxCL4uMXk3DrRP6l3lBZEjl7UgV1E-9o\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"21wB48yyF2zN7n_SFMlEzRaUUjEkJYYfycQIvKEMCX6ylMJD4hl3lhT8NFYsTHfEPzJUPezgXnx_n8lXzbwSOkjQ5VQTMVcOAF8fz2S4PS99O4CYDaWIHi-CPT-DFgPTdOAnbe2P5NFvW2cjir1b8u-jJZbVLWMz9N1UpDB1XXK7OpoHUiCCzotWJ9gWtPUpfFJCGKXgkgq-cl5xnGUee_qXO4UAsF7wS87xYVefgFCLCblG6jpIeuDm8a62Lb2W-2KCd7V68sa7WwksBAPep9UOr3uOSLsHOdccZpk2ODEbcPKQVWHyIFLbBUBaDmdUAACXT6-S_xHEAnCcVxtzecWCWSzDSJAknrVUQedu5BD7NskKnodysGLP4lphWpXqDilrhhpQNTuPidrCi1BdeDvJd3u-RlYGJmeXWJu4kMYpG6YmARLtehlHp_7y1j8Os1nuWMjs8NOS4jwLekDJmo5M02H_G6pqESvbQGnDD-YcH2_s3tIpC-JWoF_7OKUpi2Ml3mN4IR-OJlSdMKDF178UgWboUyuuNC9sk5-zktuiY-QgPL-Pu_TjrB2jtD6Fw_t_7isVxcCeZXPDickJfT1-VVlDA_cPsU1ZnmtAucZmGICbb_5Pd_LScJ2f3FEZ_Pqe4fseARcUimZvI4JypZ7xDXaeuJEFZlpR8y06F2U\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"7481aa43-c817-4b2c-bd02-116ed03699cf-1998\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e4f5b95e-c23d-4fa9-841f-86420e4b1aaa"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 61,
      },
      {
        "_id": "0b021f782fed397000e9439dad67d660",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e4f5b95e-c23d-4fa9-841f-86420e4b1aaa"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMj[...]
