{
  "log": {
    "_recordingName": "github",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d27795557f744bbef1aae5b9b53d94c9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/repos/rockcarver/frodo-cli/releases"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 413456,
            "text": "[{\"url\":\"https://api.github.com/repos/rockcarver/frodo-cli/releases/123403595\",\"assets_url\":\"https://api.github.com/repos/rockcarver/frodo-cli/releases/123403595/assets\",\"upload_url\":\"https://uploads.github.com/repos/rockcarver/frodo-cli/releases/123403595/assets{?name,label}\",\"html_url\":\"https://github.com/rockcarver/frodo-cli/releases/tag/v2.0.0-19\",\"id\":123403595,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"site_admin\":false},\"node_id\":\"RE_kwDOH1LPHs4HWv1L\",\"tag_name\":\"v2.0.0-19\",\"target_commitish\":\"main\",\"name\":\"Frodo CLI 2.0.0-19\",\"draft\":false,\"prerelease\":true,\"created_at\":\"2023-10-02T21:59:25Z\",\"published_at\":\"2023-10-02T21:59:26Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/rockcarver/frodo-cli/releases/assets/128746399\",\"id\":128746399,\"node_id\":\"RA_kwDOH1LPHs4HrIOf\",\"name\":\"CHANGELOG.md\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"site_admin\":false},\"content_type\":\"text/markdown\",\"state\":\"uploaded\",\"size\":62320,\"download_count\":2,\"created_at\":\"2023-10-02T21:59:27Z\",\"updated_at\":\"2023-10-02T21:59:27Z\",\"browser_download_url\":\"https://github.com/rockcarver/frodo-cli/releases/download/v2.0.0-19/CHANGELOG.md\"},{\"url\":\"https://api.github.com/repos/rockcarver/frodo-cli/releases/assets/128746401\",\"id\":128746401,\"node_id\":\"RA_kwDOH1LPHs4HrIOh\",\"name\":\"frodo-linux-2.0.0-19.zip\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.githu[...]
