{
  "log": {
    "_recordingName": "config-manager/push/secret-mappings/0_n_D/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-trivir-demo.forgeblocks.com/openidm/managed/svcacct/f15311f9-9023-41f4-aed5-23300a504938?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1392,
            "text": "{\"_id\":\"f15311f9-9023-41f4-aed5-23300a504938\",\"_rev\":\"af2df7b8-1790-4a57-9257-48d08f3328e4-4790\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1782322093573\",\"description\":\"dsevy@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\",\"fr:idc:telemetry:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"ykb5BXjIlYbS1Si1ttIbQa0cKJDdpFbR-vPoMIWAi4I\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"qAUcPTuPGu9bsW3itRmJxzz_bzqOdFPL4QGItaiMVyabnDbqI2A_mk0y8ieY8pNMlt6glmhve9kp00tbRZKIXaM6SXtHJy03WMfBaQKjGn1QbGxm4jod0AunIxXu4Wafl7BddOj8-kKOPDWHyKu7zrPQ2lzYgy-ItJApGWGiEpPmsor4irQWcUhc5eu-dyLbNU34A0_4J7IhzWxTmJfVuLQS2z07d1z4GrO5nYqKe1v3BSoGEB9DylTpDhwqjv_JuC5Oc9eggu7Z2oUHQ30NWSUrdRpPit2IGnv9yFpeOWmQOPTQOXk9_0Tf11xVU3Q-hJchbztybIa5OcPtZQFu_tRLBHQ09POnX3QIKRONKIZFwWXU2bcbz0fOkQMV2-x0OwEjnSt34VnYjHEqS8sdsv7lVD2w1oxak2TtQc12Uii8_PewOMuJh4Xoy1FQn-hJJSeI-4B9V_2T_0zTCbdrHOqQqGLReAZWNcjlTEY_JZKXaGY-1Imx7d5BJX-SYl3OpmMMVstqDH9AX6lrbHcMjfK7SF9XlB537akGdGGucqzCP8q3iuJx4o-dFojdNuOedpEUoYcWHBtxmqXemhFirOuhtX_CTrM_tg38epHi8l0fFazM4Dkczz5SjlLfvBghhqkMPvMT0VnwhdMRzIXyT442hol6jCd4frxJC1G26g8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 480,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET[...]
