{
  "log": {
    "_recordingName": "config-manager/export/variables/0_D/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e8d5f28d2136edf1b00c2f955eaa5fa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3437,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-blue-piller\",\"description\":\"Zion membership criteria.\",\"expressionType\":\"bool\",\"lastChangeDate\":\"2024-07-05T20:01:11.78347Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":true,\"valueBase64\":\"ZmFsc2U=\"},{\"_id\":\"esv-ipv4-cidr-access-rules\",\"description\":\"IPv4 CIDR access rules: { \\\"allow\\\": [ \\\"address/mask\\\" ] }\",\"expressionType\":\"object\",\"lastChangeDate\":\"2024-07-05T20:01:13.987057Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":true,\"valueBase64\":\"eyAiYWxsb3ciOiBbICIxNDUuMTE4LjAuMC8xNiIsICIxMzIuMzUuMC4wLzE2IiwgIjEwMS4yMjYuMC4wLzE2IiwgIjk5LjcyLjI4LjE4Mi8zMiIgXSB9\"},{\"_id\":\"esv-nebuchadnezzar-crew\",\"description\":\"The crew of the Nebuchadnezzar hovercraft.\",\"expressionType\":\"array\",\"lastChangeDate\":\"2024-07-05T20:01:05.216699Z\",\"lastChan[...]
