{
  "log": {
    "_recordingName": "info/1_sa-id_sa-jwk-file_json/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "251003828bf23336fa53493b58e58bd7",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1bcb9318-e68a-4e96-a3c6-cfda68b3b70d"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..cO4V4jU67gojWcjyPCXaUQ.5ouO7CUh-vD2sCWyDsvOqx128lS3oB06f6[...]
