{
  "log": {
    "_recordingName": "info/1_sa-id_sa-jwk-file_scriptFriendly/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-986ba483-89b5-45c7-b4a6-86a3a3cf8548"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/76618ff6-e851-433e-9704-9d2852a17b7a?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1088,
            "text": "{\"_id\":\"76618ff6-e851-433e-9704-9d2852a17b7a\",\"_rev\":\"fc6b5463-d755-4128-a47f-0d7700ebbb98-4769\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1701807230743\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"l1YUWGwpPWT-M3VDcAhisJuqf4Ac-0hDwAjHwjRCD6V0XZcwbn7ia2N6nbCFpQD_93BshpM4vJi3JQ2ivBiqi59Ac8hETNYtWQET1mJRbRSz4VT4_-EqjWgdK6R_UGhJfFt1dQGHW5lqmNsmBhkDvyLlBuTMHQnR6GXr1Zch1KzFWSi_xG2cUQx0GnZ1-0Nr-o5HB_89RO75wa3WnTYTLrsVqUmFd_nb-ypD8dSbD9gsYWtplsvsY2SUOaqR6pnhpt_cngGyqlhS2HIOupiMmXeTiOiPgV_9n3S-C2om_rcZ5ekwEd_2uaOkhfjLmYZNXhOrc3SpfujXV8RpNK0s8DcDPHJHJtQVC68vhkdztd4iJPkVBv3D8U1ajpf7PElFvNc8Kkd6WKMYM2vvEcn86XuIewcEn3qiDpoPo57F_pZl2Z44LqRj3P-2lPqsdSWyBfRDxJ_WbUP3jgvA_Fjgj0pzbgUm4bDPv-QcOrLB4YHfzSMwSph4NiwcLVi64P0SADsVxwhTAeWzIg7SiuRrszJCen1TpzxQRloP9taLZbsl_Dwh9MySx8Yh-jDRgkRaDUsTe6YPdqLf4HMsdwY26kajqdolwjmCp9KNVlQw8g2obaZAcX-D-0xnl637F-R94ll3H5C6aCedMXf-8baqWyZB8VZHXK2KbTJFQZPpw30\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"fc6b5463-d755-4128-a47f-0d7700ebbb98-4769\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-986ba483-89b5-45c7-b4a6-86a3a3cf8548"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 59,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-986ba483-89b5-45c7-b4a6-86a3a3cf8548"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],[...]
