{
  "log": {
    "_recordingName": "idm/import/0_f_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bfb0906cd847a77f456b134f21e706a3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e6c26ce7-cd8a-443f-abf3-a23464435ae5"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"endpoint/Groovy\",\"description\":\"Test Groovy Script\",\"source\":\"  import org.forgerock.json.resource.CreateRequest\\n  import org.forgerock.json.resource.ReadRequest\\n  import org.forgerock.json.resource.UpdateRequest\\n  import org.forgerock.json.resource.PatchRequest\\n  import org.forgerock.json.resource.DeleteRequest\\n  import org.forgerock.json.resource.NotSupportedException\\n\\n  if (request instanceof CreateRequest) {\\n    // POST\\n    return []\\n  } else if (request instanceof ReadRequest) {\\n    // GET\\n    return []\\n  } else if (request instanceof UpdateRequest) {\\n    // PUT\\n    return []\\n  } else if (request instanceof PatchRequest) {\\n    return []\\n  } else if (request instanceof DeleteRequest) {\\n    return []\\n  } else {\\n    throw new NotSupportedException(request.getClass().getName());\\n  }\\n\",\"type\":\"groovy\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/endpoint/Groovy"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 844,
            "text": "{\"_id\":\"endpoint/Groovy\",\"description\":\"Test Groovy Script\",\"source\":\"  import org.forgerock.json.resource.CreateRequest\\n  import org.forgerock.json.resource.ReadRequest\\n  import org.forgerock.json.resource.UpdateRequest\\n  import org.forgerock.json.resource.PatchRequest\\n  import org.forgerock.json.resource.DeleteRequest\\n  import org.forgerock.json.resource.NotSupportedException\\n\\n  if (request instanceof CreateRequest) {\\n    // POST\\n    return []\\n  } else if (request instanceof ReadRequest) {\\n    // GET\\n    return []\\n  } else if (request instanceof UpdateRequest) {\\n    // PUT\\n    return []\\n  } else if (request instanceof PatchRequest) {\\n    return []\\n  } else if (request instanceof DeleteRequest) {\\n    return []\\n  } else {\\n    throw new NotSupportedException(request.getClass().getName());\\n  }\\n\",\"type\":\"groovy\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 38,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
