{
  "log": {
    "_recordingName": "service/export/0_global_service-id/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ff75519a93ccab829f8ee8cf5e92b49f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b0c5e1a6-0d5a-4812-99f1-f515ede9ac6e"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiNjcyMzM2Yi00MWVmLTQyOGQtYWU0YS1lMGMwODI4NzUzNzciLCJzdWIiOiJiNjcyMzM2Yi00MWVmLTQyOGQtYWU0YS1lMGMwODI4NzUzNzciLCJhdWQiOiJodHRwczovL29wZW5hbS1mcm9kby1kZXYuZm9yZ2VibG9ja3MuY29tOjQ0My9hbS9vYXV0aDIvYWNjZXNzX3Rva2VuIiwiZXhwIjoxNjk0MTAyODk0LCJqdGkiOiIxYTBhZDBjYy1lNzQyLTRmYWUtOGIzNi05M2Q0ZTAxZjllMjMifQ.r_0OlUcPR49kzsaHP263Ye8HeP_lhsHCYsmdFMCZN83OnvMhle3X9-dCxWqo4D8Ifdnq6WwUbkL61wYiTXwSkoXZZgosyE5d3FHWL7EGOUEb-ICaArvFVmoD7etO7KYqxMMqt8dOgST-WuMm8A8K1fTSTdPNZwbi54PA-aVyUk2dC_9tBB6NUe24Ybcwl8qcMoHb1rOkHTnp3Jk69So0UsnmCd5RkJiERPwL0y_XV3NYBM10rc0sxn212nUFcstARsr25_ikxLa8DaFA8CHhYRpWXfnWvs_nv7DdLHIHkzj6qT0VvMwj3AxlP8gHrNgkaHA3-Dv2eyLlisl7ij2419lK2k_dpcKKsbJ9ivgrqKwaPSoIOLrGwaI04g-4dQhaw0IaOGFZGd8VH6B68WFbW0pxx5UFTaNTYVDNWab_B9fY7eH51aSLKyaor8vWfPy0EMvyEtbRpqROKZ41HEQmmnDYoZh_r0m_8MAksO2R1z8leJvfWRnUx3ICrcN1xwbFU6CYtUVWYzWO0pNDD_zU292aRoPI_475hr1RBttmKIQDIIpurZ5ahC8EzUEIZ89E1HRgHG4xOqZ9dVQ_HW7vWx6OKKDFGEgDzI4aZYWWqAz5XtsyWdQoRjpCpDUv7lEwDL9eZ3dorDAzqzQnZWewafoL2iJuzhee_00-JHvzPh8&client_id=service-account&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&scope=fr:am:* fr:idm:* fr:idc:esv:*"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1276,
            "text": "{\"access_token\":\"eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..ILBmRR9z8_yGW08FuWhRLw.cWJ8Hi8rU0TnGy8UopynZDEhBcUAvdzd1mnIRYEp4RyLpH-LTZJI5JNbtEGCiLDP0ylb0WG_x3i98tLNBlh79TLnJOkivw5iZ1KZvYjjibY9rA1kkw0S6VDa__J0ZJh_VJIKz2B7l6iKpcJja_Ocr9-RfRav0AgjPM3M2qtF2C3OKbdroG9DYJMtWQT71w5jXoFB6g1RojmcRlSA_lsunNo3nagfVLGNBI2EXQjcv2pKNjni5sDxZoT1r0uCTST--GuMYmTNXvnyLunferD6P5BNmP_z13n6ricEHZ5eriGRd-mds9078sIc_SXCasapk9OyGRuH5vp_JfzKusumQDkeoDRtNlfTdkKfGqUvRs_AICBOdjLNQipdr6acQ02sf1tMEUGL3IRb68JSosMEqFa_FvIfqS7DlORWWzBfdvMKJagHX2CoyR_s3RkyZIeagRWFwcVDKIDZbD3EEvsh6J3DijhxlSFIZHUOSSrLu_sxXCgx661Zp-OEMMwLy2emehASfSPaRptsq5zzCvx9r9-uif4TF3ZYu1DKEAzJKvXJC_E9lwPhu9uley552XweLMRmDDrVzaLnw5Cu3aNBwfbuQBcdUuL4iB9-hpSpW4o1HtUvHHVpIe8zCR4e6plDaOBS7BsAAlJtE9-xLcoa45Fm-cBmdP59rg76lHRHKNuGB8yxUcVhcwDpVAaKWmARQ-tNF-AFOg4grZ0mDh5Az2rmNJKOJ_M_0pa-q9Xp91mhIohS2kyz0fQUqBA7IdM96pq65VQG_-frtqFEQuvmO-3cb9euSHQDrflQgOdJwG1YnZ6sUuS3wM16GxVPXHxF3vJ8zD91Sc3TAKFqb-HwyobXkRvpQSbWA7UY3Cbs-T4_Y4BG-2D7u9hN-WMdx5qe6B-Km1w81IBDiwzAIjCjv_EGsWICo8eP8XSQQ09vemozK5ieBxAPHsLtgggo02HQzvL8P-374RGPqhJcCFCbWNZtZtRpmwE4GZlbS8FmOY-O6PFQgMDW16naOxFn-4IbIkM8CtK1IUuBZkC8iYMTEyjAnRPiooH9lEmudxra6EE.f6czpI_mWGyv1TWTZAbqbQ\",\"scope\":\"fr:am:* fr:idc:esv:* fr:idm:*\",\"token_type\":\"Bearer\",\"expires_in\":899}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b0c5e1a6-0d5a-4812-99f1-f515ede9ac6e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
