{
  "log": {
    "_recordingName": "esv/secret-version-delete/0_i_v/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "885e1c2baafce0172f87bd42e1b87bf3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi-generic/versions/2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 92,
            "text": "{\"createDate\":\"2023-10-24T19:32:16.606Z\",\"loaded\":false,\"status\":\"DESTROYED\",\"version\":\"2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 813,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
