{
  "log": {
    "_recordingName": "config-manager/push/password-policy/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "56aecd646baf255cbdf3d5957827b7d7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e356dfb0-c38d-4a24-8919-0667274f534b"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"idm\":{\"fieldPolicy/user\":{\"_id\":\"fieldPolicy/user\",\"allowExpiredPasswordChanges\":true,\"defaultPasswordStorageScheme\":[{\"_id\":\"PBKDF2-HMAC-SHA256\"}],\"expirePasswordsWithoutWarning\":true,\"maxPasswordAge\":\"100 d\",\"passwordAttribute\":\"password\",\"passwordExpirationInterval\":\"0 s\",\"resourceCollection\":\"managed/user\",\"type\":\"password-policy\",\"validator\":[{\"_id\":\"userPasswordPolicy-length-based-password-validator\",\"enabled\":true,\"maxPasswordLength\":0,\"minPasswordLength\":25,\"type\":\"length-based\"},{\"_id\":\"userPasswordPolicy-attribute-value-password-validator\",\"checkSubstrings\":true,\"enabled\":true,\"matchAttribute\":[\"activeDate\",\"postalAddress\",\"cn\"],\"minSubstringLength\":5,\"testReversedPassword\":true,\"type\":\"attribute-value\"},{\"_id\":\"userPasswordPolicy-character-set-password-validator\",\"allowUnclassifiedCharacters\":true,\"characterSet\":[\"0:ABCDEFGHIJKLMNOPQRSTUVWXYZ\",\"0:0123456789\"],\"enabled\":true,\"minCharacterSets\":2,\"type\":\"character-set\"}]}},\"meta\":{\"exportDate\":\"2026-02-26T21:09:33.342Z\",\"exportTool\":\"frodo\",\"exportToolVersion\":\"v4.0.0-11 [v24.13.0]\",\"exportedBy\":\"amadmin\",\"origin\":\"https://platform.dev.trivir.com/am\",\"originAmVersion\":\"8.0.1\"}}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/undefined"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1174,
            "text": "{\"_id\":\"undefined\",\"idm\":{\"fieldPolicy/user\":{\"_id\":\"fieldPolicy/user\",\"allowExpiredPasswordChanges\":true,\"defaultPasswordStorageScheme\":[{\"_id\":\"PBKDF2-HMAC-SHA256\"}],\"expirePasswordsWithoutWarning\":true,\"maxPasswordAge\":\"100 d\",\"passwordAttribute\":\"password\",\"passwordExpirationInterval\":\"0 s\",\"resourceCollection\":\"managed/user\",\"type\":\"password-policy\",\"validator\":[{\"_id\":\"userPasswordPolicy-length-based-password-valida[...]
