{
  "log": {
    "_recordingName": "esv/secret-describe/0_secret-id/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0b347f3163c26e50f02a2c38a0f934f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..vOWCzSNzWMk25cr5-sfipQ.zFYaf2DryE7Fns0K6XsX8pzYrB_y-5eEjYlqEF-tUQWlsHP_KIgIeJsonlGtAuw6Ufola55IgNZNBgPbBMUQc_rGUOaC3nRT0JnqbjpCCLXJofSsQMr1OXbT4Gyr-PC-RpkYxYiVbXqwFmO_RoRWgSywdssBg1kYtylgBFwnl-6SOi-FpscsiXzk6T7vhpMlIvgTZAQhSxpW1hCzeWKBkrun8ZzZ32hDzWZk_yZq8ozlFEqP56Qp-e1Qm1NKftoAaIfaJK1ZrSrl-3nCWaUQzaOS1_f7y7lA4R1fNnCCi5sY1yf43ojpfCUeJcU5TDiZMmfWvV6quuMbCkED3rkJvOWIE7TrIoOeVQWbqyfREaCR3oJxMZ1PX6SMwcDpwzQNEuNSiOFcxSqws6XwubpFjqHDpHKEtuDL6d_s6aIgI_SxKlzYneaJlVQBi7rc4CrNyj9qpCXCu-mM6Ol617lKA7BJrsPdOXqGOk5yRBHcTj9BvdNbffmViP2QHJvcEGLHiPAusPoOATeFUKL0b3GTqSWdlpM9L9yB_mM4GGIugcyLQgGyBbMTZwfhwPODEQXwq1vJuniZzFcOPRP1YGLEjMZeZeQ-vkvVjxa-pv8nl7MTGzUWcrt4Ju5CfPS92XU8hmZ_1L9sABSbq50QbS0UmsTezHosLXEQbZCHfVXcqn2_lJMgrdU54-Ft1gThzhS95cEGDYh2J8s1Yo8NDDS7f7uc1YoX_SPwPGa5djqsLqR1gjH-Mj3mVJbGepQ4A_DrPsXDgxgluKfrl5mMReUdrPqAOPhdo4LWIR_tO6Isprnefn6TvDNE_z6qbgRYNGyV69BI_FNEpydi3APDtrTV4bIybLHdTDkYNs8P-bbgxWFuqOnzIZZInRs56Asuxpeme1dqNka9o7Jwsb1a9hWVr-r90Jn_xkQ3uN35vVqPcnjia6hR8KHkBsw34wU0gL-Z2ItN3yvCjE0A89XAR1RoVfu-mQg3c7moWq_YEuoFB9_HQc-lPejO1OnW1SGar8tIpX4ZUELRTgRMs5gwLiDBUF9vuzM2zVQSLSIspAOIIQ0.o31i2Uk7paaGOMG2tZqdfg"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 266,
            "text": "{\"_id\":\"esv-test-secret\",\"activeVersion\":\"2\",\"description\":\"Secret Value for testing\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-08-09T19:00:01.501Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"2\",\"useInPlaceholders\":true}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 316,
      },
      {
        "_id": "af909eff3df160d3df6370a97855ac51",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..[...]
