{
  "log": {
    "_recordingName": "config-manager/push/config-metadata/0_M.two_M.true_M.true2_M.true3_M.true3_M.obj.one_M.obj.two_M.obj2.obj3.msg_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "50ea4f0bc5ef408a6d94590e9ac9b835",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"custom-config.metadata\",\"two\":\"2\",\"true\":\"true\",\"true2\":true,\"true3\":[true,\"three\"],\"obj\":{\"one\":\"1\",\"two\":true},\"obj2\":{\"obj3\":{\"msg\":\"hello\"}}}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/custom-config.metadata"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 153,
            "text": "{\"_id\":\"custom/config.metadata\",\"two\":\"2\",\"true\":\"true\",\"true2\":true,\"true3\":[true,\"three\"],\"obj\":{\"one\":\"1\",\"two\":true},\"obj2\":{\"obj3\":{\"msg\":\"hello\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 44,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
