{
  "log": {
    "_recordingName": "server/import/0_default_server-url_file/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bbcb5c2e-3bd1-462c-9760-7c73d4f9a78e"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 589,
            "text": "{\"_id\":\"*\",\"_rev\":\"2075994301\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"iPlanetDirectoryPro\",\"secureCookie\":false,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":false,\"userIdAttributes\":[],\"nodeDesignerXuiEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"2075994301\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 9,
      },
      {
        "_id": "9f5671275c36a1c0090d0df26ce0e93f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bbcb5c2e-3bd1-462c-9760-7c73d4f9a78e"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "amadmin"
            },
            {
              "name": "x-openam-password",
              "value": "TriVir#1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 163,
            "text": "{\"tokenId\":\"<token id>\",\"successUrl\":\"/am/console\",\"realm\":\"/\"}"
          },
            {
              "httpOnly": true,
              "name": "amlbcookie",
              "path": "/",
              "value": "<cookie>"
            }
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 9,
      },
      {
        "_id": "6a3744385d3fd7416ea7089e610fa7e7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bbcb5c2e-3bd1-462c-9760-7c73d4f9a78e"
            },
            {
              "name": "accept-api-version",
              "value": "resource=4.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tokenId\":\"<token id>\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "getSessionInfo"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/sessions/?_action=getSessionInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 291,
            "text": "{\"username\":\"amadmin\",\"universalId\":\"id=amadmin,ou=user,ou=am-config\",\"realm\":\"/\",\"latestAccessTime\":\"2025-07-14T23:25:47Z\",\"maxIdleExpirationTime\":\"2025-07-14T23:55:47Z\",\"maxSessionExpirationTime\":\"2025-07-15T01:25:46Z\",\"properties\":{\"AMCtxId\":\"ec3a2ff1-007e-48cc-bbc4-b8b4b56d13e1-75706\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=4.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bbcb5c2e-3bd1-462c-9760-7c73d4f9a78e"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 257,
            "text": "{\"_id\":\"version\",\"_rev\":\"-466575464\",\"version\":\"8.0.1\",\"fullVersion\":\"ForgeRock Access Management 8.0.1 Build b59bc0908346197b0c33afcb9e733d0400feeea1 (2025-April-15 11:37)\",\"revision\":\"b59bc0908346197b0c33afcb9e733d0400feeea1\",\"date\":\"2025-April-15 11:37\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-466575464\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1,
      },
      {
        "_id": "e740908ce791f07f74563d3b0bcd0235",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bbcb5c2e-3bd1-462c-9760-7c73d4f9a78e"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"03\",\"siteName\":null,\"url\":\"http://localhost:8081/am\"}"
          },
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/servers/03"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 68,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"Update not supported\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 7,
      },
      {
        "_id": "449854a58e5a9bc1390b5f48dc369226",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bbcb5c2e-3bd1-462c-9760-7c73d4f9a78e"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "if-match",
              "value": "*"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"03/properties/advanced\",\"com.iplanet.am.lbcookie.value\":\"03\"}"
          },
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/servers/03/properties/advanced"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 89,
            "text": "{\"_id\":\"03/properties/advanced\",\"_rev\":\"1080342854\",\"com.iplanet.am.lbcookie.value\":\"03\"}"
          },
          "headers": [
            {
              "name": "c[...]
