{
  "log": {
    "_recordingName": "config-manager/export/audit/0_D/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-500c5e48-5b03-4cae-96a1-c634161f49b1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/a2b4d68f-ca4a-4078-b2d8-f610b54623a5?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1371,
            "text": "{\"_id\":\"a2b4d68f-ca4a-4078-b2d8-f610b54623a5\",\"_rev\":\"3a3bb2d9-1302-40f4-9e5f-a1dc6aff6ac0-3429\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1748967688823\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:autoaccess:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"jyXSlOCC0dQkPAMD8PV9st_PI9v640HDNWPyDAlQLic\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"s2QM7rmK4k0Yoth7ybP6p-ud0ENpXtJBg21cUCMnlnNZXpxBkKWpjk75x9EQJzO2RpN35Nigi0tGShxP0HnyOrpUFl2_d02NPD1iAgiMw8-63bgJ6sc09zNdr5wX2tm1vigeZXN0GvjGLrjywf167g3O53gxL_7GwuTH5B-Y4Mxd65mg2wa5Q14533iXJGyf5soku2nVRz2DsZrSUo7tQYkdtxlSdIAa6HDtQCyUDQh2l6BMOaJXU2PIFwdnpcNyrZiIq_Au3oeFX94zDHCeUbbdrF2-jyGOCMMtNEGcdJkgXkLFkLyQcwMPcPeknjKCapTASrEG-kXWutxWmItRRqdAQCG2iV7pNtums7ryxmL4U3w7RWyDINYT9RbihDp3gG4TpCSEVvt2M-Q8wMmjCoUPkoNV9iqfQa3ErgYo9ISAO7tPEMiZlbH4Zr5p43ugSPG50gOyc1YcUc-lCMkgZhjiQazDVjshSIYDGfUJQeDMCNlR424gMNoL4DccqBNL9zOC9_a2fyrjtQBOI04UqLdC7rELnjGdhHHSwrVm62DD2fgySgD3UhOuBekHXn4v2i5viRbXdxfpMinJ14d3lhf-QYcBR2cNxH-6X6HB6j6n2Q2W6LiBBe84rDmLLNVW5kExDD2ra-p8fZGFVZkUw6Fyd67W5eOJXKng7Hi8TXE\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"3a3bb2d9-1302-40f4-9e5f-a1dc6aff6ac0-3429\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-500c5e48-5b03-4cae-96a1-c634161f49b1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 71,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-500c5e48-5b03-4cae-96a1-c634161f49b1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],[...]
