{
  "log": {
    "_recordingName": "idm/export/0_i_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0a16240221eeea51a0aa371b1b13ad9b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-552a20e6-3cd5-40b6-ab7a-17fec6549d02"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/endpoint/validateQueryFilter"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 326,
            "text": "{\"_id\":\"endpoint/validateQueryFilter\",\"context\":\"util/validateQueryFilter\",\"source\":\"try { org.forgerock.openidm.query.StringQueryFilters.parse(request.content._queryFilter).accept(new org.forgerock.util.query.MapFilterVisitor(), null); } catch (e) { throw { 'code' : 400, 'message' : e.message } };\",\"type\":\"text/javascript\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 26,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
