{
  "log": {
    "_recordingName": "esv/secret-list/0/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a24d647eb74a9e69a6b0bd9ed23dc6ce",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..ENeoDfuIyBkW5FHvsFyEiA.RG5vInPAkoZlu77v31PG_WDfbj9Fq_1OsdMU7v-8gMxH-JoiUeyiCEW4-lHYua8Y_jOSJ-4MCfRmTgqXxTmZsbVA0qp_h0SMgmDS49RxQ6SHYYMT_vPqKBQrQit0Wb2ohSyKgf4qxau8xL0JjY4ilfN2CRMEpg9ctNNIFkG11_b9tveiXjx6kZ8qragmEAfuHuRWD4rlLnNUqbFvJATxfzX75wVsv5bnDktbiXAkbSxYEt6FopEorNqU1KIMdtvv2aPVPVLxD6CAdqpiMoIOnBnUVdwCRSkksxKFqyBFu41bR6LTo-I-hBZAGnwIAypzGPVrMn2YQpeSl-FlDPeMdxAH17YBirqI60XncmVmH1XSqF_75IpgvzfWd5ulHsAjNN_iNXAiHHKTnQyM33laCXHxwYx3PFY2PmvgElGJJDEf5p5FM0gIc-1Fh0BVaef1Yhx28kD3jQUKCIyoviAEvca1_14_HymbmGcIBtusPT5rHsG4JtaBbuEqny2PXhz17v-aupF11PbOLGp7kAaJfHMuvYnMuYmjinDe329wbD7tlHd2faN4ALGC_LzA0N8W-dJyjRE1jaFBJJnDytZCsBwKkhNqG_BRuxhRusp9CWM-dbumpp3oxxVajxunAk1WECweMeGB59rJxoI5htm4x1wSKjR71mElUOE1_z4nFylULnj7ulAykW-eT4rXGUBVVgXHykz3DeM_ip3uAoBRKe2LFKCZsCjWWppfMj6xlLNEvihNw2NKDkG9bUbAuQMTDozNZxz10j0HlRz5_AVwFa3rg9m1o2gm0FePug-I9AR8jlWY3U1bCZ_n0G2Ia-VJ8kM3SjQedA6bXPp6_T35l3Dpm1RlQruiVL3VsH2lrN17lv5WDC7rP1Yw3Lo6eK6fm9VzT_PdvAc0Q7N4wyLJH-iHzmX8GS3zXBemV8RdIxZs4eFSYqU6WuyoyeFUo2Lvpf05ROQvhaK9zy6ZvyU11KoxfDl-FJK5Dg9Unq-ldXmjSM614bv-7EE04Idxjy07IIJJ3DNixn2uaZOa2PRyxipAZ7SSWf-xG3INOazYwPE.A2r0XoTfGjLv800PnwAo1g"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1205,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-admin-token\",\"activeVersion\":\"1\",\"description\":\"Long-lived admin token\",\"encoding\":\"generic\",\"lastChangeDate\":\"2022-08-11T22:32:38.056Z\",\"lastChangedBy\":\"8efaa5b6-8c98-4489-9b21-ee41f5589ab7\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-admin-token-1999386457729\",\"activeVersion\":\"1\",\"description\":\"Long-lived admin token\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-05-14T01:07:41.970Z\",\"lastChangedBy\":\"8d9723a9-a439-4cbf-beb4-30e52811789d\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-secret\",\"activeVersion\":\"2\",\"description\":\"Secret Value for testing\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-08-09T19:00:01.501Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"2\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-secret-1\",\"activeVersion\":\"1\",\"description\":\"test secret one\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-08-06T03:53:17.716Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}],\"resultCount\":4,\"totalPagedResults\":-1,\"totalPagedResultsPolicy\":\"NONE\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 498,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
