{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "jest",
    "deprecation",
    "simple-import-sort",
    "import"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "prettier/prettier": ["warn"],
    "dot-notation": "off",
    "no-console": "warn",
    "no-underscore-dangle": "off",
    "no-restricted-syntax": [
      "error",
      // "ForInStatement",
      // "ForOfStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-multi-str": "off",
    "deprecation/deprecation": "warn",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error"
  },
  "env": {
    "jest": true,
    "jest/globals": true,
    "node": true
  },
  "ignorePatterns": [
    "src/**/*.test.ts",
    "src/**/*.test_.ts",
    "test/**/*.test.ts",
    "test/**/*.test_.ts",
    "tsup.config.ts"
  ]
}
