{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "root": true,
  "rules": {
    "prettier/prettier": ["warn"],
    "dot-notation": "off",
    "no-console": "warn",
    "no-underscore-dangle": "off",
    "no-restricted-syntax": [
      "error",
      // "ForInStatement",
      // "ForOfStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-multi-str": "off"
  },
  "env": {
    "jest": true,
    "jest/globals": true
  }
}
