{
  "log": {
    "_recordingName": "authz/set-import/0_file_no-deps_prereqs/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5fc21ddb-d0d3-4db4-b09c-0a76d120c295"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1874515102\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5fc21ddb-d0d3-4db4-b09c-0a76d120c295"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 207,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5fc21ddb-d0d3-4db4-b09c-0a76d120c295"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 283,
            "text": "{\"_id\":\"version\",\"_rev\":\"1217229914\",\"version\":\"7.4.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.4.0-SNAPSHOT Build 7e44c1624c3a11db5b5b0b576bb162618f1ac605 (2023-September-18 09:04)\",\"revision\":\"7e44c1624c3a11db5b5b0b576bb162618f1ac605\",\"date\":\"2023-September-18 09:04\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1217229914\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5fc21ddb-d0d3-4db4-b09c-0a76d120c295"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 82,
      },
      {
        "_id": "ef6ac409530385cf64df1806eda1a15c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5fc21ddb-d0d3-4db4-b09c-0a76d120c295"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"actions\":{\"DELETE\":true,\"GET\":true,\"HEAD\":true,\"OPTIONS\":true,\"PATCH\":true,\"POST\":true,\"PUT\":true},\"createdBy\":\"id=dsameuser,ou=user,ou=am-config\",\"creationDate\":1595479030487,\"description\":\"The built-in URL Resource Type available to OpenAMPolicies.\",\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":1694717661706,\"name\":\"URL\",\"patterns\":[\"*://*:*/*\",\"*://*:*/*?*\"],\"uuid\":\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/76656a38-5f8e-401b-83aa-4ccb74ce88d2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 465,
            "text": "{\"uuid\":\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\",\"name\":\"URL\",\"description\":\"The built-in URL Resource[...]
