{
  "log": {
    "_recordingName": "config-manager/push/config-metadata/0_metadata.pushedAt_metadata.versionInfo.version_metadata.versionInfo.stable_metadata.versionInfo.rev_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "69d73eb9fe3da83a7c34a78b7a7bb4ee",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"custom-config.metadata\",\"pushedAt\":\"2023-09-10T10:21:46Z\",\"versionInfo\":{\"version\":\"1.0\",\"stable\":\"true\",\"rev\":\"0675342640420f7ff6635d6a63d2c9c81b6feca7\"}}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/custom-config.metadata"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 163,
            "text": "{\"_id\":\"custom/config.metadata\",\"pushedAt\":\"2023-09-10T10:21:46Z\",\"versionInfo\":{\"version\":\"1.0\",\"stable\":\"true\",\"rev\":\"0675342640420f7ff6635d6a63d2c9c81b6feca7\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 24,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
