{
  "log": {
    "_recordingName": "service/import/0_clean_g_service-id_file/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5fa841cb-845c-4abc-b5d3-893150d19715"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1874515102\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5fa841cb-845c-4abc-b5d3-893150d19715"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 117,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5fa841cb-845c-4abc-b5d3-893150d19715"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 275,
            "text": "{\"_id\":\"version\",\"_rev\":\"-718638044\",\"version\":\"7.5.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.5.0-SNAPSHOT Build cbdf0302eac3978c68f50b853a4495a622999003 (2024-March-06 09:56)\",\"revision\":\"cbdf0302eac3978c68f50b853a4495a622999003\",\"date\":\"2024-March-06 09:56\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-718638044\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5fa841cb-845c-4abc-b5d3-893150d19715"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      },
      {
        "_id": "8255956f4688d091a95e9f5f80a07936",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5fa841cb-845c-4abc-b5d3-893150d19715"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"withCredentials\":true}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/services/dashboard?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 797,
            "text": "{\"result\":[{\"icfIdentifier\":\"idm magic 34\",\"login\":\"http://www.google.com\",\"className\":\"SAML2ApplicationClass\",\"displayName\":\"Google\",\"name\":\"Google\",\"icon\":\"images/logos/googleplus.png\",\"_id\":\"Google\",\"_type\":{\"_id\":\"instances\",\"name\":\"instance\",\"collection\":true}},{\"icfIdentifier\":\"idm magic 12\",\"login\":\"http://www.salesforce.com\",\"className\":\"SAML2ApplicationClass\",\"displayName\":\"SalesForce\",\"name\":\"SalesForce\",\"icon\":\"images/logos/salesforce.png\",\"_id\":\"SalesForce\",\"_type\":{\"_id\":\"instances\",\"name\":\"instance\",\"collection\":true}},{\"icfIdentifier\":\"idm magic 56\",\"login\":\"http://www.ZenDesk.com\",\"className\":\"SAML2ApplicationClass\",\"displayName\":\"ZenDesk\",\"name\":\"ZenDesk\",\"icon\":\"images/l[...]
