{
  "log": {
    "_recordingName": "config-manager/push/audit/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "41e0491e9377fe44c8dd660632745e04",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ca32ebe9-7704-4944-9200-b262cd31adb5"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"audit\",\"auditServiceConfig\":{\"availableAuditEventHandlers\":[\"org.forgerock.audit.handlers.csv.CsvAuditEventHandler\",\"org.forgerock.audit.handlers.jms.JmsAuditEventHandler\",\"org.forgerock.audit.handlers.json.JsonAuditEventHandler\",\"org.forgerock.audit.handlers.json.stdout.JsonStdoutAuditEventHandler\",\"org.forgerock.openidm.audit.impl.RepositoryAuditEventHandler\",\"org.forgerock.openidm.audit.impl.RouterAuditEventHandler\",\"org.forgerock.audit.handlers.syslog.SyslogAuditEventHandler\"],\"caseInsensitiveFields\":[\"/access/http/request/headers\",\"/access/http/response/headers\"],\"filterPolicies\":{\"value\":{\"excludeIf\":[\"/access/http/request/cookies/&{com.iplanet.am.cookie.name}\",\"/access/http/request/cookies/session-jwt\",\"/access/http/request/headers/&{com.sun.identity.auth.cookieName}\",\"/access/http/request/headers/&{com.iplanet.am.cookie.name}\",\"/access/http/request/headers/accept-encoding\",\"/access/http/request/headers/accept-language\",\"/access/http/request/headers/Authorization\",\"/access/http/request/headers/cache-control\",\"/access/http/request/headers/connection\",\"/access/http/request/headers/content-length\",\"/access/http/request/headers/content-type\",\"/access/http/request/headers/proxy-authorization\",\"/access/http/request/headers/X-OpenAM-Password\",\"/access/http/request/headers/X-OpenIDM-Password\",\"/access/http/request/queryParameters/access_token\",\"/access/http/request/queryParameters/IDToken1\",\"/access/http/request/queryParameters/id_token_hint\",\"/access/http/request/queryParameters/Login.Token1\",\"/access/http/request/queryParameters/redirect_uri\",\"/access/http/request/queryParameters/requester\",\"/access/http/request/queryParameters/sessionUpgradeSSOTokenId\",\"/access/http/request/queryParameters/tokenId\",\"/access/http/response/headers/Authorization\",\"/access/http/response/headers/Set-Cookie\",\"/access/http/response/headers/X-OpenIDM-Password\"],\"includeIf\":[]}},\"handlerForQueries\":\"json\"},\"eventHandlers\":[{\"class\":\"org.forgerock.audit.handlers.json.JsonAuditEventHandler\",\"config\":{\"buffering\":{\"maxSize\":100000,\"writeInterval\":\"100 millis\"},\"enabled\":{\"$bool\":\"&{openidm.audit.handler.json.enabled|true}\"},\"logDirectory\":\"&{idm.data.dir}/audit\",\"name\":\"json\",\"topics\":[\"access\",\"activity\",\"sync\",\"authentication\",\"config\"]}},{\"class\":\"org.forgerock.openidm.audit.impl.RepositoryAuditEventHandler\",\"config\":{\"enabled\":{\"$bool\":\"&{openidm.audit.handler.repo.enabled|false}\"},\"name\":\"repo\",\"topics\":[\"access\",\"activity\",\"sync\",\"authentication\",\"config\"]}},{\"class\":\"org.forgerock.audit.handlers.json.stdout.JsonStdoutAuditEventHandler\",\"config\":{\"elasticsearchCompatible\":false,\"enabled\":{\"$bool\":\"&{openidm.audit.handler.stdout.enabled|false}\"},\"name\":\"json-stdout\",\"topics\":[\"config\",\"activity\",\"authentication\",\"access\",\"sync\"]}}],\"eventTopics\":{\"activity\":{\"filter\":{\"actions\":[\"create\",\"update\",\"delete\",\"patch\",\"action\"]},\"passwordFields\":[\"password\"],\"watchedFields\":[]},\"config\":{\"filter\":{\"actions\":[\"create\",\"update\",\"delete\",\"patch\",\"action\"]}}},\"exceptionFormatter\":{\"file\":\"bin/defaults/script/audit/stacktraceFormatter.js\",\"type\":\"text/javascript\"}}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/audit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 3097,
            "text": "{\"_id\":\"audit\",\"auditServiceConfig\":{\"availableAuditEventHandlers\":[\"org.forgerock.audit.handlers.csv.CsvAuditEventHandler\",\"org.forgerock.audit.handlers.jms.JmsAuditEventHandler\",\"org.forgerock.audit.handlers.json.JsonAuditEventHandler\",\"org.forgerock.audit.handlers.json.stdout.JsonStdoutAuditEventHandler\",\"org.forgerock.openidm.audit.impl.RepositoryAuditEventHandler\",\"org.forgerock.openidm.audit.impl.RouterAuditEventHandler\",\"org.forgerock.audit[...]
