{
  "log": {
    "_recordingName": "config-manager/pull/idm-authentication/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "653fe2843bcc7fd80db785216049a251",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/authentication"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1140,
            "text": "{\"_id\":\"authentication\",\"rsFilter\":{\"clientId\":\"idm-resource-server\",\"clientSecret\":\"&{rs.client.secret|password}\",\"tokenIntrospectUrl\":\"http://am/am/oauth2/introspect\",\"scopes\":[\"fr:idm:*\"],\"cache\":{\"maxTimeout\":\"300 seconds\"},\"augmentSecurityContext\":{\"type\":\"text/javascript\",\"source\":\"require('auth/orgPrivileges').assignPrivilegesToUser(resource, security, properties, subjectMapping, privileges, 'privileges', 'privilegeAssignments');\"},\"subjectMapping\":[{\"queryOnResource\":\"managed/user\",\"propertyMapping\":{\"sub\":\"_id\"},\"userRoles\":\"authzRoles/*\",\"additionalUserFields\":[\"adminOfOrg\",\"ownerOfOrg\"],\"defaultRoles\":[\"internal/role/openidm-authorized\"]}],\"anonymousUserMapping\":{\"localUser\":\"internal/user/anonymous\",\"roles\":[\"internal/role/openidm-reg\"],\"executeAugmentationScript\":false},\"staticUserMapping\":[{\"subject\":\"amadmin\",\"localUser\":\"internal/user/openidm-admin\",\"roles\":[\"internal/role/openidm-authorized\",\"internal/role/openidm-admin\"],\"executeAugmentationScript\":false},{\"subject\":\"idm-provisioning\",\"localUser\":\"internal/user/idm-provisioning\",\"roles\":[\"internal/role/openidm-admin\"],\"executeAugmentationScript\":false}]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 32,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
