{
  "log": {
    "_recordingName": "config/export/0_aD_f/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4c1fef66c916c8940b0315dddc564b06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a549cc1-d685-46f8-93f3-40696d23445f"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config/sync"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json;charset=utf-8",
            "size": 539,
            "text": "[\"H4sIAAAAAAAA/w==\",\"7ZZBb4IwGIb/S88k3r2hImmGbUbtwSyGdFhJF2hZWw7O+N9XJi5MXagXTxxbnu9ND++TjyPIxA5MgTnIHASgYnUtZGHA9O3Y+zKpmGQF32FdMCm+mBVKZt1dqkruJnMlDZc25Z+N0NwN7llpeAB2wtQlOyBWcRc2nCNcEJjKpiwDIH2HalWKXPDzs1neEm4uJBs0d1+NsA273M1IhNbgFAxxSZLFGEUe5GoGY4opGUbnGC1huooWw+gSU+SLZWGSRuFikyUQvfiEt1yGUbIZRleQEIjiYZBgms6jDMYIpz5v6Hjv/HWYxtHaP5+i0CXHyI99pWECl7CFt65OWtVc23Oh3NmoRue9Jk5Ur4ptllMk3Fuuz7hluuC2h+u2pe0rekYZzqTlxnbGeRt0O3fHmFtoNGQ05JmGMGNEISvXZw8//uh05UnHkN9G/xzV+wfP7WULUOOiH1xBPoH/7yKf6VG5UblnKmfudfLKPo9/qevdcU/Ypm34aXv6Bt1aPRM+CgAA\"]"
          },
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 14,
      },
      {
        "_id": "4c963e6ac6a0c10bf75de375d8e3da12",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a549cc1-d685-46f8-93f3-40696d23445f"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id sw 'mapping'"
            }
          ],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config?_queryFilter=_id%20sw%20%27mapping%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 138,
            "text": "{\"result\":[],\"resultCount\":0,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":0,\"remainingPagedResults\":-1}"
          },
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7,
      },
      {
        "_id": "778b519855abd745b38438bc349de829",
        "request": {
          "he[...]
