{
  "log": {
    "_recordingName": "server/import/0_daf/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4c9d6fad-91fa-43f1-b169-b4843fb1e322"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 559,
            "text": "{\"_id\":\"*\",\"_rev\":\"1352294768\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"iPlanetDirectoryPro\",\"secureCookie\":false,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":false,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1352294768\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 9,
      },
      {
        "_id": "9f5671275c36a1c0090d0df26ce0e93f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4c9d6fad-91fa-43f1-b169-b4843fb1e322"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "amadmin"
            },
            {
              "name": "x-openam-password",
              "value": "Sup3rS3cr3t!"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 163,
            "text": "{\"tokenId\":\"<token id>\",\"successUrl\":\"/am/console\",\"realm\":\"/\"}"
          },
            {
              "httpOnly": true,
              "name": "iPlanetDirectoryPro",
              "path": "/",
              "value": "<cookie>"
            }
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7,
      },
      {
        "_id": "6a3744385d3fd7416ea7089e610fa7e7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4c9d6fad-91fa-43f1-b169-b4843fb1e322"
            },
            {
              "name": "accept-api-version",
              "value": "resource=4.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tokenId\":\"<token id>\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "getSessionInfo"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/sessions/?_action=getSessionInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 309,
            "text": "{\"username\":\"amadmin\",\"universalId\":\"id=amadmin,ou=user,dc=openam,dc=forgerock,dc=org\",\"realm\":\"/\",\"latestAccessTime\":\"2024-11-11T21:37:23Z\",\"maxIdleExpirationTime\":\"2024-11-11T22:07:23Z\",\"maxSessionExpirationTime\":\"2024-11-11T23:37:22Z\",\"properties\":{\"AMCtxId\":\"fa97f2df-2be7-47e0-a483-1bf46c344e20-709164\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=4.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4c9d6fad-91fa-43f1-b169-b4843fb1e322"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 258,
            "text": "{\"_id\":\"version\",\"_rev\":\"-1772220916\",\"version\":\"7.5.0\",\"fullVersion\":\"ForgeRock Access Management 7.5.0 Build 89116d59a1ebe73ed1931dd3649adb7f217cd06b (2024-March-28 16:00)\",\"revision\":\"89116d59a1ebe73ed1931dd3649adb7f217cd06b\",\"date\":\"2024-March-28 16:00\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1772220916\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
      },
      {
        "_id": "b769f2ae7dd49db6613202567ae8396c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4c9d6fad-91fa-43f1-b169-b4843fb1e322"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"01\",\"siteName\":null,\"url\":\"http://localhost:8080/am\"}"
          },
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/servers/01"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 68,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"Update not supported\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 6,
      },
      {
        "_id": "85c1428917bfd07f3319ab238a3b38d1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4c9d6fad-91fa-43f1-b169-b4843fb1e322"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "if-match",
              "value": "*"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"01/properties/advanced\",\"bootstrap.file\":\"/home/prestonhales/.openamcfg/AMConfig_usr_local_tomcat_webapps_am_\",\"com.iplanet.am.lbcookie.value\":\"01\",\"com.iplanet.am.serverMode\":true,\"com.iplanet.security.SSLSocketFactoryImpl\":\"com.sun.identity.shared.ldap.factory.JSSESocketFactory\",\"com.sun.embedded.replicationport\":\"\",\"com.sun.embedded.sync.servers\":\"on\",\"com.sun.identity.common.systemtimerpool.size\":\"3\",\"com.sun.identity.sm.sms_object_class_name\":\"com.sun.identity.sm.SmsWrapperObject\",\"com.sun.identity.urlconnection.useCache\":false,\"opensso.protocol.handler.pkgs\":\"\",\"org.forgerock.embedded.dsadminport\":\"4444\"}"
          },
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/servers/01/properties/advanced"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 646,
            "text": "{\"_id\":\"01/properties/advanced\",\"_rev\":\"1673674073\",\"com.sun.identity.urlconnection.useCache\":false,\"com.iplanet.am.serverMode\":true,\"com.sun.identity.sm.sms_obj[...]
