{
  "log": {
    "_recordingName": "config/import/0_AD_compare-and-delete/saml2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "444377bea4d67dd7f9b5a36682164e51",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5957bc28-9c9e-45c7-b03d-985a638f2fc2"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "entityid",
              "value": "iSPAzure"
            },
            {
              "name": "realm",
              "value": "/alpha"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/saml2/jsp/exportmetadata.jsp?entityid=iSPAzure&realm=%2Falpha"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 6544,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<EntityDescriptor entityID=\"iSPAzure\" xmlns=\"urn:oasis:names:tc:SAML:2.0:metadata\" xmlns:query=\"urn:oasis:names:tc:SAML:metadata:ext:query\" xmlns:mdattr=\"urn:oasis:names:tc:SAML:metadata:attribute\" xmlns:saml=\"urn:oasis:names:tc:SAML:2.0:assertion\" xmlns:xenc=\"http://www.w3.org/2001/04/xmlenc#\" xmlns:xenc11=\"http://www.w3.org/2009/xmlenc11#\" xmlns:alg=\"urn:oasis:names:tc:SAML:metadata:algsupport\" xmlns:x509qry=\"urn:oasis:names:tc:SAML:metadata:X509:query\" xmlns:ds=\"http://www.w3.org/2000/09/xmldsig#\">\n    <SPSSODescriptor protocolSupportEnumeration=\"urn:oasis:names:tc:SAML:2.0:protocol\">\n        <KeyDescriptor use=\"signing\">\n            <ds:KeyInfo>\n                <ds:X509Data>\n                    <ds:X509Certificate>PGNlcnRpZmljYXRlPg==</ds:X509Certificate>\n                </ds:X509Data>\n            </ds:KeyInfo>\n        </KeyDescriptor>\n        <KeyDescriptor use=\"encryption\">\n            <ds:KeyInfo>\n                <ds:X509Data>\n                    <ds:X509Certificate>PGNlcnRpZmljYXRlPg==</ds:X509Certificate>\n                </ds:X509Data>\n            </ds:KeyInfo>\n            <EncryptionMethod Algorithm=\"http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p\">\n                <ds:DigestMethod Algorithm=\"http://www.w3.org/2001/04/xmlenc#sha256\"/>\n            </EncryptionMethod>\n            <EncryptionMethod Algorithm=\"http://www.w3.org/2001/04/xmlenc#aes128-cbc\">\n                <xenc:KeySize>128</xenc:KeySize>\n            </EncryptionMethod>\n        </KeyDescriptor>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\" Location=\"https://idc.scheuber.io/am/SPSloRedirect/metaAlias/alpha/iSPAzure\" ResponseLocation=\"https://idc.scheuber.io/am/SPSloRedirect/metaAlias/alpha/iSPAzure\"/>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://idc.scheuber.io/am/SPSloPOST/metaAlias/alpha/iSPAzure\" ResponseLocation=\"https://idc.scheuber.io/am/SPSloPOST/metaAlias/alpha/iSPAzure\"/>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://idc.scheuber.io/am/SPSloSoap/metaAlias/alpha/iSPAzure\"/>\n        <ManageNameIDService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\" Location=\"https://idc.scheuber.io/am/SPMniRedirect/metaAlias/alpha/iSPAzure\" ResponseLocation=\"https://idc.scheuber.io/am/SPMniRedirect/metaAlias/alpha/iSPAzure\"/>\n        <ManageNameIDService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://idc.scheuber.io/am/SPMniPOST/metaAlias/alpha/iSPAzure\" ResponseLocation=\"https://idc.scheuber.io/am/SPMniPOST/metaAlias/alpha/iSPAzure\"/>\n        <ManageNameIDService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://idc.scheuber.io/am/SPMniSoap/metaAlias/alpha/iSPAzure\" ResponseLocation=\"https://idc.scheuber.io/am/SPMniSoap/metaAlias/alpha/iSPAzure\"/>\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:persistent</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:transient</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:WindowsDomainQualifiedName</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:kerberos</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIDFormat>\n        <AssertionConsumerService index=\"0\" isDefault=\"true\" Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact\" Location=\"https://idc.scheuber.io/am/AuthConsumer/metaAlias/alpha/iSPAzure\"/>\n        <AssertionConsumerService index=\"1\" isDefault=\"false\" Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://idc.scheuber.io/am/AuthConsumer/metaAlias/alpha/iSPAzure\"/>\n        <AssertionConsumerService index=\"2\" isDefault=\"false\" Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:PAOS\" Location=\"https://idc.scheuber.io/am/Consumer/ECP/metaAlias/alpha/iSPAzure\"/>\n    </SPSSODescriptor>\n</EntityDescriptor>\n\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5957bc28-9c9e-45c7-b03d-985a638f2fc2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 50,
      },
      {
        "_id": "b7579556c0cda3856378c4432b032d4a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5957bc28-9c9e-45c7-b03d-985a638f2fc2"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
  [...]
