{
  "log": {
    "_recordingName": "config-manager/push/schedules/0_f_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5388868e1718a88069ac23dda21f8462",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"schedule/Groovy\",\"concurrentExecution\":false,\"enabled\":true,\"endTime\":null,\"invokeContext\":{\"script\":{\"globals\":{},\"type\":\"groovy\",\"source\":\"// Test Groovy Schedule\\n// This is a test\\nprintln \\\"Hello World!\\\"\\n\"}},\"invokeLogLevel\":\"info\",\"invokeService\":\"script\",\"isCron\":true,\"misfirePolicy\":\"fireAndProceed\",\"persisted\":true,\"recoverable\":false,\"repeatCount\":0,\"repeatInterval\":0,\"schedule\":\"0 0 0 * * ?\",\"startTime\":null,\"type\":\"cron\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/schedule/Groovy"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 447,
            "text": "{\"_id\":\"schedule/Groovy\",\"concurrentExecution\":false,\"enabled\":true,\"endTime\":null,\"invokeContext\":{\"script\":{\"globals\":{},\"type\":\"groovy\",\"source\":\"// Test Groovy Schedule\\n// This is a test\\nprintln \\\"Hello World!\\\"\\n\"}},\"invokeLogLevel\":\"info\",\"invokeService\":\"script\",\"isCron\":true,\"misfirePolicy\":\"fireAndProceed\",\"persisted\":true,\"recoverable\":false,\"repeatCount\":0,\"repeatInterval\":0,\"schedule\":\"0 0 0 * * ?\",\"startTime\":null,\"type\":\"cron\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 34,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
