{
  "log": {
    "_recordingName": "esv/secret-import/0_i_f_include-active-values/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3e56e32e5e0aae1c5e3039593cdb5de",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"dGVzdCBzZWNyZXQgdmFsdWU=\",\"description\":\"This is a test secret containing a simple string value.\",\"encoding\":\"generic\",\"useInPlaceholders\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 76,
            "text": "{\"code\":400,\"message\":\"Failed to create secret, the secret already exists\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 448,
      },
      {
        "_id": "c31006315af6aadc2882a16bf3df2065",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "P[...]
