{
  "log": {
    "_recordingName": "agent/java-import/0_af/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ac31ccceb288fe104fb927288dc7c001",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b20a5038-4b1a-41c5-a746-b9899c5bd4ae"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..9wODSTq4YrCdFC6fgQOp2w.h20u9u6oJ0643Yxgvme0pePKuXcw07QZEbwNhab0buSrGHjS3VslqOxlft1_klvoxgQ2GeFvjF7HGqXPd_yvx_9OEiTSU3zXHLaEJ78IYLI7vZbC6JGGFNR33w_HBMRyHoRI5KmEYERzn4kxcFvDjJvPnr0rLAld6BfJoJ-bmCd6rDEblz5VnZelsAzxWirceUC2SWuBFZFWmy1iGxxYEDCJ-gJ7MT0mwaswYOgfFM5CrWlemKj7aS6mqQt0QXWfDO4XZDQUc_AhxMXKRFr3YThZ364N48NogZKbv2MuQLASvsTleEDZa6eOEl-5NfS9-pgP0d5ecdIb-yaXriJovvnw3cTI3J4uRzXz-Kfu3otdKzd8mEDPMfO8ZdudRPyZlLr03l26EYX8uWMzel0ErFE8zfVnhGwtq91qE6AAUzHI-wemg5Fb2iZKIebG0bd5OiLV4NoUC_erMixVNggyS0kOs46BhQ-4DDX4MYJ1kZ1Q988bkrJjUr3TqAYBmdLhmicJnsG2gu95P7GDb-9cVAzotTjTtFW89Ipi8jnCw6i9D9Q852iNTEODwzyJ7Zd4qOqdGnHCM_NQO0BH-BXAZi-lKNPzen2KNHf8OG2RtJ47WbUCizidTEubspTEep9fJdwMYZS9W3-Ji0XEf8UPYVKWqMaYYft74F9844cF5E9WR7kgsIWbebhngE0Ko_nk2dRlKPa9qTg86xXvAgJn9bGKNvAEijcWfK-tnslq3VucSQFC0yeV8rvddufTsnhH-G1Z7LKmCEmqB0XZ-5Ou1R0in4fhmrsrkRjHG_9hTU-UkglFEEr59L1KBnJkHl6v0xZi-Hps_tu5jcVi88MEX7yHnQEC_Hutj3HyxPs1Dt-gSxB2GWRjPPN6lt0s9VFilVQXa-ixW0sKWezGKT97_fcOA2UfuYlGKZnTunFeZgIghDCvW-JUuu09AE2gX1ApzZxiv4oIRi3Ag5jEVzZxh1dcocAdPb1q8Y2HPIeb7IC2YqsEp7RBlPEkohE6bSBABN3lPX--xscY9yt5Pn7HobVtgBolsKMlWCMG4-iXXF4.h1sUwA_QqxiiaPgOfndxDA"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/b672336b-41ef-428d-ae4a-e0c082875377?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1045,
            "text": "{\"_id\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"_rev\":\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\",\"accountStatus\":\"active\",\"name\":\"frodo-test\",\"description\":\"Frodo Test\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"8lN2UVDDHchL_gIYS5lAiEVAVocyqWHmqBPwPkd22NRMLetczaVSH2UQHoQu7SSKeAtojVJUYuxRtGPfGNExZurTy3CRlzpaNa67B6jyunycPHnyNked0ceFGfjD9c6e0b97L5wqwk2YNVVMGa9c1m8R9HWk2kg9lRwlZE_piwTM9bw8tuWfL1A2-fTDQB2PZSgGGz86jG1RGMY7dnafVKIX3HbW98xOxOwqIRz607IQr-NFia5zjTltpJjR1qOlEFmdHqGTGCnFcHxeJWmKOWcDM4WmfWcgK3zR9Br-aZoDTl8RMAths30Pc1pe_dl5OepxCYQ7b0BXg0zQaYcx5G5ZcNR3ldjDNfpiXg1viWjEBiwiCg7gkYksBu0aFHX2pc4KKHKcyIeD0sbhaLSK3JXhI1TJvm7rwyX1wsRKmMTGTZMxYJlADZufKKd-Jg7k2_iwP3WUJxdgkJsgvLj7ZbTf5Paz7_FLeSajjtGPu6hGSWV8uOGgRgcnJgz3DP2S9qfHI7nKswtgwFdjbOMK39iNjU8PI-cOaaVKQcH88xBCu1bpCX1MIVvZ5arQF783qasj9bBB4t27gKXOauIr-sXMUI6_L7CQ7IqWld8VvNWKReMMqiRQV9huEEV1chCFzZI_aEW82fDC9dRbFXG-w92PhPPVbNznWsrhO1aPxA8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b20a5038-4b1a-41c5-a746-b9899c5bd4ae"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 83,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
