{
  "log": {
    "_recordingName": "esv/secret-version-delete/0_secret-id_version/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "89c4b7d2602a0266c80f932d0baf08af",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi-generic/versions/4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 57,
            "text": "{\"code\":500,\"message\":\"Failed to delete secret version\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 388,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
