{
  "log": {
    "_recordingName": "config-manager/push/internal-roles/0_n_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "41c1e691077cf5b4431df40b0bb4948a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-60805002-661b-4116-ad5d-c6fbf088d1e6"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"35ddf95a-42f8-4ba1-8dd4-370d9a4c2c61\",\"condition\":null,\"description\":\"This is a test role\",\"name\":\"test-internal-role\",\"privileges\":[{\"accessFlags\":[{\"attribute\":\"name\",\"readOnly\":true},{\"attribute\":\"description\",\"readOnly\":true},{\"attribute\":\"privileges\",\"readOnly\":true},{\"attribute\":\"authzMembers\",\"readOnly\":true},{\"attribute\":\"temporalConstraints\",\"readOnly\":true},{\"attribute\":\"condition\",\"readOnly\":true},{\"attribute\":\"_id\",\"readOnly\":true}],\"actions\":[],\"name\":\"Internal Roles\",\"path\":\"internal/role\",\"permissions\":[\"VIEW\"]}]}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/internal/role/35ddf95a-42f8-4ba1-8dd4-370d9a4c2c61"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 618,
            "text": "{\"_id\":\"35ddf95a-42f8-4ba1-8dd4-370d9a4c2c61\",\"_rev\":\"721f6d39-2996-4790-bc93-5df2012facff-3316\",\"privileges\":[{\"accessFlags\":[{\"attribute\":\"name\",\"readOnly\":true},{\"attribute\":\"description\",\"readOnly\":true},{\"attribute\":\"privileges\",\"readOnly\":true},{\"attribute\":\"authzMembers\",\"readOnly\":true},{\"attribute\":\"temporalConstraints\",\"readOnly\":true},{\"attribute\":\"condition\",\"readOnly\":true},{\"attribute\":\"_id\",\"readOnly\":true}],\"actions\":[],\"name\":\"Internal Roles\",\"path\":\"internal/role\",\"permissions\":[\"VIEW\"]}],\"condition\":null,\"name\":\"test-internal-role\",\"description\":\"This is a test role\",\"temporalConstraints\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"721f6d39-2996-4790-bc93-5df2012facff-3316\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
