{
  "log": {
    "_recordingName": "app/export/0_i_no-deps_f/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "28b788a164509f9291d0055762972ae4",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b2edb707-6fc0-4661-9edb-fc41a48508fe"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-volker-demo.forgeblocks.com/openidm/managed/svcacct/dc837f84-3643-4c5d-9c05-acb73c7d02f4?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1174,
            "text": "{\"_id\":\"dc837f84-3643-4c5d-9c05-acb73c7d02f4\",\"_rev\":\"f75d6945-1081-4e40-ac38-a36141369e72-1834\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1700696937262\",\"description\":\"volker.scheuber@forgerock.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"pIA_JyWzCR6VGELlXc-Mx0G0_0DAyOZZf1n2QS8rDGc\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"kfxhNrv5Z3nbUozwuZCHVwgUKqhDnHfGh_AgY2v1ihpRpsYnakhxYWW8i1iCya9vBvi4YZGeYjdyH7rqvB1_ZzGPRpPUBca5bEJA2xWAt-5rsKebrRhdgmo_dd0JVWnS5wVSM9lg73SXR5nVCtHJsQNCxFpBT-NXdf-bL-xY0hI2JvQg1IH9mrxJIKqF9eqoyxy3BoXgV2YgOP8xGsqIuweOJx-KBVQ5EqqVuACgrku-p6Wii2WPS8qXz6x4ORJmJ85Lo87hgUwsCg3tlxnV5PCs68BgvMTQmGgop5S4m8psmN7XmbCsxBtoZJoU8eRDwQnz9_IT5wPjSuCrwLPkHYukL565J6QesEEBDDe9S8UBgikWamR6sNpFgHUPymkQ7xPZeZOxMMURfAOBHE3qmwxhtUCxlNSkg8IiosWmvwfTIqLTv56ZPNAINJ9DNKlGY0tvIVjM5lg2Jw_6f_XCbje6ZM2vPVeU5l6Pl7gkkYKa2PN9VgN9RHerFZzCovSDhrffV0syyc31K1oAW7NSUflPNWgYmOlAO3rgZzNIeqtbu3xQ_bKSFwyDB262Vpmz8b3sXAQ_5kKbgduy5O5Sw6pQvL5EDSjS_pmgPeFruu3swYaPgRwopHFeZ4ojitJF4QtWSTgGc2GjLd6VPJAp5nn70IYM3tztYDS7uvrmrqc\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"f75d6945-1081-4e40-ac38-a36141369e72-1834\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b2edb707-6fc0-4661-9edb-fc41a48508fe"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 77,
      },
      {
        "_id": "893cb5ed12c645b27641f9ff7f3ff5ca",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b2edb707-6fc0-4661-9edb-fc41a48508fe"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq 'HRLite'"
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_fields",
              "value": "authoritative,connectorId,description,icon,mappingNames,name,ssoEntities,templateName,templateVersion,uiConfig,url"
            }
          ],
          "url": "https://openam-volker-demo.forgeblocks.com/openidm/managed/alpha_application?_queryFilter=name%20eq%20%27HRLite%27&_pageSize=1000&_fields=authoritative%2CconnectorId%2Cdescription%2Cicon%2CmappingNames%2Cname%2CssoEntities%2CtemplateName%2CtemplateVersion%2CuiConfig%2Curl"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 811,
            "text": "{\"result\":[{\"_id\":\"c7932f33-a3ac-4192-8dee-11fb96df0874\",\"_rev\":\"6f7f7140-16a0-47f8-9d9d-b519ed0530ca-980\",\"description\":\"Example\",\"templateName\":\"scripted.sql\",\"templateVersion\":\"1.0.0\",\"authoritative\":true,\"icon\":\"\",\"connectorId\":\"HRLite\",\"uiConfig\":{\"objectTypes\":{\"department\":{\"properties\":{\"uid\":{},\"description\":{},\"parent\":{},\"__NAME__\":{},\"name\":{}}},\"__ACCOUNT__\":{\"properties\":{\"postalCode\":{},\"empType\":{},\"phone\":{},\"state\":{},\"firstName\":{},\"depName\":{},\"email\":{},\"uid\":{},\"status\":{},\"country\":{},\"city\":{},\"depId\":{},\"lastName\":{},\"address\":{},\"jobCode\":{},\"isManager\":{},\"__NAME__\":{}}}}},\"mappingNames\":[\"systemHrlite__account___managedAlpha_user\"],\"name\":\"HRLite\"}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b2edb707-6fc0-4661-9edb-fc41a48508fe"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
