{
  "log": {
    "_recordingName": "app/export/0_A/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ff75519a93ccab829f8ee8cf5e92b49f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0bbba6f9-a91b-4a30-a637-f1e86676c2e9"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "assertion=<assertion jwt token>&client_id=service-account&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&scope=fr:am:* fr:idm:* fr:idc:esv:*"
          },
          "queryString": [],
          "url": "https://openam-volker-demo.forgeblocks.com/am/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1276,
            "text": "{\"access_token\":\"<access token>\",\"scope\":\"fr:am:* fr:idc:esv:* fr:idm:*\",\"token_type\":\"Bearer\",\"expires_in\":899}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0bbba6f9-a91b-4a30-a637-f1e86676c2e9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 243,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
