{
  "log": {
    "_recordingName": "config-manager/push/connector-definitions/0_n_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b917ac2d5128951ef6e28dea20ebe6f6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1eb66775-02b1-404c-b002-64df83027df6"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"provisioner.openicf/csv\",\"configurationProperties\":{\"csvFile\":\"/home/trivir/Work/frodo-cli/test.csv\",\"escapeCharacter\":\"\\\\\",\"fieldDelimiter\":\",\",\"headerPassword\":\"password\",\"headerUid\":\"userName\",\"newlineString\":\"\\\\n\",\"quoteCharacter\":\"\\\"\",\"spaceReplacementString\":\"_\",\"syncFileRetentionCount\":\"3\"},\"connectorRef\":{\"bundleName\":\"org.forgerock.openicf.connectors.csvfile-connector\",\"bundleVersion\":\"1.5.20.34\",\"connectorHostRef\":\"rcs\",\"connectorName\":\"org.forgerock.openicf.csvfile.CSVFileConnector\",\"displayName\":\"CSV File Connector\",\"systemType\":\"provisioner.openicf\"},\"enabled\":false,\"objectTypes\":{\"__ACCOUNT__\":{\"$schema\":\"http://json-schema.org/draft-03/schema\",\"id\":\"__ACCOUNT__\",\"nativeType\":\"__ACCOUNT__\",\"properties\":{\"__NAME__\":{\"nativeName\":\"__NAME__\",\"nativeType\":\"string\",\"type\":\"string\"},\"activeDate\":{\"nativeName\":\"activeDate\",\"nativeType\":\"string\",\"type\":\"string\"},\"email\":{\"nativeName\":\"email\",\"nativeType\":\"string\",\"type\":\"string\"},\"firstName\":{\"nativeName\":\"firstName\",\"nativeType\":\"string\",\"type\":\"string\"},\"lastName\":{\"nativeName\":\"lastName\",\"nativeType\":\"string\",\"type\":\"string\"}},\"type\":\"object\"}},\"operationTimeout\":{\"AUTHENTICATE\":-1,\"CREATE\":-1,\"DELETE\":-1,\"GET\":-1,\"RESOLVEUSERNAME\":-1,\"SCHEMA\":-1,\"SCRIPT_ON_CONNECTOR\":-1,\"SCRIPT_ON_RESOURCE\":-1,\"SEARCH\":-1,\"SYNC\":-1,\"TEST\":-1,\"UPDATE\":-1,\"VALIDATE\":-1},\"resultsHandlerConfig\":{\"enableAttributesToGetSearchResultsHandler\":true,\"enableCaseInsensitiveFilter\":false,\"enableFilteredResultsHandler\":false,\"enableNormalizingResultsHandler\":false},\"syncFailureHandler\":{\"maxRetries\":0,\"postRetryAction\":{\"script\":{\"globals\":{\"message\":\"hello world!\"},\"source\":\"/*\\n* This is a test script\\n*/\\nconsole.log(message);\",\"type\":\"text/javascript\"}}}}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/provisioner.openicf/csv"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1725,
            "text": "{\"_id\":\"provisioner.openicf/csv\",\"configurationProperties\":{\"csvFile\":\"/home/trivir/Work/frodo-cli/test.csv\",\"escapeCharacter\":\"\\\\\",\"fieldDelimiter\":\",\",\"headerPassword\":\"password\",\"headerUid\":\"userName\",\"newlineString\":\"\\\\n\",\"quoteCharacter\":\"\\\"\",\"spaceReplacementString\":\"_\",\"syncFileRetentionCount\":\"3\"},\"connectorRef\":{\"bundleName\":\"org.forgerock.openicf.connectors.csvfile-connector\",\"bundleVersion\":\"1.5.20.34[...]
