{
  "log": {
    "_recordingName": "oauth/client-import/0_all_file/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ac31ccceb288fe104fb927288dc7c001",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8306dd1e-3e1a-4230-bac1-5d80fa0d70b0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..pSgdCtK1f6u5BAWSeSzZ8A.ohTpNh0HDW_4CP5rOqXlbWzw0BqJgBPBIiZ_Muc-sUbmmS-y0XKXConyKfs-oSPwc8MwQW-ls0uHl_ymCV2GKYk9JbqJLh-UgMmQSj1Ok5S_kHUrtKpZ7dhnPFcMP7LMb7BOpsqQXzhkUaUDZFUgWAk3TsUgCY_6xpv4QmaT6h11j80R7uyg1jVByG4ZJEFJ_pNWvkmRR1gsJbv_2XwI3FT1MvOiCs16myfJPIaXBlp7De-YY40YD02tGZe4rUnZlFUh36OodYiNAEaSpOmGwUTp_wT9QyE9q_vNFuSoK_7U97Pw6U59asTFiB-pmkYu3jJWmNdJiI1A5jzlb6ZAnw5oyAdraBXGNOUUB7y4qxJwS81Ak3knh-9JPSzcv1xmWOO7MaaNgzM40-0Zpz9RjIrOp5nsTXARc4itFWLwwjTb1UYZ3DveMogIBK3U1S2fp53VD4PwlZQPnptjn6ZQ_CZ0GPKZKPkcqh-zSLFe30_oITdSEonEcfJsAaqU2vuIP-hH416FnfVxzPqP66p1OkuHO7BiTf232rZhVU9mN1uwXyyqQPETC-XhPXQecnHg4-ncQu2IB3EL6QhP3DRuFoPPnAhCUBY8qFK-ncBaumdkC69wZIGBglhRGHXJe9VJYZ3z4dR4iZMidQt_TwU-F4IyDPD8WsCd4xCuOVISR8G3bk2JSo7kNfgEaz-r6wFHQt-qf5ROEtldCrnQVu6BW-UGq2oVuM0OJxvdoRjd2J0bBB8Em4wiyvD_flzeCRPZJ-wN5PJ8rpNpE4szPB58lYQJWPzIi5nduG7pEXPjUo38s-_7sC8y_bD0tkHk8R-ujOSBX5wUNUF3XOJUVeVubcwqi1ZCpK1yr1MxASY5Nxc_5IwCxp_LXG9a4APsFcw-xiQgTxS4qx1KC9jSNOqgevmY8kBd50BpwvH4ZuwRaI2GJAbcFtcnOj-ClIAYydqJE_CyhArxNNYa5-zy4c3I1mDExJm_FdeBT7ozMHHyUa0d-1wOLD3qZhU_YMYh4YTpBZyJjOhbRTfSpJwCzV7YWpinlCs_JvvfSAq_rYhBJOk.jicxnmSALqh3o_qbWdE0RQ"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/b672336b-41ef-428d-ae4a-e0c082875377?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1045,
            "text": "{\"_id\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"_rev\":\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\",\"accountStatus\":\"active\",\"name\":\"frodo-test\",\"description\":\"Frodo Test\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"8lN2UVDDHchL_gIYS5lAiEVAVocyqWHmqBPwPkd22NRMLetczaVSH2UQHoQu7SSKeAtojVJUYuxRtGPfGNExZurTy3CRlzpaNa67B6jyunycPHnyNked0ceFGfjD9c6e0b97L5wqwk2YNVVMGa9c1m8R9HWk2kg9lRwlZE_piwTM9bw8tuWfL1A2-fTDQB2PZSgGGz86jG1RGMY7dnafVKIX3HbW98xOxOwqIRz607IQr-NFia5zjTltpJjR1qOlEFmdHqGTGCnFcHxeJWmKOWcDM4WmfWcgK3zR9Br-aZoDTl8RMAths30Pc1pe_dl5OepxCYQ7b0BXg0zQaYcx5G5ZcNR3ldjDNfpiXg1viWjEBiwiCg7gkYksBu0aFHX2pc4KKHKcyIeD0sbhaLSK3JXhI1TJvm7rwyX1wsRKmMTGTZMxYJlADZufKKd-Jg7k2_iwP3WUJxdgkJsgvLj7ZbTf5Paz7_FLeSajjtGPu6hGSWV8uOGgRgcnJgz3DP2S9qfHI7nKswtgwFdjbOMK39iNjU8PI-cOaaVKQcH88xBCu1bpCX1MIVvZ5arQF783qasj9bBB4t27gKXOauIr-sXMUI6_L7CQ7IqWld8VvNWKReMMqiRQV9huEEV1chCFzZI_aEW82fDC9dRbFXG-w92PhPPVbNznWsrhO1aPxA8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8306dd1e-3e1a-4230-bac1-5d80fa0d70b0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 94,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
