{
  "log": {
    "_recordingName": "mapping/rename/0_all/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8aebdeafe8a93743f0bb78a58be9dbb4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6094bb41-07e7-4afd-b6d5-3bb47ccba5d5"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/76618ff6-e851-433e-9704-9d2852a17b7a?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1163,
            "text": "{\"_id\":\"76618ff6-e851-433e-9704-9d2852a17b7a\",\"_rev\":\"634c36d8-17f8-46ac-b172-30ca689a1c22-23850\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1701807230743\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"h4ifGrx6TkKeMMSvCOJRCOMw3S_CL9gfNSfIioTiIAU\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"7TPbNXJ04LNJzi9DkM7bEp4AWB0d2o1vpKWxcXQp8KYmDOi2TuevXGwDVLTLTgPUfucQ6ZI9GHNzqhO9yEYa4UUrAvV9AhIT9emvETliW-qb7kXfs3PgZS19_KsepHrZEnIZIm34GzIfrWIU94sfa12Lyoa1npwAauul_2sTYx8_Q_Hyqf0-VKjORAUd5hy5N7gUwa9-VKG9Pbx4z-g83VgD5cNyIqWI8449s1ZJTPKxDHhyh214IK1CWWJUJ6zk9wcOmfG3VAtTJ4gcUY83aOFKGrPCwP0i4OEE0-IN_cRdEpyje7ICYInX8AWMSs8M-8ci2FzPe2KQxlR9tajthjv8Mtv7GMQjAPoXr_a_kfcSo8I7YXDqdWgu50ybcb8oi29DMPl2i4RR2cfQ9eSfbZ5Mjgy8E9Pd460gAhN4HvfmCVDEn5OUH7vQTjcZpVjzbfml-p9xNEGl71RgcD5dPG8sHd94IIhy6XQ3I99oRkjeyqsC6f1BGz-xVceAd6c3fedsO9EkPxHfTBhGPpX9xiTMwmGW8oth2Efze81ZhFCKUN8wb0RukC3fr-bb09Huz-3mWlOtP8vhQ8lxUYWJiaXtKkYKrHsNYWueZvF9Rg-D8IlRCyDutZXkFnlZzAz2ybhRIpzHmjVKq96qV020yPgjcC9NSd_J49c2kKJysnE\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"634c36d8-17f8-46ac-b172-30ca689a1c22-23850\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6094bb41-07e7-4afd-b6d5-3bb47ccba5d5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 77,
      },
      {
        "_id": "4c1fef66c916c8940b0315dddc564b06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6094bb41-07e7-4afd-b6d5-3bb47ccba5d5"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/sync"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 9187,
            "text": "{\"_id\":\"sync\",\"mappings\":[{\"_id\":\"sync/managedBravo_user_managedBravo_user\",\"consentRequired\":false,\"displayName\":\"managedBravo_user_managedBravo_user\",\"icon\":null,\"name\":\"managedBravo_user_managedBravo_user\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"ASYNC\",\"situation\":\"LINK_ONLY\"},{\"action\":\"ASYNC\",\"situation\":\"MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"UNASSIGNED\"},{\"action\":\"ASYNC\",\"situation\":\"UNQUALIFIED\"}],\"properties\":[],\"source\":\"managed/bravo_user\",\"syncAfter\":[],\"target\":\"managed/bravo_user\"},{\"_id\":\"sync/managedAlpha_user_managedBravo_user\",\"consentRequired\":true,\"displayName\":\"Test Mapping for Frodo\",\"icon\":null,\"name\":\"managedAlpha_user_managedBravo_user\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"ASYNC\",\"situation\":\"LINK_ONLY\"},{\"action\":\"ASYNC\",\"situation\":\"MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"UNASSIGNED\"},{\"action\":\"ASYNC\",\"situation\":\"UNQUALIFIED\"}],\"properties\":[{\"condition\":{\"globals\":{},\"source\":\"console.log(\\\"Hello World!\\\");\",\"type\":\"text/javascript\"},\"default\":[\"Default value string\"],\"source\":\"accountStatus\",\"target\":\"applications\",\"transform\":{\"globals\":{},\"source\":\"console.log(\\\"hello\\\");\",\"type\":\"text/javascript\"}}],\"source\":\"managed/alpha_user\",\"syncAfter\":[\"managedBravo_user_managedBravo_user\"],\"target\":\"managed/bravo_user\"},{\"_id\":\"sync/managedBravo_user_managedAlpha_user\",\"consentRequired\":false,\"displayName\":\"Frodo test mapping\",\"icon\":null,\"name\":\"managedBravo_user_managedAlpha_user\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"ASYNC\",\"situation\":\"LINK_ONLY\"},{\"action\":\"ASYNC\",\"situation\":\"MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"UNASSIGNED\"},{\"action\":\"ASYNC\",\"situation\":\"UNQUALIFIED\"}],\"properties\":[],\"source\":\"managed/bravo_user\",\"syncAfter\":[\"managedBravo_user_managedBravo_user\",\"managedAlpha_user_managedBravo_user\"],\"target\":\"managed/alpha_user\"},{\"_id\":\"sync/AlphaUser2GoogleApps\",\"consentRequired\":false,\"correlationQuery\":[{\"expressionTree\":{\"all\":[\"__NAME__\"]},\"file\":\"ui/correlateTreeToQueryFilter.js\",\"linkQualifier\":\"default\",\"mapping\":\"AlphaUser2GoogleApps\",\"type\":\"text/javascript\"}],\"displayName\":\"AlphaUser2GoogleApps\",\"enableSync\":{\"$bool\":\"&{esv.gac.enable.mapping}\"},\"icon\":null,\"name\":\"AlphaUser2GoogleApps\",\"onCreate\":{\"globals\":{},\"source\":\"target.orgUnitPath = \\\"/NewAccounts\\\";\",\"type\":\"text/javascript\"},\"onUpdate\":{\"globals\":{},\"source\":\"//testing1234\\ntarget.givenName = oldTarget.givenName;\\ntarget.familyName = oldTarget.familyName;\\ntarget.__NAME__ = oldTarget.__NAME__;\",\"type\":\"text/javascript\"},\"policies\":[{\"action\":\"EXCEPTION\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"UNLINK\",\"situation\":\"SOURCE_MISSING\"},{\"action\":{\"globals\":{},\"source\":\"// Timing Constants\\nvar ATTEMPT = 6; // Number of attempts to find the Google user.\\nvar SLEEP_TIME = 500; // Milliseconds betwee[...]
