{
  "log": {
    "_recordingName": "mapping/export/0_AD_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4c1fef66c916c8940b0315dddc564b06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c6726d6f-d7db-4879-8991-90d701f7ad06"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config/sync"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json;charset=utf-8",
            "size": 539,
            "text": "[\"H4sIAAAAAAAA/w==\",\"7ZVBb4IwGIb/S88k3r2hImmGbQZyMIshHVbSBQpry8EZ//vagQtGTOvFE8e2z/e2h/eBM8jYAcyBPPEceKAiTcN4IcH84zw4mUlKuKJS9eeazGsuKVcx/W6ZoBo8klJSDxyYbEpyQqSiZvhujulBMOdtWXqAP4KaumQ5o90zSK6YmQF+skNLfSqZasl1b5EEaAsuno2LoizEKHAgNwsYpjhN7OgSozWMN8HKjq5xilyxzI/iwF/tsgiiN5dww2UYRTs7uoFJAlFoBxOcxssggyHCscsbet45f+vHYbB1z0+Rr5ND5Ma+p34E19DAe10nUTdUqK5Qei3rVuSmeRXhpKCHGZGSFbzSfTZJuvD+UVHRwYqIgqoBXIuCcPbTXWbeMvCkZ/AAyfq9uC6pszf2nBGP7EOTV5NXr/TqRpVbs+6++mOqCVPbccWS//G/Zf35RXN1rXsq9R1PuuYS+Fg6l+nJvsm+V9onxzpp09Cz/kbGRG1Nwy/7yy8hq2ynTwoAAA==\"]"
          },
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 18,
      },
      {
        "_id": "4c963e6ac6a0c10bf75de375d8e3da12",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c6726d6f-d7db-4879-8991-90d701f7ad06"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id sw 'mapping'"
            }
          ],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config?_queryFilter=_id%20sw%20%27mapping%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 138,
            "text": "{\"result\":[],\"resultCount\":0,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":0,\"remainingPagedResults\":-1}"
          },
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 5,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
