{
  "log": {
    "_recordingName": "mapping/export/0_AD_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "de3566e649dc89e93a6365b0fdaecd4e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-eea64f83-0a51-40db-bd40-72cbbdec2623"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 12,
      },
      {
        "_id": "3f3b03432a833cfcbe27438276bb566b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-eea64f83-0a51-40db-bd40-72cbbdec2623"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openam-password",
              "value": "openidm-admin"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 3,
      },
      {
        "_id": "4c1fef66c916c8940b0315dddc564b06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-eea64f83-0a51-40db-bd40-72cbbdec2623"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config/sync"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json;charset=utf-8",
            "size": 1167,
            "text": "[\"H4sIAAAAAAAA/w==\",\"7Zjhb6IwGMb/FdLPJHz3G0M05BzsQD4sdwvpsJIuWDhazXnG//1a0QlaRrs5ky26mAx83qcF+/z6ygYkeAYGgK5JCkywgGWJSUbB4Nem8Ym1gARmaBZUGST4H2S4IMn+XFjkiFemBaGIsBD9WeIK8cI5zCkywQzTModrHy4QN+v3wdwIDMgyz01AVIvKIscpRvW0YSoUYLABWV4881nwf7cmoMWySoWdZVEECUOU/Sa8lq1LcZahv8x6gStI0wqXDIgKzJaw9gL2/Z03joM44h/oDSH+LIu7V7zKUBiW34AZ1vE/HolXfUYcUUo1rjAK4tBxk3svijx/rH2Zx3GyqihWa2FfFpTZPR7yyubE[...]
