{
  "log": {
    "_recordingName": "iga/workflow-describe/0_workflow-id/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "57a5cad82f09fe2fb978b6ffd0967f8f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "(objectId sw \"workflow/testWorkflow1\")"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-ccb-ai.forgeblocks.com/iga/governance/requestFormAssignments?_queryFilter=%28objectId%20sw%20%22workflow%2FtestWorkflow1%22%29&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{\"totalCount\":0,\"resultCount\":0,\"result\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 400,
      },
      {
        "_id": "01ec95a729c1c9ca93f442c66fc8462b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "action.name co \"\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-ccb-ai.forgeblocks.com/iga/governance/event?_queryFilter=action.name%20co%20%22%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 66,
            "text": "{\"result\":[],\"searchAfterKey\":null,\"totalCount\":0,\"resultCount\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        [...]
