{
  "log": {
    "_recordingName": "esv/secret-version-activate/0_i_v/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ddd537bdfff71d7687880e412a844095",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"status\":\"ENABLED\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "changestatus"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi-generic/versions/1?_action=changestatus"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 89,
            "text": "{\"createDate\":\"2023-10-17T22:37:13.716Z\",\"loaded\":true,\"status\":\"ENABLED\",\"version\":\"1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 651,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
