{
  "log": {
    "_recordingName": "esv/secret-delete/0_i/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2eaa9e12a1017dec02d7a7e4488fa9f5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi-generic"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 254,
            "text": "{\"_id\":\"esv-test-secret-pi-generic\",\"activeVersion\":\"3\",\"description\":\"\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-10-24T20:26:02.297Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4183,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
