{
  "log": {
    "_recordingName": "agent/ai-import-volker-dev/0_af/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-429e775e-e471-4a7e-a8f1-e30e42a12b26"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 613,
            "text": "{\"_id\":\"*\",\"_rev\":\"906423010\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"4ad7d57003aee4f\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"cloudOnlyFeaturesEnabled\":true,\"oauth2AIAgentsEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"906423010\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-429e775e-e471-4a7e-a8f1-e30e42a12b26"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 137,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-429e775e-e471-4a7e-a8f1-e30e42a12b26"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 275,
            "text": "{\"_id\":\"version\",\"_rev\":\"1171477248\",\"version\":\"9.0.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 9.0.0-SNAPSHOT Build 304c60a9fe7797e1045c631600098d4465b73e4d (2026-April-15 10:21)\",\"revision\":\"304c60a9fe7797e1045c631600098d4465b73e4d\",\"date\":\"2026-April-15 10:21\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1171477248\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-429e775e-e471-4a7e-a8f1-e30e42a12b26"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      },
      {
        "_id": "23afa0c65b6c446c4d488dd632dc8927",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-429e775e-e471-4a7e-a8f1-e30e42a12b26"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"FrodoOpsTestAIAgent2\",\"_type\":{\"_id\":\"AIAgent\",\"collection\":true,\"name\":\"AI Agents\"},\"advancedOAuth2ClientConfig\":{\"acceptedJwtIssuers\":[],\"allowedResourceServerAudienceValues\":[],\"clientUri\":[],\"contacts\":[],\"customProperties\":[],\"descriptions\":[],\"grantTypes\":[\"authorization_code\"],\"introspectionPolicySets\":[],\"isConsentImplied\":false,\"javascriptOrigins\":[],\"logoUri\":[],\"mixUpMitigation\":false,\"name\":[],\"policyUri\":[],\"refreshTokenGracePeriod\":0,\"requestUris\":[],\"require_pushed_authorization_requests\":false,\"responseTypes\":[\"code\",\"token\",\"id_token\",\"code token\",\"token id_token\",\"code id_token\",\"code token id_token\",\"device_code\",\"device_code id_token\"],\"sectorIdentifierUri\":null,\"softwareIdentity\":null,\"softwareVersion\":null,\"subjectType\":\"public\",\"tokenEndpointAuthMethod\":\"client_secret_basic\",\"tokenExchangeAuthLevel\":0,\"tosURI\":[],\"treeName\":\"[Empty]\",\"updateAccessToken\":null},\"aiAgentIdentityAttributes\":{\"_id\":\"a558e950-3a86-4cb6-a3d3-bbbbbbbbbbbb\",\"customAttributes\":null,\"description\":\"Test AI agent 2 for Frodo unit tests.\",\"name\":\"Frodo Test AI Agent 2\",\"oauth2ClientId\":\"FrodoOpsTestAIAgent2\"},\"aiAgentIdentityUid\":\"a558e950-3a86-4cb6-a3d3-bbbbbbbbbbbb\",\"coreOAuth2ClientConfig\":{\"accessTokenLifetime\":0,\"agentgroup\":null,\"authorizationCodeLifetime\":0,\"clientName\":[],\"clientType\":\"Confidential\",\"defaultScopes\":[],\"loopbackInterfaceRedirection\":false,\"redirectionUris\":[],\"refreshTokenLifetime\":0,\"scopes\":[],\"secretLabelIdentifier\":null,\"status\":\"Active\"},\"coreOpenIDClientConfig\":{\"backchannel_logout_session_required\":false,\"backchannel_logout_uri\":null,\"claims\":[],\"clientSessionUri\":null,\"defaultAcrValues\":[],\"defaultMaxAge\":600,\"defaultMaxAgeEnabled\":false,\"jwtTokenLifetime\":0,\"postLogoutRedirectUri\":[]},\"coreUmaClientConfig\":{\"claimsRedirectionUris\":[]},\"overrideOAuth2ClientConfig\":{\"acceptAudienceParametersInTokenExchangeRequests\":false,\"accessTokenMayActScript\":\"[Empty]\",\"accessTokenModificationPluginType\":\"PROVIDER\",\"accessTokenModificationScript\":\"[Empty]\",\"accessTokenModifierClass\":null,\"authorizeEndpointDataProviderClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultEndpointDataProvider\",\"authorizeEndpointDataProviderPluginType\":\"PROVIDER\",\"authorizeEndpointDataProviderScript\":\"[Empty]\",\"clientsCanSkipConsent\":false,\"customLoginUrlTemplate\":null,\"enableApplicationContext\":false,\"enableRemoteConsent\":false,\"evaluateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeEvaluator\",\"evaluateScopePluginType\":\"PROVIDER\",\"evaluateScopeScript\":\"[Empty]\",\"issueRefreshToken\":true,\"issueRefreshTokenOnRefreshedToken\":true,\"oidcClaimsClass\":null,\"oidcClaimsPluginType\":\"PROVIDER\",\"oidcClaimsScript\":\"[Empty]\",\"oidcMayActScript\":\"[Empty]\",\"overrideableOIDCClaims\":[],\"providerOverridesEnabled\":false,\"remoteConsentServiceId\":null,\"scopesPolicySet\":\"oauth2Scopes\",\"statelessTokensEnabled\":false,\"tokenEncryptionEnabled\":false,\"useForceAuthnForMaxAge\":false,\"usePolicyEngineForScope\":false,\"validateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeValidator\",\"validateScopePluginType\":\"PROVIDER\",\"validateScopeScript\":\"[Empty]\"},\"signEncOAuth2ClientConfig\":{\"authorizationResponseEncryptionAlgorithm\":null,\"authorizationResponseEncryptionMethod\":null,\"authorizationResponseSigningAlgorithm\":\"RS256\",\"clientJwtPublicKey\":null,\"idTokenEncryptionAlgorithm\":\"RSA-OAEP-256\",\"idTokenEncryptionEnabled\":false,\"idTokenEncryptionMethod\":\"A128CBC-HS256\",\"idTokenPublicEncryptionKey\":null,\"idTokenSignedResponseAlg\":\"RS256\",\"jwkSet\":null,\"jwkStoreCacheMissCacheTime\":60000,\"jwksCacheTimeout\":3600000,\"jwksUri\":null,\"mTLSCertificateBoundAccessTokens\":false,\"mTLSSubjectDN\":null,\"mTLSTrustedCert\":null,\"publicKeyLocation\":\"jwks_uri\",\"requestParameterEncryptedAlg\":null,\"requestParameterEncryptedEncryptionAlgorithm\":\"A128CBC-HS256\",\"requestParameterSignedAlg\":null,\"tokenEndpointAuthSigningAlgorithm\":\"RS256\",\"tokenIntrospectionEncryptedResponseAlg\":\"RSA-OAEP-256\",\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"tokenIntrospectionResponseFormat\":\"JSON\",\"tokenIntrospectionSignedResponseAlg\":\"RS256\",\"userinfoEncryptedResponseAlg\":null,\"userinfoEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"userinfoResponseFormat\":\"JSON\",\"userinfoSignedResponseAlg\":null}}"
          },
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/AIAgent/FrodoOpsTestAIAgent2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 6200,
            "text": "{\"_id\":\"FrodoOpsTestAIAgent2\",\"_rev\":\"162332705\",\"overrideOAuth2ClientConfig\":{\"issueRefreshToken\":true,\"validateScopePluginType\":\"[...]
