{
  "log": {
    "_recordingName": "config-manager/pull/password-policy/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5a71c88390844dedbd982092bc0cdd9c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4ff7fea3-6e0a-4e45-bd40-a66bcf53e12b"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/fieldPolicy/alpha_user"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 866,
            "text": "{\"_id\":\"fieldPolicy/alpha_user\",\"defaultPasswordStorageScheme\":[{\"_id\":\"PBKDF2-HMAC-SHA256\"}],\"passwordAttribute\":\"password\",\"resourceCollection\":\"managed/alpha_user\",\"type\":\"password-policy\",\"validator\":[{\"_id\":\"alpha_userPasswordPolicy-length-based-password-validator\",\"enabled\":true,\"maxPasswordLength\":0,\"minPasswordLength\":8,\"type\":\"length-based\"},{\"_id\":\"alpha_userPasswordPolicy-attribute-value-password-validator\",\"checkSubstrings\":true,\"enabled\":true,\"matchAttribute\":[\"mail\",\"userName\",\"givenName\",\"sn\"],\"minSubstringLength\":5,\"testReversedPassword\":true,\"type\":\"attribute-value\"},{\"_id\":\"alpha_userPasswordPolicy-character-set-password-validator\",\"allowUnclassifiedCharacters\":true,\"characterSet\":[\"1:abcdefghijklmnopqrstuvwxyz\",\"1:ABCDEFGHIJKLMNOPQRSTUVWXYZ\",\"1:0123456789\",\"1:~!@#$%^&*()-_=+[]{}|;:,.<>/?\\\"'\\\\`\"],\"enabled\":true,\"type\":\"character-set\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 26,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
