{
  "log": {
    "_recordingName": "authz/policy-import/0_file_set-id_no-deps_prereqs/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 614,
            "text": "{\"_id\":\"*\",\"_rev\":\"1955877865\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"cloudOnlyFeaturesEnabled\":true,\"oauth2AIAgentsEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 138,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 274,
            "text": "{\"_id\":\"version\",\"_rev\":\"-1986495916\",\"version\":\"9.0.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 9.0.0-SNAPSHOT Build c6c99b2f35d4d905937aeef7e7b8426bf5d8e820 (2026-June-12 09:10)\",\"revision\":\"c6c99b2f35d4d905937aeef7e7b8426bf5d8e820\",\"date\":\"2026-June-12 09:10\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 80,
      },
      {
        "_id": "e27f110a270c7763b87d172bf91fc0cd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"actions\":{\"DELETE\":true,\"GET\":true,\"HEAD\":true,\"OPTIONS\":true,\"PATCH\":true,\"POST\":true,\"PUT\":true},\"createdBy\":\"id=dsameuser,ou=user,ou=am-config\",\"creationDate\":1595479030487,\"description\":\"The built-in URL Resource Type available to OpenAMPolicies.\",\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":1697573378358,\"name\":\"URL\",\"patterns\":[\"*://*:*/*\",\"*://*:*/*?*\"],\"uuid\":\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/76656a38-5f8e-401b-83aa-4ccb74ce88d2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 465,
            "text": "{\"uuid\":\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\",\"name\":\"URL\",\"description\":\"The built-in URL Resource[...]
