{
  "log": {
    "_recordingName": "esv/variable-export/0_variable-id/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f217054662b72f68e607d9ad77221b90",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 248,
            "text": "{\"_id\":\"esv-test-var\",\"description\":\"this is a test description\",\"expressionType\":\"\",\"lastChangeDate\":\"2022-09-02T04:23:56.075Z\",\"lastChangedBy\":\"8efaa5b6-8c98-4489-9b21-ee41f5589ab7\",\"loaded\":true,\"valueBase64\":\"dGhpcyBpcyBhIHRlc3QgdmFyaWFibGU=\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 487,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
