{
  "log": {
    "_recordingName": "config-manager/push/raw/0_p_D_m/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c52c9d02-b9d7-4f17-af37-b979ac40dd63"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 587,
            "text": "{\"_id\":\"*\",\"_rev\":\"2075994313\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"iPlanetDirectoryPro\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"nodeDesignerXuiEnabled\":true}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"2075994313\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 10,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c52c9d02-b9d7-4f17-af37-b979ac40dd63"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 257,
            "text": "{\"_id\":\"version\",\"_rev\":\"-466575464\",\"version\":\"8.0.1\",\"fullVersion\":\"ForgeRock Access Management 8.0.1 Build b59bc0908346197b0c33afcb9e733d0400feeea1 (2025-April-15 11:37)\",\"revision\":\"b59bc0908346197b0c33afcb9e733d0400feeea1\",\"date\":\"2025-April-15 11:37\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-466575464\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 6,
      },
      {
        "_id": "c2c11ca1286e189f91800b1ed00c6e7b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c52c9d02-b9d7-4f17-af37-b979ac40dd63"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"\",\"enabled\":true}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/json/realms/root/realms/alpha/realm-config/services/SocialIdentityProviders"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 148,
            "text": "{\"_id\":\"\",\"_rev\":\"1077208638\",\"enabled\":true,\"_type\":{\"_id\":\"SocialIdentityProviders\",\"name\":\"Social Identity Provider Service\",\"collection\":false}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1077208638\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 14,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
