{
  "log": {
    "_recordingName": "esv/secret-create/0_secret-id_value_description_encoding_no-use-in-placeholders/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4996353e0b110880fce9baa0e5de5640",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"My4xNDE1OTI2NTM1ODk3OTMyMzg0NjI2NDMzODMyNzk1MDI4ODQ=\",\"description\":\"This is a test secret containing the value pi.\",\"encoding\":\"generic\",\"useInPlaceholders\":false}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi-generic2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 301,
            "text": "{\"_id\":\"esv-test-secret-pi-generic2\",\"activeVersion\":\"1\",\"description\":\"This is a test secret containing the value pi.\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-10-18T21:45:46.571Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 870,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
