{
  "log": {
    "_recordingName": "idm/schema-object-import/0_i_f/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de774920-1e53-40ce-99cf-5ad7f6ade21b"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/b4b5ea11-ad75-4ec5-b8eb-77a6c5eff8bf?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1409,
            "text": "{\"_id\":\"b4b5ea11-ad75-4ec5-b8eb-77a6c5eff8bf\",\"_rev\":\"9ac51912-1b41-4a24-9cbf-d1dcb901c0b6-20745\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1732657120676\",\"description\":\"cparker@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:autoaccess:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:iga:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\",\"fr:idc:proxy-connect:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"H3a73E5O7QjudE6koxw3o3f90wfVovwHJRgtAJYqbVs\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"roV7XKHzJKx_WrTTUBoBArEv39gOJhwA5wFFXyZpFbaaeI00A8j4iTNZvttxhYPm8l2EZm6RENxDYsP-7vaeptGHOPC4tE6148t-EEhXmRSTGkkiOfBbqvsX-I0uDMNB5nIhjlcgu-dey9yS5r1B5Zg87GTSUzzsRHIjc5lxXfaVClw6PnNZJ7ZI-kbeUl45bfMne5TQZzBzxnctYL1aCzJmSw84WE8GayDBTOicTPyJpTLWJ41pUYOIuwUcwIjCmguWlMY0h9e8nW-8DS4qlfm4cEQqA12lDc_yDjQ1eM9KwaG7GJdJj0gIW1sCG6CHQbO9Lwj4mSxUdLuXrCNMYy2guCXqAS2pmgh8YT_g8CebCOKhYNapSt5npYtRnnBp54xroB2aX31cswP3Si8OTmawqszsFNG3fo_GNmY8puGGzFlFTagFyacHeRBJKz94_Ubo5iZJuM-Z3l4NXOzTh0xIY1BpleiYJHZ6VUeADwdery699MdaZs7wcnTQSz7pt1CmGv_5UsyC9JdUuhHlu3Fx96nuESAPclivVhmrEHezGuubq4fsyYyDYAbOZyYaqFlGxeot88h-82VSfgdcTY7KyxHPPGc3JS1V2AY2qCT43-bAzdp-09BH6siEzpB7WeUqj093aLuJ62YB0Muke3ZO4ejZEmdYrHzRhGXaYtc\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"9ac51912-1b41-4a24-9cbf-d1dcb901c0b6-20745\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de774920-1e53-40ce-99cf-5ad7f6ade21b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 105,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de774920-1e53-40ce-99cf-5ad7f6ade21b"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
