{
  "log": {
    "_recordingName": "config-manager/pull/custom-nodes/0_D_m/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 587,
            "text": "{\"_id\":\"*\",\"_rev\":\"2075994313\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"iPlanetDirectoryPro\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"nodeDesignerXuiEnabled\":true}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "<etag>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 26,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 257,
            "text": "{\"_id\":\"version\",\"_rev\":\"-466575464\",\"version\":\"8.0.1\",\"fullVersion\":\"ForgeRock Access Management 8.0.1 Build b59bc0908346197b0c33afcb9e733d0400feeea1 (2025-April-15 11:37)\",\"revision\":\"b59bc0908346197b0c33afcb9e733d0400feeea1\",\"date\":\"2025-April-15 11:37\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "<etag>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 6,
      },
      {
        "_id": "e6efe3392d787815b92258f4573fd0b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://platform.dev.trivir.com/am/json/node-designer/node-type?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 937,
            "text": "{\"result\":[{\"_id\":\"user-1\",\"_rev\":\"-64423344\",\"serviceName\":\"user\",\"displayName\":\"DoesUserExist\",\"description\":\"Checks whether the username in node state already exists in IDM.\",\"outcomes\":[\"true\",\"false\"],\"outputs\":[\"*\",\"userExists\"],\"inputs\":[\"*\",\"username\"],\"script\":\"var username = nodeState.get(\\\"username\\\");\\n\\nif (!username) {\\n  logger.error(\\\"DoesUserExist: no username in node state\\\");\\n  action.goTo(\\\"false\\\");\\n} else {\\n  var result = openidm.query(\\\"managed/user\\\", {\\n    _queryFilter: 'userName eq \\\"' + String(username).replace(/\\\"/g, '\\\\\\\\\\\"') + '\\\"',\\n    _fields: \\\"_id\\\"\\n  });\\n\\n  var exists = result && result.resultCount > 0;\\n  nodeState.putShared(\\\"userExists\\\", exists);\\n  action.goTo(exists ? \\\"true\\\" : \\\"false\\\");\\n}\",\"errorOutcome\":true,\"tags\":[\"utilities\"],\"properties\":{}}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":1,\"remainingPagedResults\":-1}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0, resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 17,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
