{
  "log": {
    "_recordingName": "oauth/client-import/0_all_file/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ff75519a93ccab829f8ee8cf5e92b49f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8306dd1e-3e1a-4230-bac1-5d80fa0d70b0"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJiNjcyMzM2Yi00MWVmLTQyOGQtYWU0YS1lMGMwODI4NzUzNzciLCJzdWIiOiJiNjcyMzM2Yi00MWVmLTQyOGQtYWU0YS1lMGMwODI4NzUzNzciLCJhdWQiOiJodHRwczovL29wZW5hbS1mcm9kby1kZXYuZm9yZ2VibG9ja3MuY29tOjQ0My9hbS9vYXV0aDIvYWNjZXNzX3Rva2VuIiwiZXhwIjoxNjk1OTIwMTc2LCJqdGkiOiI2MmEyYmY4NC0yYTRiLTRkNTYtYThiZS1hYWY5ZDdhMzVhMDMifQ.UilUyg_glmKrbsKvgDkn1aLiGyDPNuzIYttjJfFrssic-pKg8txrkJxjNmd0u-e_PxCmUSa9rduQmEzLu2gh8ZiaPxDaNyNol_q9EMGE0GQy0_yL7eNpN1qmJMmoG2ybbSDeZFKOtvZBPtkEsPqwaZGN-XmocXLrkGJnbLccqMJxdmAOequG_FIgocJb1rimtA2hoXzoBuphwo4lpBr0ifKCEvguYgoli6I_AyDnCsOPujvkPjqAljazXbfCZH-wa9GU2KzMUU1ELDiEAcOaumu4WXidFGDd1qZBX_FOfzrBcVyI2utaeG0sm8-of8FsdlzfPf6v-p0zb5KsT6bRCkZ-qF5MfXD4unDASGAxUx-iFCXBdZwxtKeMZhGAlSoM8a6yj1LUSQVyr7qzDi15VtiU_gCV09zwyilHm7HAATw5BuV-plRhCzYWivCiFv_XJTdC_WyH-niIQjZCxcm84BBA99r7DE_5MnjaPvcpzEwv5vqyervkbgu-mt_Tas3lIyA-9_BlIuEKEAmOlEp-_bD7nGYin8n9lrsZ4dVix0podLyqIKTVEi6x_uxupBZqSPzLnAdp9Z89q-lOPiZ0D4bufZ90PG-IkG1u8F-H5VvXXyTInJjt28WvNYmREEKKXrLjzmJjPIuCMoJeLzbiOz5G6MwLljiGcUVEUKH92yc&client_id=service-account&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&scope=fr:am:* fr:idm:* fr:idc:esv:*"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1276,
            "text": "{\"access_token\":\"eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..pSgdCtK1f6u5BAWSeSzZ8A.ohTpNh0HDW_4CP5rOqXlbWzw0BqJgBPBIiZ_Muc-sUbmmS-y0XKXConyKfs-oSPwc8MwQW-ls0uHl_ymCV2GKYk9JbqJLh-UgMmQSj1Ok5S_kHUrtKpZ7dhnPFcMP7LMb7BOpsqQXzhkUaUDZFUgWAk3TsUgCY_6xpv4QmaT6h11j80R7uyg1jVByG4ZJEFJ_pNWvkmRR1gsJbv_2XwI3FT1MvOiCs16myfJPIaXBlp7De-YY40YD02tGZe4rUnZlFUh36OodYiNAEaSpOmGwUTp_wT9QyE9q_vNFuSoK_7U97Pw6U59asTFiB-pmkYu3jJWmNdJiI1A5jzlb6ZAnw5oyAdraBXGNOUUB7y4qxJwS81Ak3knh-9JPSzcv1xmWOO7MaaNgzM40-0Zpz9RjIrOp5nsTXARc4itFWLwwjTb1UYZ3DveMogIBK3U1S2fp53VD4PwlZQPnptjn6ZQ_CZ0GPKZKPkcqh-zSLFe30_oITdSEonEcfJsAaqU2vuIP-hH416FnfVxzPqP66p1OkuHO7BiTf232rZhVU9mN1uwXyyqQPETC-XhPXQecnHg4-ncQu2IB3EL6QhP3DRuFoPPnAhCUBY8qFK-ncBaumdkC69wZIGBglhRGHXJe9VJYZ3z4dR4iZMidQt_TwU-F4IyDPD8WsCd4xCuOVISR8G3bk2JSo7kNfgEaz-r6wFHQt-qf5ROEtldCrnQVu6BW-UGq2oVuM0OJxvdoRjd2J0bBB8Em4wiyvD_flzeCRPZJ-wN5PJ8rpNpE4szPB58lYQJWPzIi5nduG7pEXPjUo38s-_7sC8y_bD0tkHk8R-ujOSBX5wUNUF3XOJUVeVubcwqi1ZCpK1yr1MxASY5Nxc_5IwCxp_LXG9a4APsFcw-xiQgTxS4qx1KC9jSNOqgevmY8kBd50BpwvH4ZuwRaI2GJAbcFtcnOj-ClIAYydqJE_CyhArxNNYa5-zy4c3I1mDExJm_FdeBT7ozMHHyUa0d-1wOLD3qZhU_YMYh4YTpBZyJjOhbRTfSpJwCzV7YWpinlCs_JvvfSAq_rYhBJOk.jicxnmSALqh3o_qbWdE0RQ\",\"scope\":\"fr:am:* fr:idc:esv:* fr:idm:*\",\"token_type\":\"Bearer\",\"expires_in\":899}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8306dd1e-3e1a-4230-bac1-5d80fa0d70b0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 132,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
