{
  "log": {
    "_recordingName": "config/import/0_global_file_type/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-254f3d25-1fa6-4725-a29a-10a51c8c6376"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 589,
            "text": "{\"_id\":\"*\",\"_rev\":\"2075994301\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"iPlanetDirectoryPro\",\"secureCookie\":false,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":false,\"userIdAttributes\":[],\"nodeDesignerXuiEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"2075994301\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 9,
      },
      {
        "_id": "9f5671275c36a1c0090d0df26ce0e93f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-254f3d25-1fa6-4725-a29a-10a51c8c6376"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "amadmin"
            },
            {
              "name": "x-openam-password",
              "value": "TriVir#1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 163,
            "text": "{\"tokenId\":\"<token id>\",\"successUrl\":\"/am/console\",\"realm\":\"/\"}"
          },
            {
              "httpOnly": true,
              "name": "amlbcookie",
              "path": "/",
              "value": "<cookie>"
            }
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 9,
      },
      {
        "_id": "6a3744385d3fd7416ea7089e610fa7e7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-254f3d25-1fa6-4725-a29a-10a51c8c6376"
            },
            {
              "name": "accept-api-version",
              "value": "resource=4.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tokenId\":\"<token id>\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "getSessionInfo"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/sessions/?_action=getSessionInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 291,
            "text": "{\"username\":\"amadmin\",\"universalId\":\"id=amadmin,ou=user,ou=am-config\",\"realm\":\"/\",\"latestAccessTime\":\"2025-07-14T23:02:42Z\",\"maxIdleExpirationTime\":\"2025-07-14T23:32:42Z\",\"maxSessionExpirationTime\":\"2025-07-15T01:02:41Z\",\"properties\":{\"AMCtxId\":\"ec3a2ff1-007e-48cc-bbc4-b8b4b56d13e1-63310\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=4.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-254f3d25-1fa6-4725-a29a-10a51c8c6376"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 257,
            "text": "{\"_id\":\"version\",\"_rev\":\"-466575464\",\"version\":\"8.0.1\",\"fullVersion\":\"ForgeRock Access Management 8.0.1 Build b59bc0908346197b0c33afcb9e733d0400feeea1 (2025-April-15 11:37)\",\"revision\":\"b59bc0908346197b0c33afcb9e733d0400feeea1\",\"date\":\"2025-April-15 11:37\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-466575464\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
