{
  "log": {
    "_recordingName": "app/import/0_no-deps_i_f/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b9c3121cf238fa0d9e549b35af3040d5",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-84099e2e-592e-47fe-a3d4-a82fd7e8678b"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/ba58ff99-76d3-4c69-9c4a-7f150ac70e2c?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1173,
            "text": "{\"_id\":\"ba58ff99-76d3-4c69-9c4a-7f150ac70e2c\",\"_rev\":\"0517f93c-53fc-42ec-bdf8-213760903270-609\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1701393386423\",\"description\":\"volker.scheuber@forgerock.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"7Dev4iJfutv2O3ysbHo-rZphSi3C2ldAK4NCOM5soWA\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"1LOnr1r01m9qMwrmXRt2FGuN__HL1JmJl5CDZA1Oqrc208cGKZk1gsvFNaYSU-bkDZuj6sgpmf-B5sc4xLGnqyOKeSw3z8GJbGQ5JyychNBsClpUu9981KlEBe_7cDvAhRtRT60Bni15Ff6KKcNdTD20W66XwKLefxPTpsnt7dsBlKXuhIq1pIPbXKFJJoct7tlufNqY_ypwrCbEhNsiVQ9A8Ozr8BUmPGfnaomlqUzMrO8jUV9TWw20WdXfHfCKja7ZnboQJpfXAe_iofFiVvXHVT2UadQDY8A1dtSuIksl3sSLPWUgBwCpZpRmUck1Cbc2l2coBu7qEMK8WEA0POnGRwam7KAi4tWbrc2F9M8ZyuUf8QLvBBjCJQBQwltfjGBmMinEDBWHfyAwYKKBCfQRdFwgmL2D8d_ItZf4PP0AVSgzHLLmis7FtvkiLDI4q7vSoK4lPrKh_i700z5oQY1mXZOQNmFJRx8HkuVxnUDEIAlO4__t-1JdXMYjLEuIXIZZAGAcDF_zes641h4mjV5tyg61e9JRIcGErsqXDNpfUWfbgd4EN0oBZFTI0vL2q87Oyzj8QetqlpPPvOcQniQEbUtBeATheQfUbZkOxFkg7E3LVJxhxKDeagsWOHqjhpDMKAbZ3Bej0zH8F4LJHV2SPAxJd5WkunZmRwoQKsM\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"0517f93c-53fc-42ec-bdf8-213760903270-609\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-84099e2e-592e-47fe-a3d4-a82fd7e8678b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 83,
      },
      {
        "_id": "de7800d3be3a9b2a78b0678893dd4b5a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-84099e2e-592e-47fe-a3d4-a82fd7e8678b"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"e124e6f6-e25a-4180-a6c3-ff8b782a422c\",\"authoritative\":true,\"icon\":\"\",\"name\":\"testLDAP\",\"templateName\":\"ldap\",\"templateVersion\":\"2.1\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/alpha_application/e124e6f6-e25a-4180-a6c3-ff8b782a422c"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 192,
            "text": "{\"_id\":\"e124e6f6-e25a-4180-a6c3-ff8b782a422c\",\"_rev\":\"bed3f2cd-8083-4739-b13f-18dea14b672a-1502\",\"icon\":\"\",\"templateName\":\"ldap\",\"templateVersion\":\"2.1\",\"authoritative\":true,\"name\":\"testLDAP\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"bed3f2cd-8083-4739-b13f-18dea14b672a-1502\""
            },
            {
              "name": "x-not-modified",
              "value": "true"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-84099e2e-592e-47fe-a3d4-a82fd7e8678b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 429,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
