{
  "log": {
    "_recordingName": "info/3_scriptFriendly/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9aa97178-0863-46c5-aee3-57792e7043c1"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "6ac6499e9da2071",
              "value": "9vlaR5zHZCrjWPcrAgE2okf3zHU.*AAJTSQACMDIAAlNLABxlUE5ndTZwTUo2R1poMVFEYnJwUTllQXBqLzg9AAR0eXBlAANDVFMAAlMxAAIwMQ..*"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html&scope=openid fr:idm:* fr:idc:esv:*&response_type=code&client_id=idmAdminClient&csrf=9vlaR5zHZCrjWPcrAgE2okf3zHU.*AAJTSQACMDIAAlNLABxlUE5ndTZwTUo2R1poMVFEYnJwUTllQXBqLzg9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=UqE-ra1M0B2ZXub4fbOtM3lB5ndfe5ti73_NInlLRWo&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html?code=lXtU9MJ9dOJX4jGqRY8RzNFjVx8&iss=https%3A%2F%2Fopenam-frodo-dev.forgeblocks.com%3A443%2Fam%2Foauth2&client_id=idmAdminClient"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9aa97178-0863-46c5-aee3-57792e7043c1"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 64,
      },
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9aa97178-0863-46c5-aee3-57792e7043c1"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
[...]
