{
  "log": {
    "_recordingName": "app/export/0_app-id/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4401002b-a37b-4e0e-975a-5c15e40c57cb"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/d58969ef-43d8-4e07-917e-c089baccc5c6?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1371,
            "text": "{\"_id\":\"d58969ef-43d8-4e07-917e-c089baccc5c6\",\"_rev\":\"196255af-0980-4e7a-bb99-183cfcf8e131-7400\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1769559161870\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:autoaccess:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"6brYsnEbcq6_ySR4MeoetfKy8Nv1rUHqDz0Fe9h387Y\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"jaYF1DcbCZSp1Dxi3O9lGIfnqEb-s-fXLnPEyLcj9oHYahbQY-d_M0YCLDdFtMfxNzFXAnCgHLUxyVLOwkLpCPlVs1x-YBtHvvD83Qu4sdWerslZago0aBZshyVPg8sn0ERhngAlFDhOWxJaztmj24scD7CiZ0DGoL36SpcHnmv0Pv6hedHv3AViuCYEcGxKyWkC_E9vsQq02TMTZzQrOy0pk92KZMkcpGtMlfV4y3CI8tmsL2GCZm3_5kFBz-qQHPcjl8Qpj2GwqHaKqFMK7r2jKpKzYIQXof-w9zWZZg4oJzNyY3G0PhkPB-diBEBr1MApmt-1lWakhDWki3U3CXTrXoVGNu_6FkvorXFsSNjawLJVFRszRHFy87a08XM5_40DffDzig4UL-IVjRGHNR8pdeckBvjMaxgOG3wcd_lWqOMbALnqdhyVKBcDuewfeb6IU3h7bQOvzWzTZvKZcaErbCrVJmyG808CvxDoAtffr_wbjoJ_V6RvRcKhcaJjZY8aPgaN29sU_jQwU67tWB9_Smc6lxNoYxAz05vmpgOi4vOwploO7pHqWcmvBqC0mBqcCORSjub61fLzMcOAqAtyJiHHDYKdWBN5tgmLLxtUObkk4cdHojMpCs8QOq7GDWYuSZkBjp3Q_KfXe_AZQ8Th6r3-2xMssfE18P3-ZPc\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"196255af-0980-4e7a-bb99-183cfcf8e131-7400\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4401002b-a37b-4e0e-975a-5c15e40c57cb"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4401002b-a37b-4e0e-975a-5c15e40c57cb"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
