{
  "log": {
    "_recordingName": "info/0_scriptFriendly/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "251003828bf23336fa53493b58e58bd7",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6bc4c9d4-93fa-4d78-84d9-48f57611c801"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..2NglFox4QG5qtqJkiZm3iA.99Rj6T9l3A18zxyhLHDfdwG1kMmDhR66na[...]
