{
  "log": {
    "_recordingName": "config-manager/pull/secrets/0_aD/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/59add48c-1b03-40d2-b1ee-2db021509e0a?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1372,
            "text": "{\"_id\":\"59add48c-1b03-40d2-b1ee-2db021509e0a\",\"_rev\":\"122b5886-4dd0-4bf1-abfa-b237ffed0133-6807\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1783028811524\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"kmNDanm9kSh7e052pGdrRgYpTXYYaeEpKxjABeHEtHM\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"zlA-kS3tmyRPFu-STaIdhzVzKgErhw545oC5nKi6n0mpkwNpt2w7Ucn8mWYkS1-Xdl4WaS2HwIyiGOqhPbhzG-Vxcki1d450h7mMKbuOYMAeK89oaGEvvDQcgCcY3JyAkfjoKXAdnWcjWdmMVKCvNbKNqxQjEPoVEOnwlqJsMoW8P0Qtb6Te7kUCCzOKtd7m27zDCU7MEfh5iGotB1s9NZ2gkqNqUJ75NKi0IVPJcTZ9KzQPETOA-U8mdOxkV0hfwVKA2a4iZw28uRh6Zsraf6Dys82z0G2YBuJxSst3nxY3T1qEm7IqBA2a0zhx-refzthI8JIWArveoY-jDllNnqhtNks2O1RnvvAVFrUubGCKYz70rW8_tTYsTtITuMpXaI875TmI76aJS-_pMhRr7FoFOshXNvp6eNsbOsY_76tJ0s6eMsIZ7IeIlcDuorimQodyEp1kkYbNiCA0XicXEIq1CeQ4aXEe5ZgPClqWZSXBPm-7Wqea2kTjCt0tfywWqtf-v4drB3OW93v5ZMfoDUXmpLEOw9CwUuTRqkf3iTz_EpC2bfbIg9kS9GytQ5XcRh9JbE9Av1_ZB9ylb-OekPUQb2Wpxs9uRYH1mC5mTBan2M8_gjDdlRMCL1btdeJlWai9Nyv-KkcqRN9cJNjFHtnnBMyXq2yEuFo4VISqzEk\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 158,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET[...]
