{
  "log": {
    "_recordingName": "esv/variable-create/0_i_value_variable-type_description/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "baf125297c7ee7c800cec16d1c6ac5cc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var-bool"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 53,
            "text": "{\"code\":404,\"message\":\"The variable does not exist\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 217,
      },
      {
        "_id": "15e780c10511b508c0db3f800dd985c8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"VHJ1ZQ==\",\"description\":\"Test boolean variable\",\"expressionType\":\"bool\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var-bool"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 221,
            "text": "{\"_id\":\"esv-test-var-bool\",\"description\":\"Test boolean variable\",\"expressionType\":\"bool\",\"lastChangeDate\":\"2026-09-28T14:15:23.984161038Z\",\"lastChangedBy\":\"Frodo-SA-1782747461119\",\"loaded\":false,\"valueBase64\":\"VHJ1ZQ==\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1805,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
