{
  "log": {
    "_recordingName": "esv/secret-version-deactivate/0_secret-id_version/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f1dc340bca1034e67730abec5c56b5cb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"status\":\"DISABLED\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "changestatus"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi-generic/versions/2?_action=changestatus"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 62,
            "text": "{\"code\":400,\"message\":\"Cannot disable latest secret version\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 891,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
