{
  "log": {
    "_recordingName": "config-manager/push/remote-servers/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "441ef7d8d92de9ba2b3b7896371c6e32",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6b87613c-8af6-40f7-ac72-5131148a942b"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"provisioner.openicf.connectorinfoprovider\",\"connectorsLocation\":\"connectors\",\"remoteConnectorClients\":[{\"clientId\":\"rcs\",\"enabled\":false,\"name\":\"rcs\",\"useSSL\":true},{\"enabled\":true,\"name\":\"rcs_no_client\",\"useSSL\":true}],\"remoteConnectorClientsGroups\":[],\"remoteConnectorServers\":[],\"remoteConnectorServersGroups\":[]}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/provisioner.openicf.connectorinfoprovider"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 324,
            "text": "{\"_id\":\"provisioner.openicf.connectorinfoprovider\",\"connectorsLocation\":\"connectors\",\"remoteConnectorClients\":[{\"clientId\":\"rcs\",\"enabled\":false,\"name\":\"rcs\",\"useSSL\":true},{\"enabled\":true,\"name\":\"rcs_no_client\",\"useSSL\":true}],\"remoteConnectorClientsGroups\":[],\"remoteConnectorServers\":[],\"remoteConnectorServersGroups\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "location",
              "value": "https://platform.dev.trivir.com/openidm/config/provisioner.openicf.connectorinfoprovider"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 255,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
