{
  "log": {
    "_recordingName": "config-manager/push/ui-config/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e6ef67a5fa0cdb69474865598fc725ed",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b2c01ea5-59f9-422a-b300-4fc36c75b6d7"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"ui/configuration\",\"configuration\":{\"defaultNotificationType\":\"info\",\"forgotUsername\":false,\"lang\":\"en\",\"notificationTypes\":{\"error\":{\"iconPath\":\"images/notifications/error.png\",\"name\":\"common.notification.types.error\"},\"info\":{\"iconPath\":\"images/notifications/info.png\",\"name\":\"common.notification.types.info\"},\"warning\":{\"iconPath\":\"images/notifications/warning.png\",\"name\":\"common.notification.types.warning\"}},\"passwordReset\":false,\"passwordResetLink\":\"\",\"platformSettings\":{\"adminOauthClient\":\"idm-admin-ui\",\"adminOauthClientScopes\":\"fr:idm:*\",\"amUrl\":\"/am\",\"loginUrl\":\"\"},\"roles\":{\"internal/role/openidm-admin\":\"ui-admin\",\"internal/role/openidm-authorized\":\"ui-user\"},\"selfRegistration\":false}}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/ui/configuration"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 707,
            "text": "{\"_id\":\"ui/configuration\",\"configuration\":{\"defaultNotificationType\":\"info\",\"forgotUsername\":false,\"lang\":\"en\",\"notificationTypes\":{\"error\":{\"iconPath\":\"images/notifications/error.png\",\"name\":\"common.notification.types.error\"},\"info\":{\"iconPath\":\"images/notifications/info.png\",\"name\":\"common.notification.types.info\"},\"warning\":{\"iconPath\":\"images/notifications/warning.png\",\"name\":\"common.notification.types.warning\"}},\"passwordReset\":false,\"passwordResetLink\":\"\",\"platformSettings\":{\"adminOauthClient\":\"idm-admin-ui\",\"adminOauthClientScopes\":\"fr:idm:*\",\"amUrl\":\"/am\",\"loginUrl\":\"\"},\"roles\":{\"internal/role/openidm-admin\":\"ui-admin\",\"internal/role/openidm-authorized\":\"ui-user\"},\"selfRegistration\":false}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 30,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
