{
  "log": {
    "_recordingName": "node/import/0_f/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8c143d04-5a6f-4a8e-97e6-c2425dd8d9c5"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 585,
            "text": "{\"_id\":\"*\",\"_rev\":\"-494299414\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"cloudOnlyFeaturesEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"-494299414\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8c143d04-5a6f-4a8e-97e6-c2425dd8d9c5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 103,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8c143d04-5a6f-4a8e-97e6-c2425dd8d9c5"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 281,
            "text": "{\"_id\":\"version\",\"_rev\":\"1652964296\",\"version\":\"8.1.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 8.1.0-SNAPSHOT Build 0f3c85c8bbc4e5c93454ee525528ade846b19bcb (2025-December-04 22:27)\",\"revision\":\"0f3c85c8bbc4e5c93454ee525528ade846b19bcb\",\"date\":\"2025-December-04 22:27\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1652964296\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8c143d04-5a6f-4a8e-97e6-c2425dd8d9c5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 115,
      },
      {
        "_id": "b04389d8fe8e53386875bda48d89bb63",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8c143d04-5a6f-4a8e-97e6-c2425dd8d9c5"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"8ab9f1aad4b4460a9c45d15fb148e221-1\",\"description\":\"Debug node that displays the shared and transient state of the journey for debugging purposes.\",\"displayName\":\"Display State\",\"errorOutcome\":false,\"inputs\":[],\"outcomes\":[\"outcome\"],\"outputs\":[],\"properties\":{\"displayFormat\":{\"defaultValue\":\"TABLE\",\"description\":\"The format in which to display the states.\",\"multivalued\":false,\"options\":{\"JSON\":\"Raw JSON\",\"TABLE\":\"HTML Table\"},\"required\":true,\"title\":\"Display Format\",\"type\":\"STRING\"}},\"script\":\"var SCRIPT_OUTCOMES = {\\n  OUTCOME: \\\"outcome\\\"\\n};\\n\\nfunction main() {\\n    if (!callbacks.isEmpty()) {\\n        action.goTo(SCRIPT_OUTCOMES.OUTCOME);\\n        return;\\n    }\\n    var keySet = nodeState.keys(); // Java Set<String>\\n    var keys = Array.from(keySet); // Make it into JavaScript array\\n    debugState = {};\\n    for (var i in keys) {\\n        var k = new String(keys[i]);\\n        var item = nodeState.get(k);\\n        if (typeof item === \\\"object\\\") {\\n            debugState[k] = nodeState.getObject(k);\\n        } else {\\n            debugState[k] = nodeState.get(k);\\n        }\\n    }\\n    if (properties.displayFormat === \\\"JSON\\\") {\\n        callbacksBuilder.textOutputCallback(0, `<pre style=\\\"text-align: left;\\\">${JSON.stringify(debugState, null, 2)}</pre>`);\\n        return;\\n    }\\n    callbacksBuilder.textOutputCallback(0, `<table><tr><td style=\\\"border: 1px solid black;\\\">Key</td><td style=\\\"border: 1px solid black;\\\">Value</td></tr>${Array.from(Object.keys(debugState).map(k => `<tr><td style=\\\"border: 1px solid black;\\\"><pre style=\\\"text-align: left;\\\">${k}</pre></td><td style=\\\"border: 1px solid black;\\\"><pre style=\\\"text-align: left;\\\">${debugState[k]}</pre></td></tr>`))}</table>`);\\n}\\n\\nmain();\\n\",\"serviceName\":\"8ab9f1aad4b4460a9c45d15fb148e221\",\"tags\":[\"debug\",\"testing\"]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/node-designer/node-type"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 119,
            "text": "{\"code\":409,\"reason\":\"Conflict\",\"message\":\"Node Type with resource id 8ab9f1aad4b4460a9c45d15fb148e221 already exists\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8c143d04-5a6f-4a8e-97e6-c2425dd8d9c5"
            }
 [...]
