{
  "log": {
    "_recordingName": "esv/variable-export/0_Ni_D/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f217054662b72f68e607d9ad77221b90",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 261,
            "text": "{\"_id\":\"esv-test-var\",\"description\":\"Simple ESV test variable with a boolean value of true\",\"expressionType\":\"bool\",\"lastChangeDate\":\"2023-12-18T23:02:35.417404838Z\",\"lastChangedBy\":\"76618ff6-e851-433e-9704-9d2852a17b7a\",\"loaded\":true,\"valueBase64\":\"dHJ1ZQ==\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 448,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
