{
  "log": {
    "_recordingName": "service/export/0_global_service-id/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ac31ccceb288fe104fb927288dc7c001",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b0c5e1a6-0d5a-4812-99f1-f515ede9ac6e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..ILBmRR9z8_yGW08FuWhRLw.cWJ8Hi8rU0TnGy8UopynZDEhBcUAvdzd1mnIRYEp4RyLpH-LTZJI5JNbtEGCiLDP0ylb0WG_x3i98tLNBlh79TLnJOkivw5iZ1KZvYjjibY9rA1kkw0S6VDa__J0ZJh_VJIKz2B7l6iKpcJja_Ocr9-RfRav0AgjPM3M2qtF2C3OKbdroG9DYJMtWQT71w5jXoFB6g1RojmcRlSA_lsunNo3nagfVLGNBI2EXQjcv2pKNjni5sDxZoT1r0uCTST--GuMYmTNXvnyLunferD6P5BNmP_z13n6ricEHZ5eriGRd-mds9078sIc_SXCasapk9OyGRuH5vp_JfzKusumQDkeoDRtNlfTdkKfGqUvRs_AICBOdjLNQipdr6acQ02sf1tMEUGL3IRb68JSosMEqFa_FvIfqS7DlORWWzBfdvMKJagHX2CoyR_s3RkyZIeagRWFwcVDKIDZbD3EEvsh6J3DijhxlSFIZHUOSSrLu_sxXCgx661Zp-OEMMwLy2emehASfSPaRptsq5zzCvx9r9-uif4TF3ZYu1DKEAzJKvXJC_E9lwPhu9uley552XweLMRmDDrVzaLnw5Cu3aNBwfbuQBcdUuL4iB9-hpSpW4o1HtUvHHVpIe8zCR4e6plDaOBS7BsAAlJtE9-xLcoa45Fm-cBmdP59rg76lHRHKNuGB8yxUcVhcwDpVAaKWmARQ-tNF-AFOg4grZ0mDh5Az2rmNJKOJ_M_0pa-q9Xp91mhIohS2kyz0fQUqBA7IdM96pq65VQG_-frtqFEQuvmO-3cb9euSHQDrflQgOdJwG1YnZ6sUuS3wM16GxVPXHxF3vJ8zD91Sc3TAKFqb-HwyobXkRvpQSbWA7UY3Cbs-T4_Y4BG-2D7u9hN-WMdx5qe6B-Km1w81IBDiwzAIjCjv_EGsWICo8eP8XSQQ09vemozK5ieBxAPHsLtgggo02HQzvL8P-374RGPqhJcCFCbWNZtZtRpmwE4GZlbS8FmOY-O6PFQgMDW16naOxFn-4IbIkM8CtK1IUuBZkC8iYMTEyjAnRPiooH9lEmudxra6EE.f6czpI_mWGyv1TWTZAbqbQ"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/b672336b-41ef-428d-ae4a-e0c082875377?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1045,
            "text": "{\"_id\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"_rev\":\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\",\"accountStatus\":\"active\",\"name\":\"frodo-test\",\"description\":\"Frodo Test\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"8lN2UVDDHchL_gIYS5lAiEVAVocyqWHmqBPwPkd22NRMLetczaVSH2UQHoQu7SSKeAtojVJUYuxRtGPfGNExZurTy3CRlzpaNa67B6jyunycPHnyNked0ceFGfjD9c6e0b97L5wqwk2YNVVMGa9c1m8R9HWk2kg9lRwlZE_piwTM9bw8tuWfL1A2-fTDQB2PZSgGGz86jG1RGMY7dnafVKIX3HbW98xOxOwqIRz607IQr-NFia5zjTltpJjR1qOlEFmdHqGTGCnFcHxeJWmKOWcDM4WmfWcgK3zR9Br-aZoDTl8RMAths30Pc1pe_dl5OepxCYQ7b0BXg0zQaYcx5G5ZcNR3ldjDNfpiXg1viWjEBiwiCg7gkYksBu0aFHX2pc4KKHKcyIeD0sbhaLSK3JXhI1TJvm7rwyX1wsRKmMTGTZMxYJlADZufKKd-Jg7k2_iwP3WUJxdgkJsgvLj7ZbTf5Paz7_FLeSajjtGPu6hGSWV8uOGgRgcnJgz3DP2S9qfHI7nKswtgwFdjbOMK39iNjU8PI-cOaaVKQcH88xBCu1bpCX1MIVvZ5arQF783qasj9bBB4t27gKXOauIr-sXMUI6_L7CQ7IqWld8VvNWKReMMqiRQV9huEEV1chCFzZI_aEW82fDC9dRbFXG-w92PhPPVbNznWsrhO1aPxA8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b0c5e1a6-0d5a-4812-99f1-f515ede9ac6e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 72,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
