{
  "log": {
    "_recordingName": "app/export/rootPrefix/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d6e320b979c7cb404dc9f78ea6488ed1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dbbbc28a-4bf9-4e1b-aa4f-b93988a190cf"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_fields",
              "value": "authoritative,connectorId,description,icon,mappingNames,name,ssoEntities,templateName,templateVersion,uiConfig,url"
            }
          ],
          "url": "https://platform.dev.trivir.com/openidm/managed/application?_queryFilter=true&_pageSize=1000&_fields=authoritative%2CconnectorId%2Cdescription%2Cicon%2CmappingNames%2Cname%2CssoEntities%2CtemplateName%2CtemplateVersion%2CuiConfig%2Curl"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 386,
            "text": "{\"result\":[{\"_id\":\"a025007c-dd49-4542-a87f-c1e09bbbdc35\",\"_rev\":\"1239818a-e1c8-4003-b4c4-e7a3f2fbdfc4-1699\",\"description\":\"Root bookmark app\",\"url\":\"https://google.com\",\"templateName\":\"bookmark\",\"templateVersion\":\"1.0\",\"ssoEntities\":{},\"name\":\"root-bookmark\"}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
