{
  "log": {
    "_recordingName": "info/1_sa-id_sa-jwk-file/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "251003828bf23336fa53493b58e58bd7",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a4ac9a2-7252-40c8-8d63-3777aac51b0d"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..xieWDBC3YB0UAB1oC8NOfg.qy-BDXLp7rEH44rjTh_XyKLMtMpNB3t_Dw[...]
