{
  "log": {
    "_recordingName": "info/1_sa-id_sa-jwk-file/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "251003828bf23336fa53493b58e58bd7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0950a69-f840-4365-80b2-720f37079355"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/info"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 454,
            "text": "{\"backupRegion\":\"us-south1\",\"config_promotion_done\":false,\"immutable\":false,\"ipAddresses\":[\"104.197.33.46\"],\"locked\":false,\"message_box_html\":\"\",\"message_box_title\":\"\",\"message_variant\":\"\",\"placeholder_management_migration_date\":\"\",\"placeholder_management\":\"CUSTOMER\",\"promotionTierInfo\":{\"tierDisplayName\":\"other\",\"tiers\":[\"other\"],\"upperTierDisplayName\":null,\"lowerTierDisplayName\":null},\"region\":\"us-central1\",\"tier\":\"other\",\"warning_message_html\":\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1c6-bVoSMl4yyEF3SGeat15CkaugDdw\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0950a69-f840-4365-80b2-720f37079355"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 285,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
