{
  "log": {
    "_recordingName": "config-manager/push/schedules/0_n_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eedeb8176a8cc2e2ad63afe9265bcb6d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1bccecef-e078-405f-91a7-960a14dfdd23"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"schedule/taskscan_activate\",\"concurrentExecution\":false,\"enabled\":false,\"invokeContext\":{\"numberOfThreads\":5,\"scan\":{\"_queryFilter\":\"((/activeDate le \\\"${Time.nowWithOffset}\\\") AND (!(/inactiveDate pr) or /inactiveDate ge \\\"${Time.nowWithOffset}\\\"))\",\"object\":\"managed/user\",\"recovery\":{\"timeout\":\"10m\"},\"taskState\":{\"completed\":\"/activateAccount/task-completed\",\"started\":\"/activateAccount/task-started\"}},\"task\":{\"script\":{\"globals\":{},\"type\":\"text/javascript\",\"source\":\"var patch = [{ \\\"operation\\\" : \\\"replace\\\", \\\"field\\\" : \\\"/accountStatus\\\", \\\"value\\\" : \\\"active\\\" }];\\n\\nlogger.debug(\\\"Performing Activate Account Task on {} ({})\\\", input.mail, objectID);\\n\\nopenidm.patch(objectID, null, patch); true;\\n\"}},\"waitForCompletion\":false},\"invokeService\":\"taskscanner\",\"persisted\":true,\"repeatInterval\":86400000,\"type\":\"simple\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/schedule/taskscan_activate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 840,
            "text": "{\"_id\":\"schedule/taskscan_activate\",\"concurrentExecution\":false,\"enabled\":false,\"invokeContext\":{\"numberOfThreads\":5,\"scan\":{\"_queryFilter\":\"((/activeDate le \\\"${Time.nowWithOffset}\\\") AND (!(/inactiveDate pr) or /inactiveDate ge \\\"${Time.nowWithOffset}\\\"))\",\"object\":\"managed/user\",\"recovery\":{\"timeout\":\"10m\"},\"taskState\":{\"completed\":\"/activateAccount/task-completed\",\"started\":\"/activateAccount/task-started\"}},\"task\":{\"script\":{\"globals\":{},\"type\":\"text/javascript\",\"source\":\"var patch = [{ \\\"operation\\\" : \\\"replace\\\", \\\"field\\\" : \\\"/accountStatus\\\", \\\"value\\\" : \\\"active\\\" }];\\n\\nlogger.debug(\\\"Performing Activate Account Task on {} ({})\\\", input.mail, objectID);\\n\\nopenidm.patch(objectID, null, patch); true;\\n\"}},\"waitForCompletion\":false},\"invokeService\":\"taskscanner\",\"persisted\":true,\"repeatInterval\":86400000,\"type\":\"simple\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 36,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
