{
  "log": {
    "_recordingName": "config-manager/push/idm-authentication/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e5d4aec279b6a0c039410eba6fbae96a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"authentication\",\"rsFilter\":{\"anonymousUserMapping\":{\"executeAugmentationScript\":false,\"localUser\":\"internal/user/anonymous\",\"roles\":[\"internal/role/openidm-reg\"]},\"augmentSecurityContext\":{\"source\":\"require('auth/orgPrivileges').assignPrivilegesToUser(resource, security, properties, subjectMapping, privileges, 'privileges', 'privilegeAssignments');\",\"type\":\"text/javascript\"},\"cache\":{\"maxTimeout\":\"300 seconds\"},\"clientId\":\"idm-resource-server\",\"clientSecret\":\"&{rs.client.secret|password}\",\"scopes\":[\"fr:idm:*\"],\"staticUserMapping\":[{\"executeAugmentationScript\":false,\"localUser\":\"internal/user/openidm-admin\",\"roles\":[\"internal/role/openidm-authorized\",\"internal/role/openidm-admin\"],\"subject\":\"amadmin\"},{\"executeAugmentationScript\":false,\"localUser\":\"internal/user/idm-provisioning\",\"roles\":[\"internal/role/openidm-admin\"],\"subject\":\"idm-provisioning\"}],\"subjectMapping\":[{\"additionalUserFields\":[\"adminOfOrg\",\"ownerOfOrg\"],\"defaultRoles\":[\"internal/role/openidm-authorized\"],\"propertyMapping\":{\"sub\":\"_id\"},\"queryOnResource\":\"managed/user\",\"userRoles\":\"authzRoles/*\"}],\"tokenIntrospectUrl\":\"http://am/am/oauth2/introspect\"}}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/authentication"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1140,
            "text": "{\"_id\":\"authentication\",\"rsFilter\":{\"anonymousUserMapping\":{\"executeAugmentationScript\":false,\"localUser\":\"internal/user/anonymous\",\"roles\":[\"internal/role/openidm-reg\"]},\"augmentSecurityContext\":{\"source\":\"require('auth/orgPrivileges').assignPrivilegesToUser(resource, security, properties, subjectMapping, privileges, 'privileges', 'privilegeAssignments');\",\"type\":\"text/javascript\"},\"cache\":{\"maxTimeout\":\"300 seconds\"},\"clientId\":\"[...]
