{
  "log": {
    "_recordingName": "esv/variable-create/0_variable-id_value_description_variable-type/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4b0652ded17eca0da475b81ae661d9a5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var-pi-unknown"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 53,
            "text": "{\"code\":404,\"message\":\"The variable does not exist\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 262,
      },
      {
        "_id": "cc282a848b6574503e5ebe0460c8bcfe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"My4xNDE1OTI2\",\"description\":\"This is another test variable.\",\"expressionType\":\"unknown\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var-pi-unknown"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 308,
            "text": "{\"code\":400,\"message\":\"request body has an error: doesn't match schema #/components/schemas/esvVariableCreateUpdateRequest: Error at \\\"/expressionType\\\": value is not one of the allowed values [\\\"string\\\",\\\"list\\\",\\\"array\\\",\\\"object\\\",\\\"bool\\\",\\\"int\\\",\\\"number\\\",\\\"base64encodedinlined\\\",\\\"keyvaluelist\\\"]\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 225,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
