{
  "log": {
    "_recordingName": "esv/variable-create/0_variable-id_value_description_variable-type/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cc282a848b6574503e5ebe0460c8bcfe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"My4xNDE1OTI2\",\"description\":\"This is another test variable.\",\"expressionType\":\"unknown\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var-pi-unknown"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 141,
            "text": "{\"code\":606,\"message\":\"expressionType in body should be one of [string list array object bool int number base64encodedinlined keyvaluelist]\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 347,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
