{
  "log": {
    "_recordingName": "conn/save/3/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2529a48c-6a2e-4d3f-a226-f311a8b1c2df"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "6ac6499e9da2071",
              "value": "t7QBHIFl3YI4B47eDgpqHWDNEjw.*AAJTSQACMDIAAlNLABxrbDIzM2tSbUpVRjk5M1Rrc3NpdFRadmdlUXM9AAR0eXBlAANDVFMAAlMxAAIwMQ..*"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html&scope=openid fr:idm:* fr:idc:esv:*&response_type=code&client_id=idmAdminClient&csrf=t7QBHIFl3YI4B47eDgpqHWDNEjw.*AAJTSQACMDIAAlNLABxrbDIzM2tSbUpVRjk5M1Rrc3NpdFRadmdlUXM9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=QZUQbfcSD0R-W0mmqY54Ez4hkr50UU-V75ZFJecvFj0&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html?code=nvLboxqYzgv-Z34sUzNozhpn-eo&iss=https%3A%2F%2Fopenam-frodo-dev.forgeblocks.com%3A443%2Fam%2Foauth2&client_id=idmAdminClient"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2529a48c-6a2e-4d3f-a226-f311a8b1c2df"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 76,
      },
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2529a48c-6a2e-4d3f-a226-f311a8b1c2df"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
[...]
