{
  "log": {
    "_recordingName": "conn/save/3/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e8f8b1f0-95c0-4977-9236-801e11774888"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "iplanetdirectorypro",
              "value": "vjbgidavF_cbw5EGzp-xJaMMY2o.*AAJTSQACMDIAAlNLABxjNXZFMkxDaC9udllyNTNGdkllampHeHdqWDA9AAR0eXBlAANDVFMAAlMxAAIwMQ..*"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://nightly.gcp.forgeops.com/platform/appAuthHelperRedirect.html&scope=openid fr:idm:* fr:idc:esv:*&response_type=code&client_id=idmAdminClient&csrf=vjbgidavF_cbw5EGzp-xJaMMY2o.*AAJTSQACMDIAAlNLABxjNXZFMkxDaC9udllyNTNGdkllampHeHdqWDA9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=v5r2l9Gd27EpsBymDPmzsQyDqYXZ8ngoX3-1I-SK2ik&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://nightly.gcp.forgeops.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/html;charset=UTF-8",
            "size": 1834,
            "text": "<!DOCTYPE html>\n<!--\n  ~ DO NOT REMOVE COPYRIGHT NOTICES OR THIS HEADER.\n  ~\n  ~ Copyright 2012-2018 ForgeRock AS.\n  ~\n  ~ The contents of this file are subject to the terms\n  ~ of the Common Development and Distribution License\n  ~ (the License). You may not use this file except in\n  ~ compliance with the License.\n  ~\n  ~ You can obtain a copy of the License at\n  ~ http://forgerock.org/license/CDDLv1.0.html\n  ~ See the License for the specific language governing\n  ~ permission and limitations under the License.\n  ~\n  ~ When distributing Covered Code, include this CDDL\n  ~ Header Notice in each file and include the License file\n  ~ at http://forgerock.org/license/CDDLv1.0.html\n  ~ If applicable, add the following below the CDDL Header,\n  ~ with the fields enclosed by brackets [] replaced by\n  ~ your own identifying information:\n  ~ \"Portions Copyrighted [year] [name of copyright owner]\"\n  ~\n  ~ Portions Copyrighted 2014 Nomura Research Institute, Ltd\n  -->\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <meta name=\"description\" content=\"OAuth2 Error\">\n    <title>OAuth2 Error Page</title>\n</head>\n\n<body style=\"display:none\">\n    <div id=\"wrapper\">Loading...</div>\n    <footer id=\"footer\" class=\"footer\"></footer>\n    <script type=\"text/javascript\">\n                    pageData = {\n                realm : \"\\/\",\n                baseUrl: \"https://nightly.gcp.forgeops.com/am/OAuth2_XUI/\",\n                error: {\n                    description: \"Client authentication failed\",\n                    message: \"invalid_client\"\n                }\n            }\n    </script>\n    <script src=\"https://nightly.gcp.forgeops.com/am/OAuth2_XUI/main-authorize.js\"></script>\n</body>\n</html>\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/html;charset=UTF-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 89,
      },
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e8f8b1f0-95c0-4977-9236-801e11774888"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
[...]
