{
  "log": {
    "_recordingName": "iga/workflow-delete/0_workflow-id_draft-only_force/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d2368beda3ba993ea5d761ed2b3f56f4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-ccb-ai.forgeblocks.com/auto/orchestration/definition/testBasicApplicationGrant/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 13521,
            "text": "{\"id\":\"testBasicApplicationGrant\",\"name\":\"test-BasicApplicationGrant\",\"displayName\":\"test-BasicApplicationGrant\",\"description\":\"test-BasicApplicationGrant\",\"type\":\"provisioning\",\"childType\":false,\"_rev\":7,\"steps\":[{\"name\":\"scriptTask-626899b6e99a\",\"displayName\":\"Application Grant Validation\",\"type\":\"scriptTask\",\"scriptTask\":{\"nextStep\":[{\"condition\":\"true\",\"outcome\":\"done\",\"step\":\"exclusiveGateway-5167870154a9\"}],\"language\":\"javascript\",\"script\":\"logger.info(\\\"Running application grant request validation\\\");\\n\\nvar content = execution.getVariables();\\nvar requestId = content.get('id');\\nvar failureReason = null;\\nvar applicationId = null;\\nvar app = null;\\n\\ntry {\\n  var requestObj = openidm.action('iga/governance/requests/' + requestId, 'GET', {}, {});\\n  applicationId = requestObj.application.id;\\n}\\ncatch (e) {\\n  failureReason = \\\"Validation failed: Error reading request with id \\\" + requestId;\\n}\\n\\n// Vali[...]
