{
  "log": {
    "_recordingName": "dcc/session-state/0/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c7fb940-eb4e-4492-9972-f4953676c401"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-mtc-feb16-stg.forgeblocks.com/openidm/managed/svcacct/fb816997-ef4b-4ecd-948c-602753022902?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1485,
            "text": "{\"_id\":\"fb816997-ef4b-4ecd-948c-602753022902\",\"_rev\":\"f442e84d-b97e-421e-bb7b-0993b001a1e4-16977\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1772209972215\",\"description\":\"volker.scheuber@pingidentity.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:autoaccess:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:direct-configuration:session:*\",\"fr:idc:esv:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\",\"fr:idc:telemetry:*\",\"fr:idc:ws:admin\",\"fr:idm:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"Cu0SlC0DELsu5bPPaiJ4X-uyOnJG39siMS57q1Rbjf4\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"wXYLSv786BeKefcKBDDSahD-FfHmSTTQkmXmUsnCmVRQ7shMxqhQA2ZpgsaWaQI-c5-4llxWuvfao5lv2uNy8lQ0rwBpugGS07MK7X5f4cT-DGk6cGc8A1IcvswX3i13_3JH5H36qOGrcwzjp4GE3p4bfzdVvxlr1KOPe9ZIR3ewyOywQtKW8opH1Z8utHPfTThdP4tUXs8aby7YuWglf6MbPGgz2BEq0ycaYxnHuaGrnlrSnf_R52S8y_zONMTV2dKYETJBGhbxfKS03DrFvddp-3vaxTrxBk9i4LUS55njBWdwlSxAhgBh1ik0pjYAxCqAL0ANjpi4-vaP0uuKg-UAZS0dZWOK11HhBhW8hho0AxXOTXgnLLiURY_clweBZNdd57Pm5EBBIXdjGNOvVeqIZf4TSgbysRKUaxmfoxdyQwxIQURsMiOUeyIjttqNb7VEPc2krb0rjhZwD5Z2ZNJWD5UtWPATwHLoQArubeCmUty82iG0VwjmCE5yPpAQMI0svBbxB-hdhSVyRW7PQkyZ7f90L26eKufy3ypWWuPdYWwFVqzDnGdV8f339_cAC9wzdxGvpqkO_dPS-sHxrjV1Z1vdmTkLLloqiKjEjHQWwq6qyEgL8x_ikP63vWckGLwRIJ1F2DpK-ClClpsQ6e9-h0mFUYk2wKfno7Z-28s\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"f442e84d-b97e-421e-bb7b-0993b001a1e4-16977\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c7fb940-eb4e-4492-9972-f4953676c401"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 253,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c7fb940-eb4e-4492-9972-f4953676c401"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
