{
  "log": {
    "_recordingName": "info/0/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ad8f3adf-1a6a-478b-ab7f-a931ee9ddd2d"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/8a4fce63-e7f1-452c-a984-086150f83be0?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1387,
            "text": "{\"_id\":\"8a4fce63-e7f1-452c-a984-086150f83be0\",\"_rev\":\"3180f5e4-dab8-4a17-9933-a1dde60cf2e0-2357\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1782747461119\",\"description\":\"volker.scheuber@pingidentity.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"5kQeI0ELfCqAbyhl9C22Wdk2KO-apGTJcDy-PX2nZeU\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"oTQxSPx7zAtl5fP90CuxyFrCJ6ygawbWwJutyI9LxHgsUqP8V-tKkDw1uvVxKxp92AOb42zVeSD5T4rDGUJBozPOtuzn8BMjynIowZ13ZfgYYmIY4HDWGNk_lcOWRwkliCbc4SA2oywGd5zfPSYowB9_hs5CCTb5zjAvDTwUQtGO8jFlmwHG6KK_pI6mVHGPNaJ1w-tz1ut5NaWW7SV3kS6t3cvtRifo4A42cIxMBm05x1-ZUQihBPuwViZ3utYQ18SMh3VGYVCKA26RhgcBBot-goa-oTC8uRnwR6ESApZEQZYxnnCaJb8K1oVTMRsYMROucipbQyP6qpCenRDgXxWyBVAZP3lDspsC8x8bC40XnKmqLFzKdfgczUbrtiSl5GbsHYzGxg5whwMHwRCtOu0C8ymYp8F1Z-KSmnn6pEtAoCjflroHx1eoLRR4jb3CurPMhphV-BsAETBveC1rcaI6C274haQOmRIWc2F7kLHnEj_FbB0aYjVYl77AnW0cIVoEa9zbG5RiAqFRJLRp11vdQuVmBnbUs4U4FjRujn1GwxWIuKoqfMGpQVVW012faxeDgxTUQTRZ-SEGT3XHhfFBfmJRS5hcBru3xBsn7RA-3MubZzMk7Twu1YL54sNsc_zkId6SsZe-AJFuAXvRTUCkq5Rm4hBGVqLhxZWwmw8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"3180f5e4-dab8-4a17-9933-a1dde60cf2e0-2357\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ad8f3adf-1a6a-478b-ab7f-a931ee9ddd2d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 161,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ad8f3adf-1a6a-478b-ab7f-a931ee9ddd2d"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
