{
  "log": {
    "_recordingName": "app/list/0_l/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "86bc1d61c5326d620cd987fd9719f982",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-d5abdd78-afd0-4d06-a90d-068cb3838f6b"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..LcAygpFdhbn0GtIfW6tOAw.TGXHUQtSbGE4nqhtX2LwM7X57ualETKnN_7jGlZ9fdXTqland5AbglcvygGpVPUsnnYSSMYxBdq3vrMNAFW6GYah-vVfc1AT6LWZ2E1Pivg3XiIrlOPVKtQtNlavWEzuaiis2ef-K4jkQv3_4C-syi5l6mD063YuTj7ChmqwOJe5PWKiHl3j74ESlTqJF3JuStwUHtDQh4ezevlDXYdHQcCgA6OThZTevejEIHdElIu_qasd4eld_RkplwY--bHl119Cl1OktKH_rmm2gsdLnZCQYyjWfjDDFszkv4zuBpyhYt3puDs6AZl3QQ145sYh11duv7Fw3-xIV-H-fqAFm1S44cUJdEtEjFmUh6MiHsvRyxZqZJqEc_Yw48FNFtr3RF24QDcK1qN3S1Xv2L_bxtud2UUufzrbuSxQu2gopLW5MIInaCHuHLwSJwm60xH93I41VTza_Rfbm5kjifPmLciMFeu4eX8nfA6fSGUsd73_H_IOhH4PRrTDkA3TB54_7xHZRf8Aw4-Ve_qRmE_0558eC-h3HY1Lu9772b2_Ol9BeqdozDJm2NiqfpcdsFZYJCNSDhHj7FDsKFrMyAQtUTeP-abtk_VmClX-UQT5or_MUQ7Mk-c_iOWdGevkokbZRx4rytLa5p6urVX-EZahByrdof_eEgP0yBx5xnlVHN42a5z4UhoSuG_yr3_YVZSKQzu7leoYuYGBMDrWw9Ddg2X84Nhiiy2v8l6OXWD5KlWV0YjH20rIK1Dv-3u42fo9p5vjKgEihLuPwej2anGdkOHC0u0FgAHqP8ISlJwEQUuGWju3MEp1m9ZNQfPXYIFgTefjztMoGv-x4VvoL0wF7PhlVcncGpjlag6p-G7aLpevHB2zZU307MMnfn5FzGlqm5kpOLBKbzuBBqEMZEFnkeFwibdOpT3OCMR9BntWN5aPANJqWkCaebtkw-Ri1BXnmRkYF15ibR69H5CudtUQtdRoYkpd_QanD2gYvc9L9trAO_oDc21Snlq7GTREKfGSmMuhY9-Od6HUWMs1yA6_XHe2mik4vztLaURWLU9Cbcs.ZduanBn4ZQIFU9ln8R_b1g"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-volker-demo.forgeblocks.com/openidm/managed/svcacct/8b17a7ac-1329-42e5-924a-5420765f2d98?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1174,
            "text": "{\"_id\":\"8b17a7ac-1329-42e5-924a-5420765f2d98\",\"_rev\":\"7481aa43-c817-4b2c-bd02-116ed03699cf-1998\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1690584046936\",\"description\":\"volker.scheuber@forgerock.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"6zh3LwxajnuCxCL4uMXk3DrRP6l3lBZEjl7UgV1E-9o\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"21wB48yyF2zN7n_SFMlEzRaUUjEkJYYfycQIvKEMCX6ylMJD4hl3lhT8NFYsTHfEPzJUPezgXnx_n8lXzbwSOkjQ5VQTMVcOAF8fz2S4PS99O4CYDaWIHi-CPT-DFgPTdOAnbe2P5NFvW2cjir1b8u-jJZbVLWMz9N1UpDB1XXK7OpoHUiCCzotWJ9gWtPUpfFJCGKXgkgq-cl5xnGUee_qXO4UAsF7wS87xYVefgFCLCblG6jpIeuDm8a62Lb2W-2KCd7V68sa7WwksBAPep9UOr3uOSLsHOdccZpk2ODEbcPKQVWHyIFLbBUBaDmdUAACXT6-S_xHEAnCcVxtzecWCWSzDSJAknrVUQedu5BD7NskKnodysGLP4lphWpXqDilrhhpQNTuPidrCi1BdeDvJd3u-RlYGJmeXWJu4kMYpG6YmARLtehlHp_7y1j8Os1nuWMjs8NOS4jwLekDJmo5M02H_G6pqESvbQGnDD-YcH2_s3tIpC-JWoF_7OKUpi2Ml3mN4IR-OJlSdMKDF178UgWboUyuuNC9sk5-zktuiY-QgPL-Pu_TjrB2jtD6Fw_t_7isVxcCeZXPDickJfT1-VVlDA_cPsU1ZnmtAucZmGICbb_5Pd_LScJ2f3FEZ_Pqe4fseARcUimZvI4JypZ7xDXaeuJEFZlpR8y06F2U\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"7481aa43-c817-4b2c-bd02-116ed03699cf-1998\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-d5abdd78-afd0-4d06-a90d-068cb3838f6b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 59,
      },
      {
        "_id": "0b021f782fed397000e9439dad67d660",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-d5abdd78-afd0-4d06-a90d-068cb3838f6b"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMj[...]
