{
  "log": {
    "_recordingName": "config/import/0_AD_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "de3566e649dc89e93a6365b0fdaecd4e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-74da58f3-d6ae-4042-aaf6-6347f9a34492"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 11,
      },
      {
        "_id": "3f3b03432a833cfcbe27438276bb566b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-74da58f3-d6ae-4042-aaf6-6347f9a34492"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openam-password",
              "value": "openidm-admin"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 3,
      },
      {
        "_id": "ea1a070c27903f4e71c8acb5d274be1e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-74da58f3-d6ae-4042-aaf6-6347f9a34492"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"access\",\"configs\":[{\"actions\":\"\",\"methods\":\"read\",\"pattern\":\"health\",\"roles\":\"*\"},{\"actions\":\"*\",\"methods\":\"read\",\"pattern\":\"info/*\",\"roles\":\"*\"},{\"actions\":\"login,logout\",\"methods\":\"read,action\",\"pattern\":\"authentication\",\"roles\":\"*\"},{\"actions\":\"validate\",\"methods\":\"action\",\"pattern\":\"util/validateQueryFilter\",\"roles\":\"*\"},{\"actions\":\"*\",\"methods\":\"read\",\"pattern\":\"config/ui/themeconfig\",\"roles\":\"*\"},{\"actions\":\"*\",\"methods\":\"read\",\"pattern\":\"config/ui/theme-*\",\"roles\":\"*\"},{\"actions\":\"*\",\"customAuthz\":\"checkIfAnyFeatureEnabled(['registration', 'passwordReset'])\",\"methods\":\"read\",\"pattern\":\"config/selfservice/kbaConfig\",\"roles\":\"*\"},{\"actions\":\"*\",\"methods\":\"read\",\"pattern\":\"config/ui/dashboard\",\"roles\":\"internal/role/openidm-authorized\"},{\"actions\":\"*\",\"methods\":\"query\",\"pattern\":\"info/features\",\"roles\":\"*\"},{\"actions\":\"listPrivileges\",\"methods\":\"action\",\"pattern\":\"privilege\",\"roles\":\"*\"},{\"actions\":\"*\",\"methods\":\"read\",\"pattern\":\"privilege/*\",\"roles\":\"*\"},{\"actions\":\"submitRequirements\",\"methods\":\"read,action\",\"pattern\":\"selfservice/termsAndConditions\",\"roles\":\"*\"},{\"actions\":\"submitRequirements\",\"methods\":\"read,action\",\"pattern\":\"selfservice/kbaUpdate\",\"roles\":\"*\"},{\"actions\":\"\",\"customAuthz\":\"isMyProfile()\",\"methods\":\"read,query\",\"pattern\":\"profile/*\",\"roles\":\"*\"},{\"actions\":\"*\",\"customAuthz\":\"checkIfAnyFeatureEnabled('kba')\",\"methods\":\"read\",\"pattern\":\"selfservice/kba\",\"roles\":\"internal/role/openidm-authorized\"},{\"actions\":\"*\",\"methods\":\"read\",\"pattern\":\"schema/*\",\"roles\":\"internal/role/openidm-authorized\"},{\"actions\":\"*\",\"methods\":\"action,query\",\"pattern\":\"consent\",\"roles\":\"internal/role/openidm-authorized\"},{\"customAuthz\":\"checkIfApiRequest()\",\"methods\":\"read\",\"pattern\":\"*\",\"roles\":\"internal/role/openidm-admin\"},{\"actions\":\"*\",\"excludePatterns\":\"repo,repo/*\",\"methods\":\"*\",\"pattern\":\"*\",\"roles\":\"internal/role/openidm-admin\"},{\"actions\":\"\",\"methods\":\"create,read,update,delete,patch,query\",\"pattern\":\"system/*\",\"roles\":\"internal/role/openidm-admin\"},{\"actions\":\"*\",\"methods\":\"script\",\"pattern\":\"system/*\",\"roles\":\"internal/role/openidm-admin\"},{\"actions\":\"test,testConfig,createconfiguration,liveSync,authenticate\",\"methods\":\"action\",\"pattern\":\"system/*\",\"roles\":\"internal/role/openid[...]
