{
  "log": {
    "_recordingName": "config/export/0_all_file_use-string-arrays_no-decode/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a24d647eb74a9e69a6b0bd9ed23dc6ce",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1506,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-admin-token\",\"activeVersion\":\"1\",\"description\":\"Long-lived admin token\",\"encoding\":\"generic\",\"lastChangeDate\":\"2022-08-11T22:32:38.056Z\",\"lastChangedBy\":\"8efaa5b6-8c98-4489-9b21-ee41f5589ab7\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-admin-token-1999386457729\",\"activeVersion\":\"1\",\"description\":\"Long-lived admin token\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-05-14T01:07:41.970Z\",\"lastChangedBy\":\"8d9723a9-a439-4cbf-beb4-30e52811789d\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-secret\",\"activeVersion\":\"2\",\"description\":\"Secret Value for testing\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-08-09T19:00:01.501Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"2\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-secret-1\",\"activeVersion\":\"1\",\"description\":\"test secret one\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-08-06T03:53:17.716Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-secret-pi-generic2\",\"activeVersion\":\"1\",\"description\":\"This is a test secret containing the value pi.\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-10-18T21:45:46.571Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":false}],\"resultCount\":5,\"totalPagedResults\":-1,\"totalPagedResultsPolicy\":\"NONE\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 646,
      },
      {
        "_id": "3e8d5f28d2136edf1b00c2f955eaa5fa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3580,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-blue-piller\",\"description\":\"Zion membership criteria.\",\"expressionType\":\"bool\",\"lastChangeDate\":\"2023-07-18T22:21:38.640Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"valueBase64\":\"ZmFsc2U=\"},{\"_id\":\"esv-ipv4-cidr-access-rules\",\"description\":\"IPv4 CIDR access rules:\\n{\\n  \\\"allow\\\": [\\n    \\\"address/mask\\\"\\n  ]\\n}\",\"expressionType\":\"\",\"lastChangeDate\":\"2022-08-25T22:54:28.551Z\",\"lastChangedBy\":\"8efaa5b6-8c98-4489-9b21-ee41f5589ab7\",\"loaded\":true,\"valueBase64\":\"eyAgImFsbG93IjogWyAgICAiMTUwLjEyOC4wLjAvMTYiLCAgICAiMTM5LjM1LjAuMC8xNiIsICAgICIxMDEuMjE2LjAuMC8xNiIsICAgICI5OS43Mi4yOC4xODIvMzIiICBdfQ==\"},{\"_id\":\"esv-nebuchadnezzar-crew\",\"description\":\"The crew of the Nebuchadnezzar hovercraft.\",\"expressionType\":\"array\",\"lastChangeDate\":\"202[...]
