{
  "log": {
    "_recordingName": "authz/type-import/0_af/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "66480c9718fc6d9ab3109c3d3e8fd2d7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"actions\":{\"action1\":true,\"action2\":true},\"createdBy\":\"id=7a031a92-f70d-4b30-9d70-da7cfb1d9c93,ou=user,ou=am-config\",\"creationDate\":1725916400601,\"description\":\"Frodo Test Resource Type Thirteen\",\"lastModifiedBy\":\"id=7a031a92-f70d-4b30-9d70-da7cfb1d9c93,ou=user,ou=am-config\",\"lastModifiedDate\":1728514808294,\"name\":\"FrodoTestResourceType13\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"uuid\":\"0aa5ed25-0c62-4ff5-9a42-3bda8c5cbb76\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 110,
            "text": "{\"code\":409,\"reason\":\"Conflict\",\"message\":\"Resource Type 0aa5ed25-0c62-4ff5-9a42-3bda8c5cbb76 already exists\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 95,
      },
      {
        "_id": "ef3dfa357161383cd6b670b9e8dbfc62",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              [...]
