{
  "log": {
    "_recordingName": "iga/workflow-export/0_NAD/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/openidm/managed/svcacct/4dedf2b2-e2d9-4f3f-a6d7-507aa19860c5?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1384,
            "text": "{\"_id\":\"4dedf2b2-e2d9-4f3f-a6d7-507aa19860c5\",\"_rev\":\"e4d4d9d2-2043-4a73-8a39-3e51d09ef444-10489\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1766159115537\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:custom-domain:*\",\"fr:iga:*\",\"fr:idm:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\",\"fr:idc:promotion:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"rQWrVN8X5kqsrdDEHJwCjUXJsKuoXVWRXUL_5TmlaSY\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"11QN1diWTanWyOEyckzkb5ohXZJOh42_FEOgApnsigTIgHEAZkeCsHKr4J1RqNbbMFDVzMXkesf7fkDuFU3zPVLyHETyBA6NNHkmuJVL_3hVjfTHHY6P39FSoWaNAfvmW3iHDp-dJ7BMnKGoDb4eBFw4Dn82wf4CJ_x9nZCUL6OiadV3uU4COyorVyiMhmCIqW75ZDZGliieu6vMeNM-oyi_QpMSrRWiaicYXMpmxqtijg7kBF9if8wBO92d4jOrxRv90oIGt4ql6c6V3-hRiXxxNdcoDdHYk26Vgp76-g0FthpRDjhpPSdksS6yAtHi3ukh87dK43AZGJDPns7dFpP0CVcMlq_4zqYci72_tRp4HDVw7DsKignsNCKrAOZwe-DhFEl_5RAmGoxgpHMFOymF15MLf4695oiuRkNiLMGLhBgq8bMgbDrjRlDd3AIDlAdGLrB2BPscrTLmQlPAFjhPwrkdZ7hcMM_ApSyzka2kBUe75bi0x5UhmYrRP77lvV-8lzyo2sDZ0O-qsUDcxZ4qaY8re7LBAl3eXZaLSMnAp1jiHjVT_JwFnzfreRdnzuO2kZulKEWM8cESLTqyGD-FTVaDJZoLAJ-X_lrTpYYRVFmD84cPcuI3xLxv3Opu8MNbRhInuy6MMoleFdo4LJ-XawFlGc2CWIW1HzfANEU\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 102,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET[...]
