{"log": {"_recordingName": "shared/auth/interactive", "creator": {"comment": "persister:fs", "name": "Polly.JS", "version": "6.0.6"}, "entries": [{"_id": "a684e2f67fd67a4263878c3124af167a", "_order": 1, "cache": {}, "request": {"bodySize": 606, "cookies": [], "headers": [{"name": "accept", "value": "application/json, text/plain, */*"}, {"name": "content-type", "value": "application/x-www-form-urlencoded"}, {"name": "user-agent", "value": "<user agent>"}, {"name": "x-forgerock-transactionid", "value": "<transaction id>"}, {"name": "accept-api-version", "value": "protocol=2.1,resource=1.0"}, {"name": "cookie", "value": "6ac6499e9da2071=<cookie>"}, {"name": "content-length", "value": "606"}, {"name": "accept-encoding", "value": "gzip, compress, deflate, br"}, {"name": "host", "value": "openam-frodo-dev.forgeblocks.com"}], "headersSize": 576, "httpVersion": "HTTP/1.1", "method": "POST", "postData": {"mimeType": "application/x-www-form-urlencoded", "params": [], "text": "redirect_uri=https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html&scope=fr:idc:analytics:* fr:idc:certificate:* fr:idc:content-security-policy:* fr:idc:cookie-domain:* fr:idc:custom-domain:* fr:idc:esv:* fr:idm:* openid fr:idc:promotion:* fr:idc:release:* fr:idc:sso-cookie:* fr:idc:proxy-connect:* fr:idc:telemetry:*&response_type=code&client_id=idmAdminClient&csrf=QpCLquqPoh7y3UpYmNKLVPV19vA.*AAJTSQACMDIAAlNLABx2WDJuelFxeDNtSUMwS0V5MzNiYTEzMFh2U0U9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=K2rMKhRMt9oq4hdf3vB1ByyOGNUWq3cgFARPQs62HfA&code_challenge_method=S256"}, "queryString": [], "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/authorize"}, "response": {"bodySize": 0, "content": {"mimeType": "text/plain", "size": 0}, "cookies": [], "headers": [{"name": "content-security-policy", "value": "connect-src 'self' https://*.googletagmanager.com https://*.google-analytics.com https://cdn.forgerock.com; form-action 'self' https://*.pingidentity.com; frame-ancestors 'self' https://*.pingidentity.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.googletagmanager.com https://*.google-analytics.com; script-src-elem 'self' 'unsafe-inline' https://*.googletagmanager.com https://*.google-analytics.com"}, {"name": "content-security-policy-report-only", "value": "frame-ancestors 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline'"}, {"name": "x-content-type-options", "value": "nosniff"}, {"name": "cache-control", "value": "no-store"}, {"name": "location", "value": "https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html?code=nMh8VRMWmlLdKqjtdWyy_AqN7R0&iss=https%3A%2F%2Fopenam-frodo-dev.forgeblocks.com%3A443%2Fam%2Foauth2&client_id=idmAdminClient"}, {"name": "pragma", "value": "no-cache"}, {"name": "content-length", "value": "0"}, {"name": "date", "value": "<date>"}, {"name": "x-forgerock-transactionid", "value": "<transaction id>"}, {"name": "strict-transport-security", "value": "max-age=31536000; includeSubDomains; preload;"}, {"name": "x-robots-tag", "value": "none"}, {"name": "via", "value": "<via>"}, {"name": "alt-svc", "value": "<alt-svc>"}], "headersSize": 1144, "httpVersion": "HTTP/1.1", "redirectURL": "https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html?code=nMh8VRMWmlLdKqjtdWyy_AqN7R0&iss=https%3A%2F%2Fopenam-frodo-dev.forgeblocks.com%3A443%2Fam%2Foauth2&client_id=idmAdminClient", "status": 302, "statusText": "Found"}, "startedDateTime": "2026-09-23T12:38:20.035Z", "time": 119, "timings": {"blocked": -1, "connect": -1, "dns": -1, "receive": 0, "send": 0, "ssl": -1, "wait": 119}}, {"_id": "ff75519a93ccab829f8ee8cf5e92b49f", "_order": 0, "cache": {}, "request": {"bodySize": 210, "cookies": [], "headers": [{"name": "accept", "value": "application/json, text/plain, */*"}, {"name": "content-type", "value": "application/x-www-form-urlencoded"}, {"name": "user-agent", "value": "<user agent>"}, {"name": "x-forgerock-transactionid", "value": "<transaction id>"}, {"name": "accept-api-version", "value": "protocol=2.1,resource=1.0"}, {"name": "content-length", "value": "210"}, {"name": "accept-encoding", "value": "gzip, compress, deflate, br"}, {"name": "authorization", "value": "Basic aWRtQWRtaW5DbGllbnQ6ZG9lc25vdG1hdHRlcg=="}, {"name": "host", "value": "openam-frodo-dev.forgeblocks.com"}], "headersSize": 502, "httpVersion": "HTTP/1.1", "method": "POST", "postData": {"mimeType": "application/x-www-form-urlencoded", "params": [], "text": "redirect_uri=https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html&grant_type=authorization_code&code=nMh8VRMWmlLdKqjtdWyy_AqN7R0&code_verifier=utnY-acV67J8jlctjjj4A11aB3HcJ8BiJxDJelfKse8"}, "queryString": [], "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/access_token"}, "response": {"bodySize": 3145, "content": {"mimeType": "application/json;charset=UTF-8", "size": 3145, "text": "{\"access_token\":\"<access token>\",\"scope\":\"fr:idc:proxy-connect:* openid fr:idc:esv:* fr:idc:analytics:* fr:idc:telemetry:* fr:idc:custom-domain:* fr:idc:release:* fr:idc:sso-cookie:* fr:idc:content-security-policy:* fr:idm:* fr:idc:certificate:* fr:idc:cookie-domain:* fr:idc:promotion:*\",\"id_token\":\"<id token>\",\"token_type\":\"Bearer\",\"expires_in\":3599}"}, "cookies": [], "headers": [{"name": "content-security-policy", "value": "connect-src 'self' https://*.googletagmanager.com https://*.google-analytics.com https://cdn.forgerock.com; form-action 'self' https://*.pingidentity.com; frame-ancestors 'self' https://*.pingidentity.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.googletagmanager.com https://*.google-analytics.com; script-src-elem 'self' 'unsafe-inline' https://*.googletagmanager.com https://*.google-analytics.com"[...]
