{
  "log": {
    "_recordingName": "esv/secret-list/0_long/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a24d647eb74a9e69a6b0bd9ed23dc6ce",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..ZUVXZv9-tUWhLCpnJVsyqQ.c9dGDNpm8rjkxELhnXnxQUAhxfnaly3d_rYgR2p_o1EQqk51ZK-v6yogi8Jngn06hn_PhKA-xMkqiip0mKKAaJQkukEMemtJl-YeKDXNaW5PsVAvTrnofqR9BPXgkAA7GD0GgZDkbKqNGj1hf8ArsJBLLCbiCP4fmbYx2Ea6vkoRC4H9W2XY6RtDrYTswBRwLNcCvhjcBnVG-vy6wXJGQ_zLLelVZ7XzM9gcsyB4SKYAH-1MDJTuu_whI6mSJIMjVlsNgKtHt6lgmLzgKyWxT4EliwcY4RRBy_9glEX_33rGLSsWASgqrLNvHKDvCd9uzZiG96OLznQ1m2xxNFsV6MUbjkEdahYPzvvmvrUXRUR4Fht2c_wrKIxotwKcglIWT_oFFpgLcwsigNmPHocQdh34EsnsgkMA97Zd4pfjrNTybop5z3LWvH32OU2zxzFd_QZymooDpvAn5tt0L_x-2H_yU0y3ANo0JkPlctRRo5RIXb9fmQq_57-qYlGTExMCosJJrAtHHhb9xfAlI0HiGys9elh8nNy3sPJlL5iAb713qvE-khjCkdx3i5zQFw-E2f8NNnNGJLgot3VimFmjaog_uqmD8u5Q4NQSlbgCKYjz9h1A42DkH8U4IuJh-jNHtwtbPwIJQQpoddi7eEWiKo_VAXf0is02lrv6-vG0-et1jKB3nQ5IOexyTYGN8EchubK3D-UKiE3BKD3cxXGFT3ODhkFjfJMDQL-btixO1zPiER29jVJu6F7UKJ_LSLzDo-I3kI7YRp1pZpa-inYpv5CL66nf2gJk477S0QhP4sYo_M6FwaXYy_FtxMstYg0KH_3eYoqo0JQkniHeYCUdQ-9VBTfoiWrrQ1mktp6fmlwyMOdrj4LjleIfYtS3GTXRojZAeO9zhlOACDE1RkirQMImp_voK3zcmbNrMnzB-mZvf6t0jLrkEqoVUxm1IAoaJKvu9SN9uYUQA-gri3sJZggEjG-Qwit3yYvGdyLCXD33hyRZfgoaf9Iss5RsYKVuZuFQT3v1decIyus6rHQB5ZsErxCrAzIjOfFSY2OCf_g.QSaiJk-CTDR0jUN5qSkW8Q"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1205,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-admin-token\",\"activeVersion\":\"1\",\"description\":\"Long-lived admin token\",\"encoding\":\"generic\",\"lastChangeDate\":\"2022-08-11T22:32:38.056Z\",\"lastChangedBy\":\"8efaa5b6-8c98-4489-9b21-ee41f5589ab7\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-admin-token-1999386457729\",\"activeVersion\":\"1\",\"description\":\"Long-lived admin token\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-05-14T01:07:41.970Z\",\"lastChangedBy\":\"8d9723a9-a439-4cbf-beb4-30e52811789d\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-secret\",\"activeVersion\":\"2\",\"description\":\"Secret Value for testing\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-08-09T19:00:01.501Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"2\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-secret-1\",\"activeVersion\":\"1\",\"description\":\"test secret one\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-08-06T03:53:17.716Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}],\"resultCount\":4,\"totalPagedResults\":-1,\"totalPagedResultsPolicy\":\"NONE\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 577,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
