{
  "log": {
    "_recordingName": "idm/count/0_o/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b9c3121cf238fa0d9e549b35af3040d5",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8986469b-30c0-400c-869c-83f968452de3"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/ba58ff99-76d3-4c69-9c4a-7f150ac70e2c?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1173,
            "text": "{\"_id\":\"ba58ff99-76d3-4c69-9c4a-7f150ac70e2c\",\"_rev\":\"0517f93c-53fc-42ec-bdf8-213760903270-609\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1701393386423\",\"description\":\"volker.scheuber@forgerock.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"7Dev4iJfutv2O3ysbHo-rZphSi3C2ldAK4NCOM5soWA\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"1LOnr1r01m9qMwrmXRt2FGuN__HL1JmJl5CDZA1Oqrc208cGKZk1gsvFNaYSU-bkDZuj6sgpmf-B5sc4xLGnqyOKeSw3z8GJbGQ5JyychNBsClpUu9981KlEBe_7cDvAhRtRT60Bni15Ff6KKcNdTD20W66XwKLefxPTpsnt7dsBlKXuhIq1pIPbXKFJJoct7tlufNqY_ypwrCbEhNsiVQ9A8Ozr8BUmPGfnaomlqUzMrO8jUV9TWw20WdXfHfCKja7ZnboQJpfXAe_iofFiVvXHVT2UadQDY8A1dtSuIksl3sSLPWUgBwCpZpRmUck1Cbc2l2coBu7qEMK8WEA0POnGRwam7KAi4tWbrc2F9M8ZyuUf8QLvBBjCJQBQwltfjGBmMinEDBWHfyAwYKKBCfQRdFwgmL2D8d_ItZf4PP0AVSgzHLLmis7FtvkiLDI4q7vSoK4lPrKh_i700z5oQY1mXZOQNmFJRx8HkuVxnUDEIAlO4__t-1JdXMYjLEuIXIZZAGAcDF_zes641h4mjV5tyg61e9JRIcGErsqXDNpfUWfbgd4EN0oBZFTI0vL2q87Oyzj8QetqlpPPvOcQniQEbUtBeATheQfUbZkOxFkg7E3LVJxhxKDeagsWOHqjhpDMKAbZ3Bej0zH8F4LJHV2SPAxJd5WkunZmRwoQKsM\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"0517f93c-53fc-42ec-bdf8-213760903270-609\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8986469b-30c0-400c-869c-83f968452de3"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 93,
      },
      {
        "_id": "07f3ec080565ace7213febeea762f220",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8986469b-30c0-400c-869c-83f968452de3"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_fields",
              "value": ""
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/alpha_user?_queryFilter=true&_pageSize=1000&_fields="
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 4946,
            "text": "{\"result\":[{\"_id\":\"146c2230-9448-4442-b86d-eb4a81a0121d\",\"_rev\":\"bed3f2cd-8083-4739-b13f-18dea14b672a-1505\",\"country\":null,\"frUnindexedString1\":null,\"mail\":\"vscheuber@gmail.com\",\"memberOfOrgIDs\":[],\"frIndexedDate5\":null,\"frUnindexedString2\":null,\"frIndexedDate4\":null,\"frUnindexedString3\":null,\"frIndexedDate3\":null,\"frUnindexedString4\":null,\"postalCode\":null,\"frUnindexedString5\":null,\"profileImage\":null,\"frIndexedString5\":null,\"frIndexedString4\":null,\"frIndexedString3\":null,\"frIndexedString2\":null,\"frIndexedString1\":null,\"frIndexedMultivalued3\":[],\"frUnindexedInteger5\":null,\"consentedMappings\":[],\"frIndexedMultivalued4\":[],\"frUnindexedInteger4\":null,\"frIndexedMultivalued5\":[],\"frUnindexedInteger3\":null,\"frUnindexedInteger2\":null,\"effectiveGroups\":[],\"frIndexedMultivalued1\":[],\"frIndexedMultivalued2\":[],\"frUnindexedInteger1\":null,\"givenName\":\"Scheuber\",\"stateProvince\":null,\"postalAddress\":null,\"telephoneNumber\":null,\"city\":null,\"displayName\":null,\"effectiveAssignments\":[],\"description\":null,\"effectiveApplications\":[],\"accountStatus\":\"active\",\"frUnindexedDate3\":null,\"frUnindexedMultivalued1\":[],\"frUnindexedDate2\":null,\"frUnindexedDate5\":null,\"frUnindexedMultivalued3\":[],\"frUnindexedDate4\":null,\"frUnindexedMultivalued2\":[],\"aliasList\":[],\"frUnindexedMultivalued5\":[],\"frUnindexedMultivalued4\":[],\"kbaInfo\":[],\"frIndexedInteger4\":null,\"frIndexedInteger3\":null,\"frIndexedInteger2\":null,\"frIndexedInteger1\":null,\"sn\":\"Volker\",\"frUnindexedDate1\":null,\"frIndexedInteger5\":null,\"preferences\":null,\"userName\":\"vscheuber@gmail.com\",\"frIndexedDate2\":null,\"frIndexedDate1\":null,\"effectiveRoles\":[]},{\"_id\":\"58612ba5-a53d-4b3e-9715-1740d397e56e\",\"_rev\":\"6b823b2a-0de4-4ecc-8267-7299c0e1ae08-3617\",\"country\":null,\"frUnindexedString1\":null,\"mail\":\"jtkirk@ufp.org\",\"memberOfOrgIDs\":[],\"frIndexedDate5\":null,\"frUnindexedString2\":null,\"frIndexedDate4\":null,\"frUnindexedString3\":null,\"frIndexedDate3\":null,\"frUnindexedString4\":null,\"postalCode\":null,\"frUnindexedString5\":null,\"profileImage\":null,\"frIndexedString5\":null,\"frIndexedString4\":null,\"frIndexedString3[...]
