{
  "log": {
    "_recordingName": "esv/secret-import/0_Fi_f_D_include-active-values/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b347f3163c26e50f02a2c38a0f934f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 244,
            "text": "{\"_id\":\"esv-test-secret\",\"activeVersion\":\"21\",\"description\":\"Test Secret\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-09-16T14:57:33.916911Z\",\"lastChangedBy\":\"Frodo-SA-1783448612033\",\"loaded\":true,\"loadedVersion\":\"21\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 371,
      },
      {
        "_id": "0b347f3163c26e50f02a2c38a0f934f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "G[...]
