{
  "log": {
    "_recordingName": "authz/type-list/0/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ac31ccceb288fe104fb927288dc7c001",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dad037ce-0b67-4172-8d88-5a10d6d0f320"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..ItwrlmEjf4UfenKa1a5eAw.-MuITofoUhuN9c5JVAnbdv52bvNc-PPgygSn9nG5s2rAV4-AmMbMsdQOgGegYXkt8XCJDSfRNzjDLpHUZDXkzJnKDsNFY7d_efMHeQ87Et5lyX61O--Jil6YcIl15BmIP_9gs0MXbnvoiQ0oAONT6nDOuGEBhSjRPxITZTWk_UF-nBToqSgpJ6YClMqParH6pP_oQcbVebDJWTaq-XQQhuB9Zfi23-54wd0EilYYjZr_3kg08iLfOdI79L2ttzUZDnlNP-pVkOpuMWIkDzVi2aOmvXOSAJuWMGcLpAVNtV9gdyg40xo4kzXOcoNPArT7qQaiP7llQTcYxoc1Jm7irUW1Msp86pDux11NLmGJxsHA0a49YvK-pAIpD7GbJAWz5ruWIviETqXgpYtKQb15m0OP-5UHsbBnuubgCEeSI0SNknkhps7X-tQlOZuQfbwQaB5miKaBMK2jtsZMmYJtkvn4KY0cUIgDapbukyX9B2QTPbEbqWo6PzOAF0P_-lEtOxihsDe3OHNGHQ-95Mx7gT-XG5oNf3qpMTgXY54yoXwOB6klaUol2-YeNmZvn3xxKpCUlLaf7zRWJlM2nkixv--xLaE5FOfbBtf49f3Ixx4FbFRIBoi2YcZ0WLqBS63gfXwo26txe-zLLHE3_7OZmqa8XnxJyx8yKR5Gn3gw5gkcnv7nk019BVxnZtZ0gMLYiRYFbv_UOD0b5-51Rwv7b6mL3AlpNb9tWFTThPFVDdj-O5Wnr9tQySPj_jOEIPc-eLXCbFxlYwlPwlJTwooxLmas_HJqsr398UvxYS8kBgyfQp_0nKLyB01yzKpL2sYtZe5PX-DqJ52IgjAC-1sCA2olUyeWwoXJH5lXqVtgWlCLunor7GOQ6V_Mk6ypHEeC9n7Z_9vrggLnC1lKHss4WAxD2P2aaKGnWK3hiJS6-vErhDGBbw8sK5Zt-7JotjEl2jJGGUCSVy-PXuIPojrVxGkHBGOAL9-Ua-M9B3O4_pX5wRAzr7ArVgU9-TnNJrGJAdqC355HMUNJ6D7y9geFsRRt6IgIW4O913QCQMf-SFs.fr6Ojo04uD6lVD4skn4VRA"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/b672336b-41ef-428d-ae4a-e0c082875377?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1045,
            "text": "{\"_id\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"_rev\":\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\",\"accountStatus\":\"active\",\"name\":\"frodo-test\",\"description\":\"Frodo Test\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"8lN2UVDDHchL_gIYS5lAiEVAVocyqWHmqBPwPkd22NRMLetczaVSH2UQHoQu7SSKeAtojVJUYuxRtGPfGNExZurTy3CRlzpaNa67B6jyunycPHnyNked0ceFGfjD9c6e0b97L5wqwk2YNVVMGa9c1m8R9HWk2kg9lRwlZE_piwTM9bw8tuWfL1A2-fTDQB2PZSgGGz86jG1RGMY7dnafVKIX3HbW98xOxOwqIRz607IQr-NFia5zjTltpJjR1qOlEFmdHqGTGCnFcHxeJWmKOWcDM4WmfWcgK3zR9Br-aZoDTl8RMAths30Pc1pe_dl5OepxCYQ7b0BXg0zQaYcx5G5ZcNR3ldjDNfpiXg1viWjEBiwiCg7gkYksBu0aFHX2pc4KKHKcyIeD0sbhaLSK3JXhI1TJvm7rwyX1wsRKmMTGTZMxYJlADZufKKd-Jg7k2_iwP3WUJxdgkJsgvLj7ZbTf5Paz7_FLeSajjtGPu6hGSWV8uOGgRgcnJgz3DP2S9qfHI7nKswtgwFdjbOMK39iNjU8PI-cOaaVKQcH88xBCu1bpCX1MIVvZ5arQF783qasj9bBB4t27gKXOauIr-sXMUI6_L7CQ7IqWld8VvNWKReMMqiRQV9huEEV1chCFzZI_aEW82fDC9dRbFXG-w92PhPPVbNznWsrhO1aPxA8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dad037ce-0b67-4172-8d88-5a10d6d0f320"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 87,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
