{
  "log": {
    "_recordingName": "config-manager/pull/all/0_C_D_m/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "45a23ebcf5ad757a3d15c32c3b3e5ef7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://nightly.gcp.forgeops.com/environment/cookie-domains"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 19,
            "text": "404 page not found\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 72,
      },
      {
        "_id": "a24d647eb74a9e69a6b0bd9ed23dc6ce",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GE[...]
