{
  "log": {
    "_recordingName": "conn/save/3/feature",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6cc80c890e3d80821559eeec43b0f977",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2529a48c-6a2e-4d3f-a226-f311a8b1c2df"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/feature?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 88,
            "text": "{\"result\":[{\"_id\":\"service-accounts\",\"installedVersion\":\"1\",\"availableVersions\":[\"1\"]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"58-FdBLAyLmKuW5sUJb0LrEZjXB2Og\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2529a48c-6a2e-4d3f-a226-f311a8b1c2df"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 45,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
