{
  "log": {
    "_recordingName": "esv/variable-create/0_variable-id_value_variable-type_description/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d3eaf6eb341423cab095425ae50ce617",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"My4xNDE1OTI2\",\"description\":\"This is another test variable.\",\"expressionType\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var-pi-string"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 249,
            "text": "{\"_id\":\"esv-test-var-pi-string\",\"description\":\"This is another test variable.\",\"expressionType\":\"string\",\"lastChangeDate\":\"2023-11-28T14:34:19.223Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"My4xNDE1OTI2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
