{
  "log": {
    "_recordingName": "esv/variable-create/0_variable-id_value_variable-type_description/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9826be4ffe4ebbd2e00015087b290f1e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var-pi-string"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 53,
            "text": "{\"code\":404,\"message\":\"The variable does not exist\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 180,
      },
      {
        "_id": "d3eaf6eb341423cab095425ae50ce617",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"My4xNDE1OTI2\",\"description\":\"This is another test variable.\",\"expressionType\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var-pi-string"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 241,
            "text": "{\"_id\":\"esv-test-var-pi-string\",\"description\":\"This is another test variable.\",\"expressionType\":\"string\",\"lastChangeDate\":\"2026-09-28T14:15:40.055257916Z\",\"lastChangedBy\":\"Frodo-SA-1782747461119\",\"loaded\":false,\"valueBase64\":\"My4xNDE1OTI2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1249,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
