{
  "log": {
    "_recordingName": "service/import/0_clean_global_all_file/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4f80c5b7-bd9f-4b64-92ba-3a60eeed0607"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1874515102\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4f80c5b7-bd9f-4b64-92ba-3a60eeed0607"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 109,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4f80c5b7-bd9f-4b64-92ba-3a60eeed0607"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 281,
            "text": "{\"_id\":\"version\",\"_rev\":\"-347675290\",\"version\":\"7.5.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.5.0-SNAPSHOT Build c27d160f2238f1869b36b4e3a66ff9baa06e89f7 (2023-November-16 17:31)\",\"revision\":\"c27d160f2238f1869b36b4e3a66ff9baa06e89f7\",\"date\":\"2023-November-16 17:31\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-347675290\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4f80c5b7-bd9f-4b64-92ba-3a60eeed0607"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 91,
      },
      {
        "_id": "4a5f0ad1af4c257b82b6f8a6dd2a093e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4f80c5b7-bd9f-4b64-92ba-3a60eeed0607"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"withCredentials\":true}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/services/CorsService?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 13,
            "text": "{\"result\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4f80c5b7-bd9f-4b64-92ba-3a60eeed0607"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 170,
      },
      {
        "_id": "d68eec36e88a3fce86cc1f483aea951b",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4f80c5b7-bd9f-4b64-92ba-3a60eeed0607"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/services/CorsService"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 88,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"The singleton resource cannot be deleted\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4f80c5b7-bd9f-4b64-92ba-3a60eeed0607"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 69,
      },
      {
        "_id": "4199bc9c39c09ac5996c4f4a98c35fcb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4f80c5b7-bd9f-4b64-92ba-3a60eeed0607"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"\",\"_type\":{\"_id\":\"CorsService\",\"collection\":false,\"name\":\"CORS Service\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/services/CorsService"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 115,
            "text": "{\"_id\":\"\",\"_rev\":\"515901845\",\"enabled\":true,\"_type\":{\"_id\":\"CorsService\",\"name\":\"CORS Service\",\"collection\":false}}"
          },
        [...]
