{
  "log": {
    "_recordingName": "email/template-import/0_raw_i_f/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ac31ccceb288fe104fb927288dc7c001",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a452a10a-318b-4b48-a26c-8c868a9ac9fa"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..iyO5nfrRrCGmVhOXMGNiHA.yqBoUaUepFlHYV4zyCP-HDXIS9CFnQW3PsZzNm8DQ_hALEZauf24HczoS7j26i_KzXyLKW1GgGp1GVCLI9gFfrL8V6jclZ_FEYxsgp7o5lBkXg9YqSfi1NR-tSW2Wgn0Qk9inByUynbOJ6KhyeY3VcttCxrn0sWhur48Pc9Rxz47fRGnIigTXuaiuN8w5LIn7Px60_kqEIS5FW02bk9hNnN4eF1rJ5-ltNEw_sv-Cs_0zCepiEbDUwQ7LlM0ToXY-NUpVoCoYPdYxqRveCMx3RbVhQb7tKU7njFV_BBUg-QJM-N4ES7zKVpm0y65dIHODk9VpK-MmRQCEmP4NRaVRfBSBLvCutbodEtrx70K0MIDyj3iJjfWvFG2NBSYRRiMIHHZc1Joi97fSoOh3zWZx9X9r4BU6UHzyFQ858hF9FQCsCqYbQHiLbEaaQmycvLDZo0zJbBU27nCq3U-6osxwebeUOkplZwXKNWZWmBwJ0tmjlNrMd3htZnUIGVk-izvZFLqmXSWS0ml9Vjnvp_Jno2eDVf7uhhygV5uX05Ll_gt3_n525S6S0pU0c7uM9lXaKjyVKoMVgzq1tt8hR1VGmICupPxdRNsWuv_mn2ukLXIUbgVMLL90GRf_hvl7JzOgC4jSXNq64hCCPArk_phPVW3vbleJP47DJNC1OwJWa2pCVZcRSu-DP3PcPS_7vKrgywD4I8mYx0crCpg6DNUC_JZ46Csj2IEeUVKS9tFcKyTWXElwrEr8JW_nO9oBsNFiDMD8pezw3CXnaOYA6z03_CwiBDxo-uSx-s2_wKfi1v_NmPLGYtLX56XSQWOwleCQLp5vZ_kWA5F7XLVQtlMpkbotcOqgX8eXAo3JO5e1WOKNz5bQkBmxydOAfqfQaRsO2_7vrhPvacIiGoo8BZCt_R_x4mYUzEWo2qyLhHazs3X1aiKRsN8XjU-QdNehz5fSvG7nrcHQoiDRNcRTMjAM1-CKuc9qCxKPlJxzBPe_hETxMv5jbhnxQuXTMwxMo3u6547eDE52QS0SMY8OTBJpFeySFZf-NTvn3-hJMfngqk.jXFmJyXczmao1RiucYopQw"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/b672336b-41ef-428d-ae4a-e0c082875377?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1045,
            "text": "{\"_id\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"_rev\":\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\",\"accountStatus\":\"active\",\"name\":\"frodo-test\",\"description\":\"Frodo Test\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"8lN2UVDDHchL_gIYS5lAiEVAVocyqWHmqBPwPkd22NRMLetczaVSH2UQHoQu7SSKeAtojVJUYuxRtGPfGNExZurTy3CRlzpaNa67B6jyunycPHnyNked0ceFGfjD9c6e0b97L5wqwk2YNVVMGa9c1m8R9HWk2kg9lRwlZE_piwTM9bw8tuWfL1A2-fTDQB2PZSgGGz86jG1RGMY7dnafVKIX3HbW98xOxOwqIRz607IQr-NFia5zjTltpJjR1qOlEFmdHqGTGCnFcHxeJWmKOWcDM4WmfWcgK3zR9Br-aZoDTl8RMAths30Pc1pe_dl5OepxCYQ7b0BXg0zQaYcx5G5ZcNR3ldjDNfpiXg1viWjEBiwiCg7gkYksBu0aFHX2pc4KKHKcyIeD0sbhaLSK3JXhI1TJvm7rwyX1wsRKmMTGTZMxYJlADZufKKd-Jg7k2_iwP3WUJxdgkJsgvLj7ZbTf5Paz7_FLeSajjtGPu6hGSWV8uOGgRgcnJgz3DP2S9qfHI7nKswtgwFdjbOMK39iNjU8PI-cOaaVKQcH88xBCu1bpCX1MIVvZ5arQF783qasj9bBB4t27gKXOauIr-sXMUI6_L7CQ7IqWld8VvNWKReMMqiRQV9huEEV1chCFzZI_aEW82fDC9dRbFXG-w92PhPPVbNznWsrhO1aPxA8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a452a10a-318b-4b48-a26c-8c868a9ac9fa"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 97,
      },
      {
        "_id": "9e82307396381674ae59ff13f3d2d4c2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a452a10a-318b-4b48-a26c-8c868a9ac9fa"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMj[...]
