{
  "log": {
    "_recordingName": "esv/secret-export/0_i_f_include-active-values/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b9c3121cf238fa0d9e549b35af3040d5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-95614d1c-eed8-42a8-a520-ebd0879838d7"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/ba58ff99-76d3-4c69-9c4a-7f150ac70e2c?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1173,
            "text": "{\"_id\":\"ba58ff99-76d3-4c69-9c4a-7f150ac70e2c\",\"_rev\":\"0517f93c-53fc-42ec-bdf8-213760903270-609\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1701393386423\",\"description\":\"volker.scheuber@forgerock.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"7Dev4iJfutv2O3ysbHo-rZphSi3C2ldAK4NCOM5soWA\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"1LOnr1r01m9qMwrmXRt2FGuN__HL1JmJl5CDZA1Oqrc208cGKZk1gsvFNaYSU-bkDZuj6sgpmf-B5sc4xLGnqyOKeSw3z8GJbGQ5JyychNBsClpUu9981KlEBe_7cDvAhRtRT60Bni15Ff6KKcNdTD20W66XwKLefxPTpsnt7dsBlKXuhIq1pIPbXKFJJoct7tlufNqY_ypwrCbEhNsiVQ9A8Ozr8BUmPGfnaomlqUzMrO8jUV9TWw20WdXfHfCKja7ZnboQJpfXAe_iofFiVvXHVT2UadQDY8A1dtSuIksl3sSLPWUgBwCpZpRmUck1Cbc2l2coBu7qEMK8WEA0POnGRwam7KAi4tWbrc2F9M8ZyuUf8QLvBBjCJQBQwltfjGBmMinEDBWHfyAwYKKBCfQRdFwgmL2D8d_ItZf4PP0AVSgzHLLmis7FtvkiLDI4q7vSoK4lPrKh_i700z5oQY1mXZOQNmFJRx8HkuVxnUDEIAlO4__t-1JdXMYjLEuIXIZZAGAcDF_zes641h4mjV5tyg61e9JRIcGErsqXDNpfUWfbgd4EN0oBZFTI0vL2q87Oyzj8QetqlpPPvOcQniQEbUtBeATheQfUbZkOxFkg7E3LVJxhxKDeagsWOHqjhpDMKAbZ3Bej0zH8F4LJHV2SPAxJd5WkunZmRwoQKsM\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"0517f93c-53fc-42ec-bdf8-213760903270-609\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-95614d1c-eed8-42a8-a520-ebd0879838d7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 82,
      },
      {
        "_id": "833aa55690e9cdea2ab1dbcce2fd33b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-95614d1c-eed8-42a8-a520-ebd0879838d7"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"text/javascript\",\"globals\":{\"name\":\"esv.test.secret\",\"decrypt\":false,\"target\":null},\"source\":\"var value = identityServer.getProperty(name);\\nif (!decrypt && !target) {\\n  value = openidm.encrypt(value, null, \\\"idm.password.encryption\\\");\\n}\\nvalue\\n\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "eval"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/script?_action=eval"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 319,
            "text": "{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"stableId\":\"openidm-sym-default\",\"salt\":\"Kd0vdY+bHYmpWba4F8JSyw==\",\"data\":\"nJWt/BOjaLYMUyE/QWJ0+uFLp1AJp9Fha2aL/RSEics=\",\"keySize\":16,\"purpose\":\"idm.password.encryption\",\"iv\":\"eaIu7E6sexKrHlOjE5dmHA==\",\"mac\":\"GgtGeKQrwa2lbQZbjcu+pA==\"}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-95614d1c-eed8-42a8-a520-ebd0879838d7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 49,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
