{
  "log": {
    "_recordingName": "mapping/import/0_AD_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "de3566e649dc89e93a6365b0fdaecd4e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e505f7aa-1dda-47d9-be5f-466da8ceb10c"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 9,
      },
      {
        "_id": "3f3b03432a833cfcbe27438276bb566b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e505f7aa-1dda-47d9-be5f-466da8ceb10c"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openam-password",
              "value": "openidm-admin"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 2,
      },
      {
        "_id": "ad10fd5c8559a80db519b124a32c6f61",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e505f7aa-1dda-47d9-be5f-466da8ceb10c"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"mapping/mappingtest\",\"consentRequired\":false,\"displayName\":\"mappingtest\",\"icon\":null,\"name\":\"mappingtest\",\"policies\":[{\"action\":{\"globals\":{},\"source\":\"//asdfasdf\\n\",\"type\":\"text/javascript\"},\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_MISSING\"},{\"action\":{\"globals\":{},\"source\":\"//asdfasdfasdf\\n\",\"type\":\"groovy\"},\"situation\":\"MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"ASYNC\",\"situation\":\"UNQUALIFIED\"},{\"action\":\"ASYNC\",\"situation\":\"UNASSIGNED\"},{\"action\":\"ASYNC\",\"situation\":\"LINK_ONLY\"},{\"action\":\"ASYNC\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"}],\"properties\":[],\"source\":\"managed/assignment\",\"target\":\"managed/organization\"}"
          },
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config/mapping/mappingtest"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 890,
            "text": "{\"_id\":\"mapping/mappingtest\",\"consentRequired\":false,\"displayName\":\"mappingtest\",\"icon\":null,\"name\":\"mappingtest\",\"policies\":[{\"action\":{\"globals\":{},\"s[...]
