{
  "log": {
    "_recordingName": "email/template-export/0_a/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-848baf00-e2a7-4c7b-85e8-3e6618ed90e7"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/912dcd07-421b-4ba9-b019-edbfe66a89be?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1386,
            "text": "{\"_id\":\"912dcd07-421b-4ba9-b019-edbfe66a89be\",\"_rev\":\"4d8aa86e-f087-4c6d-acd0-5a50328c9e7c-7510\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1758728043147\",\"description\":\"volker.scheuber@pingidentity.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:autoaccess:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"OKHgZEZheTahPfK3TAGfjuHrO30jsfbT6cKbofNoA88\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"tdt1kpa-5s4R9W-Dzx3DLGSkk3uJwLCOKBCF34YbGuFna_20wkQ_YxImxYaesDKsPhg4uUdvYmr14PfA2eU-lRaGVQteRnMmV3A4W_w909yrssQ1zam0l_rT1_DOXug0OZhXCEU03nyoZrT04ChmbUUpUPGH5874PEBSP1yMGqqErfetoR-DR4JiWQ9KaOkPxh375mfIrRwCXVfTzA_9dsPjz9XBLT1t4TsKcrzhx_l9xYVpcIByAq2WhslsfgbKeuMEKG_Vrgs2I0d0K9-3f7YhrFYPW1fd9skKUvdOKmF3JZGO6_pROioRsW_XXI2AMpsxBiwIvorJHHplraTW9VBp7Yqu6hfs5acKkxC-kRph_2bB6NdyBNUCRmpBV8XKmZZAsiO8f7yhmG1BygS7Kz_9jEG052gawjupDjbjgcyo_A3zK0jP6YbxI8EUyXh9GukDS_xXTugEramsF421NyjaZcWtWmqpSv--jxt6mX6RP1eGduymYCjQ0Ua1e1KLHTu1pIOChW0L9pnJxqG9q-93AGmmIz2dSw-hdcQHn2lReSoaT0F14960SkK4Z8hMf8Cds2SDEFy6K1HIPW-XsbDOr_BubI0MDF7HgT-ePqh7UsKhIcdn1O6R7kVGmo4516TpNjo7lRcILFxMztHHr5zoq0T5y7XvysG9umKr4Ps\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"4d8aa86e-f087-4c6d-acd0-5a50328c9e7c-7510\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-848baf00-e2a7-4c7b-85e8-3e6618ed90e7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 197,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-848baf00-e2a7-4c7b-85e8-3e6618ed90e7"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
