{
  "log": {
    "_recordingName": "esv/secret-set/0_i_description/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e87cbe1959c9a9fc2d2a88acaf38ee80",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"Test secret containing value of pi\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "setDescription"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi-generic?_action=setDescription"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 300,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
