{
  "log": {
    "_recordingName": "config-manager/export/service-objects/0_f_D/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8becd950-22c5-4357-b68d-44043a5383a4"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/22e714dc-a1b0-4f61-819c-148df8ed5fe6?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1437,
            "text": "{\"_id\":\"22e714dc-a1b0-4f61-819c-148df8ed5fe6\",\"_rev\":\"a7781fd3-a121-40b3-97c6-2e657ac720d2-34841\",\"accountStatus\":\"active\",\"name\":\"devin_svc\",\"description\":null,\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:autoaccess:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:certificate:read\",\"fr:idc:content-security-policy:*\",\"fr:idc:content-security-policy:read\",\"fr:idc:cookie-domain:*\",\"fr:idc:cookie-domain:read\",\"fr:idc:custom-domain:*\",\"fr:idc:custom-domain:read\",\"fr:idc:esv:*\",\"fr:idc:promotion:*\",\"fr:idc:promotion:read\",\"fr:idc:release:*\",\"fr:idc:release:read\",\"fr:idc:sso-cookie:*\",\"fr:idc:sso-cookie:read\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"mbFgXRafUw0vumgdyXkNSLt7eO-iShWEnJaZQftnHAEyFv0-13aUd5bNd4ccMKjxfCCj2pzfruKsvcsY1MSDuQgvhgap5jo-gfmebWmGBFiwOL1_wQkrR8sL_JaGnBIbidoHJ-3wVv4nSEJ96wmOYdGo4OkY6hoICnT653cpw4Zw66DSUb6RWzxcxLFBtvhn2Y2_Q1nuU6nowPG1rcCJ_JcoW3zW_OG4Yt5WcIPzLUwfMbXw1grRPZg4Qqxpbo7vIrlExB6iQ-LdARG8_0rPpH_SUcAizR_c0Vp3SMhLg5pi_gVR9dU42WBGpJT6u3uO9kuOC6noJThg5F7M1drlhgasFtGioi2iCsTBitJPjXAEW-Do34Y2KB0bGJ1bLZNkyRJY3VLfYH8dO7FwIPpVCpHSOG7ml6YmYDIFymvCuB8e5rQS_xUb1PEK2YK1TC0ne_uvyb1lZ2RrGfzGZigtC4MJ_Rd4v-r4Z8BbCbykS-zqbEoCjsRUtcVmwBJGiln_Y9MpT42j6EaNxb5hJDAAGx98u57gQ4TcqyAeNOCPNt2QOddtsmcaQlkN9DKYKlLcMp9OQ6SqaFtY-LKoyq7fIYf8v_2uXZFjqmqokKxWFMfLIHj33B4bdRgRWitpeS2x1xZX_FylumYChE2daiRxRvA-kVcMYWMwAkSZcbU9Ovs\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"a7781fd3-a121-40b3-97c6-2e657ac720d2-34841\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8becd950-22c5-4357-b68d-44043a5383a4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 78,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8becd950-22c5-4357-b68d-44043a5383a4"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],[...]
