{
  "log": {
    "_recordingName": "esv/variable-set/0_Fi_value/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "63f1bbe6aa63d7b5d0fe395f65ccb5bd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"My4xNA==\",\"expressionType\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var-pi-string"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 237,
            "text": "{\"_id\":\"esv-test-var-pi-string\",\"description\":\"This is another test variable.\",\"expressionType\":\"string\",\"lastChangeDate\":\"2026-09-28T14:20:53.364067186Z\",\"lastChangedBy\":\"Frodo-SA-1782747461119\",\"loaded\":false,\"valueBase64\":\"My4xNA==\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1187,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
