{
  "log": {
    "_recordingName": "config-manager/push/variables/0_force-update_n_env_D/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3daf558b49299e3222a8d2ba4621a44f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"MjA=\",\"description\":\"\",\"expressionType\":\"int\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-fr-var-test-2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 195,
            "text": "{\"_id\":\"esv-fr-var-test-2\",\"description\":\"\",\"expressionType\":\"int\",\"lastChangeDate\":\"2026-09-28T15:05:39.046821142Z\",\"lastChangedBy\":\"Frodo-SA-1782747461119\",\"loaded\":false,\"valueBase64\":\"MjA=\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1212,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
