{
  "log": {
    "_recordingName": "app/import/rootPrefix/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6d4c3993b26c276a36c66267e3bcdc7c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a350124b-d263-41f7-b5f4-b6c156a8ad5b"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"a025007c-dd49-4542-a87f-c1e09bbbdc35\",\"description\":\"Root bookmark app\",\"name\":\"root-bookmark\",\"ssoEntities\":{},\"templateName\":\"bookmark\",\"templateVersion\":\"1.0\",\"url\":\"https://google.com\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/managed/application/a025007c-dd49-4542-a87f-c1e09bbbdc35"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 248,
            "text": "{\"_id\":\"a025007c-dd49-4542-a87f-c1e09bbbdc35\",\"_rev\":\"1239818a-e1c8-4003-b4c4-e7a3f2fbdfc4-1699\",\"description\":\"Root bookmark app\",\"url\":\"https://google.com\",\"templateName\":\"bookmark\",\"templateVersion\":\"1.0\",\"ssoEntities\":{},\"name\":\"root-bookmark\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"1239818a-e1c8-4003-b4c4-e7a3f2fbdfc4-1699\""
            },
            {
              "name": "x-not-modified",
              "value": "true"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 77,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
