{
  "log": {
    "_recordingName": "esv/variable-import/0_Ff/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4877630e7f090e5a8db3e015cc891bf5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"ZmFsc2U=\",\"description\":\"Zion membership criteria.\",\"expressionType\":\"bool\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-blue-piller"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 219,
            "text": "{\"_id\":\"esv-blue-piller\",\"description\":\"Zion membership criteria.\",\"expressionType\":\"bool\",\"lastChangeDate\":\"2026-07-07T13:42:37.661166Z\",\"lastChangedBy\":\"Frodo-SA-1782747461119\",\"loaded\":true,\"valueBase64\":\"ZmFsc2U=\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 893,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
