{
  "log": {
    "_recordingName": "dcc/session-apply/0/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-545a71d9-3f9a-4e7e-a422-da162925bf8c"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-mtc-feb16-stg.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 585,
            "text": "{\"_id\":\"*\",\"_rev\":\"-760675637\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"ed4707f3f9c47ab\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"cloudOnlyFeaturesEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"-760675637\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-545a71d9-3f9a-4e7e-a422-da162925bf8c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 234,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-545a71d9-3f9a-4e7e-a422-da162925bf8c"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-mtc-feb16-stg.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 275,
            "text": "{\"_id\":\"version\",\"_rev\":\"-741883842\",\"version\":\"8.1.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 8.1.0-SNAPSHOT Build 24228b30a5b7f355d6e9e47fa60fd5755dbdf709 (2026-March-06 11:55)\",\"revision\":\"24228b30a5b7f355d6e9e47fa60fd5755dbdf709\",\"date\":\"2026-March-06 11:55\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-741883842\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-545a71d9-3f9a-4e7e-a422-da162925bf8c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 225,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
