{
  "log": {
    "_recordingName": "config-manager/push/kba/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8a162d31062c8bcd3b93a88ac072d2d9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ceb34b0e-2c5d-42d8-82ca-30f21d5ae638"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"selfservice.kba\",\"kbaPropertyName\":\"kbaInfo\",\"minimumAnswersToDefine\":2,\"minimumAnswersToVerify\":1,\"questions\":{\"1\":{\"en\":\"What's your favorite color?\",\"en_GB\":\"What is your favourite colour?\",\"fr\":\"Quelle est votre couleur préférée?\"},\"2\":{\"en\":\"Who was your first employer?\"},\"3\":{\"en\":\"who are you\"}}}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/selfservice.kba"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 315,
            "text": "{\"_id\":\"selfservice.kba\",\"kbaPropertyName\":\"kbaInfo\",\"minimumAnswersToDefine\":2,\"minimumAnswersToVerify\":1,\"questions\":{\"1\":{\"en\":\"What's your favorite color?\",\"en_GB\":\"What is your favourite colour?\",\"fr\":\"Quelle est votre couleur préférée?\"},\"2\":{\"en\":\"Who was your first employer?\"},\"3\":{\"en\":\"who are you\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 37,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
