{
  "log": {
    "_recordingName": "config/export/after/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7d006413-4b1d-42ad-98b7-ce974a802359"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/bc01b841-b6ec-4691-b9d6-561b306e12db?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1407,
            "text": "{\"_id\":\"bc01b841-b6ec-4691-b9d6-561b306e12db\",\"_rev\":\"ff88cb35-6f4e-45f2-8069-84fb0c1d4f54-3890\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1730238488278\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:autoaccess:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:iga:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\",\"fr:idc:proxy-connect:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"PjGCKt42J-GhM2UNfI9eSLvdTire5RQATSbHbdsFuM4\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"v7vTi4rbP0xaJGjdJAWUTYL0gAb3K0WIvssgP7YbaE4VV4Z9TM4FvF4hISiA9rSCouK3VmfQsrAivVMYIDw4I-4MdSLFhVCx0GJQr0Zhw8TY_IyVJXWZq89ZihmZHaEPWjSVQINSd5Q-ZnxRdsKCSk_YG3gbbE-8CcvL3bMfgMSwUxvdq-5svRb5dmW2vRc3o3Z-qmp7VSatQqMnAYtag1BhIVYx0VZVb3bcvlsO2pcoXajkZMF3Lh6pIqwx-XfvjMT8eUsYOizPtZcb44EWGKMqyvmn8n3exVJQb4R5gKa28JI7sGojLHr5Ze6B2D6Nq5b5i1SIhopNmp8_qgGBFtVpCXNlXn4LdHGijVQHq7jDu0TVadVGFrfLSvH6b4QfF7i-5bnBQ4KPeZPGzqwg5ifta5OEcEq8d1Ri6x066T03yqLqCWLQFeWoNIP7CG-FToQa_sFjlsg_DWZfZg19l10rqg5oqmtzZz_vJvKmDpAj7Eg2lEmP4JDjttXGIh352I43_dcTKlZ_UuUjMczqm4rV2o-abF2L4_mPHdMfMTykRgihgpzX2JAyPhBAo8XbkVXr8T69PVi-wE0Y2RXQf_Jdimg3RIGHZEqQuphdZWb87xM1KaDy2CRKBp3qdKcry5-CCoJftm5Eo7zJUbVkBhpWmd-6ETuqlkrkzteccOs\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"ff88cb35-6f4e-45f2-8069-84fb0c1d4f54-3890\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7d006413-4b1d-42ad-98b7-ce974a802359"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 103,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7d006413-4b1d-42ad-98b7-ce974a802359"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
