{
  "log": {
    "_recordingName": "config/export/0_AsxD/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a24d647eb74a9e69a6b0bd9ed23dc6ce",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 139,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[],\"resultCount\":0,\"totalPagedResults\":-1,\"totalPagedResultsPolicy\":\"NONE\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "49796e20-449a-4887-a394-6d0f5eafa667"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 147,
      },
      {
        "_id": "3e8d5f28d2136edf1b00c2f955eaa5fa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 139,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[],\"resultCount\":0,\"totalPagedResults\":-1,\"totalPagedResultsPolicy\":\"NONE\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "f4b39c11-269d-4c61-87d5-37cdacb5949b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 127,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
