{
  "log": {
    "_recordingName": "agent/ai-import-volker-dev/0_i_f/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 613,
            "text": "{\"_id\":\"*\",\"_rev\":\"906423010\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"4ad7d57003aee4f\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"cloudOnlyFeaturesEnabled\":true,\"oauth2AIAgentsEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 139,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 274,
            "text": "{\"_id\":\"version\",\"_rev\":\"-1986495916\",\"version\":\"9.0.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 9.0.0-SNAPSHOT Build c6c99b2f35d4d905937aeef7e7b8426bf5d8e820 (2026-June-12 09:10)\",\"revision\":\"c6c99b2f35d4d905937aeef7e7b8426bf5d8e820\",\"date\":\"2026-June-12 09:10\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 99,
      },
      {
        "_id": "9c9cd38b2bd7aba57c307ad8eb9c3578",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"testAgent\",\"_type\":{\"_id\":\"AIAgent\",\"collection\":true,\"name\":\"AI Agents\"},\"advancedOAuth2ClientConfig\":{\"acceptedJwtIssuers\":[],\"allowedResourceServerAudienceValues\":[],\"clientUri\":[],\"contacts\":[],\"customProperties\":[],\"descriptions\":[],\"grantTypes\":[\"authorization_code\"],\"introspectionPolicySets\":[],\"isConsentImplied\":false,\"javascriptOrigins\":[],\"logoUri\":[],\"mixUpMitigation\":false,\"name\":[],\"policyUri\":[],\"refreshTokenGracePeriod\":0,\"requestUris\":[],\"require_pushed_authorization_requests\":false,\"responseTypes\":[\"code\",\"token\",\"id_token\",\"code token\",\"token id_token\",\"code id_token\",\"code token id_token\",\"device_code\",\"device_code id_token\"],\"sectorIdentifierUri\":null,\"softwareIdentity\":null,\"softwareVersion\":null,\"subjectType\":\"public\",\"tokenEndpointAuthMethod\":\"client_secret_basic\",\"tokenExchangeAuthLevel\":0,\"tosURI\":[],\"treeName\":\"[Empty]\",\"updateAccessToken\":null},\"aiAgentIdentityAttributes\":{\"_id\":\"ee0b2b6f-f01c-473b-8a13-85a05d4af457\",\"customAttributes\":{\"custom1\":\"value1\",\"custom2\":\"value2\"},\"description\":null,\"name\":\"testAgent\",\"oauth2ClientId\":\"testAgent\"},\"aiAgentIdentityUid\":\"ee0b2b6f-f01c-473b-8a13-85a05d4af457\",\"coreOAuth2ClientConfig\":{\"accessTokenLifetime\":0,\"authorizationCodeLifetime\":0,\"clientName\":[\"testAgent\"],\"clientType\":\"Confidential\",\"defaultScopes\":[],\"loopbackInterfaceRedirection\":false,\"redirectionUris\":[],\"refreshTokenLifetime\":0,\"scopes\":[],\"secretLabelIdentifier\":null,\"status\":\"Active\",\"userpassword\":null},\"coreOpenIDClientConfig\":{\"backchannel_logout_session_required\":false,\"backchannel_logout_uri\":null,\"claims\":[],\"clientSessionUri\":null,\"defaultAcrValues\":[],\"defaultMaxAge\":600,\"defaultMaxAgeEnabled\":false,\"jwtTokenLifetime\":0,\"postLogoutRedirectUri\":[]},\"coreUmaClientConfig\":{\"claimsRedirectionUris\":[]},\"overrideOAuth2ClientConfig\":{\"acceptAudienceParametersInTokenExchangeRequests\":false,\"accessTokenMayActScript\":\"[Empty]\",\"accessTokenModificationPluginType\":\"PROVIDER\",\"accessTokenModificationScript\":\"[Empty]\",\"authorizeEndpointDataProviderClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultEndpointDataProvider\",\"authorizeEndpointDataProviderPluginType\":\"PROVIDER\",\"authorizeEndpointDataProviderScript\":\"[Empty]\",\"clientsCanSkipConsent\":false,\"enableApplicationContext\":false,\"enableRemoteConsent\":false,\"evaluateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeEvaluator\",\"evaluateScopePluginType\":\"PROVIDER\",\"evaluateScopeScript\":\"[Empty]\",\"issueRefreshToken\":true,\"issueRefreshTokenOnRefreshedToken\":true,\"oidcClaimsPluginType\":\"PROVIDER\",\"oidcClaimsScript\":\"[Empty]\",\"oidcMayActScript\":\"[Empty]\",\"overrideableOIDCClaims\":[],\"providerOverridesEnabled\":false,\"remoteConsentServiceId\":null,\"scopesPolicySet\":\"oauth2Scopes\",\"statelessTokensEnabled\":false,\"tokenEncryptionEnabled\":false,\"useForceAuthnForMaxAge\":false,\"usePolicyEngineForScope\":false,\"validateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeValidator\",\"validateScopePluginType\":\"PROVIDER\",\"validateScopeScript\":\"[Empty]\"},\"signEncOAuth2ClientConfig\":{\"authorizationResponseEncryptionAlgorithm\":null,\"authorizationResponseEncryptionMethod\":null,\"authorizationResponseSigningAlgorithm\":\"RS256\",\"clientJwtPublicKey\":null,\"idTokenEncryptionAlgorithm\":\"RSA-OAEP-256\",\"idTokenEncryptionEnabled\":false,\"idTokenEncryptionMethod\":\"A128CBC-HS256\",\"idTokenPublicEncryptionKey\":null,\"idTokenSignedResponseAlg\":\"RS256\",\"jwkSet\":null,\"jwkStoreCacheMissCacheTime\":60000,\"jwksCacheTimeout\":3600000,\"jwksUri\":null,\"mTLSCertificateBoundAccessTokens\":false,\"mTLSSubjectDN\":null,\"mTLSTrustedCert\":null,\"publicKeyLocation\":\"jwks_uri\",\"requestParameterEncryptedAlg\":null,\"requestParameterEncryptedEncryptionAlgorithm\":\"A128CBC-HS256\",\"requestParameterSignedAlg\":null,\"tokenEndpointAuthSigningAlgorithm\":\"RS256\",\"tokenIntrospectionEncryptedResponseAlg\":\"RSA-OAEP-256\",\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"tokenIntrospectionResponseFormat\":\"JSON\",\"tokenIntrospectionSignedResponseAlg\":\"RS256\",\"userinfoEncryptedResponseAlg\":null,\"userinfoEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"userinfoResponseFormat\":\"JSON\",\"userinfoSignedResponseAlg\":null}}"
          },
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/AIAgent/testAgent"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 6319,
            "text": "{\"_id\":\"testAgent\",\"_rev\":\"-227233986\",\"overrideOAuth2ClientConfig\":{\"issueRefreshToken\":true,\"validateScopePluginType\":\"PROVIDER\",\"tokenEncryptionEnabled\":false,\"enableApplicationContext\":false,\"acceptAudienceParametersInTokenExchangeRequests\":false,\"evaluateScopePluginType\":\"PROVIDER\",\"oidcMayActScript\":\"[Empty]\",\"oidcClaimsScript\":\"[Empty]\",\"scopesPolicySet\":\"oauth2Scopes\",\"tlsClientCertificateChainValidationEnabled\":false,\"accessTokenModificationPluginType\":\"PROVIDER\",\"authorizeEndpointDataProviderClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultEndpointDataProvider\",\"useForceAuthnForMaxAge\":false,\"oidcClaimsPluginType\":\"PROVIDER\",\"providerOverridesEnabled\":false,\"authorizeEndpointDataProviderScript\":\"[Empty]\",\"statelessTokensEnabled\":false,\"authorizeEndpointDataProviderPluginType\":\"PROVIDER\",\"useTokenIntrospectionClaimForJWT\":false,\"remoteConsentServiceId\":null,\"enableRemoteConsent\":false,\"validateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeValidator\",\"usePolicyEngineForScope\":false,\"evaluateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeEvaluator\",\"overrideableOIDCClaims\":[],\"accessTokenMayActScript\":\"[Empty]\",\"evaluateScopeScript\":\"[Empty]\",\"clientsCanSkipConsent\":false,\"accessTokenModificationScript\":\"[Empty]\",\"issueRefreshTokenOnRefreshedToken\":true,\"validateScopeScript\":\"[Empty]\"},\"advancedOAuth2ClientConfig\":{\"logoUri\":{\"inherited\":false,\"value\":[]},\"subjectType\":{\"inherited\":false,\"value\":\"public\"},\"clientUri\":{\"inherited\":false,\"value\":[]},\"tokenExchangeAuthLevel\":{\"inherited\":false,\"value\":0},\"responseTypes\":{\"inherited\":false,\"value\":[\"code\",\"token\",\"id_token\",\"code token\",\"token id_token\",\"code id_token\",\"code token id_token\",\"device_code\",\"device_code id_token\"]},\"mixUpMitigation\":{\"inherited\":false,\"value\":false},\"customProperties\":{\"inherited\":false,\"value\":[]},\"tlsCaSecretLabelIdentifier\":{\"inherited\":false},\"javascriptOrigins\":{\"inherited\":false,\"value\":[]},\"policyUri\":{\"inherited\":false,\"value\":[]},\"softwareVersion\":{\"inherited\":false},\"tosURI\":{\"inherited\":false,\"value\":[]},\"sectorIdentifierUri\":{\"inherited\":false},\"tokenEndpointAuthMethod\":{\"inherited\":false,\"value\":\"client_secret_basic\"},\"refreshTokenGracePeriod\":{\"inherited\":false,\"value\":0},\"isConsentImplied\":{\"inherited\":false,\"value\":false},\"softwareIdentity\":{\"inherited[...]
