{
  "log": {
    "_recordingName": "app/export/0_all_f/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "28b788a164509f9291d0055762972ae4",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-64a745ed-0f1c-45d8-8dc9-56804689c9df"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-volker-demo.forgeblocks.com/openidm/managed/svcacct/dc837f84-3643-4c5d-9c05-acb73c7d02f4?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1174,
            "text": "{\"_id\":\"dc837f84-3643-4c5d-9c05-acb73c7d02f4\",\"_rev\":\"f75d6945-1081-4e40-ac38-a36141369e72-1834\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1700696937262\",\"description\":\"volker.scheuber@forgerock.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"pIA_JyWzCR6VGELlXc-Mx0G0_0DAyOZZf1n2QS8rDGc\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"kfxhNrv5Z3nbUozwuZCHVwgUKqhDnHfGh_AgY2v1ihpRpsYnakhxYWW8i1iCya9vBvi4YZGeYjdyH7rqvB1_ZzGPRpPUBca5bEJA2xWAt-5rsKebrRhdgmo_dd0JVWnS5wVSM9lg73SXR5nVCtHJsQNCxFpBT-NXdf-bL-xY0hI2JvQg1IH9mrxJIKqF9eqoyxy3BoXgV2YgOP8xGsqIuweOJx-KBVQ5EqqVuACgrku-p6Wii2WPS8qXz6x4ORJmJ85Lo87hgUwsCg3tlxnV5PCs68BgvMTQmGgop5S4m8psmN7XmbCsxBtoZJoU8eRDwQnz9_IT5wPjSuCrwLPkHYukL565J6QesEEBDDe9S8UBgikWamR6sNpFgHUPymkQ7xPZeZOxMMURfAOBHE3qmwxhtUCxlNSkg8IiosWmvwfTIqLTv56ZPNAINJ9DNKlGY0tvIVjM5lg2Jw_6f_XCbje6ZM2vPVeU5l6Pl7gkkYKa2PN9VgN9RHerFZzCovSDhrffV0syyc31K1oAW7NSUflPNWgYmOlAO3rgZzNIeqtbu3xQ_bKSFwyDB262Vpmz8b3sXAQ_5kKbgduy5O5Sw6pQvL5EDSjS_pmgPeFruu3swYaPgRwopHFeZ4ojitJF4QtWSTgGc2GjLd6VPJAp5nn70IYM3tztYDS7uvrmrqc\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"f75d6945-1081-4e40-ac38-a36141369e72-1834\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-64a745ed-0f1c-45d8-8dc9-56804689c9df"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 76,
      },
      {
        "_id": "152787f0426755e28780788234be7372",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-64a745ed-0f1c-45d8-8dc9-56804689c9df"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_fields",
              "value": "authoritative,connectorId,description,icon,mappingNames,name,ssoEntities,templateName,templateVersion,uiConfig,url"
            }
          ],
          "url": "https://openam-volker-demo.forgeblocks.com/openidm/managed/alpha_application?_queryFilter=true&_pageSize=1000&_fields=authoritative%2CconnectorId%2Cdescription%2Cicon%2CmappingNames%2Cname%2CssoEntities%2CtemplateName%2CtemplateVersion%2CuiConfig%2Curl"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 7043,
            "text": "{\"result\":[{\"_id\":\"c7932f33-a3ac-4192-8dee-11fb96df0874\",\"_rev\":\"6f7f7140-16a0-47f8-9d9d-b519ed0530ca-980\",\"description\":\"Example\",\"templateName\":\"scripted.sql\",\"templateVersion\":\"1.0.0\",\"authoritative\":true,\"icon\":\"\",\"connectorId\":\"HRLite\",\"uiConfig\":{\"objectTypes\":{\"department\":{\"properties\":{\"uid\":{},\"description\":{},\"parent\":{},\"__NAME__\":{},\"name\":{}}},\"__ACCOUNT__\":{\"properties\":{\"postalCode\":{},\"empType\":{},\"phone\":{},\"state\":{},\"firstName\":{},\"depName\":{},\"email\":{},\"uid\":{},\"status\":{},\"country\":{},\"city\":{},\"depId\":{},\"lastName\":{},\"address\":{},\"jobCode\":{},\"isManager\":{},\"__NAME__\":{}}}}},\"mappingNames\":[\"systemHrlite__account___managedAlpha_user\"],\"name\":\"HRLite\"},{\"_id\":\"26968c01-3c25-42c4-803c-3c9c0571cae6\",\"_rev\":\"6f7f7140-16a0-47f8-9d9d-b519ed0530ca-1008\",\"authoritative\":false,\"description\":\"Encore Workforce AD\",\"icon\":\"\",\"templateName\":\"active.directory\",\"templateVersion\":\"2.0\",\"connectorId\":\"EncoreADv2\",\"mappingNames\":[\"systemEncoreadv2User_managedAlpha_user\",\"managedAlpha_user_systemEncoreadv2User\",\"systemEncoreadv2Group_managedAlpha_assignment\"],\"uiConfig\":{\"objectTypes\":{\"Group\":{\"properties\":{\"__NAME__\":{\"order\":2,\"userSpecific\":true},\"cn\":{\"order\":1,\"userSpecific\":true,\"isDisplay\":true},\"description\":{\"order\":3,\"userSpecific\":true},\"displayName\":{\"order\":4,\"userSpecific\":true},\"objectGUID\":{\"order\":0,\"userSpecific\":true},\"uSNChanged\":{\"order\":5,\"userSpecific\":true},\"uSNCreated\":{\"order\":6,\"userSpecific\":true},\"whenChanged\":{\"order\":7,\"userSpecific\":true},\"whenCreated\":{\"order\":8,\"userSpecific\":true}}},\"User\":{\"properties\":{\"__ENABLE__\":{\"order\":2,\"userSpecific\":true},\"__NAME__\":{\"order\":1,\"userSpecific\":true},\"__PASSWORD__\":{\"order\":3,\"userSpecific\":true},\"accountExpires\":{\"order\":36,\"userSpecific\":true},\"c\":{\"order\":32,\"userSpecific\":true},\"cn\":{\"order\":5,\"userSpecific\":true},\"co\":{\"order\":30,\"userSpecific\":true},\"company\":{\"order\":10,\"userSpecific\":true},\"countryCode\":{\"order\":31,\"userSpecific\":true},\"department\":{\"order\":23,\"userSpecific\":true},\"description\":{\"order\":13,\"userSpecific\":true},\"displayName\":{\"order\":12,\"userSpecific\":true},\"division\":{\"order\":11,\"userSpecific\":true},\"employeeID\":{\"order\":27,\"userSpecific\":true},\"employeeNumber\":{\"order\":28,\"userSpecific\":true},\"employeeType\":{\"order\":29,\"userSpecific\":true},\"facsimileTelephoneNumber\":{\"order\":14,\"userSpecific\":true},\"givenName\":{\"order\":7,\"userSpecific\":true},\"homePhone\":{\"order\":15,\"userSpecific\":true},\"initials\":{\"order\":24,\"userSpecific\":true},\"l\":{\"order\":16,\"userSpecific\":true},\"lastLogon\":{\"order\":19,\"userSpecific\":true},\"ldapGroups\":{\"isEntitlement\":false,\"nonAccountObject\":\"Group\",\"order\":46},\"lockoutTime\":{\"order\":38,\"userSpecific\":true},\"mail\":{\"order\":8,\"userSpecific\":true},\"manager\":{\"order\":22,\"userSpecific\":true},\"memberOf\":{\"order\":43,\"userSpecific\":true},\"middleName\":{\"order\":9,\"userSpecific\":true},\"mobile\":{\"order\":26,\"userSpecific\":true},\"objectGUID\":{\"order\":0,\"userSpecific\":true},\"otherHomePhone\":{\"order\":44,\"userSpecific\":true},\"physicalDeliveryOfficeName\":{\"order\":20,\"userSpecific\":true},\"postOfficeBox\":{\"order\":18,\"userSpecific\":true},\"postalCode\":{\"order\":17,\"userSpecific\":true},\"pwdLastSet\":{\"order\":37,\"userSpecific\":true},\"sAMAccountName\":{\"order\":45,\"userSpecific\":true,\"isDisplay\":true},\"sn\":{\"order\":4,\"userSpecific\":true},\"st\":{\"order\":21,\"userSpecific\":true},\"streetAddress\":{\"order\":25,\"userSpecific\":true},\"telephoneNumber\":{\"order\":33,\"userSpecific\":true},\"title\":{\"order\":34,\"userSpecific\":true},\"uSNChanged\":{\"order\":39,\"userSpecific\":true},\"uSNCreated\":{\"order\":40,\"userSpecific\":true},\"userAccountControl\":{\"order\":35,\"userSpecific\":true},\"userPrincipalName\":{\"order\":6,\"userSpecific\":true},\"whenChanged\":{\"order\":41,\"userSpecific\":true},\"whenCreated\":{\"order\":42,\"userSpecific\":true}}}}},\"name\":\"EncoreADv2\"},{\"_id\":\"234ae748-fcd5-459d-96a6-dd8d67f16080\",\"_rev\":\"6f7f7140-16a0-47f8-9d9d-b519ed0530ca-990\",\"description\":\"Deployed via Encore\",\"icon\":\"https://encore.forgerock.com/media/svg/misc/eolic-energy.svg\",\"templateName\":\"saml\",\"authoritative\":false,\"ssoEntities\":{\"key\":\"6f7f7140-16a0-47f8-9d9d-b519ed0530ca-982\",\"idpPrivateId\":\"Y29tcGFueS1JRFA\",\"idpLocation\":\"hosted\",\"domain\":\"openam-volker-demo.forgeblocks.com\",\"spPrivateId\":\"aHR0cHM6Ly92b2xrZXItZGVtby5lbmNvcmUuZm9yZ2Vyb2NrLmNvbTo0NDMvYXBwcy93ZWIvY29tcGFueS9zYW1s\",\"spLocation\":\"remote\",\"idpLoginUrl\":\"https://openam-volker-demo.forgeblocks.com/am/idpssoinit?metaAlias=%2Falpha%2Fcompany&spEntityID=https%3A%2F%2Fvolker-demo.encore.forgerock.com%3A443%2Fapps%2Fweb%2Fcompany%2Fsaml\"},\"templateVersion\":\"1.0.0\",\"name\":\"company\"},{\"_id\":\"bc48b94e-83d0-4f3a-b37a-d6f19c608a33\",\"_rev\":\"6f7f7140-16a0-47f8-9d9d-b519ed0530ca-996\",\"description\":\"Deployed via Encore\",\"icon\":\"https://encore.forgerock.com/media/svg/misc/hot-air-balloon.svg\",\"templateName\":\"saml\",\"authoritative\[...]
