{
  "log": {
    "_recordingName": "idp/import/0_AD/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5b2e1cb1-047b-4fd1-b64a-ed3595650e6e"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1874515102\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5b2e1cb1-047b-4fd1-b64a-ed3595650e6e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 88,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5b2e1cb1-047b-4fd1-b64a-ed3595650e6e"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 282,
            "text": "{\"_id\":\"version\",\"_rev\":\"-1964495080\",\"version\":\"7.6.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.6.0-SNAPSHOT Build 7cab9c08465b06ed66fff4b458eef61d6b6825da (2024-November-15 10:51)\",\"revision\":\"7cab9c08465b06ed66fff4b458eef61d6b6825da\",\"date\":\"2024-November-15 10:51\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1964495080\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5b2e1cb1-047b-4fd1-b64a-ed3595650e6e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 65,
      },
      {
        "_id": "88bc9cf629e95a915551a4e4b2f88cc0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5b2e1cb1-047b-4fd1-b64a-ed3595650e6e"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"adfs\",\"_type\":{\"_id\":\"oidcConfig\",\"collection\":true,\"name\":\"Client configuration for providers that implement the OpenID Connect specification.\"},\"acrValues\":[],\"authenticationIdKey\":\"sub\",\"authorizationEndpoint\":\"https://adfs.mytestrun.com/adfs/oauth2/authorize\",\"clientAuthenticationMethod\":\"CLIENT_SECRET_POST\",\"clientId\":\"aa9a179e-cdba-4db8-8477-3d1069d5ec04\",\"enableNativeNonce\":true,\"enabled\":true,\"encryptJwtRequestParameter\":false,\"encryptedIdTokens\":false,\"issuer\":\"https://adfs.mytestrun.com/adfs\",\"issuerComparisonCheckType\":\"EXACT\",\"jwksUriEndpoint\":\"https://adfs.mytestrun.com/adfs/discovery/keys\",\"jwtEncryptionAlgorithm\":\"NONE\",\"jwtEncryptionMethod\":\"NONE\",\"jwtRequestParameterOption\":\"NONE\",\"jwtSigningAlgorithm\":\"RS256\",\"pkceMethod\":\"S256\",\"privateKeyJwtExpTime\":600,\"redirectURI\":\"https://idc.scheuber.io/login\",\"responseMode\":\"DEFAULT\",\"revocationCheckOptions\":[],\"scopeDelimiter\":\" \",\"scopes\":[\"openid\",\"profile\",\"email\"],\"tokenEndpoint\":\"https://adfs.mytestrun.com/adfs/oauth2/token\",\"transform\":\"dbe0bf9a-72aa-49d5-8483-9db147985a47\",\"uiConfig\":{\"buttonClass\":\"\",\"buttonCustomStyle\":\"background-color: #fff; border-color: #8b8b8b; color: #8b8b8b;\",\"buttonCustomStyleHover\":\"background-color: #fff; border-color: #8b8b8b; color: #8b8b8b;\",\"buttonDisplayName\":\"Microsoft ADFS\",\"buttonImage\":\"/login/images/microsoft-logo.png\",\"iconBackground\":\"#0078d7\",\"iconClass\":\"fa-windows\",\"iconFontColor\":\"white\"},\"useCustomTrustStore\":false,\"userInfoResponseType\":\"JSON\",\"wellKnownEndpoint\":\"https://adfs.mytestrun.com/adfs/.well-known/openid-configuration\",\"redirectAfterFormPostURI\":\"\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/services/SocialIdentityProviders/oidcConfig/adfs"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1597,
            "text": "{\"_id\":\"adfs\",\"_rev\":\"-1771631869\",\"clientId\":\"aa9a179e-cdba-4db8-8477-3d1069d5ec04\",\"pkceMethod\":\"S256\",\"wellKnownEnd[...]
