{
  "log": {
    "_recordingName": "esv/secret-create/0_i_value_description_encoding_base64hmac/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "45883d71715ea5a915c51a3ba49c75f1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"d2t0UU05Snp2a1Bsb2JmYVdlaUlkODFXcWllR1JpZWY4ekl4R0pud1laZz0=\",\"description\":\"This is a test secret from base64 encoded hmac key.\",\"encoding\":\"base64hmac\",\"useInPlaceholders\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-value-base64hmac"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 319,
            "text": "{\"_id\":\"esv-test-secret-value-base64hmac\",\"activeVersion\":\"1\",\"description\":\"This is a test secret from base64 encoded hmac key.\",\"encoding\":\"base64hmac\",\"lastChangeDate\":\"2024-01-16T01:42:47.556581318Z\",\"lastChangedBy\":\"6bac97fb-0665-4ba9-b66c-1cf70e074d72\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 564,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
