{
  "log": {
    "_recordingName": "config-manager/push/service-objects/0_E_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1e659179738c0807e765f53ccda419f7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"2d1d7733-bbe2-4a22-a24e-b8f28f377bab\",\"name\":\"Test B Role\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/managed/role/2d1d7733-bbe2-4a22-a24e-b8f28f377bab"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 118,
            "text": "{\"_id\":\"2d1d7733-bbe2-4a22-a24e-b8f28f377bab\",\"_rev\":\"325519d5-e434-49f9-8546-9aff9a859c23-4002\",\"name\":\"Test B Role\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "location",
              "value": "https://platform.dev.trivir.com/openidm/managed/role/2d1d7733-bbe2-4a22-a24e-b8f28f377bab"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 52,
      },
      {
        "_id": "351587289cad1b72f3de76dc377b3bf6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT"[...]
