{
  "log": {
    "_recordingName": "script/export/0_script-name/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8aebdeafe8a93743f0bb78a58be9dbb4",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-484a7cc2-c8b4-4890-9600-4e0f4b38b1d8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/76618ff6-e851-433e-9704-9d2852a17b7a?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1163,
            "text": "{\"_id\":\"76618ff6-e851-433e-9704-9d2852a17b7a\",\"_rev\":\"634c36d8-17f8-46ac-b172-30ca689a1c22-23850\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1701807230743\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"h4ifGrx6TkKeMMSvCOJRCOMw3S_CL9gfNSfIioTiIAU\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"7TPbNXJ04LNJzi9DkM7bEp4AWB0d2o1vpKWxcXQp8KYmDOi2TuevXGwDVLTLTgPUfucQ6ZI9GHNzqhO9yEYa4UUrAvV9AhIT9emvETliW-qb7kXfs3PgZS19_KsepHrZEnIZIm34GzIfrWIU94sfa12Lyoa1npwAauul_2sTYx8_Q_Hyqf0-VKjORAUd5hy5N7gUwa9-VKG9Pbx4z-g83VgD5cNyIqWI8449s1ZJTPKxDHhyh214IK1CWWJUJ6zk9wcOmfG3VAtTJ4gcUY83aOFKGrPCwP0i4OEE0-IN_cRdEpyje7ICYInX8AWMSs8M-8ci2FzPe2KQxlR9tajthjv8Mtv7GMQjAPoXr_a_kfcSo8I7YXDqdWgu50ybcb8oi29DMPl2i4RR2cfQ9eSfbZ5Mjgy8E9Pd460gAhN4HvfmCVDEn5OUH7vQTjcZpVjzbfml-p9xNEGl71RgcD5dPG8sHd94IIhy6XQ3I99oRkjeyqsC6f1BGz-xVceAd6c3fedsO9EkPxHfTBhGPpX9xiTMwmGW8oth2Efze81ZhFCKUN8wb0RukC3fr-bb09Huz-3mWlOtP8vhQ8lxUYWJiaXtKkYKrHsNYWueZvF9Rg-D8IlRCyDutZXkFnlZzAz2ybhRIpzHmjVKq96qV020yPgjcC9NSd_J49c2kKJysnE\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"634c36d8-17f8-46ac-b172-30ca689a1c22-23850\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-484a7cc2-c8b4-4890-9600-4e0f4b38b1d8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 76,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
