{
  "log": {
    "_recordingName": "config-manager/push/authz-policies/0_D/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8bb1c5ec49bbf3a006e5aab6f6f175b8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"applicationType\":\"iPlanetAMWebAgentService\",\"attributeNames\":[],\"conditions\":[\"AMIdentityMembership\",\"AND\",\"AuthLevel\",\"AuthenticateToRealm\",\"AuthenticateToService\",\"IPv4\",\"IPv6\",\"IdmUser\",\"LDAPFilter\",\"LEAuthLevel\",\"NOT\",\"OAuth2Scope\",\"OR\",\"Policy\",\"ResourceEnvIP\",\"Script\",\"Session\",\"SessionProperty\",\"SimpleTime\",\"Transaction\"],\"description\":\"Test policy set description\",\"displayName\":\"Test Policy Set\",\"editable\":true,\"entitlementCombiner\":\"DenyOverride\",\"name\":\"test-policy-set\",\"resourceComparator\":null,\"resourceTypeUuids\":[\"88e74fda-3e8b-47b3-b50d-22a456c9bab1\",\"f42519db-f43c-4325-b8d4-04a631ff46cb\"],\"saveIndex\":null,\"searchIndex\":null,\"subjects\":[\"AND\",\"AuthenticatedUsers\",\"Identity\",\"JwtClaim\",\"NONE\",\"NOT\",\"OR\",\"Policy\"]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/applications/test-policy-set"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 107,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"Invalid resource type 88e74fda-3e8b-47b3-b50d-22a456c9bab1.\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 117,
      },
      {
        "_id": "348464b5b28dc523b3494c4cdddf3887",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
             [...]
