{
  "log": {
    "_recordingName": "config/export/0_xAND_type/saml2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b16c605a4d0146f46b11f3a044da95de",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-410c6396-138e-441a-8402-096b60365119"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "entityid",
              "value": "test-remote-idp-saml"
            },
            {
              "name": "realm",
              "value": "/"
            }
          ],
          "url": "https://platform.dev.trivir.com/am/saml2/jsp/exportmetadata.jsp?entityid=test-remote-idp-saml&realm=%2F"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 8769,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<EntityDescriptor entityID=\"test-remote-idp-saml\" xmlns=\"urn:oasis:names:tc:SAML:2.0:metadata\" xmlns:query=\"urn:oasis:names:tc:SAML:metadata:ext:query\" xmlns:mdattr=\"urn:oasis:names:tc:SAML:metadata:attribute\" xmlns:saml=\"urn:oasis:names:tc:SAML:2.0:assertion\" xmlns:xenc=\"http://www.w3.org/2001/04/xmlenc#\" xmlns:xenc11=\"http://www.w3.org/2009/xmlenc11#\" xmlns:alg=\"urn:oasis:names:tc:SAML:metadata:algsupport\" xmlns:x509qry=\"urn:oasis:names:tc:SAML:metadata:X509:query\" xmlns:ds=\"http://www.w3.org/2000/09/xmldsig#\">\n    <IDPSSODescriptor protocolSupportEnumeration=\"urn:oasis:names:tc:SAML:2.0:protocol\">\n        <KeyDescriptor use=\"signing\">\n            <ds:KeyInfo>\n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                <ds:X509Data>\n                    <ds:X509Certificate>PGNlcnRpZmljYXRlPg==</ds:X509Certificate>\n                </ds:X509Data>\n            </ds:KeyInfo>\n        </KeyDescriptor>\n        <KeyDescriptor use=\"encryption\">\n            <ds:KeyInfo>\n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                <ds:X509Data>\n                    <ds:X509Certificate>PGNlcnRpZmljYXRlPg==</ds:X509Certificate>\n                </ds:X509Data>\n            </ds:KeyInfo>\n            <EncryptionMethod Algorithm=\"http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p\">\n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                <ds:DigestMethod Algorithm=\"http://www.w3.org/2001/04/xmlenc#sha256\"/>\n            </EncryptionMethod>\n            <EncryptionMethod Algorithm=\"http://www.w3.org/2001/04/xmlenc#aes128-cbc\">\n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                \n                <xenc:KeySize>128</xenc:KeySize>\n            </EncryptionMethod>\n        </KeyDescriptor>\n        <ArtifactResolutionService index=\"0\" Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/ArtifactResolver/metaAlias/alpha/tester\"/>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/IDPSloRedirect/metaAlias/alpha/tester\" ResponseLocation=\"https://openam-trivir-demo.forgeblocks.com/am/IDPSloRedirect/metaAlias/alpha/tester\"/>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/IDPSloPOST/metaAlias/alpha/tester\" ResponseLocation=\"https://openam-trivir-demo.forgeblocks.com/am/IDPSloPOST/metaAlias/alpha/tester\"/>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/IDPSloSoap/metaAlias/alpha/tester\"/>\n        <ManageNameIDService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/IDPMniRedirect/metaAlias/alpha/tester\" ResponseLocation=\"https://openam-trivir-demo.forgeblocks.com/am/IDPMniRedirect/metaAlias/alpha/tester\"/>\n        <ManageNameIDService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/IDPMniPOST/metaAlias/alpha/tester\" ResponseLocation=\"https://openam-trivir-demo.forgeblocks.com/am/IDPMniPOST/metaAlias/alpha/tester\"/>\n        <ManageNameIDService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/IDPMniSoap/metaAlias/alpha/tester\"/>\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:persistent</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:transient</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:WindowsDomainQualifiedName</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:kerberos</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIDFormat>\n        <SingleSignOnService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/SSORedirect/metaAlias/alpha/tester\"/>\n        <SingleSignOnService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/SSOPOST/metaAlias/alpha/tester\"/>\n        <SingleSignOnService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/SSOSoap/metaAlias/alpha/tester\"/>\n        <NameIDMappingService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/NIMSoap/metaAlias/alpha/tester\"/>\n        <AssertionIDRequestService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/AIDReqSoap/IDPRole/metaAlias/alpha/tester\"/>\n        <AssertionIDRequestService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:URI\" Location=\"https://openam-trivir-demo.forgeblocks.com/am/AIDReqUri/IDPRole/metaAlias/alpha/tester\"/>\n    </IDPSSODescriptor>\n</EntityDescriptor>\n\n"
          },
            {
              "httpOnly": true,
              "name": "JSESSIONID",
              "path": "/am",
              "secure": true,
              "value": "<cookie>"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7,
      },
      {
        "_id": "0324b43cd473b338e811e7210bb5e9b9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-410c6396-138e-441a-8402-096b60365119"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
    [...]
