{
  "log": {
    "_recordingName": "app/import/alphaPrefix/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bf3d1728a350614199d6534f269ceb69",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b42d2ec1-1db5-4d4f-b640-a7ac86266dbb"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"08ee500b-0d11-495d-87d6-8ba13953fbe7\",\"description\":\"Alpha bookmark application\",\"mappingNames\":[],\"name\":\"alpha-bookmark\",\"url\":\"https://google.com\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/managed/alpha_application/08ee500b-0d11-495d-87d6-8ba13953fbe7"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 209,
            "text": "{\"_id\":\"08ee500b-0d11-495d-87d6-8ba13953fbe7\",\"_rev\":\"1239818a-e1c8-4003-b4c4-e7a3f2fbdfc4-1816\",\"name\":\"alpha-bookmark\",\"description\":\"Alpha bookmark application\",\"url\":\"https://google.com\",\"mappingNames\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"1239818a-e1c8-4003-b4c4-e7a3f2fbdfc4-1816\""
            },
            {
              "name": "x-not-modified",
              "value": "true"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 512,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
