{
  "log": {
    "_recordingName": "config/export/0_all-separate_no-metadata_default_directory_use-string-arrays_no-decode_no-coords_extract/saml2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3d20964a80664bf284a6a2067b52916e",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4e2eea3c-3a10-4e40-803a-d955a29e4a01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "entityid",
              "value": "https://idc.scheuber.io/am/saml2/IDPAzure"
            },
            {
              "name": "realm",
              "value": "alpha"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/saml2/jsp/exportmetadata.jsp?entityid=https%3A%2F%2Fidc.scheuber.io%2Fam%2Fsaml2%2FIDPAzure&realm=alpha"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=utf-8",
            "size": 7105,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<EntityDescriptor entityID=\"https://idc.scheuber.io/am/saml2/IDPAzure\" xmlns=\"urn:oasis:names:tc:SAML:2.0:metadata\" xmlns:query=\"urn:oasis:names:tc:SAML:metadata:ext:query\" xmlns:mdattr=\"urn:oasis:names:tc:SAML:metadata:attribute\" xmlns:saml=\"urn:oasis:names:tc:SAML:2.0:assertion\" xmlns:xenc=\"http://www.w3.org/2001/04/xmlenc#\" xmlns:xenc11=\"http://www.w3.org/2009/xmlenc11#\" xmlns:alg=\"urn:oasis:names:tc:SAML:metadata:algsupport\" xmlns:x509qry=\"urn:oasis:names:tc:SAML:metadata:X509:query\" xmlns:ds=\"http://www.w3.org/2000/09/xmldsig#\">\n    <IDPSSODescriptor WantAuthnRequestsSigned=\"false\" protocolSupportEnumeration=\"urn:oasis:names:tc:SAML:2.0:protocol\">\n        <KeyDescriptor use=\"signing\">\n            <ds:KeyInfo>\n                <ds:X509Data>\n                    <ds:X509Certificate>PGNlcnRpZmljYXRlPg==</ds:X509Certificate>\n                </ds:X509Data>\n            </ds:KeyInfo>\n        </KeyDescriptor>\n        <KeyDescriptor use=\"encryption\">\n            <ds:KeyInfo>\n                <ds:X509Data>\n                    <ds:X509Certificate>PGNlcnRpZmljYXRlPg==</ds:X509Certificate>\n                </ds:X509Data>\n            </ds:KeyInfo>\n            <EncryptionMethod Algorithm=\"http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p\">\n                <ds:DigestMethod Algorithm=\"http://www.w3.org/2001/04/xmlenc#sha256\"/>\n            </EncryptionMethod>\n            <EncryptionMethod Algorithm=\"http://www.w3.org/2001/04/xmlenc#aes128-cbc\">\n                <xenc:KeySize>128</xenc:KeySize>\n            </EncryptionMethod>\n        </KeyDescriptor>\n        <ArtifactResolutionService index=\"0\" Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://idc.scheuber.io/am/ArtifactResolver/metaAlias/alpha/IDPAzure\"/>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\" Location=\"https://idc.scheuber.io/am/IDPSloRedirect/metaAlias/alpha/IDPAzure\" ResponseLocation=\"https://idc.scheuber.io/am/IDPSloRedirect/metaAlias/alpha/IDPAzure\"/>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://idc.scheuber.io/am/IDPSloPOST/metaAlias/alpha/IDPAzure\" ResponseLocation=\"https://idc.scheuber.io/am/IDPSloPOST/metaAlias/alpha/IDPAzure\"/>\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://idc.scheuber.io/am/IDPSloSoap/metaAlias/alpha/IDPAzure\"/>\n        <ManageNameIDService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\" Location=\"https://idc.scheuber.io/am/IDPMniRedirect/metaAlias/alpha/IDPAzure\" ResponseLocation=\"https://idc.scheuber.io/am/IDPMniRedirect/metaAlias/alpha/IDPAzure\"/>\n        <ManageNameIDService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://idc.scheuber.io/am/IDPMniPOST/metaAlias/alpha/IDPAzure\" ResponseLocation=\"https://idc.scheuber.io/am/IDPMniPOST/metaAlias/alpha/IDPAzure\"/>\n        <ManageNameIDService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://idc.scheuber.io/am/IDPMniSoap/metaAlias/alpha/IDPAzure\"/>\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:persistent</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:transient</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:WindowsDomainQualifiedName</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:kerberos</NameIDFormat>\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIDFormat>\n        <SingleSignOnService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\" Location=\"https://idc.scheuber.io/am/SSORedirect/metaAlias/alpha/IDPAzure\"/>\n        <SingleSignOnService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\" Location=\"https://idc.scheuber.io/am/SSOPOST/metaAlias/alpha/IDPAzure\"/>\n        <SingleSignOnService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://idc.scheuber.io/am/SSOSoap/metaAlias/alpha/IDPAzure\"/>\n        <NameIDMappingService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://idc.scheuber.io/am/NIMSoap/metaAlias/alpha/IDPAzure\"/>\n        <AssertionIDRequestService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\" Location=\"https://idc.scheuber.io/am/AIDReqSoap/IDPRole/metaAlias/alpha/IDPAzure\"/>\n        <AssertionIDRequestService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:URI\" Location=\"https://idc.scheuber.io/am/AIDReqUri/IDPRole/metaAlias/alpha/IDPAzure\"/>\n    </IDPSSODescriptor>\n</EntityDescriptor>\n\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4e2eea3c-3a10-4e40-803a-d955a29e4a01"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 61,
      },
      {
        "_id": "3ce7fc1c7f680074a3ddd3d35eaedcdf",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4e2eea3c-3a10-4e40-803a-d955a29e4a01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
  [...]
