{
  "log": {
    "_recordingName": "esv/secret-create/0_i_value_encoding_description_pem/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "197e09965e6462f553b64dc265ad57f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNQnNDQVFBQ0FVMENBUWNDQVNzQ0FRY0NBUXNDQVFFQ0FRTUNBUUk9Ci0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0t\",\"description\":\"This is a test secret from pem encoded string.\",\"encoding\":\"pem\",\"useInPlaceholders\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-value-pem"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 300,
            "text": "{\"_id\":\"esv-test-secret-value-pem\",\"activeVersion\":\"1\",\"description\":\"This is a test secret from pem encoded string.\",\"encoding\":\"pem\",\"lastChangeDate\":\"2024-01-16T01:41:47.029552538Z\",\"lastChangedBy\":\"6bac97fb-0665-4ba9-b66c-1cf70e074d72\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 617,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
