{
  "log": {
    "_recordingName": "app/import/alphaBravoPrefix/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e1fe16477dfa333e1fdf48359419f0af",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dfa7de9f-d0cb-4fb2-8392-5ea4d66b124f"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"5f84d0f4-427b-43de-91bf-faa9692f7f2b\",\"description\":\"Bravo bookmark application\",\"mappingNames\":[],\"name\":\"bravo-bookmark\",\"url\":\"https://google.com\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/managed/bravo_application/5f84d0f4-427b-43de-91bf-faa9692f7f2b"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 209,
            "text": "{\"_id\":\"5f84d0f4-427b-43de-91bf-faa9692f7f2b\",\"_rev\":\"1239818a-e1c8-4003-b4c4-e7a3f2fbdfc4-1909\",\"description\":\"Bravo bookmark application\",\"mappingNames\":[],\"name\":\"bravo-bookmark\",\"url\":\"https://google.com\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"1239818a-e1c8-4003-b4c4-e7a3f2fbdfc4-1909\""
            },
            {
              "name": "x-not-modified",
              "value": "true"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 69,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
