{
  "log": {
    "_recordingName": "info/3/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c56303c2-d0a4-4207-9d33-b3ad59839154"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "6ac6499e9da2071",
              "value": "57X_mfKtsTJXuOINxAdr4BvwukE.*AAJTSQACMDIAAlNLABx1ME5PQnIwTytSNGM1NDNEaWVjeWN5ajFhY2M9AAR0eXBlAANDVFMAAlMxAAIwMQ..*"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html&scope=openid fr:idm:* fr:idc:esv:*&response_type=code&client_id=idmAdminClient&csrf=57X_mfKtsTJXuOINxAdr4BvwukE.*AAJTSQACMDIAAlNLABx1ME5PQnIwTytSNGM1NDNEaWVjeWN5ajFhY2M9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=eVkuVQ4tdLAti9vKjhDDjwBM5w9FXn1WWubRef0Hxq4&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html?code=tDdNEB1TyDIvk-f2uYkKcaLHjF4&iss=https%3A%2F%2Fopenam-frodo-dev.forgeblocks.com%3A443%2Fam%2Foauth2&client_id=idmAdminClient"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c56303c2-d0a4-4207-9d33-b3ad59839154"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 63,
      },
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c56303c2-d0a4-4207-9d33-b3ad59839154"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
[...]
