{
  "log": {
    "_recordingName": "authz/set-import/0_FAD/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 636,
            "text": "{\"_id\":\"*\",\"_rev\":\"-660094397\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"cloudOnlyFeaturesEnabled\":true,\"oauth2AIAgentsEnabled\":true,\"cdkDeployment\":false}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 123,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 283,
            "text": "{\"_id\":\"version\",\"_rev\":\"1173109294\",\"version\":\"9.0.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 9.0.0-SNAPSHOT Build 7e5e2e6ccc3b2609309442773efb4c3bd3c96c90 (2026-September-02 09:17)\",\"revision\":\"7e5e2e6ccc3b2609309442773efb4c3bd3c96c90\",\"date\":\"2026-September-02 09:17\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 76,
      },
      {
        "_id": "118a9a2294afbcdafcadb32a1bf14b5e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"applicationType\":\"iPlanetAMWebAgentService\",\"attributeNames\":[],\"conditions\":[\"Script\",\"ClientId\",\"AMIdentityMembership\",\"IPv6\",\"SimpleTime\",\"IPv4\",\"LEAuthLevel\",\"LDAPFilter\",\"AuthScheme\",\"Session\",\"AND\",\"Expiration\",\"AuthenticateToRealm\",\"ResourceEnvIP\",\"Policy\",\"SessionProperty\",\"OAuth2Scope\",\"OR\",\"Transaction\",\"NOT\",\"AuthLevel\",\"AuthenticateToService\"],\"createdBy\":\"id=dsameuser,ou=user,ou=am-config\",\"creationDate\":1669672555404,\"description\":\"Policy Set EdgePolicySet\",\"displayName\":null,\"editable\":true,\"entitlementCombiner\":\"DenyOverride\",\"lastModifiedBy\":\"id=7a031a92-f70d-4b30-9d70-da7cfb1d9c93,ou=user,ou=am-config\",\"lastModifiedDate\":1730139285014,\"name\":\"EdgePolicySet\",\"resourceComparator\":null,\"resourceTypeUuids\":[\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\"],\"saveIndex\":null,\"searchIndex\":null,\"subjects\":[\"AuthenticatedUsers\",\"NOT\",\"Identity\",\"Uma\",\"OR\",\"AND\",\"NONE\",\"Policy\",\"JwtClaim\"]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/applications/EdgePolicySet"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 904,
            "text": "{\"name\":\"EdgePolicySet\",\"displayName\":null,\"conditions\":[\"Script\[...]
