{
  "log": {
    "_recordingName": "agent/gateway-describe-volker-dev/0_i_json/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4c937402-33a0-40b4-aaec-2e9727741916"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/managed/svcacct/a2245410-33a6-4442-9f3b-453c9aaf158a?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1429,
            "text": "{\"_id\":\"a2245410-33a6-4442-9f3b-453c9aaf158a\",\"_rev\":\"5592efd9-8a5b-4bcb-a299-f2ba63d188df-2978\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1754583395586\",\"description\":\"volker.scheuber@pingidentity.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:autoaccess:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\",\"fr:idc:proxy-connect:*\",\"fr:idc:ws:admin\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"kIMcmQs2nM-83kFLFr1XLFD7HW0Ib8r0ckGWWiRBfHU\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"lVx83LIXhgANnOQSpuouzZLfSdl7ls-8dE6TiJv0ZR_DNn5l8ohqIvP9u4W2M2ooXEKYbkaj16AI7diHzLIikGRc8dNNYwh6jZLr05YCHX7fc4Cxit0ZeD0ClOixLpCyaiEOdH2SeHZHhqekxXGdBwRbvNxGAytuRMw0CNtP3Q0P-2eko7ZuNSxAvSYS7SYpPA8nrqOerO-iv8rw70mW2Wtqfr0AbrygFweS66nfIDiJlaIEc0WUietuAH4xJMvz6Vrn1h3OLqur88iwAuOWWjETJeQ9eH3jpRdxquUTgKMpvWhz6wNKaTfOhrJPpWN65kYI4OEvGdE-P1X3fdrAXhTClu4LS72uZKAgt8YKQOLsgDAl2E9UHL-JE8FBvxcRxho78NJlWPHwKV9b01O9AjtoMrwNBHYxU_94Rf75cWR415cesZ6CkgLXPy82bi4gHNejPV-_HNcVQUrQF2fQcibaHoMvgsZnfNRj-A_Cb59qVtlZbCK6dgbWS3crldKnUJBcI30NST_qOemSCx2IZ5QyZTvDN7SSRpan7ET1aaCs3eqgPZl2vXXAQw1WnfKOVWwbALmvMhs57JdHGGA2qWd72Gu7Q0vgdWReJCh8WknPZKkopImg8CDOzjfdKQZwHlc7LujW1HwC-YLcd-ge-9C9Ktp_sJB3gjjD9x9pyFs\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"5592efd9-8a5b-4bcb-a299-f2ba63d188df-2978\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4c937402-33a0-40b4-aaec-2e9727741916"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 178,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4c937402-33a0-40b4-aaec-2e9727741916"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
