{
  "log": {
    "_recordingName": "server/export/0_i_f_xNdD/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-da19260e-7094-4f71-b394-72d8f5477048"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 559,
            "text": "{\"_id\":\"*\",\"_rev\":\"1352294768\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"iPlanetDirectoryPro\",\"secureCookie\":false,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":false,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1352294768\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 11,
      },
      {
        "_id": "9f5671275c36a1c0090d0df26ce0e93f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-da19260e-7094-4f71-b394-72d8f5477048"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "amadmin"
            },
            {
              "name": "x-openam-password",
              "value": "Sup3rS3cr3t!"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 163,
            "text": "{\"tokenId\":\"<token id>\",\"successUrl\":\"/am/console\",\"realm\":\"/\"}"
          },
            {
              "httpOnly": true,
              "name": "iPlanetDirectoryPro",
              "path": "/",
              "value": "<cookie>"
            }
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 11,
      },
      {
        "_id": "6a3744385d3fd7416ea7089e610fa7e7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-da19260e-7094-4f71-b394-72d8f5477048"
            },
            {
              "name": "accept-api-version",
              "value": "resource=4.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tokenId\":\"<token id>\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "getSessionInfo"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/sessions/?_action=getSessionInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 309,
            "text": "{\"username\":\"amadmin\",\"universalId\":\"id=amadmin,ou=user,dc=openam,dc=forgerock,dc=org\",\"realm\":\"/\",\"latestAccessTime\":\"2024-11-07T21:49:21Z\",\"maxIdleExpirationTime\":\"2024-11-07T22:19:21Z\",\"maxSessionExpirationTime\":\"2024-11-07T23:49:20Z\",\"properties\":{\"AMCtxId\":\"fa97f2df-2be7-47e0-a483-1bf46c344e20-384220\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=4.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-da19260e-7094-4f71-b394-72d8f5477048"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 258,
            "text": "{\"_id\":\"version\",\"_rev\":\"-1772220916\",\"version\":\"7.5.0\",\"fullVersion\":\"ForgeRock Access Management 7.5.0 Build 89116d59a1ebe73ed1931dd3649adb7f217cd06b (2024-March-28 16:00)\",\"revision\":\"89116d59a1ebe73ed1931dd3649adb7f217cd06b\",\"date\":\"2024-March-28 16:00\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1772220916\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3,
      },
      {
        "_id": "abb8dd3f96712be4ab833c9ee6024c2f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-da19260e-7094-4f71-b394-72d8f5477048"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/servers/01"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"_id\":\"01\",\"_rev\":\"-931963190\",\"url\":\"http://localhost:8080/am\",\"siteName\":null}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-931963190\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 6,
      },
      {
        "_id": "c371ee1173e1bc4eaf9271a18c9a61fb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-da19260e-7094-4f71-b394-72d8f5477048"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/servers/01/properties/advanced"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 645,
            "text": "{\"_id\":\"01/properties/advanced\",\"_rev\":\"715955088\",\"com.sun.identity.urlconnection.useCache\":false,\"com.iplanet.am.serverMode\":true,\"com.sun.identity.sm.sms_object_class_name\":\"com.sun.identity.sm.SmsWrapperObject\",\"org.forgerock.embedded.dsadminport\":\"4444\",\"com.sun.embedded.sync.servers\":\"on\",\"com.sun.embedded.replicationport\":\"\",\"com.iplanet.security.SSLSocketFactoryImpl\":\"com.sun.identity.shared.ldap.factory.JSSESocketFactory\",\"com.sun.identity.common.systemtimerpool.size\":\"3\",\"bootstrap.file\":\"/home/prestonhales/.openamcfg/AMConfig_usr_local_tomcat_webapps_am_\",\"com.iplanet.am.lbcookie.value\":\"01\",\"opensso.protocol.handler.pkgs\":\"\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"715955088\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 30,
      },
      {
        "_id": "407a00ccaf1416887eaa19f40a52fce3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-da19260e-7094-4f71-b394-72d8f5477048"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/servers/01/properties/cts"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1198,
            "text": "{\"_id\":\"01/properties/cts\",\"_rev\":\"887121916\",\"amconfig.org.forgerock.services.cts.store.common.section\":{\"org.forgerock.services.cts.store.location\":{\"value\":\"default\",\"inherited\":true},\"org.forgerock.services.cts.store.root.suffix\":{\"value\":\"\",\"inherited\":true},\"org.forgerock.services.cts.store.max.connections\":{\"value\":\"100\",\"inherited\":true},\"org.forgerock.services.cts.store.page.size\":{\"value\":\"0\",\"inherited\":true},\"org.forgerock.services.cts.store.vlv.page.size\":{\"value\":\"1000\",\"inherited\":true}},\"amconfig.org.forgerock.services.cts.store.external.section\":{\"org.forgerock.services.cts.store.ssl.enabled\":{\"value\":\"\",\"inherited\":true},\"org.forgerock.services.cts.store.mtls.enabled\":{\"value\":\"\",\"inherited\":true},\"org.forgerock.services.cts.store.starttls.enabled\":{\"value\":\"\",\"inherited\":true},\"org.forgerock.services.cts.store.directory.name\":{\"value\":\"\",\"inherited\":true},\"org.forgerock.services.cts.store.loginid\":{\"value\":\"\",\"inherited\":true},\"org.forgerock.services.cts.store.password\":{\"value\":null,\"inherited\":true},\"org.forgerock.services.cts.store.heartbeat\":{\"value\":\"10\",\"inherited\":true},\"org.forgerock.services.cts.store.affinity.enabled\":{\"value\":null,\"inherited\":true}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"887121916\""
            },
            {
              "name": "con[...]
