{
  "log": {
    "_recordingName": "esv/secret-describe/0_json_usage_secret-id_file/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bd4a792e01ef8010ccddbc990f9d0df5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 265,
            "text": "{\"_id\":\"esv-test-secret-pi\",\"activeVersion\":\"1\",\"description\":\"Secret that contains the value of pi\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-12-14T15:22:28.519043Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 145,
      },
      {
        "_id": "5571618bfdb0ccb0e58fe6cc1f65d59d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi/versions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 94,
            "text": "[{\"createDate\":\"2023-12-14T15:22:28.938238Z\",\"loaded\":true,\"status\":\"ENABLED\",\"version\":\"1\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 262,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
