{
  "log": {
    "_recordingName": "config-manager/export/cookie-domains/0_D/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "45a23ebcf5ad757a3d15c32c3b3e5ef7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/cookie-domains"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 15,
            "text": "{\"domains\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "634ce24c-01f4-46e8-9115-d1f46d351a99"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
