{
  "log": {
    "_recordingName": "iga/workflow-import/0_workflow-id_file_no-deps/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e4d00a02ef0eb31b830e3e91f6648793",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-ccb-ai.forgeblocks.com/iga/governance/workflow/testWorkflow2/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 59,
            "text": "{\"message\":\"Workflow with id: testWorkflow2 was not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 444,
      },
      {
        "_id": "d43969f5032710263d9f65c88f016512",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-ccb-ai.forgeblocks.com/iga/governance/workflow/testWorkfl[...]
