{
  "log": {
    "_recordingName": "idm/import/0_AD/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ac31ccceb288fe104fb927288dc7c001",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f78e4ab2-a6c5-402c-a9e5-36e3f0417148"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/b672336b-41ef-428d-ae4a-e0c082875377?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1045,
            "text": "{\"_id\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"_rev\":\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\",\"accountStatus\":\"active\",\"name\":\"frodo-test\",\"description\":\"Frodo Test\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"8lN2UVDDHchL_gIYS5lAiEVAVocyqWHmqBPwPkd22NRMLetczaVSH2UQHoQu7SSKeAtojVJUYuxRtGPfGNExZurTy3CRlzpaNa67B6jyunycPHnyNked0ceFGfjD9c6e0b97L5wqwk2YNVVMGa9c1m8R9HWk2kg9lRwlZE_piwTM9bw8tuWfL1A2-fTDQB2PZSgGGz86jG1RGMY7dnafVKIX3HbW98xOxOwqIRz607IQr-NFia5zjTltpJjR1qOlEFmdHqGTGCnFcHxeJWmKOWcDM4WmfWcgK3zR9Br-aZoDTl8RMAths30Pc1pe_dl5OepxCYQ7b0BXg0zQaYcx5G5ZcNR3ldjDNfpiXg1viWjEBiwiCg7gkYksBu0aFHX2pc4KKHKcyIeD0sbhaLSK3JXhI1TJvm7rwyX1wsRKmMTGTZMxYJlADZufKKd-Jg7k2_iwP3WUJxdgkJsgvLj7ZbTf5Paz7_FLeSajjtGPu6hGSWV8uOGgRgcnJgz3DP2S9qfHI7nKswtgwFdjbOMK39iNjU8PI-cOaaVKQcH88xBCu1bpCX1MIVvZ5arQF783qasj9bBB4t27gKXOauIr-sXMUI6_L7CQ7IqWld8VvNWKReMMqiRQV9huEEV1chCFzZI_aEW82fDC9dRbFXG-w92PhPPVbNznWsrhO1aPxA8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f78e4ab2-a6c5-402c-a9e5-36e3f0417148"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 84,
      },
      {
        "_id": "c4f85e93d4749dad9c0dfed751a70df8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f78e4ab2-a6c5-402c-a9e5-36e3f0417148"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"fieldPolicy/alpha_user\",\"defaultPasswordStorageScheme\":[{\"_id\":\"PBKDF2-HMAC-SHA256\"}],\"passwordAttribute\":\"password\",\"resourceCollection\":\"managed/alpha_user\",\"type\":\"password-policy\",\"validator\":[{\"_id\":\"alpha_userPasswordPolicy-length-based-password-validator\",\"enabled\":true,\"maxPasswordLength\":0,\"minPasswordLength\":8,\"type\":\"length-based\"},{\"_id\":\"alpha_userPasswordPolicy-attribute-value-password-validator\",\"checkSubstrings\":true,\"enabled\":true,\"matchAttribute\":[\"mail\",\"userName\",\"givenName\",\"sn\"],\"minSubstringLength\":5,\"testReversedPassword\":true,\"type\":\"attribute-value\"},{\"_id\":\"alpha_userPasswordPolicy-character-set-password-validator\",\"allowUnclassifiedCharacters\":true,\"characterSet\":[\"1:abcdefghijklmnopqrstuvwxyz\",\"1:ABCDEFGHIJKLMNOPQRSTUVWXYZ\",\"1:0123456789\",\"1:~!@#$%^&*()-_=+[]{}|;:,.<>/?\\\"'\\\\`\"],\"enabled\":true,\"type\":\"character-set\"}]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/fieldPolicy/alpha_user"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 866,
            "text": "{\"_id\":\"fieldPolicy[...]
