{
  "log": {
    "_recordingName": "log/list/0/monitoring",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6279a0e7ee576e32c799947b0c2e5a64",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "<api key>"
            },
            {
              "name": "x-api-secret",
              "value": "<api secret>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/monitoring/logs/sources"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 333,
            "text": "{\"result\":[\"am-access\",\"am-activity\",\"am-authentication\",\"am-config\",\"am-core\",\"am-everything\",\"idm-access\",\"idm-activity\",\"idm-authentication\",\"idm-config\",\"idm-core\",\"idm-everything\",\"idm-recon\",\"idm-sync\"],\"resultCount\":14,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":1,\"remainingPagedResults\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "1695670189759-39a7c2f9158340ad3619-57269/0"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "28"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "28"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1695670256"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 525,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
