{
  "log": {
    "_recordingName": "info/0_scriptFriendly/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ac31ccceb288fe104fb927288dc7c001",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6bc4c9d4-93fa-4d78-84d9-48f57611c801"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..2NglFox4QG5qtqJkiZm3iA.99Rj6T9l3A18zxyhLHDfdwG1kMmDhR66nadKhF-y5g9AcmW-DPZUq-irqM2CeMa5cdgqMkZMRVCJOrJ9oiyjk6wj_L3JMA_BznsXiDiRL0zBhupciJNaPpU4seea37LfGBSv3RcwK0_RAUKrsrOCrTCwDX8KT2ivlt5A1Zc_N7elp3Zu8vOwViGIPIgODwM5gbM50Si1lDudGCvjr1jQD-GNvoS4YfUAqQAF7Kc2PGvbgGmptAyoByXGTKvlooDEDmhKPs7vj1U3gBKh3_w2aYQX1fAUipyIyHR_qO-iNZ2Su3yFS2d9JhZ2so7if8h9vzUXUokgj3bc_z-bXdW14873troDcb9gNp_531AecUhYdmb3S9HFAb9xb0g3c8qQOCnLnBOimw74_rF4IbCF1u-1yvHknnjpsM-ZjFkDGxdV1BXi43QVHVEPecvbSXUTQjcLqt-CFDAYQLX2acjEm1AdaSpjJPQC_ENXGmZrFppswfTHYrAwz8Waa5U_AEkPTF7AdK_IBX7YUbfen5aJHNcbW_ywky_eJCWVLph6RzcetI5QrL9MpSXF5dKuUk4DH-mV2aUrhphv_HfWu36TNq3m3GF2D3_d89iOAHOwaiisKuxXBbdNvujWFQW-UcNjfPFc8et9JcY-xTDY1p82Jzz2gOKiu5N4UkQ0vlSFqJQFtCQhjfh6bwBjCLoiXOhwQ4ujYkDJIh_b99eqXRxIICrDJ21dEYx1KksHchzdOHC_fiNcpziVV9c61j5hSa3nymmFF_akiFYNul5eIYktR7UV839sjzHKpcFST-t_TwrIVbqyk_a3sTl_oMBzDQcYM3KG_wuPRdb8oSegW-ds9srP_pHmRj4xvQHbVB2PnxvJHXf-yQlcGyF4WFzpn0p6QNoyL5vOQQH-HidNMl2WQQFo0VcHYIAYKCqBbRnuBg7sMbc89WpE5DpwpKqdVdPErJXzeTIMN_OAXFPtaonDRflbUVwt--CeYq4H0n7cS4i991jhoGmJMpRl6Y6UtR-ntrX6UmlfPbYDBRf-Bc8zfQhdPyYFEIHsVP467bqco4g.LN2EHBfTA55_YJZwa1AFRw"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/b672336b-41ef-428d-ae4a-e0c082875377?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1045,
            "text": "{\"_id\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"_rev\":\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\",\"accountStatus\":\"active\",\"name\":\"frodo-test\",\"description\":\"Frodo Test\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"8lN2UVDDHchL_gIYS5lAiEVAVocyqWHmqBPwPkd22NRMLetczaVSH2UQHoQu7SSKeAtojVJUYuxRtGPfGNExZurTy3CRlzpaNa67B6jyunycPHnyNked0ceFGfjD9c6e0b97L5wqwk2YNVVMGa9c1m8R9HWk2kg9lRwlZE_piwTM9bw8tuWfL1A2-fTDQB2PZSgGGz86jG1RGMY7dnafVKIX3HbW98xOxOwqIRz607IQr-NFia5zjTltpJjR1qOlEFmdHqGTGCnFcHxeJWmKOWcDM4WmfWcgK3zR9Br-aZoDTl8RMAths30Pc1pe_dl5OepxCYQ7b0BXg0zQaYcx5G5ZcNR3ldjDNfpiXg1viWjEBiwiCg7gkYksBu0aFHX2pc4KKHKcyIeD0sbhaLSK3JXhI1TJvm7rwyX1wsRKmMTGTZMxYJlADZufKKd-Jg7k2_iwP3WUJxdgkJsgvLj7ZbTf5Paz7_FLeSajjtGPu6hGSWV8uOGgRgcnJgz3DP2S9qfHI7nKswtgwFdjbOMK39iNjU8PI-cOaaVKQcH88xBCu1bpCX1MIVvZ5arQF783qasj9bBB4t27gKXOauIr-sXMUI6_L7CQ7IqWld8VvNWKReMMqiRQV9huEEV1chCFzZI_aEW82fDC9dRbFXG-w92PhPPVbNznWsrhO1aPxA8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6bc4c9d4-93fa-4d78-84d9-48f57611c801"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 62,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
