{
  "log": {
    "_recordingName": "secretstore/mapping-create/0_i_s_a/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-99e82207-f35d-4061-a63b-dd486bffacca"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/dad3586a-6582-4a2f-b443-6993625d7cff?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1371,
            "text": "{\"_id\":\"dad3586a-6582-4a2f-b443-6993625d7cff\",\"_rev\":\"9fd1ef44-027e-42a8-b713-27a1844d9ab6-4450\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1749160367930\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:autoaccess:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"HfH2AAXTh-kzesajDsItZkLqL_obrSoVG5pBXptMvvI\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"r6lUPXoLEKio8fUM4bql47pXsSz6XlTIxTs7XLU_72-s9gDf26P7-B08c7ChYjkliW0YEDi9A4fBECpfF-G8BiyWMpvOOT7JexTPAfj7JMz2o1VNqTM5S_Hnq94AFnch6w3QPYb6MBq2B-4XrzFFCErq-92n4Tec1xGTYnteXs4RXHTWN-_I6eSLqnGGsckTI28q9mgg6P9rBjoZBMXRmk19YvbrCVXeWVaRrU43XQ28heXr5YvgrHi3Rw0dWMvqSf6aQYlr3fz6Qn6RgXiHLVmLv18V5-t47qVe0XrEPM8UcfrLRyeonXridb5-37xTFOrB5w4PYXRrRW3m67Og1I8HlRYa_DwN_UuEbBrCM_ix7MuV3pkTGUFBjetwBE9ujH85GgEaBAzyyc-flcz7Xsstil2TsT6thfe6yHyMUumjVeQsqXj7RCrRbp26uwm4UfvHxsqPZk4tejvE_9Uw8uxnQ9Ra9YwpyGH6n0dkPP4mJLcxAsZGYvS4LBErj9JK__dPu-ENGjPa5qHzf_DoOPq9ObJnTJOw1wsdrYLoXzaDel14d7hzYvxR-ZOwJWYqZslUStgbM1KFl0zNwZCnlSXF0D5YKXu-NuxoytuXOxB9ZOPPqd0EvsYikSYc-zZGZQ70c6tAUQWyFV3o_p1bZVc6x9zotG9dF_tn9flsLGU\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"9fd1ef44-027e-42a8-b713-27a1844d9ab6-4450\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-99e82207-f35d-4061-a63b-dd486bffacca"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 107,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-99e82207-f35d-4061-a63b-dd486bffacca"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
