{
  "log": {
    "_recordingName": "config-manager/push/email-provider/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "732f90ec76ee2beb514b8d852f09594f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8d8ba56f-7782-4cb0-a0c9-3f9adba9136a"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"external.email\",\"auth\":{\"enable\":true,\"password\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"qcDwBztfGus1VQ3UjmLmCQ==\",\"iv\":\"dh1xL4olkahHfUzg1cM/ig==\",\"keySize\":16,\"mac\":\"QQZZ0CaZ7J7bfM+r72oKXg==\",\"purpose\":\"idm.config.encryption\",\"salt\":\"jjLFVYra5scm+UdVgM2Ncw==\",\"stableId\":\"openidm-sym-default\"}}},\"username\":\"dallinsevy\"},\"connectiontimeout\":30000,\"from\":\"\\\"Example\\\" <superextra@example.com>\",\"host\":\"example.com\",\"port\":22,\"smtpProperties\":[],\"ssl\":{\"enable\":false},\"starttls\":{\"enable\":false},\"timeout\":30000,\"writetimeout\":30000}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/external.email"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 591,
            "text": "{\"_id\":\"external.email\",\"auth\":{\"enable\":true,\"password\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"qcDwBztfGus1VQ3UjmLmCQ==\",\"iv\":\"dh1xL4olkahHfUzg1cM/ig==\",\"keySize\":16,\"mac\":\"QQZZ0CaZ7J7bfM+r72oKXg==\",\"purpose\":\"idm.config.encryption\",\"salt\":\"jjLFVYra5scm+UdVgM2Ncw==\",\"stableId\":\"openidm-sym-default\"}}},\"username\":\"dallinsevy\"},\"connectiontimeout\":30000,\"from\":\"\\\"Example\\\" <superextra@example.com>\",\"host\":\"example.com\",\"port\":22,\"smtpProperties\":[],\"ssl\":{\"enable\":false},\"starttls\":{\"enable\":false},\"timeout\":30000,\"writetimeout\":30000}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 29,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
