{
  "log": {
    "_recordingName": "conn/save/3/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e8f8b1f0-95c0-4977-9236-801e11774888"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://nightly.gcp.forgeops.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 557,
            "text": "{\"_id\":\"*\",\"_rev\":\"1352294780\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"iPlanetDirectoryPro\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1352294780\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 257,
      },
      {
        "_id": "d0fcfebba777fc9d24e93d478386188a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e8f8b1f0-95c0-4977-9236-801e11774888"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "amadmin"
            },
            {
              "name": "x-openam-password",
              "value": "lEQlR0WdIGOaTBtm16o64qlq"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://nightly.gcp.forgeops.com/am/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 167,
            "text": "{\"tokenId\":\"vjbgidavF_cbw5EGzp-xJaMMY2o.*AAJTSQACMDIAAlNLABxjNXZFMkxDaC9udllyNTNGdkllampHeHdqWDA9AAR0eXBlAANDVFMAAlMxAAIwMQ..*\",\"successUrl\":\"/am/console\",\"realm\":\"/\"}"
          },
            {
              "httpOnly": true,
              "name": "amlbcookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "01"
            },
            {
              "httpOnly": true,
              "name": "iPlanetDirectoryPro",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "vjbgidavF_cbw5EGzp-xJaMMY2o.*AAJTSQACMDIAAlNLABxjNXZFMkxDaC9udllyNTNGdkllampHeHdqWDA9AAR0eXBlAANDVFMAAlMxAAIwMQ..*"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "ap[...]
