{
  "log": {
    "_recordingName": "iga/workflow-delete/0_i_force/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "02b2d4fe515135c96a0ffda70c37e2ae",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-ccb-ai.forgeblocks.com/auto/orchestration/definition/test_workflow_1/draft"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 38,
            "text": "Exception: argument \"content\" is null "
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 368,
      },
      {
        "_id": "770b730c3b279a710a89a421f9d8e249",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-ccb-ai.forgeblocks.com/auto/orchestration/definition/test_workflow_1/published"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 38,
            "text": "Exception: argument \"content\" is null "
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 311,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
