{
  "log": {
    "_recordingName": "config-manager/push/password-policy/0_r_D_m/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7f5e970a-5dd9-4292-bbc5-2efebdaf6fd4"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://platform.dev.trivir.com/platform/appAuthHelperRedirect.html&scope=fr:idm:* openid&response_type=code&client_id=idm-admin-ui&csrf=rfnX3kOReMEIFK6EbkihG5bGr4k.*AAJTSQACMDIAAlNLABxIRHhna0lvN05Gc0ZiclhJMlh4aWt4QnVGVHM9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=_i7WmnzW7Vgoh3Z3x7NMqTewHDYI1eTmWWt_0aX300o&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "expires": "1970-01-01T00:00:00.000Z",
              "httpOnly": true,
              "name": "OAUTH_REQUEST_ATTRIBUTES",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "<cookie>"
            }
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://platform.dev.trivir.com/platform/appAuthHelperRedirect.html?code=kUNE9PrsC74H798pYysY0O018us&iss=https%3A%2F%2Fplatform.dev.trivir.com%2Fam%2Foauth2&client_id=idm-admin-ui"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 17,
      },
      {
        "_id": "ff75519a93ccab829f8ee8cf5e92b49f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7f5e970a-5dd9-4292-bbc5-2efebdaf6fd4"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "client_id=idm-admin-ui&redirect_uri=https://platform.dev.trivir.com/platform/appAuthHelperRedirect.html&grant_type=authorization_code&code=kUNE9PrsC74H798pYysY0O018us&code_verifier=vPZVvKojq8pYK_57NyvaH_DKURFuJU2WS71BDA8oDZk"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1247,
            "text": "{\"access_token\":\"<access token>\",\"scope\":\"openid fr:idm:*\",\"id_token\":\"<id token>\",\"token_type\":\"Bearer\",\"expires_in\":239}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
