{
  "log": {
    "_recordingName": "iga/workflow-delete/0_Fpi/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5da0ad1d0f403698d1529269015c3a3b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/auto/orchestration/definition/testWorkflow9/published"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 22392,
            "text": "{\"id\":\"testWorkflow9\",\"name\":\"test_workflow_9\",\"displayName\":\"test_workflow_9\",\"description\":\"test_workflow_9\",\"childType\":false,\"_rev\":0,\"steps\":[{\"name\":\"approvalTask-7e33e73d6763\",\"displayName\":\"Custom Approval Task\",\"type\":\"approvalTask\",\"approvalTask\":{\"nextStep\":[{\"condition\":null,\"outcome\":\"APPROVE\",\"step\":\"fulfillmentTask-7fce35a32915\"},{\"condition\":null,\"outcome\":\"REJECT\",\"step\":\"violationTask-50261d9bc712\"}],\"approvalMode\":\"any\",\"actors\":{\"isExpression\":true,\"value\":\"/**\\nDefine custom script which returns an array of actors in the following format\\n(function() {\\n    var content = execution.getVariables();\\n    var requestId = content.get('id');\\n    var requestIndex = openidm.action('iga/governance/requests/' + requestId, 'GET', {}, {});\\n    return [{\\n        id: \\\"managed/user/\\\" + requestIndex.applicationOwner[0].id,\\n        permissions: {\\n            approve: true,\\n            reject: true,\\n            reassign: true,\\n            modify: true,\\n            comment: true\\n        }\\n    }];\\n})()\\n**/\\n(\\nfunction(){\\n   return [];\\n}\\n)()\"},\"events\":{\"assignment\":{\"notification\":\"FrodoTestEmailTemplate1\"},\"escalation\":{\"actors\":[{\"id\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\"}],\"date\":{\"isExpression\":true,\"value\":\"(new Date(new Date().getTime()+(5*24*60*60*1000))).toISOString()\"},\"frequency\":5,\"notification\":\"FrodoTestEmailTemplate1\"},\"expiration\":{\"action\":\"reassign\",\"actors\":[{\"id\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"permissions\":{\"approve\":true,\"comment\":true,\"modify\":true,\"reassign\":true,\"reject\":true}},{\"id\":\"managed/role/be68f831-a8f3-42da-93df-84bbc66427f6\",\"permissions\":{\"approve\":true,\"comment\":true,\"modify\":true,\"reassign\":true,\"reject\":true}},{\"id\":{\"isExpression\":true,\"value\":\"\\\"managed/user/\\\" + requestIndex.applicationOwner[0].id\"},\"permissions\":{\"approve\":true,\"comment\":true,\"modify\":true,\"reassign\":true,\"reject\":true}},{\"id\":{\"isExpression\":true,\"value\":\"\\\"managed/user/\\\" + requestIndex.manager.id\"},\"permissions\":{\"approv[...]
