{
  "log": {
    "_recordingName": "app/export/0_Ni_D/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "28b788a164509f9291d0055762972ae4",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ec56a704-16b1-4bf4-83ef-50bbdbc4afde"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-volker-demo.forgeblocks.com/openidm/managed/svcacct/dc837f84-3643-4c5d-9c05-acb73c7d02f4?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1174,
            "text": "{\"_id\":\"dc837f84-3643-4c5d-9c05-acb73c7d02f4\",\"_rev\":\"f75d6945-1081-4e40-ac38-a36141369e72-1834\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1700696937262\",\"description\":\"volker.scheuber@forgerock.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"pIA_JyWzCR6VGELlXc-Mx0G0_0DAyOZZf1n2QS8rDGc\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"kfxhNrv5Z3nbUozwuZCHVwgUKqhDnHfGh_AgY2v1ihpRpsYnakhxYWW8i1iCya9vBvi4YZGeYjdyH7rqvB1_ZzGPRpPUBca5bEJA2xWAt-5rsKebrRhdgmo_dd0JVWnS5wVSM9lg73SXR5nVCtHJsQNCxFpBT-NXdf-bL-xY0hI2JvQg1IH9mrxJIKqF9eqoyxy3BoXgV2YgOP8xGsqIuweOJx-KBVQ5EqqVuACgrku-p6Wii2WPS8qXz6x4ORJmJ85Lo87hgUwsCg3tlxnV5PCs68BgvMTQmGgop5S4m8psmN7XmbCsxBtoZJoU8eRDwQnz9_IT5wPjSuCrwLPkHYukL565J6QesEEBDDe9S8UBgikWamR6sNpFgHUPymkQ7xPZeZOxMMURfAOBHE3qmwxhtUCxlNSkg8IiosWmvwfTIqLTv56ZPNAINJ9DNKlGY0tvIVjM5lg2Jw_6f_XCbje6ZM2vPVeU5l6Pl7gkkYKa2PN9VgN9RHerFZzCovSDhrffV0syyc31K1oAW7NSUflPNWgYmOlAO3rgZzNIeqtbu3xQ_bKSFwyDB262Vpmz8b3sXAQ_5kKbgduy5O5Sw6pQvL5EDSjS_pmgPeFruu3swYaPgRwopHFeZ4ojitJF4QtWSTgGc2GjLd6VPJAp5nn70IYM3tztYDS7uvrmrqc\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"f75d6945-1081-4e40-ac38-a36141369e72-1834\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ec56a704-16b1-4bf4-83ef-50bbdbc4afde"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 72,
      },
      {
        "_id": "893cb5ed12c645b27641f9ff7f3ff5ca",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ec56a704-16b1-4bf4-83ef-50bbdbc4afde"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq 'HRLite'"
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_fields",
              "value": "authoritative,connectorId,description,icon,mappingNames,name,ssoEntities,templateName,templateVersion,uiConfig,url"
            }
          ],
          "url": "https://openam-volker-demo.forgeblocks.com/openidm/managed/alpha_application?_queryFilter=name%20eq%20%27HRLite%27&_pageSize=1000&_fields=authoritative%2CconnectorId%2Cdescription%2Cicon%2CmappingNames%2Cname%2CssoEntities%2CtemplateName%2CtemplateVersion%2CuiConfig%2Curl"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 811,
            "text": "{\"result\":[{\"_id\":\"c7932f33-a3ac-4192-8dee-11fb96df0874\",\"_rev\":\"6f7f7140-16a0-47f8-9d9d-b519ed0530ca-980\",\"description\":\"Example\",\"templateName\":\"scripted.sql\",\"templateVersion\":\"1.0.0\",\"authoritative\":true,\"icon\":\"\",\"connectorId\":\"HRLite\",\"uiConfig\":{\"objectTypes\":{\"department\":{\"properties\":{\"uid\":{},\"description\":{},\"parent\":{},\"__NAME__\":{},\"name\":{}}},\"__ACCOUNT__\":{\"properties\":{\"postalCode\":{},\"empType\":{},\"phone\":{},\"state\":{},\"firstName\":{},\"depName\":{},\"email\":{},\"uid\":{},\"status\":{},\"country\":{},\"city\":{},\"depId\":{},\"lastName\":{},\"address\":{},\"jobCode\":{},\"isManager\":{},\"__NAME__\":{}}}}},\"mappingNames\":[\"systemHrlite__account___managedAlpha_user\"],\"name\":\"HRLite\"}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ec56a704-16b1-4bf4-83ef-50bbdbc4afde"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 53,
      },
      {
        "_id": "2f8c5b9710316149d46803a1f450a07d",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ec56a704-16b1-4bf4-83ef-50bbdbc4afde"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-volker-demo.forgeblocks.com/openidm/config/provisioner.openicf/HRLite"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 5781,
            "text": "{\"_id\":\"provisioner.openicf/HRLite\",\"configurationProperties\":{\"abandonWhenPercentageFull\":0,\"accessToUnderlyingConnectionAllowed\":true,\"alternateUsernameAllowed\":false,\"authenticateScriptFileName\":\"HRliteAuthenticateScript.groovy\",\"autoCommit\":true,\"classpath\":[],\"commitOnReturn\":false,\"connectionProperties\":null,\"createScriptFileName\":\"HRliteCreateScript.groovy\",\"customConfiguration\":null,\"customSensitiveConfiguration\":null,\"customizerScriptFileName\":null,\"dataSourceJNDI\":null,\"debug\":false,\"defaultAutoCommit\":null,\"defaultCatalog\":null,\"defaultReadOnly\":null,\"defaultTransactionIsolation\":-1,\"deleteScriptFileName\":\"HRliteDeleteScript.groovy\",\"disabledGlobalASTTransformations\":null,\"driverClassName\":\"com.mysql.jdbc.Driver\",\"fairQueue\":true,\"ignoreExceptionOnPreLoad\":false,\"initSQL\":null,\"initialSize\":10,\"jdbcInterceptors\":null,\"jmxEnabled\":true,\"logAbandoned\":false,\"logValidationErrors\":false,\"maxActive\":100,\"maxAge\":0,\"maxIdle\":100,\"maxWait\":30000,\"minEvictableIdleTimeMillis\":60000,\"minIdle\":10,\"minimumRecompilationInterval\":100,\"name\":\"Tomcat Connection Pool[1-265824587]\",\"numTestsPerEvictionRun\":0,\"password\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"gpigd7hcpjldqu81aCo67bUfjxHldBGf6LAdsfXBJIc=\",\"iv\":\"I0rXA4v5KVb5Z2FgirVyVA==\",\"keySize\":16,\"mac\":\"zXSltI9rpo9MEJKPuop/zQ==\",\"purpose\":\"idm.config.encryption\",\"salt\":\"sFzdBL01YZWyjilDZimG/A==\",\"stableId\":\"openidm-sym-default\"}}},\"propagateInterruptState\":false,\"recompileGroovySource\":false,\"removeAbandoned\":false,\"removeAbandonedTimeout\":60,\"resolveUsernameScriptFileName\":null,\"rollbackOnReturn\":false,\"schemaScriptFileName\":\"HRliteSchemaScript.groovy\",\"scriptBaseClass\":null,\"scriptExtensions\":[\"groovy\"],\"scriptOnResourceScriptFileName\":null,\"scriptRoots\":\"/opt/forgerock/openicf/scripts/hrlite\",\"searchScriptFileName\":\"HRliteSearchScript.groovy\",\"sourceEncoding\":\"UTF-8\",\"suspectTimeout\":0,\"syncScriptFileName\":\"HRliteSyncScript.groovy\",\"targetDirectory\":null,\"testOnBorrow\":false,\"testOnConnect\":false,\"testOnReturn\":false,\"testScriptFileName\":\"HRliteTestScript.groovy\",\"testWhileIdle\":false,\"timeBetweenEvictionRunsMillis\":5000,\"tolerance\":10,\"updateScriptFileName\":\"HRliteUpdateScript.groovy\",\"url\":\"jdbc:mysql://mariadb:3306/hrdb?autoReconnect=true\",\"useDisposableConnectionFacade\":true,\"useEquals\":true,\"useLock\":false,\"useStatementFacade\":true,\"username\":\"hradmin\",\"validationInterval\":2000,\"validationQuery\":\"SELECT 1 FROM DUAL\",\"validationQueryTimeout\":-1,\"validatorClassName\":null,\"verbose\":false,\"warningLevel\":1},\"connectorRef\":{\"bundleName\":\"org.forgerock.openicf.connectors.scriptedsql-connector\",\"bundleVersion\":\"1.5.20.9\",\"connectorHostRef\":\"encorebaseline\",\"connectorName\":\"org.forgerock.openicf.connectors.scriptedsql.ScriptedSQLConnector\",\"displayName\":\"Scripted SQL Connector\",\"systemType\":\"provisioner.openicf\"},\"enabled\":true,\"objectTypes\":{\"__ACCOUNT__\":{\"$schema\":\"http://json-schema.org/draft-03/schema\",\"id\":\"__ACCOUNT__\",\"nativeType\":\"__ACCOUNT__\",\"properties\":{\"__NAME__\":{\"nativeName\":\"__NAME__\",\"nativeType\":\"string\",\"type\":\"string\"},\"address\":{\"nativeName\":\"address\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"city\":{\"nativeName\":\"city\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"country\":{\"nativeName\":\"country\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"depId\":{\"nativeName\":\"depId\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"depName\":{\"nativeName\":\"depName\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"email\":{\"nativeName\":\"email\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"empType\":{\"nativeName\":\"empType\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"externalMail\":{\"nativeName\":\"externalMail\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"firstName\":{\"nativeName\":\"firstName\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"isManager\":{\"nativeName\":\"isManager\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"jobCode\":{\"nativeName\":\"jobCode\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"lastName\":{\"nativeName\":\"lastName\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"manager\":{\"nativeName\":\"manager\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"phone\":{\"nativeName\":\"phone\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"postalCode\":{\"nativeName\":\"postalCode\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"state\":{\"nativeName\":\"state\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"status\":{\"nativeName\":\"status\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"uid\":{\"nativeName\":\"uid\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"}},\"type\":\"object\"},\"department\":{\"$schema\":\"http://json-schema.org/draft-03/schema\",\"id\":\"department\",\"nativeType\":\"department\",\"properties\":{\"__NAME__\":{\"nativeName\":\"__NAME__\",\"nativeType\":\"string\",\"type\":\"string\"},\"description\":{\"nativeName\":\"description\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"name\":{\"nativeName\":\"name\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"parent\":{\"nativeName\":\"parent\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"},\"uid\":{\"nativeName\":\"uid\",\"nativeType\":\"string\",\"required\":true,\"type\":\"string\"}},\"type\":\"object\"}},\"operationTimeout\":{\"AUTHENTICATE\":-1,\"CREATE\":-1,\"DELETE\":-1,\"GET\":-1,\"RESOLVEUSERNAME\":-1,\"SCHEMA\":-1,\"SCRIPT_ON_CONNECTOR\":-1,\"SCRIPT_ON_RESOURCE\":-1,\"SEARCH\":-1,\"SYNC\":-1,\"TEST\":-1,\"UPDATE\":-1,\"VALIDATE\":-1},\"poolConfigOption\":{\"maxIdle\":10,\"maxObjects\":10,\"maxWait\":150000,\"minEvictableIdleTimeMillis\":120000,\"minIdle\":1},\"resultsHandlerConfig\":{\"enableAttributesToGetSearchResultsHandler\":true,\"enableCaseInsensitiveFilter\":false,\"enableFilteredResultsHandler\":false,\"enableNormalizingResultsHandler\":false}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ec56a704-16b1-4bf4-83ef-50bbdbc4afde"
            }
          ],
          "status": 200,
          "statusText"[...]
