{
  "log": {
    "_recordingName": "esv/secret-export/0_Ni_D/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b347f3163c26e50f02a2c38a0f934f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 322,
            "text": "{\"_id\":\"esv-test-secret\",\"activeVersion\":\"1\",\"description\":\"Simple ESV test secret with a string value of \\\"true\\\" encoded generically\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-12-18T23:04:14.219924073Z\",\"lastChangedBy\":\"76618ff6-e851-433e-9704-9d2852a17b7a\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 209,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
