{
  "log": {
    "_recordingName": "esv/secret-export/0_Ni_D/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b347f3163c26e50f02a2c38a0f934f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 286,
            "text": "{\"_id\":\"esv-test-secret\",\"activeVersion\":\"1\",\"description\":\"This is a test secret containing a simple string value.\",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-07-05T17:53:53.682578Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 236,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
