{
  "log": {
    "_recordingName": "idp/import/0_all-separate_no-deps_directory/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ed18b92e-92a4-487e-ac59-41bf2dca0108"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1874515102\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ed18b92e-92a4-487e-ac59-41bf2dca0108"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 138,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ed18b92e-92a4-487e-ac59-41bf2dca0108"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 281,
            "text": "{\"_id\":\"version\",\"_rev\":\"-347675290\",\"version\":\"7.5.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.5.0-SNAPSHOT Build c27d160f2238f1869b36b4e3a66ff9baa06e89f7 (2023-November-16 17:31)\",\"revision\":\"c27d160f2238f1869b36b4e3a66ff9baa06e89f7\",\"date\":\"2023-November-16 17:31\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-347675290\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ed18b92e-92a4-487e-ac59-41bf2dca0108"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 88,
      },
      {
        "_id": "355ca07b75331de48c903d246dcbd8ee",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ed18b92e-92a4-487e-ac59-41bf2dca0108"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"clientId\":\"123741918345526\",\"pkceMethod\":\"S256\",\"jwtEncryptionMethod\":\"NONE\",\"authorizationEndpoint\":\"https://www.facebook.com/dialog/oauth\",\"jwtEncryptionAlgorithm\":\"NONE\",\"clientSecret\":null,\"issuerComparisonCheckType\":\"EXACT\",\"scopeDelimiter\":\" \",\"scopes\":[\"email\"],\"enabled\":true,\"authenticationIdKey\":\"id\",\"uiConfig\":{\"buttonClass\":\"fa-facebook-official\",\"buttonCustomStyle\":\"background-color: #3b5998; border-color: #3b5998; color: white;\",\"buttonCustomStyleHover\":\"background-color: #334b7d; border-color: #334b7d; color: white;\",\"buttonDisplayName\":\"Facebook\",\"buttonImage\":\"\",\"iconBackground\":\"#3b5998\",\"iconClass\":\"fa-facebook\",\"iconFontColor\":\"white\"},\"privateKeyJwtExpTime\":3600,\"revocationCheckOptions\":[],\"transform\":\"bae1d54a-e97d-4997-aa5d-c027f21af82c\",\"userInfoEndpoint\":\"https://graph.facebook.com/me?fields=id,name,picture,email,first_name,last_name,locale\",\"jwtSigningAlgorithm\":\"NONE\",\"redirectURI\":\"https://idc.scheuber.io/am/XUI/?realm=%2Falpha\",\"clientAuthenticationMethod\":\"CLIENT_SECRET_POST\",\"responseMode\":\"DEFAULT\",\"useCustomTrustStore\":false,\"tokenEndpoint\":\"https://graph.facebook.com/v2.7/oauth/access_token\",\"_id\":\"facebook\",\"_type\":{\"_id\":\"oauth2Config\",\"name\":\"Client configuration for providers that implement the OAuth2 specification.\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/services/SocialIdentityProviders/oauth2Config/facebook"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1296,
            "text": "{\"_id\":\"facebook\",\"_rev\":\"-2085447577\",\"clientId\":\"123741918345526\",\"pkceMethod\":\"S256\",\"jwtEncryptionMethod\":[...]
