{
  "log": {
    "_recordingName": "info/3_s/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-081ed088-163e-42a3-980b-b2258e3dc1db"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "6ac6499e9da2071",
              "value": "hi5dqz4p3nasUbX4SdLXyQxzqC4.*AAJTSQACMDIAAlNLABwzV05xMGM1bFQyMGhoenZLSnJCTmZoQnE4K1k9AAR0eXBlAANDVFMAAlMxAAIwMQ..*"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html&scope=openid fr:idm:* fr:idc:esv:*&response_type=code&client_id=idmAdminClient&csrf=hi5dqz4p3nasUbX4SdLXyQxzqC4.*AAJTSQACMDIAAlNLABwzV05xMGM1bFQyMGhoenZLSnJCTmZoQnE4K1k9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=XgVVlKt9W2VakM2VaELldd17FnpThqVX6nDKbmpOeZ8&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html?code=tJa9tPCGwEXi6cHSe3gk64jzqiw&iss=https%3A%2F%2Fopenam-frodo-dev.forgeblocks.com%3A443%2Fam%2Foauth2&client_id=idmAdminClient"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-081ed088-163e-42a3-980b-b2258e3dc1db"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 74,
      },
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-081ed088-163e-42a3-980b-b2258e3dc1db"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
[...]
