{
  "log": {
    "_recordingName": "esv/secret-import/0_f/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cbf15e860ee5de41cde63d4cd2edd95d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"cGxhY2Vob2xkZXIgc2VjcmV0IHZhbHVl\",\"description\":\"Long-lived admin token\",\"encoding\":\"generic\",\"useInPlaceholders\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-admin-token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 76,
            "text": "{\"code\":400,\"message\":\"Failed to create secret, the secret already exists\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 355,
      },
      {
        "_id": "5f67146104ed669168b2a1092f435255",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "P[...]
