{
  "log": {
    "_recordingName": "info/1_sa-id_sa-jwk-file/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ff75519a93ccab829f8ee8cf5e92b49f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0950a69-f840-4365-80b2-720f37079355"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "assertion=<assertion jwt token>&client_id=service-account&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&scope=fr:am:* fr:idc:analytics:* fr:autoaccess:* fr:idc:certificate:* fr:idc:certificate:read fr:idc:content-security-policy:* fr:idc:custom-domain:* fr:idc:esv:* fr:idm:* fr:iga:* fr:idc:promotion:* fr:idc:release:* fr:idc:sso-cookie:*"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 287,
            "text": "{\"error_description\":\"Unsupported scope for service account: fr:autoaccess:*,fr:iga:*,fr:idc:analytics:*,fr:idc:custom-domain:*,fr:idc:release:*,fr:idc:sso-cookie:*,fr:idc:certificate:read,fr:idc:content-security-policy:*,fr:idc:certificate:*,fr:idc:promotion:*\",\"error\":\"invalid_scope\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0950a69-f840-4365-80b2-720f37079355"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 1171,
      },
      {
        "_id": "ff75519a93ccab829f8ee8cf5e92b49f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0950a69-f840-4365-80b2-720f37079355"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "assertion=<assertion jwt token>&client_id=service-account&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&scope=fr:am:* fr:idc:esv:* fr:idm:*"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1276,
            "text": "{\"access_token\":\"<access token>\",\"scope\":\"fr:am:* fr:idc:esv:* fr:idm:*\",\"token_type\":\"Bearer\",\"expires_in\":899}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0950a69-f840-4365-80b2-720f37079355"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 115,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
