{
  "log": {
    "_recordingName": "agent/gateway-import/0_i_f/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4b2142fc-b472-4156-b9e5-0d94f172c8b0"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 614,
            "text": "{\"_id\":\"*\",\"_rev\":\"1955877865\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"cloudOnlyFeaturesEnabled\":true,\"oauth2AIAgentsEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1955877865\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4b2142fc-b472-4156-b9e5-0d94f172c8b0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 350,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4b2142fc-b472-4156-b9e5-0d94f172c8b0"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 274,
            "text": "{\"_id\":\"version\",\"_rev\":\"194838800\",\"version\":\"9.0.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 9.0.0-SNAPSHOT Build 500b736d5354dc1171d65a84ec4230d63a5a084e (2026-April-21 11:20)\",\"revision\":\"500b736d5354dc1171d65a84ec4230d63a5a084e\",\"date\":\"2026-April-21 11:20\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"194838800\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4b2142fc-b472-4156-b9e5-0d94f172c8b0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 447,
      },
      {
        "_id": "603fd1686174def667ad7462f18278b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4b2142fc-b472-4156-b9e5-0d94f172c8b0"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"frodo-test-ig-agent\",\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"collection\":true,\"name\":\"Identity Gateway Agents\"},\"agentgroup\":\"test_ig_group\",\"igCdssoLoginUrlTemplate\":\"http://testurl.com:8080/frodo\",\"igCdssoRedirectUrls\":[\"http://testurl.com:8080/frodo\"],\"igTokenIntrospection\":\"Realm\",\"secretLabelIdentifier\":null,\"status\":\"Inactive\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/frodo-test-ig-agent"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 489,
            "text": "{\"_id\":\"frodo-test-ig-agent\",\"_rev\":\"1339953081\",\"agentgroup\":\"test_ig_group\",\"secretLabelIdentifier\":{\"inherited\":false},\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm\"},\"igCdssoLoginUrlTemplate\":{\"inherited\":false,\"value\":\"http://testurl.com:8080/frodo\"},\"status\":{\"inherited\":false,\"value\":\"Inactive\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[\"http://testurl.com:8080/frodo\"]},\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"1339953081\""
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/frodo-test-ig-agent"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4b2142fc-b472-4156-b9e5-0d94f172c8b0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 169,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
