{
  "log": {
    "_recordingName": "esv/variable-export/0_all-separate_no-metadata_directory_no-decode/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e8d5f28d2136edf1b00c2f955eaa5fa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1037,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-test-var\",\"description\":\"Simple ESV test variable with a boolean value of true\",\"expressionType\":\"bool\",\"lastChangeDate\":\"2023-12-18T23:02:35.417404838Z\",\"lastChangedBy\":\"76618ff6-e851-433e-9704-9d2852a17b7a\",\"loaded\":true,\"valueBase64\":\"dHJ1ZQ==\"},{\"_id\":\"esv-test-variable-belphegor\",\"description\":\"A test variable containing belphegor's palindromic prime number (as a string).\",\"expressionType\":\"string\",\"lastChangeDate\":\"2023-12-14T15:31:06.433097476Z\",\"lastChangedBy\":\"1e9280f6-eab6-467e-889c-83d147c8b936\",\"loaded\":true,\"valueBase64\":\"MTAwMDAwMDAwMDAwMDA2NjYwMDAwMDAwMDAwMDAwMQ==\"},{\"_id\":\"esv-test-variable-light\",\"description\":\"Test variable containing the speed of light in meters per second (as an int).\",\"expressionType\":\"int\",\"lastChangeDate\":\"2023-12-14T15:34:13.446903047Z\",\"lastChangedBy\":\"1e9280f6-eab6-467e-889c-83d147c8b936\",\"loaded\":true,\"valueBase64\":\"Mjk5NzkyNDU4\"}],\"resultCount\":3,\"totalPagedResults\":-1,\"totalPagedResultsPolicy\":\"NONE\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 496,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
