{
  "log": {
    "_recordingName": "config-manager/pull/all/0_F_D_m/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "45a23ebcf5ad757a3d15c32c3b3e5ef7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://platform.dev.trivir.com/environment/cookie-domains"
        },
        "response": {
          "content": {
            "mimeType": "text/html",
            "size": 146,
            "text": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 2,
      },
      {
        "_id": "a24d647eb74a9e69a6b0bd9ed23dc6ce",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET[...]
