{
  "log": {
    "_recordingName": "esv/secret-version-activate/0_secret-id_version/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1fb172c6d4d4c4688b8d45ce21e27751",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"status\":\"ENABLED\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "changestatus"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi-generic/versions/2?_action=changestatus"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 92,
            "text": "{\"createDate\":\"2024-01-20T00:15:02.034728Z\",\"loaded\":true,\"status\":\"ENABLED\",\"version\":\"2\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1712,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
