{
  "log": {
    "_recordingName": "iga/workflow-delete/0_di/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6a381d5732c35e177fbcf40f7a9b9e45",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/workflow/testWorkflow1/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 67,
            "text": "{\"message\":\"Definition with id:testWorkflow1 deleted successfully\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1391,
      },
      {
        "_id": "57a5cad82f09fe2fb978b6ffd0967f8f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "(objectId sw \"workflow/testWorkflow1\")"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestFormAssignments?_queryFilter=%28objectId%20sw%20%22workflow%2FtestWorkflow1%22%29&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{\"totalCount\":0,\"resultCount\":0,\"result\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 162,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
