{
  "log": {
    "_recordingName": "iga/workflow-delete/0_di/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "16b8ba8e64b89de5d2796448f7dc2c27",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-ccb-ai.forgeblocks.com/iga/governance/workflow/testWorkflow2/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 59,
            "text": "{\"message\":\"Workflow with id: testWorkflow2 was not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 369,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
