{
  "log": {
    "_recordingName": "config-manager/push/endpoints/0_n_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4f52806f4a9fe22a89a093bb54351997",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6e1523d3-5925-468a-8b62-20c10bed3530"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"endpoint/groovy\",\"description\":\"test\",\"type\":\"groovy\",\"source\":\"  import org.forgerock.json.resource.CreateRequest\\n  import org.forgerock.json.resource.ReadRequest\\n  import org.forgerock.json.resource.UpdateRequest\\n  import org.forgerock.json.resource.PatchRequest\\n  import org.forgerock.json.resource.DeleteRequest\\n  import org.forgerock.json.resource.NotSupportedException\\n\\n  if (request instanceof CreateRequest) {\\n    // POST\\n    return []\\n  } else if (request instanceof ReadRequest) {\\n    // GET\\n    return []\\n  } else if (request instanceof UpdateRequest) {\\n    // PUT\\n    return []\\n  } else if (request instanceof PatchRequest) {\\n    return []\\n  } else if (request instanceof DeleteRequest) {\\n    return []\\n  } else {\\n    throw new NotSupportedException(request.getClass().getName());\\n  }\\n\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/endpoint/groovy"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 830,
            "text": "{\"_id\":\"endpoint/groovy\",\"description\":\"test\",\"type\":\"groovy\",\"source\":\"  import org.forgerock.json.resource.CreateRequest\\n  import org.forgerock.json.resource.ReadRequest\\n  import org.forgerock.json.resource.UpdateRequest\\n  import org.forgerock.json.resource.PatchRequest\\n  import org.forgerock.json.resource.DeleteRequest\\n  import org.forgerock.json.resource.NotSupportedException\\n\\n  if (request instanceof CreateRequest) {\\n    // POST\\n    return []\\n  } else if (request instanceof ReadRequest) {\\n    // GET\\n    return []\\n  } else if (request instanceof UpdateRequest) {\\n    // PUT\\n    return []\\n  } else if (request instanceof PatchRequest) {\\n    return []\\n  } else if (request instanceof DeleteRequest) {\\n    return []\\n  } else {\\n    throw new NotSupportedException(request.getClass().getName());\\n  }\\n\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 24,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
