{
  "log": {
    "_recordingName": "info/3/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "251003828bf23336fa53493b58e58bd7",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c56303c2-d0a4-4207-9d33-b3ad59839154"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/info"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 395,
            "text": "{\"immutable\":false,\"locked\":false,\"region\":\"us-central1\",\"tier\":\"other\",\"warning_message_html\":\"\",\"message_box_title\":\"\",\"message_box_html\":\"\",\"message_variant\":\"\",\"config_promotion_done\":false,\"placeholder_management\":\"CUSTOMER\",\"placeholder_management_migration_date\":\"\",\"promotionTierInfo\":{\"tierDisplayName\":\"other\",\"tiers\":[\"other\"],\"upperTierDisplayName\":null,\"lowerTierDisplayName\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"18b-uL+oiWBPHVnZ2ukdfSE5PYmxQnw\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c56303c2-d0a4-4207-9d33-b3ad59839154"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 92,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
