{
  "log": {
    "_recordingName": "promote/application/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7d85bc1d-59e2-4ff9-8f2d-3a9e03314374"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1874515102\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7d85bc1d-59e2-4ff9-8f2d-3a9e03314374"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 306,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7d85bc1d-59e2-4ff9-8f2d-3a9e03314374"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 278,
            "text": "{\"_id\":\"version\",\"_rev\":\"655405166\",\"version\":\"7.6.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.6.0-SNAPSHOT Build 7f4ea476ca0afb4f4ff6ae80b66d8c258ec64ba3 (2024-October-09 14:42)\",\"revision\":\"7f4ea476ca0afb4f4ff6ae80b66d8c258ec64ba3\",\"date\":\"2024-October-09 14:42\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"655405166\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7d85bc1d-59e2-4ff9-8f2d-3a9e03314374"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 70,
      },
      {
        "_id": "b46bd4160617e1ac65906db550ef7cff",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7d85bc1d-59e2-4ff9-8f2d-3a9e03314374"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"testapp\",\"_type\":{\"_id\":\"OAuth2Client\",\"collection\":true,\"name\":\"OAuth2 Clients\"},\"advancedOAuth2ClientConfig\":{\"clientUri\":[],\"contacts\":[],\"customProperties\":[],\"descriptions\":[\"Test App\"],\"grantTypes\":[\"authorization_code\"],\"isConsentImplied\":false,\"javascriptOrigins\":[],\"logoUri\":[],\"mixUpMitigation\":false,\"name\":[],\"policyUri\":[],\"refreshTokenGracePeriod\":0,\"requestUris\":[],\"require_pushed_authorization_requests\":false,\"responseTypes\":[\"code\",\"token\",\"id_token\",\"code token\",\"token id_token\",\"code id_token\",\"code token id_token\",\"device_code\",\"device_code id_token\"],\"sectorIdentifierUri\":null,\"softwareIdentity\":null,\"softwareVersion\":null,\"subjectType\":\"public\",\"tokenEndpointAuthMethod\":\"client_secret_basic\",\"tokenExchangeAuthLevel\":0,\"tosURI\":[],\"updateAccessToken\":null},\"coreOAuth2ClientConfig\":{\"accessTokenLifetime\":0,\"agentgroup\":null,\"authorizationCodeLifetime\":0,\"clientName\":[\"testapp\"],\"clientType\":\"Confidential\",\"defaultScopes\":[],\"loopbackInterfaceRedirection\":false,\"redirectionUris\":[],\"refreshTokenLifetime\":0,\"scopes\":[],\"status\":\"Active\"},\"coreOpenIDClientConfig\":{\"backchannel_logout_session_required\":false,\"backchannel_logout_uri\":null,\"claims\":[],\"clientSessionUri\":null,\"defaultAcrValues\":[],\"defaultMaxAge\":600,\"defaultMaxAgeEnabled\":false,\"jwtTokenLifetime\":0,\"postLogoutRedirectUri\":[]},\"coreUmaClientConfig\":{\"claimsRedirectionUris\":[]},\"overrideOAuth2ClientConfig\":{\"accessTokenMayActScript\":\"[Empty]\",\"accessTokenModificationPluginType\":\"PROVIDER\",\"accessTokenModificationScript\":\"[Empty]\",\"accessTokenModifierClass\":null,\"authorizeEndpointDataProviderClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultEndpointDataProvider\",\"authorizeEndpointDataProviderPluginType\":\"PROVIDER\",\"authorizeEndpointDataProviderScript\":\"[Empty]\",\"clientsCanSkipConsent\":false,\"customLoginUrlTemplate\":null,\"enableRemoteConsent\":false,\"evaluateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeEvaluator\",\"evaluateScopePluginType\":\"PROVIDER\",\"evaluateScopeScript\":\"[Empty]\",\"issueRefreshToken\":true,\"issueRefreshTokenOnRefreshedToken\":true,\"oidcClaimsClass\":null,\"oidcClaimsPluginType\":\"PROVIDER\",\"oidcClaimsScript\":\"[Empty]\",\"oidcMayActScript\":\"[Empty]\",\"overrideableOIDCClaims\":[],\"providerOverridesEnabled\":false,\"remoteConsentServiceId\":null,\"scopesPolicySet\":\"oauth2Scopes\",\"statelessTokensEnabled\":false,\"tokenEncryptionEnabled\":false,\"useForceAuthnForMaxAge\":false,\"usePolicyEngineForScope\":false,\"validateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeValidator\",\"validateScopePluginType\":\"PROVIDER\",\"validateScopeScript\":\"[Empty]\"},\"signEncOAuth2ClientConfig\":{\"authorizationResponseEncryptionAlgorithm\":null,\"authorizationResponseEncryptionMethod\":null,\"authorizationResponseSigningAlgorithm\":\"RS256\",\"clientJwtPublicKey\":null,\"idTokenEncryptionAlgorithm\":\"RSA-OAEP-256\",\"idTokenEncryptionEnabled\":false,\"idTokenEncryptionMethod\":\"A128CBC-HS256\",\"idTokenPublicEncryptionKey\":null,\"idTokenSignedResponseAlg\":\"RS256\",\"jwkSet\":null,\"jwkStoreCacheMissCacheTime\":60000,\"jwksCacheTimeout\":3600000,\"jwksUri\":null,\"mTLSCertificateBoundAccessTokens\":false,\"mTLSSubjectDN\":null,\"mTLSTrustedCert\":null,\"publicKeyLocation\":\"jwks_uri\",\"requestParameterEncryptedAlg\":null,\"requestParameterEncryptedEncryptionAlgorithm\":\"A128CBC-HS256\",\"requestParameterSignedAlg\":null,\"tokenEndpointAuthSigningAlgorithm\":\"RS256\",\"tokenIntrospectionEncryptedResponseAlg\":\"RSA-OAEP-256\",\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"tokenIntrospectionResponseFormat\":\"JSON\",\"tokenIntrospectionSignedResponseAlg\":\"RS256\",\"userinfoEncryptedResponseAlg\":null,\"userinfoEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"userinfoResponseFormat\":\"JSON\",\"userinfoSignedResponseAlg\":null}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/bravo/realm-config/agents/OAuth2Client/testapp"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 5510,
            "text": "{\"_id\":\"testapp\",\"_rev\":\"-1424935877\",\"overrideOAuth2ClientConfig\":{\"issueRefreshToken\":true,\"validateScopePluginType\":\"PROVIDER\",\"tokenEn[...]
