{
  "log": {
    "_recordingName": "idp/import/0_af_D/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-50da0b6b-dd4d-4318-9e1f-7cd51df4d9ac"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/ba58ff99-76d3-4c69-9c4a-7f150ac70e2c?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1449,
            "text": "{\"_id\":\"ba58ff99-76d3-4c69-9c4a-7f150ac70e2c\",\"_rev\":\"1c09143e-59f6-4b34-95d1-6c8800b5b03f-39754\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1701393386423\",\"description\":\"volker.scheuber@forgerock.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\",\"fr:autoaccess:*\",\"fr:idc:advanced-gateway:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:certificate:read\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\",\"fr:iga:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"7Dev4iJfutv2O3ysbHo-rZphSi3C2ldAK4NCOM5soWA\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"1LOnr1r01m9qMwrmXRt2FGuN__HL1JmJl5CDZA1Oqrc208cGKZk1gsvFNaYSU-bkDZuj6sgpmf-B5sc4xLGnqyOKeSw3z8GJbGQ5JyychNBsClpUu9981KlEBe_7cDvAhRtRT60Bni15Ff6KKcNdTD20W66XwKLefxPTpsnt7dsBlKXuhIq1pIPbXKFJJoct7tlufNqY_ypwrCbEhNsiVQ9A8Ozr8BUmPGfnaomlqUzMrO8jUV9TWw20WdXfHfCKja7ZnboQJpfXAe_iofFiVvXHVT2UadQDY8A1dtSuIksl3sSLPWUgBwCpZpRmUck1Cbc2l2coBu7qEMK8WEA0POnGRwam7KAi4tWbrc2F9M8ZyuUf8QLvBBjCJQBQwltfjGBmMinEDBWHfyAwYKKBCfQRdFwgmL2D8d_ItZf4PP0AVSgzHLLmis7FtvkiLDI4q7vSoK4lPrKh_i700z5oQY1mXZOQNmFJRx8HkuVxnUDEIAlO4__t-1JdXMYjLEuIXIZZAGAcDF_zes641h4mjV5tyg61e9JRIcGErsqXDNpfUWfbgd4EN0oBZFTI0vL2q87Oyzj8QetqlpPPvOcQniQEbUtBeATheQfUbZkOxFkg7E3LVJxhxKDeagsWOHqjhpDMKAbZ3Bej0zH8F4LJHV2SPAxJd5WkunZmRwoQKsM\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"1c09143e-59f6-4b34-95d1-6c8800b5b03f-39754\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-50da0b6b-dd4d-4318-9e1f-7cd51df4d9ac"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 162,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-50da0b6b-dd4d-4318-9e1f-7cd51df4d9ac"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
