{
  "log": {
    "_recordingName": "config-manager/push/email-templates/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "36e92464f00b5445ae1224e854183a3f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0bcf3f54-8513-4171-bd8c-1af89cf04a74"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"emailTemplate/forgottenUsername\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"html\":{\"en\":\"<html><body>{{#if object.userName}}<p>Your username is '{{object.userName}}'.</p>{{else}}If you received this email in error, please disregard.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\">Click here to login</a></p></body></html>\\n\",\"fr\":\"<html><body>{{#if object.userName}}<p>Votre nom d'utilisateur est '{{object.userName}}'.</p>{{else}}Si vous avez reçu cet e-mail par erreur, veuillez ne pas en tenir compte.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\">Cliquez ici pour vous connecter</a></p></body></html>\\n\"},\"message\":{\"en\":\"<html><head></head><body style=\\\"background-color: #324054; color: #455469; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px; margin: 0 auto; padding: 48px; width: 235px;\\\"><p>{{#if object.userName}}Your username is '{{object.userName}}'.</p><p>{{else}}If you received this email in error, please disregard.{{/if}}</p><p><a href=\\\"{{object.resumeURI}}\\\" style=\\\"text-decoration: none; color: #109cf1;\\\">Click here to login</a></p></div></body></html>\\n\",\"fr\":\"<html><head></head><body style=\\\"background-color: #324054; color: #455469; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px; margin: 0 auto; padding: 48px; width: 235px;\\\">{{#if object.userName}}<p>Votre nom d'utilisateur est '{{object.userName}}'.</p>{{else}}Si vous avez reçu cet e-mail par erreur, veuillez ne pas en tenir compte.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\" style=\\\"text-decoration: none; color: #109cf1;\\\">Cliquez ici pour vous connecter</a></p></div></body></html>\\n\"},\"mimeType\":\"text/html\",\"styles\":\"body{background-color:#324054;color:#5e6d82;padding:60px;text-align:center}a{text-decoration:none;color:#109cf1}.content{background-color:#fff;border-radius:4px;margin:0 auto;padding:48px;width:235px}\\n\",\"subject\":{\"en\":\"Account Information - username\",\"fr\":\"Informations sur le compte - nom d'utilisateur\"}}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/emailTemplate/forgottenUsername"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2046,
            "text": "{\"_id\":\"emailTemplate/forgottenUsername\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"html\":{\"en\":\"<html><body>{{#if object.userName}}<p>Your username is '{{object.userName}}'.</p>{{else}}If you received this email in error, please disregard.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\">Click here to login</a></p></body></html>\\n\",\"fr\":\"<html><body>{{#if object.userName}}<p>Votre nom d'utilisateur est '{{object.userName}}'.</p>{{else}}Si vou[...]
