{
  "log": {
    "_recordingName": "app/export/alphaPrefix/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "152787f0426755e28780788234be7372",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-085b0343-227c-473a-9632-ba2c39d8bc67"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_fields",
              "value": "authoritative,connectorId,description,icon,mappingNames,name,ssoEntities,templateName,templateVersion,uiConfig,url"
            }
          ],
          "url": "https://platform.dev.trivir.com/openidm/managed/alpha_application?_queryFilter=true&_pageSize=1000&_fields=authoritative%2CconnectorId%2Cdescription%2Cicon%2CmappingNames%2Cname%2CssoEntities%2CtemplateName%2CtemplateVersion%2CuiConfig%2Curl"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 347,
            "text": "{\"result\":[{\"_id\":\"08ee500b-0d11-495d-87d6-8ba13953fbe7\",\"_rev\":\"1239818a-e1c8-4003-b4c4-e7a3f2fbdfc4-1816\",\"name\":\"alpha-bookmark\",\"description\":\"Alpha bookmark application\",\"url\":\"https://google.com\",\"mappingNames\":[]}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 33,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
