{
  "log": {
    "_recordingName": "mapping/import/0_no-deps_mapping-id_file_D/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-beb9362d-7029-4459-9951-182278598470"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/7a031a92-f70d-4b30-9d70-da7cfb1d9c93?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1382,
            "text": "{\"_id\":\"7a031a92-f70d-4b30-9d70-da7cfb1d9c93\",\"_rev\":\"fd891c5f-b3b8-4ec3-933d-db614ea36542-142\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1720799681233\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:autoaccess:*\",\"fr:idc:certificate:*\",\"fr:idc:certificate:read\",\"fr:idc:content-security-policy:*\",\"fr:idc:custom-domain:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:iga:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"0XdDQoML6maEILSCc8AWtpjBlKNOzf_NTG_jT0M0wzk\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"mvVVosknqaMRfUPxzZKLpNIIEZCTHcVT3QGRsA2CpUaK0jNO5WOljqLe3XjJmE27b2vcO_GT29M9QIwUVYAx8cv9BnwTEuioTu_Tugp3O4X3VO9VmNTQkaM1gASCTkZ2u_VuZefusBmydrheMP_XlT7GvB_sSpLgpyiN88LEO1RVVZEiG9YAanSQZejtKYLpxV5-Sxu3kh3c1M2HGiw9LeGu0h1p6okCDWwaJUDIG7jXgcHYgFCcNLkklzMX82ozWXEyjQPaxg95sk3d1ZLl-hoAJAI2-bF_ANvqK60i3WCBBPpulUU_RGeVhgxcnMTbDJUm1KgFhlK9TcvgQmZtm1u9NF0hkNlfrYhDUiy3BVWnHCTi50JUZYTevfo6LS2waTE-ZWMAZ0CCeShPR92HkcyfFIYf_PFvrwk55pmvDbx4Fc4l2y_JXKckSuKf2ErmWN_8F7ou5zNsrYcmApCuNj7m0Is3BhnvafhIsI8nocyeJPiaH5oHm5aCSWbjVFvFyOmsuZQ3AAkHjBcET3iqBneHKqSe4-Zw9-u4W6iSw8L8fF7_RPFGYAnxidqEl2Y4WOB3GsaYXEOn5uT6yKJTDbtRABdvEswFfxdVcWwvnGItgmVbUnU_QFjkOgNC2U051jUE3crGZSpeTN8028NGikzvB4PhcvIFT0biHIXFr98\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"fd891c5f-b3b8-4ec3-933d-db614ea36542-142\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-beb9362d-7029-4459-9951-182278598470"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 100,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-beb9362d-7029-4459-9951-182278598470"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
