{
  "log": {
    "_recordingName": "mapping/export/0_aD_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "de3566e649dc89e93a6365b0fdaecd4e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-53b8f1cd-d3c1-4efd-9128-cb467fd47ffc"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 10,
      },
      {
        "_id": "3f3b03432a833cfcbe27438276bb566b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-53b8f1cd-d3c1-4efd-9128-cb467fd47ffc"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openam-password",
              "value": "openidm-admin"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 3,
      },
      {
        "_id": "4c1fef66c916c8940b0315dddc564b06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-53b8f1cd-d3c1-4efd-9128-cb467fd47ffc"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config/sync"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json;charset=utf-8",
            "size": 811,
            "text": "[\"H4sIAAAAAAAA/w==\",\"7VfRjqIwFP2XPpP47ltHkZDFkgV5MBtDOlBJJ9iytE7GMf77tqOzq2sZihLmxQcThXNPr3jPucc9SGkOxkDsWAYcsMFVRVkhwPjX/uzOaIMZLkge1gVm9B1Lyll6uhbxkqjKjDNBmIzI7y2tiSpc41IQB+RUVCXeIbwhiqydhyoiMGbbsnQAsy2qeEkzSo5t40wjwHgPipI/qy7U24MDBN/WmaYbjQTBTBIhVaXcVfqaJG9y9IJfschqWkmg8VRu8ZEJwPmT7yVhEqsbvR2gvmhOe281DpNo4qZzP4595N3cb1Fz/rrT5BUXEt7FcN6eqS8A4yWagEvgLEzQNIVB5MLpMg189MOdtlcl6GcCA[...]
