{
  "log": {
    "_recordingName": "promote/variable/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d38a498a859cbad926c3a255cd94ef9a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"Mjg=\",\"description\":\"Neo's age in the matrix.\",\"expressionType\":\"int\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-neo-age"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 213,
            "text": "{\"_id\":\"esv-neo-age\",\"description\":\"Neo's age in the matrix.\",\"expressionType\":\"int\",\"lastChangeDate\":\"2024-11-01T16:21:14.461870692Z\",\"lastChangedBy\":\"Frodo-SA-1730238488278\",\"loaded\":false,\"valueBase64\":\"Mjg=\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1215,
      },
      {
        "_id": "7269d97e26e15203a5b9dfd1c7921fdf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "[...]
