{
  "log": {
    "_recordingName": "esv/secret-list/0_usage_long_directory/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a24d647eb74a9e69a6b0bd9ed23dc6ce",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 731,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-test-secret-euler\",\"activeVersion\":\"1\",\"description\":\"A test secret containing the value of Euler's number\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-12-14T15:27:34.607038892Z\",\"lastChangedBy\":\"1e9280f6-eab6-467e-889c-83d147c8b936\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-secret-pi\",\"activeVersion\":\"1\",\"description\":\"Secret that contains the value of pi\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-12-14T15:22:28.519043207Z\",\"lastChangedBy\":\"1e9280f6-eab6-467e-889c-83d147c8b936\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}],\"resultCount\":2,\"totalPagedResults\":-1,\"totalPagedResultsPolicy\":\"NONE\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 184,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
