{
  "log": {
    "_recordingName": "info/1_sa-id_sa-jwk-file_scriptFriendly/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "251003828bf23336fa53493b58e58bd7",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e68719ab-f673-44db-bf2b-d3d24ee49743"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..hCMbyzFLSuGtU7ad9OXS4w.Ap6pQpeHN75K2dcNIQgvJ0RVOU1SN_K58v[...]
