{
  "log": {
    "_recordingName": "config/export/0_all_file_include-active-values_use-string-arrays_no-decode_no-coords_type/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ae6208d1-42c4-48a3-93b6-10ff0fde7a70"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 559,
            "text": "{\"_id\":\"*\",\"_rev\":\"1352294768\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"iPlanetDirectoryPro\",\"secureCookie\":false,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":false,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1352294768\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 24,
      },
      {
        "_id": "9f5671275c36a1c0090d0df26ce0e93f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ae6208d1-42c4-48a3-93b6-10ff0fde7a70"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "amAdmin"
            },
            {
              "name": "x-openam-password",
              "value": "Sup3rS3cr3t!"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 163,
            "text": "{\"tokenId\":\"<token id>\",\"successUrl\":\"/am/console\",\"realm\":\"/\"}"
          },
            {
              "httpOnly": true,
              "name": "iPlanetDirectoryPro",
              "path": "/",
              "value": "<cookie>"
            }
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 11,
      },
      {
        "_id": "6a3744385d3fd7416ea7089e610fa7e7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ae6208d1-42c4-48a3-93b6-10ff0fde7a70"
            },
            {
              "name": "accept-api-version",
              "value": "resource=4.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tokenId\":\"<token id>\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "getSessionInfo"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/sessions/?_action=getSessionInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 310,
            "text": "{\"username\":\"amAdmin\",\"universalId\":\"id=amAdmin,ou=user,dc=openam,dc=forgerock,dc=org\",\"realm\":\"/\",\"latestAccessTime\":\"2024-07-25T15:42:47Z\",\"maxIdleExpirationTime\":\"2024-07-25T16:12:47Z\",\"maxSessionExpirationTime\":\"2024-07-25T17:42:46Z\",\"properties\":{\"AMCtxId\":\"8c3de616-5ef8-4c83-97c1-44b29fceac4d-3235102\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=4.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ae6208d1-42c4-48a3-93b6-10ff0fde7a70"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 258,
            "text": "{\"_id\":\"version\",\"_rev\":\"-1772220916\",\"version\":\"7.5.0\",\"fullVersion\":\"ForgeRock Access Management 7.5.0 Build 89116d59a1ebe73ed1931dd3649adb7f217cd06b (2024-March-28 16:00)\",\"revision\":\"89116d59a1ebe73ed1931dd3649adb7f217cd06b\",\"date\":\"2024-March-28 16:00\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1772220916\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4,
      },
      {
        "_id": "406a87e40f6891af8895783688a2e75f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ae6208d1-42c4-48a3-93b6-10ff0fde7a70"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/services?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 28868,
            "text": "{\"result\":[{\"defaults\":{\"sunIdRepoAttributeCombiner\":\"com.iplanet.am.sdk.AttributeCombiner\",\"sunIdRepoAttributeValidator\":[\"class=com.sun.identity.idm.server.IdRepoAttributeValidatorImpl\",\"minimumPasswordLength=8\",\"usernameInvalidChars=*|(|)|&|!\"]},\"_id\":\"id-repositories\",\"_type\":{\"_id\":\"id-repositories\",\"name\":\"sunIdentityRepositoryService\",\"collection\":false}},{\"charsetMappings\":[\"locale=zh|charset=UTF-8;GB2312\",\"locale=ar|charset=UTF-8;ISO-8859-6\",\"locale=es|charset=UTF-8;ISO-8859-15\",\"locale=de|charset=UTF-8;ISO-8859-15\",\"locale=zh_TW|charset=UTF-8;BIG5\",\"locale=fr|charset=UTF-8;ISO-8859-15\",\"locale=ko|charset=UTF-8;EUC-KR\",\"locale=en|charset=UTF-8;ISO-8859-1\",\"locale=th|charset=UTF-8;TIS-620\",\"locale=ja|charset=UTF-8;Shift_JIS;EUC-JP\"],\"sun-identity-g11n-settings-charset-alias-mapping\":[\"mimeName=EUC-KR|javaName=EUC_KR\",\"mimeName=EUC-JP|javaName=EUC_JP\",\"mimeName=Shift_JIS|javaName=SJIS\"],\"defaults\":{\"commonNameFormats\":[\"zh={sn}{givenname}\"]},\"_id\":\"globalization\",\"_type\":{\"_id\":\"globalization\",\"name\":\"Globalization Settings\",\"collection\":false}},{\"general\":{\"filesPerKeystore\":5,\"fields\":[\"IPAddr\",\"LoggedBy\",\"LoginID\",\"NameID\",\"ModuleName\",\"ContextID\",\"Domain\",\"LogLevel\",\"HostName\",\"MessageID\"],\"bufferSize\":25,\"buffering\":\"ON\",\"bufferTime\":60,\"jdkLoggingLevel\":\"INFO\",\"signaturePeriod\":900,\"verifyPeriod\":3600,\"status\":\"INACTIVE\",\"security\":\"OFF\",\"type\":\"File\",\"certificateStore\":\"%BASE_DIR%/var/audit/Logger.jks\",\"signingAlgorithm\":\"SHA1withRSA\"},\"file\":{\"rotationEnabled\":true,\"maxFileSize\":100000000,\"rotationInterval\":-1,\"numberHistoryFiles\":1,\"suffix\":\"-MM.dd.yy-kk.mm\",\"location\":\"%BASE_DIR%/var/audit/\"},\"database\":{\"maxRecords\":500,\"databaseFailureMemoryBufferSize\":2,\"driver\":\"oracle.jdbc.driver.OracleDriver\",\"user\":\"dbuser\"},\"syslog\":{\"protocol\":\"UDP\",\"port\":514,\"timeout\":30,\"host\":\"localhost\",\"facility\":\"local5\"},\"resolveHostName\":false,\"_id\":\"logging\",\"_type\":{\"_id\":\"logging\",\"name\":\"Logging\",\"collection\":false}},{\"federationConfig\":{\"samlPostServletUrl\":\"%protocol://%host:%port%uri/SAMLPOSTProfileServlet\",\"samlSoapReceiverUrl\":\"%protocol://%host:%port%uri/SAMLSOAPReceiver\",\"samlAwareServletUrl\":\"%protocol://%host:%port%uri/SAMLAwareServlet\",\"samlAssertionManagerUrl\":\"%protocol://%host:%port%uri/AssertionManagerServlet/AssertionManagerIF\",\"jaxrpcUrl\":\"%protocol://%host:%port%uri/jaxrpc/\"},\"generalConfig\":{\"authUrl\":\"%protocol://%host:%port%uri/authservice\",\"profileUrl\":\"%protocol://%host:%port%uri/profileservice\",\"sessionUrl\":\"%protocol://%host:%port%uri/sessionservice\",\"loggingUrl\":\"%protocol://%host:%port%uri/loggingservice\",\"policyUrl\":\"%protocol://%host:%port%uri/policyservice\"},\"endpointConfig\":{\"stsUrl\":\"%protocol://%host:%port%uri/sts\",\"jaxwsUrl\":\"%protocol://%host:%port%uri/identityservices/\",\"stsMexUrl\":\"%protocol://%host:%port%uri/sts/mex\"},\"_id\":\"naming\",\"_type\":{\"_id\":\"naming\",\"name\":\"Naming\",\"collection\":false}},{\"cookieDomains\":[],\"locale\":\"en_US\",\"_id\":\"platform\",\"_type\":{\"_id\":\"platform\",\"name\":\"Platform\",\"collection\":false}},{\"resourceComparators\":[\"serviceType=iPlanetAMWebAgentService|class=com.sun.identity.policy.plugins.HttpURLResourceName|wildcard=*|oneLevelWildcard=-*-|delimiter=/|caseSensitive=false\"],\"continueEvaluationOnDeny\":false,\"realmAliasReferrals\":false,\"defaults\":{\"userAliasEnabled\":false,\"connectionPoolMinimumSize\":1,\"maximumSearchResults\":100,\"policyHeartbeatTimeUnit\":\"SECONDS\",\"searchTimeout\":5,\"usersSearchAttribute\":\"uid\",\"policyHeartbeatInterval\":10,\"usersSearchScope\":\"SCOPE_SUB\",\"subjectsResultTTL\":10,\"checkIfResourceTypeExists\":true,\"connectionPoolMaximumSize\":10,\"sslEnabled\":true,\"ldapServer\":[\"localhost:50636\"],\"mtlsEnabled\":false,\"bindDn\":\"cn=Directory Manager\",\"realmSearchFilter\":\"(objectclass=sunismanagedorganization)\",\"usersSearchFilter\":\"(objectclass=inetorgperson)\",\"usersBaseDn\":\"dc=openam,dc=forgerock,dc=org\"},\"_id\":\"policyconfiguration\",\"_type\":{\"_id\":\"policyconfiguration\",\"name\":\"Policy Configuration\",\"collection\":false}},{\"quotas\":{\"denyLoginWhenRepoDown\":\"NO\",\"iplanet-am-session-enable-session-constraint\":\"OFF\",\"behaviourWhenQuotaExhausted\":\"org.forgerock.openam.session.service.DestroyNextExpiringAction\",\"quotaConstraintMaxWaitTime\":6000},\"stateless\":{\"openam-session-stateless-blacklist-cache-size\":10000,\"statelessLogoutByUser\":false,\"statelessEncryptionType\":\"DIRECT\",\"openam-session-stateless-logout-poll-interval\":60,\"statelessEncryptionAesKey\":null,\"statelessSigningType\":\"HS256\",\"openam-session-stateless-blacklist-poll-interval\":60,\"statelessCompressionType\":\"NONE\",\"statelessSigningHmacSecret\":null,\"openam-session-stateless-blacklist-purge-delay\":1,\"openam-session-stateless-enable-session-blacklisting\":false},\"general\":{\"latestAccessTimeUpdateFrequency\":60,\"timeoutHandlers\":[],\"dnRestrictionOnly\":false,\"crossUpgradeReferenceFlag\":false},\"notifications\":{\"notificationPropertyList\":[],\"propertyChangeNotifications\":\"OFF\"},\"search\":{\"sessionListRetrievalTimeout\":5,\"maxSessionListSize\":120},\"dynamic\":{\"maxIdleTime\":30,\"maxSessionTime\":120,\"quotaLimit\":5,\"maxCachingTime\":3},\"_id\":\"session\",\"_type\":{\"_id\":\"session\",\"name\":\"Session\",\"collection\":false}},{\"dynamic\":{\"defaultUserStatus\":\"Active\"},\"_id\":\"user\",\"_type\":{\"_id\":\"user\",\"name\":\"User\",\"collection\":false}},{\"requestHandlers\":[],\"_id\":\"federation/saml2soapbinding\",\"_type\":{\"_id\":\"federation/saml2soapbinding\",\"name\":\"SAML v2.0 SOAP Binding\",\"collection\":false}},{\"singleLogoutHandlerList\":[\"key=WSFED|class=com.sun.identity.multiprotocol.WSFederationSingleLogoutHandler\",\"key=SAML2|class=com.sun.identity.multiprotocol.SAML2SingleLogoutHandler\"],\"_id\":\"federation/multi\",\"_type\":{\"_id\":\"federation/multi\",\"name\":\"Multi-Federation Protocol\",\"collection\":false}},{\"implementationClasses\":{\"loggerClass\":\"com.sun.identity.plugin.log.impl.LogProvider\",\"signatureProviderClass\":\"com.sun.identity.saml.xmlsig.AMSignatureProvider\",\"passwordDecoderClass\":\"com.sun.identity.saml.xmlsig.FMPasswordDecoder\",\"configurationClass\":\"com.sun.identity.plugin.configuration.impl.ConfigurationInstanceImpl\",\"rootUrlProviderClass\":\"org.forgerock.openam.federation.plugin.rooturl.impl.FmRootUrlProvider\",\"datastoreClass\":\"com.sun.identity.plugin.datastore.impl.IdRepoDataStoreProvider\",\"keyProviderClass\":\"com.sun.identity.saml.xmlsig.JKSKeyProvider\",\"sessionProviderClass\":\"com.sun.identity.plugin.session.impl.FMSessionProvider\"},\"generalConfig\":{\"maxContentLength\":20480,\"certificateChecking\":\"on\",\"samlErrorPageUrl\":\"/saml2/jsp/saml2error.jsp\",\"samlErrorPageHttpBinding\":\"HTTP-POST\"},\"algorithms\":{\"aesKeyWrapAlgorithm\":\"http://www.w3.org/2001/04/xmlenc#kw-aes256\",\"QuerySignatureAlgorithmEC\":\"http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha512\",\"transformationAlgorithm\":\"http://www.w3.org/2001/10/xml-exc-c14n#\",\"maskGenerationFunction\":\"http://www.w3.org/2009/xmlenc11#mgf1sha256\",\"DigestAlgorithm\":\"http://www.w3.org/2001/04/xmlenc#sha256\",\"QuerySignatureAlgorithmDSA\":\"http://www.w3.org/2009/xmldsig11#dsa-sha256\",\"QuerySignatureAlgorithmRSA\":\"http://www.w3.org/2001/04/xmldsig-more#rsa-sha256\",\"signatureAlgorithm\":\"http://www.w3.org/2001/04/xmldsig-more#rsa-sha256\",\"rsaKeyTransportAlgorithm\":\"http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p\",\"canonicalizationAlgorithm\":\"http://www.w3.org/2001/10/xml-exc-c14n#\"},\"montoring\":{\"monitoringSaml2Class\":\"com.sun.identity.plugin.monitoring.impl.FedMonSAML2SvcProvider\",\"monitoringAgentClass\":\"com.sun.identity.plugin.monitoring.impl.AgentProvider\"},\"_id\":\"federation/common\",\"_type\":{\"_id\":\"federation/common\",\"name\":\"Common Federation Configuration\",\"collection\":false}},{\"defaults\":{\"forgotPasswordEnabled\":false,\"selfRegistrationConfirmationUrl\":\"http://localhost:8080/am/XUI/confirm.html\",\"userRegisteredDestination\":\"default\",\"protectedUserAttributes\":[],\"selfRegistrationTokenLifetime\":900,\"confirmationIdHmacKey\":\"YcGfeuzSM14OG5djEcxEnvPydX28nsuxAZyDX1VA8iY=\",\"selfServiceEnabled\":false,\"selfRegistrationEnabled\":false,\"forgotPasswordTokenLifetime\":900,\"forgotPasswordConfirmationUrl\":\"http://localhost:8080/am/XUI/confirm.html\"},\"_id\":\"security\",\"_type\":{\"_id\":\"security\",\"name\":\"Legacy User Self Service\",\"collection\":false}},{\"defaults\":{\"source\":\"REQUEST_VALUES\",\"contextPath\":\"/am\"},\"_id\":\"baseurl\",\"_type\":{\"_id\":\"baseurl\",\"name\":\"Base URL Source\",\"collection\":false}},{\"auditEnabled\":true,\"whitelistFieldFilters\":[],\"blacklistFieldFilters\":[],\"defaults\":{\"auditEnabled\":true,\"whitelistFieldFilters\":[],\"blacklistFieldFilters\":[]},\"_id\":\"audit\",\"_type\":{\"_id\":\"audit\",\"name\":\"Audit Logging\",\"collection\":false}},{\"defaults\":{\"authenticatorWebAuthnDeviceSettingsEncryptionScheme\":\"NONE\",\"webauthnAttrName\":\"webauthnDeviceProfiles\",\"authenticatorWebAuthnDeviceSettingsEncryptionKeystore\":\"/home/prestonhales/am/security/keystores/keystore.jceks\",\"authenticatorWebAuthnDeviceSettingsEncryptionKeystorePassword\":null,\"authenticatorWebAuthnDeviceSettingsEncryptionKeystoreType\":\"JCEKS\"},\"_id\":\"authenticatorWebAuthnService\",\"_type\":{\"_id\":\"authenticatorWebAuthnService\",\"name\":\"WebAuthn Profile Encryption Service\",\"collection\":false}},{\"defaults\":{\"deviceIdSettingsEncryptionKeystoreType\":\"JKS\",\"deviceIdSettingsEncryptionKeystore\":\"/home/prestonhales/am/security/keystores/keystore.jks\",\"deviceIdAttrName\":\"devicePrintProfiles\",\"deviceIdSettingsEncryptionScheme\":\"NONE\",\"deviceIdSettingsEncryptionKeystorePassword\":null},\"_id\":\"deviceIdService\",\"_type\":{\"_id\":\"deviceIdService\",\"name\":\"Device ID Service\",\"collection\":false}},{\"defaults\":{\"applicationDataStoreId\":\"fd270e31-1788-4193-8734-eb2d500c47f3\",\"policyDataStoreId\":\"fd270e31-1788-4193-8734-eb2d500c47f3\"},\"_id\":\"DataStoreService\",\"_type\":{\"_id\":\"DataStoreService\",\"name\":\"External Data Stores\",\"collection\":false}},{\"defaults\":{\"deviceProfilesSettingsEncryptionScheme\":\"NONE\",\"deviceProfilesSettingsEncryptionKeystoreType\":\"JKS\",\"deviceProfilesAttrName\":\"deviceProfiles\",\"deviceProfilesSettingsEncryptionKeystorePassword\":null,\"deviceProfilesSettingsEncryptionKeystore\":\"/home/prestonhales/am/security/keystores/keystore.jks\"},\"_id\":\"deviceProfilesService\",\"_type\":{\"_id\":\"deviceProfilesService\",\"name\":\"Device Profiles Service\",\"collection\":false}},{\"defaults\":{\"delegateFactory\":\"org.forgerock.openam.services.push.sns.SnsHttpDelegateFactory\",\"region\":\"us-east-1\",\"mdCacheSize\":10000,\"mdConcurrency\":16,\"mdDuration\":120},\"_id\":\"pushNotification\",\"_type\":{\"_id\":\"pushNotification\",\"name\":\"Push Notification Service\",\"collection\":false}},{\"defaults\":{\"advancedConfig\":{\"userRegistrationConfirmationUrl\":\"http://localhost:8080/am/XUI/?realm=${realm}#register/\",\"forgottenPasswordConfirmationUrl\":\"http://localhost:8080/am/XUI/?realm=${realm}#passwordReset/\",\"forgottenPasswordServiceConfigClass\":\"org.forgerock.openam.selfservice.config.flows.ForgottenPasswordConfigProvider\",\"userRegistrationServiceConfigClass\":\"org.forgerock.openam.selfservice.config.flows.UserRegistrationConfigProvider\",\"forgottenUsernameServiceConfigClass\":\"org.forgerock.openam.selfservice.config.flows.ForgottenUsernameConfigProvider\"},\"forgottenUsername\":{\"forgottenUsernameCaptchaEnabled\":false,\"forgottenUsernameEnabled\":false,\"forgottenUsernameTokenTTL\":300,\"forgottenUsernameKbaEnabled\":false,\"forgottenUsernameEmailUsernameEnabled\":true,\"forgottenUsernameEmailBody\":[\"en|<h2>Your username is <span style=\\\"color:blue\\\">%username%</span>.</h2>\"],\"forgottenUsernameEmailSubject\":[\"en|Forgotten username email\"],\"forgottenUsernameShowUsernameEnabled\":false},\"userRegistration\":{\"userRegistrationTokenTTL\":300,\"userRegistrationValidUserAttributes\":[\"userPassword\",\"mail\",\"givenName\",\"kbaInfo\",\"inetUserStatus\",\"sn\",\"username\"],\"userRegistrationEnabled\":false,\"userRegistrationEmailVerificationEnabled\":true,\"userRegistrationEmailBody\":[\"en|<h2>Click on this <a href=\\\"%link%\\\">link</a> to register.</h2>\"],\"userRegistrationEmailVerificationFirstEnabled\":false,\"userRegistrationEmailSubject\":[\"en|Registration email\"],\"userRegisteredDestination\":\"default\",\"userRegistrationCaptchaEnabled\":false,\"userRegistrationKbaEnabled\":false},\"forgottenPassword\":{\"forgottenPasswordEmailSubject\":[\"en|Forgotten password email\"],\"forgottenPasswordTokenTTL\":300,\"forgottenPasswordEnabled\":false,\"forgottenPasswordEmailBody\":[\"en|<h2>Click on this <a href=\\\"%link%\\\">link</a> to reset your password.</h2>\"],\"forgottenPasswordTokenPaddingLength\":450,\"forgottenPasswordEmailVerificationEnabled\":true,\"numberOfAllowedAttempts\":1,\"forgottenPasswordKbaEnabled\":false,\"forgottenPasswordCaptchaEnabled\":false,\"numberOfAttemptsEnforced\":false},\"generalConfig\":{\"minimumAnswersToDefine\":1,\"minimumAnswersToVerify\":1,\"kbaQuestions\":[\"4|en|What is your mother's maiden name?\",\"3|en|What was the name of your childhood pet?\",\"2|en|What was the model of your first car?\",\"1|en|What is the name of your favourite restaurant?\"],\"validQueryAttributes\":[\"uid\",\"mail\",\"givenName\",\"sn\"],\"captchaVerificationUrl\":\"https://www.google.com/recaptcha/api/siteverify\"},\"profileManagement\":{\"profileAttributeWhitelist\":[\"uid\",\"telephoneNumber\",\"mail\",\"kbaInfo\",\"givenName\",\"sn\",\"cn\"],\"profileProtectedUserAttributes\":[\"telephoneNumber\",\"mail\"]}},\"_id\":\"selfService\",\"_type\":{\"_id\":\"selfService\",\"name\":\"User Self-Service\",\"collection\":false}},{\"defaults\":{\"displayNames\":{},\"enabledKeys\":[],\"authenticationChains\":{},\"icons\":{}},\"_id\":\"socialauthentication\",\"_type\":{\"_id\":\"socialauthentication\",\"name\":\"Social Authentication Implementations\",\"collection\":false}},{\"blacklistPurgeDelay\":1,\"blacklistCacheSize\":10000,\"allowUnauthorisedAccessToUserCodeForm\":false,\"storageScheme\":\"CTS_ONE_TO_ONE_MODEL\",\"jwtTokenUnreasonableLifetime\":86400,\"jwtTokenRequiredClaims\":[],\"jwtTokenLifetimeValidationEnabled\":true,\"statelessGrantTokenUpgradeCompatibilityMode\":false,\"blacklistPollInterval\":60,\"defaults\":{\"advancedOIDCConfig\":{\"supportedRequestParameterEncryptionEnc\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A128CBC-HS256\",\"A192CBC-HS384\",\"A256CBC-HS512\"],\"authorisedOpenIdConnectSSOClients\":[],\"supportedUserInfoEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"RSA-OAEP\",\"ECDH-ES+A128KW\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"supportedAuthorizationResponseEncryptionEnc\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A128CBC-HS256\",\"A192CBC-HS384\",\"A256CBC-HS512\"],\"supportedTokenIntrospectionResponseEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"RSA-OAEP\",\"ECDH-ES+A128KW\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"useForceAuthnForPromptLogin\":false,\"useForceAuthnForMaxAge\":false,\"alwaysAddClaimsToToken\":false,\"supportedTokenIntrospectionResponseSigningAlgorithms\":[\"PS384\",\"RS384\",\"EdDSA\",\"ES384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"supportedTokenEndpointAuthenticationSigningAlgorithms\":[\"PS384\",\"ES384\",\"RS384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"supportedRequestParameterSigningAlgorithms\":[\"PS384\",\"ES384\",\"RS384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"includeAllKtyAlgCombinationsInJwksUri\":false,\"amrMappings\":{},\"loaMapping\":{},\"authorisedIdmDelegationClients\":[],\"idTokenInfoClientAuthenticationEnabled\":true,\"storeOpsTokens\":true,\"supportedUserInfoSigningAlgorithms\":[\"ES384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\"],\"supportedAuthorizationResponseSigningAlgorithms\":[\"PS384\",\"RS384\",\"EdDSA\",\"ES384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"supportedUserInfoEncryptionEnc\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A128CBC-HS256\",\"A192CBC-HS384\",\"A256CBC-HS512\"],\"claimsParameterSupported\":false,\"supportedTokenIntrospectionResponseEncryptionEnc\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A128CBC-HS256\",\"A192CBC-HS384\",\"A256CBC-HS512\"],\"supportedAuthorizationResponseEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"RSA-OAEP\",\"ECDH-ES+A128KW\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"supportedRequestParameterEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"ECDH-ES+A128KW\",\"RSA-OAEP\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"defaultACR\":[]},\"advancedOAuth2Config\":{\"tokenCompressionEnabled\":false,\"tokenEncryptionEnabled\":false,\"requirePushedAuthorizationRequests\":false,\"tlsCertificateBoundAccessTokensEnabled\":true,\"includeSubnameInTokenClaims\":true,\"defaultScopes\":[],\"moduleMessageEnabledInPasswordGrant\":false,\"allowClientCredentialsInTokenRequestQueryParameters\":false,\"supportedSubjectTypes\":[\"public\",\"pairwise\"],\"refreshTokenGracePeriod\":0,\"tlsClientCertificateHeaderFormat\":\"URLENCODED_PEM\",\"hashSalt\":\"changeme\",\"macaroonTokenFormat\":\"V2\",\"maxAgeOfRequestObjectNbfClaim\":0,\"tlsCertificateRevocationCheckingEnabled\":false,\"nbfClaimRequiredInRequestObject\":false,\"requestObjectProcessing\":\"OIDC\",\"maxDifferenceBetweenRequestObjectNbfAndExp\":0,\"responseTypeClasses\":[\"code|org.forgerock.oauth2.core.AuthorizationCodeResponseTypeHandler\",\"id_token|org.forgerock.openidconnect.IdTokenResponseTypeHandler\",\"token|org.forgerock.oauth2.core.TokenResponseTypeHandler\"],\"expClaimRequiredInRequestObject\":false,\"tokenValidatorClasses\":[\"urn:ietf:params:oauth:token-type:id_token|org.forgerock.oauth2.core.tokenexchange.idtoken.OidcIdTokenValidator\",\"urn:ietf:params:oauth:token-type:access_token|org.forgerock.oauth2.core.tokenexchange.accesstoken.OAuth2AccessTokenValidator\"],\"tokenSigningAlgorithm\":\"HS256\",\"codeVerifierEnforced\":\"false\",\"displayNameAttribute\":\"cn\",\"tokenExchangeClasses\":[\"urn:ietf:params:oauth:token-type:access_token=>urn:ietf:params:oauth:token-type:access_token|org.forgerock.oauth2.core.tokenexchange.accesstoken.AccessTokenToAccessTokenExchanger\",\"urn:ietf:params:oauth:token-type:id_token=>urn:ietf:params:oauth:token-type:id_token|org.forgerock.oauth2.core.tokenexchange.idtoken.IdTokenToIdTokenExchanger\",\"urn:ietf:params:oauth:token-type:access_token=>urn:ietf:params:oauth:token-type:id_token|org.forgerock.oauth2.core.tokenexchange.accesstoken.AccessTokenToIdTokenExchanger\",\"urn:ietf:params:oauth:token-type:id_token=>urn:ietf:params:oauth:token-type:access_token|org.forgerock.oauth2.core.tokenexchange.idtoken.IdTokenToAccessTokenExchanger\"],\"parRequestUriLifetime\":90,\"allowedAudienceValues\":[],\"persistentClaims\":[],\"supportedScopes\":[],\"authenticationAttributes\":[\"uid\"],\"grantTypes\":[\"implicit\",\"urn:ietf:params:oauth:grant-type:saml2-bearer\",\"refresh_token\",\"password\",\"client_credentials\",\"urn:ietf:params:oauth:grant-type:device_code\",\"authorization_code\",\"urn:openid:params:grant-type:ciba\",\"urn:ietf:params:oauth:grant-type:uma-ticket\",\"urn:ietf:params:oauth:grant-type:token-exchange\",\"urn:ietf:params:oauth:grant-type:jwt-bearer\"]},\"clientDynamicRegistrationConfig\":{\"dynamicClientRegistrationScope\":\"dynamic_client_registration\",\"allowDynamicRegistration\":false,\"requiredSoftwareStatementAttestedAttributes\":[\"redirect_uris\"],\"dynamicClientRegistrationSoftwareStatementRequired\":false,\"generateRegistrationAccessTokens\":true},\"coreOIDCConfig\":{\"overrideableOIDCClaims\":[],\"oidcDiscoveryEndpointEnabled\":false,\"supportedIDTokenEncryptionMethods\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A128CBC-HS256\",\"A192CBC-HS384\",\"A256CBC-HS512\"],\"supportedClaims\":[],\"supportedIDTokenSigningAlgorithms\":[\"PS384\",\"ES384\",\"RS384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"supportedIDTokenEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"RSA-OAEP\",\"ECDH-ES+A128KW\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"jwtTokenLifetime\":3600},\"coreOAuth2Config\":{\"refreshTokenLifetime\":604800,\"scopesPolicySet\":\"oauth2Scopes\",\"accessTokenMayActScript\":\"[Empty]\",\"accessTokenLifetime\":3600,\"macaroonTokensEnabled\":false,\"codeLifetime\":120,\"statelessTokensEnabled\":false,\"usePolicyEngineForScope\":false,\"issueRefreshToken\":true,\"oidcMayActScript\":\"[Empty]\",\"issueRefreshTokenOnRefreshedToken\":true},\"consent\":{\"supportedRcsRequestSigningAlgorithms\":[\"PS384\",\"ES384\",\"RS384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"supportedRcsResponseEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"ECDH-ES+A128KW\",\"RSA-OAEP\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"supportedRcsRequestEncryptionMethods\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A1
[...]
