{
  "log": {
    "_recordingName": "agent/import/0_i_f/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9e2a0133-13d7-42a1-ba48-4d5630fc162d"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 614,
            "text": "{\"_id\":\"*\",\"_rev\":\"1955877865\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"cloudOnlyFeaturesEnabled\":true,\"oauth2AIAgentsEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1955877865\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9e2a0133-13d7-42a1-ba48-4d5630fc162d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 142,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9e2a0133-13d7-42a1-ba48-4d5630fc162d"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 274,
            "text": "{\"_id\":\"version\",\"_rev\":\"-1986495916\",\"version\":\"9.0.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 9.0.0-SNAPSHOT Build c6c99b2f35d4d905937aeef7e7b8426bf5d8e820 (2026-June-12 09:10)\",\"revision\":\"c6c99b2f35d4d905937aeef7e7b8426bf5d8e820\",\"date\":\"2026-June-12 09:10\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1986495916\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9e2a0133-13d7-42a1-ba48-4d5630fc162d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 72,
      },
      {
        "_id": "603fd1686174def667ad7462f18278b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9e2a0133-13d7-42a1-ba48-4d5630fc162d"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"frodo-test-ig-agent\",\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"collection\":true,\"name\":\"Identity Gateway Agents\"},\"agentgroup\":\"test_ig_group\",\"igCdssoLoginUrlTemplate\":\"http://testurl.com:8080/frodo\",\"igCdssoRedirectUrls\":[\"http://testurl.com:8080/frodo\"],\"igTokenIntrospection\":\"Realm\",\"secretLabelIdentifier\":null,\"status\":\"Inactive\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/frodo-test-ig-agent"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 474,
            "text": "{\"_id\":\"frodo-test-ig-agent\",\"_rev\":\"-255733308\",\"secretLabelIdentifier\":null,\"agentgroup\":\"test_ig_group\",\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm\"},\"igCdssoLoginUrlTemplate\":{\"inherited\":false,\"value\":\"http://testurl.com:8080/frodo\"},\"status\":{\"inherited\":false,\"value\":\"Inactive\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[\"http://testurl.com:8080/frodo\"]},\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"-255733308\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9e2a0133-13d7-42a1-ba48-4d5630fc162d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 145,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
