{
  "log": {
    "_recordingName": "esv/variable-create/0_variable-id_value_description_variable-type/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ac31ccceb288fe104fb927288dc7c001",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-93640586-72fc-4240-8c91-8121afc68eec"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/b672336b-41ef-428d-ae4a-e0c082875377?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1046,
            "text": "{\"_id\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"_rev\":\"a9fd21f6-492e-4d10-9576-0447d4e19080-35760\",\"accountStatus\":\"active\",\"name\":\"frodo-test\",\"description\":\"Frodo Test\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"rkOpgoQMqHNQ6PtjyzwxkwPsDbCi0CMm8eWGDMBfLThbjMP1s4YA18Fl-NwebyBFqf7Ut6A8ZhKIiCNS-boSJng7j4TZuvFYOcQzx_qpAblY75apRYJgkRCN0uqecz-7JoMymp5CPXC-IMMew5IPPbJEI3aolqPcW5vjzr64saHDoiRH742WKYkyAUqcQmrPGHMeXaTIyOaEORB_sfJRXULEKQ6YntL8lt8SqNEVZgo_QShBP1is-lB1t8WZql3Qu43Mw8CjFJps71OeUhO8b3eP41OX4W_zKVpYYttL7VBfRK8fzyfA1AAiwuN2CNfUtHkO3lIoos3ihm-u4G2RhZH-1oZaE3B_L_wHtENf8yf_Zzmrz8N2DCXXb5bnOr9CqOS622AgBTR_RziIx2xZ5PV8kzrYi-N4sz39LjuhG6n0bb8qrGUi7v-9vjczH6IPcrssO1UpjkaTHUvFF_M7FZYBK24agKKEoSwfichZGMy5-fpuu35hhpI_AyeLc62QNqPBuRUJiE4ramjEAqgFnUuJp6SAlC3o0diisBEyD7xiHQLEqqNqcM1d9bSU9MdyaSbQuPaB7MclgZ2kyPELnbSq0znFsw8-QhWWJubtMJ8GzIStzpEoL8LLPqpL1VDxYBMnLgqD-O3IIAhi7ZHE_a44UWMG2ekKamuvIFoyQPM\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"a9fd21f6-492e-4d10-9576-0447d4e19080-35760\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-93640586-72fc-4240-8c91-8121afc68eec"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
