{
  "log": {
    "_recordingName": "role/import/0_af_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6787041b9e28fc782af01d1a938d5c61",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-30d2bca8-ac3d-443f-95e0-c7a148184285"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"openidm-admin\",\"condition\":null,\"description\":\"Administrative access\",\"name\":\"openidm-admin\",\"privileges\":[]}"
          },
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/internal/role/openidm-admin"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 194,
            "text": "{\"_id\":\"openidm-admin\",\"_rev\":\"d58a3526-b2f3-40b9-8d59-b1e1515ff88c-17952\",\"privileges\":[],\"condition\":null,\"name\":\"openidm-admin\",\"description\":\"Administrative access\",\"temporalConstraints\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"d58a3526-b2f3-40b9-8d59-b1e1515ff88c-17952\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 47,
      },
      {
        "_id": "4b1a0a65d562ca6a9f68f3aa3364e99c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-30d2bca8-ac3d-443f-95e0-c7a148184285"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
[...]
