{
  "log": {
    "_recordingName": "service/import/0_i_f/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7741ae8a-31f6-4e7c-b1e9-58a2890c7ea8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1874515102\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7741ae8a-31f6-4e7c-b1e9-58a2890c7ea8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 133,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7741ae8a-31f6-4e7c-b1e9-58a2890c7ea8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 281,
            "text": "{\"_id\":\"version\",\"_rev\":\"-347675290\",\"version\":\"7.5.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.5.0-SNAPSHOT Build c27d160f2238f1869b36b4e3a66ff9baa06e89f7 (2023-November-16 17:31)\",\"revision\":\"c27d160f2238f1869b36b4e3a66ff9baa06e89f7\",\"date\":\"2023-November-16 17:31\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-347675290\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7741ae8a-31f6-4e7c-b1e9-58a2890c7ea8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 77,
      },
      {
        "_id": "866aadf939bfd818855586703ac6f8a3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7741ae8a-31f6-4e7c-b1e9-58a2890c7ea8"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"\",\"_type\":{\"_id\":\"baseurl\",\"collection\":false,\"name\":\"Base URL Source\"},\"contextPath\":\"/am\",\"fixedValue\":\"https://&{fqdn}\",\"source\":\"REQUEST_VALUES\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/services/baseurl"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 178,
            "text": "{\"_id\":\"\",\"_rev\":\"-1889820858\",\"source\":\"REQUEST_VALUES\",\"fixedValue\":\"https://&{fqdn}\",\"contextPath\":\"/am\",\"_type\":{\"_id\":\"baseurl\",\"name\":\"Base URL Source\",\"collection\":false}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1889820858\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7741ae8a-31f6-4e7c-b1e9-58a2890c7ea8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 182,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
