{
  "log": {
    "_recordingName": "config-manager/push/service-objects/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1e659179738c0807e765f53ccda419f7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c5a2bcc-bf74-4e4c-9818-4db228e51a3a"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"2d1d7733-bbe2-4a22-a24e-b8f28f377bab\",\"name\":\"Test B Role\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/managed/role/2d1d7733-bbe2-4a22-a24e-b8f28f377bab"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 117,
            "text": "{\"_id\":\"2d1d7733-bbe2-4a22-a24e-b8f28f377bab\",\"_rev\":\"3bd23670-309b-4186-a573-cf8bda235ea1-278\",\"name\":\"Test B Role\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"3bd23670-309b-4186-a573-cf8bda235ea1-278\""
            },
            {
              "name": "x-not-modified",
              "value": "true"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 47,
      },
      {
        "_id": "351587289cad1b72f3de76dc377b3bf6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c5a2bcc-bf74-4e4c-9818-4db228e51a3a"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],[...]
