{
  "log": {
    "_recordingName": "email/template-import/0_af_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "de3566e649dc89e93a6365b0fdaecd4e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2c2834c5-6433-4a09-899c-a722b0f01a06"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 11,
      },
      {
        "_id": "3f3b03432a833cfcbe27438276bb566b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2c2834c5-6433-4a09-899c-a722b0f01a06"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openam-password",
              "value": "openidm-admin"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 2,
      },
      {
        "_id": "047f43a49dff3686ec2e9da2c2dd2a16",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2c2834c5-6433-4a09-899c-a722b0f01a06"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"emailTemplate/forgottenUsername\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body>{{#if object.userName}}<p>Your username is '{{object.userName}}'.</p>{{else}}If you received this email in error, please disregard.{{/if}}<h4><a href=\\\"{{object.resumeURI}}\\\">Click here to login</a></h4></body></html>\",\"fr\":\"<html><body>{{#if object.userName}}<p>Votre nom d'utilisateur est '{{object.userName}}'.</p>{{else}}Si vous avez reçu cet e-mail par erreur, veuillez ne pas en tenir compte.{{/if}}<h4><a href=\\\"{{object.resumeURI}}\\\">Cliquez ici pour vous connecter</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Account Information - username\",\"fr\":\"Informations sur le compte - nom d'utilisateur\"}}"
          },
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config/emailTemplate/forgottenUsername"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 743,
            "text": "{\"_id\":\"emailTemplate/forgottenUsername\",\"defaultLocale\":\"en\",\"enabled\":true[...]
