{
  "log": {
    "_recordingName": "email/template-import/0_af_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "047f43a49dff3686ec2e9da2c2dd2a16",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bd700700-df84-40ef-8d77-2facb026ad1a"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"emailTemplate/forgottenUsername\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body>{{#if object.userName}}<p>Your username is '{{object.userName}}'.</p>{{else}}If you received this email in error, please disregard.{{/if}}<h4><a href=\\\"{{object.resumeURI}}\\\">Click here to login</a></h4></body></html>\",\"fr\":\"<html><body>{{#if object.userName}}<p>Votre nom d'utilisateur est '{{object.userName}}'.</p>{{else}}Si vous avez reçu cet e-mail par erreur, veuillez ne pas en tenir compte.{{/if}}<h4><a href=\\\"{{object.resumeURI}}\\\">Cliquez ici pour vous connecter</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Account Information - username\",\"fr\":\"Informations sur le compte - nom d'utilisateur\"}}"
          },
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config/emailTemplate/forgottenUsername"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 743,
            "text": "{\"_id\":\"emailTemplate/forgottenUsername\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body>{{#if object.userName}}<p>Your username is '{{object.userName}}'.</p>{{else}}If you received this email in error, please disregard.{{/if}}<h4><a href=\\\"{{object.resumeURI}}\\\">Click here to login</a></h4></body></html>\",\"fr\":\"<html><body>{{#if object.userName}}<p>Votre nom d'utilisateur est '{{object.userName}}'.</p>{{else}}Si vous avez reçu cet e-mail par erreur, veuillez ne pas en tenir compte.{{/if}}<h4><a href=\\\"{{object.resumeURI}}\\\">Cliquez ici pour vous connecter</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Account Information - username\",\"fr\":\"Informations sur le compte - nom d'utilisateur\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 24,
      },
      {
        "_id": "63b37e07e202b68dc9889582625abf16",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bd700700-df84-40ef-8d77-2facb026ad1a"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"emailTemplate/registration\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<h3>This is your registration email.</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Email verification link</a></h4>\",\"fr\":\"<h3>Ceci est votre mail d'inscription.</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Lien de vérification email</a></h4>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Register new account\",\"fr\":\"Créer un nouveau compte\"}}"
          },
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config/emailTemplate/registration"
[...]
