{
  "log": {
    "_recordingName": "info/0_json/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "251003828bf23336fa53493b58e58bd7",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3e909bfa-757a-4edf-b4de-298aab4ee33f"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..QkPUidxsqDbvlzafD42YKA.D3VT3ovFj7ogji_DXY-SyMTjmt3OfPJKcY[...]
