{
  "log": {
    "_recordingName": "config-manager/pull/variables/0_D_n/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f536f56d-c41a-41b2-a310-b087fc4d7463"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-trivir-demo.forgeblocks.com/openidm/managed/svcacct/e08fce06-bc51-4c53-85d6-60f838c9f738?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1373,
            "text": "{\"_id\":\"e08fce06-bc51-4c53-85d6-60f838c9f738\",\"_rev\":\"81714d28-b65b-4177-a016-ef50a142894c-1773\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1782226375696\",\"description\":\"bwirick@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"rV4BCK7l6iS9R-8TeW68qtw9losbwufTBBJzYvUQIl8\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"za2g1sFMFuQzWXbs6DbNYd8_sHyVDDVpDLl7YqLkRmcmY6rENmq2El1I7HBlgx2r_szej4a7me693ZL1sf7KdLd7whvtPlHp9Ulpyw99TB-_KNaliNxj66c7ITDzpTmvkd-nvBitgt35JD8Cxzo2FUcJY3Gf4PBhji4FG3TEAaaNjBjQb5UVYcMBg-Mmiw8FpOyMXWy5vUZUqeEzCBK3e3FNWQ4WgiA25l68aDXTFm2Xp6AcJZrOKcUKxTzuK96HEdCJl87dTUHQJZFcWjKykx0VtwXSZsDvM7J6iTVq_LY9JCVcE_xzUmgDgZrU19lNXVkumZayCHwbnddJ4ya5VB-hRs-6Y7lvQxIjrztfL1DcqaB6oi_likT9xxJAafLdVeY82qN0uZ-Vpm6RvfWavpZ4j3u4kOlzvr3Yn0dNiljkoXhwOMxYczNKKGF6GZYKdA93T3m5wA68DMzToxYIeYaGMqTEPWq50DH-1f8qHwB0XYc2r8WMVFg8uJQZr-EEDDVUMnmIH72WV75RFMZGM3AjeiaB4jyHSJhNmJKlzwlzKql41KbXrvV9r5tWKfP8uNhKkgWIpXxRYE6Fl2MLY0G8TM-n9wdyc4OUHQcZyD4l0GzRr8awlqttDzn6ypR91sWz8zPuYCAnxM8JIQUqtuYUlm2ucVMTHVNf47ZRRNE\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"81714d28-b65b-4177-a016-ef50a142894c-1773\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f536f56d-c41a-41b2-a310-b087fc4d7463"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 221,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f536f56d-c41a-41b2-a310-b087fc4d7463"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
