{
  "log": {
    "_recordingName": "config-manager/pull/all/0_C_D_m/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://nightly.gcp.forgeops.com/platform/appAuthHelperRedirect.html&scope=fr:idm:* openid&response_type=code&client_id=idm-admin-ui&csrf=ImERlOZhznr0Jnuia-t7F6w9O_o.*AAJTSQACMDIAAlNLABxKeU5udWxRaVU0V2h0a0RZMzlBZ2gvZmxpLzQ9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=ubNa_zfH59eqYltkd2U1EQEfCYGDMVe_3eXfAeuWj9k&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://nightly.gcp.forgeops.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://nightly.gcp.forgeops.com/platform/appAuthHelperRedirect.html?code=v4gSihJgUh2YP1yLUamp3jpu2JA&iss=https%3A%2F%2Fnightly.gcp.forgeops.com%2Fam%2Foauth2&client_id=idm-admin-ui"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 88,
      },
      {
        "_id": "ff75519a93ccab829f8ee8cf5e92b49f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "client_id=idm-admin-ui&redirect_uri=https://nightly.gcp.forgeops.com/platform/appAuthHelperRedirect.html&grant_type=authorization_code&code=v4gSihJgUh2YP1yLUamp3jpu2JA&code_verifier=ti05hYs5q2ORjSgJAcHtdZbk3Y1IUjOT44fWHJFauKw"
          },
          "queryString": [],
          "url": "https://nightly.gcp.forgeops.com/am/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1250,
            "text": "{\"access_token\":\"<access token>\",\"scope\":\"openid fr:idm:*\",\"id_token\":\"<id token>\",\"token_type\":\"Bearer\",\"expires_in\":239}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 107,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
