{
  "log": {
    "_recordingName": "config-manager/push/cors/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "98a8ad692bb147024f667c6fb987d0c0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4015682c-bdf6-4b18-8c41-1724073a16ee"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"servletfilter/cors\",\"filterClass\":\"org.eclipse.jetty.ee10.servlets.CrossOriginFilter\",\"initParams\":{\"allowCredentials\":false,\"allowedHeaders\":\"authorization,accept,content-type,origin,x-requested-with,cache-control,accept-api-version,if-match,if-none-match\",\"allowedMethods\":\"GET,POST,PUT,DELETE,PATCH\",\"allowedOrigins\":\"*\",\"chainPreflight\":false,\"exposedHeaders\":\"WWW-Authenticate\"},\"urlPatterns\":[\"/*\"]}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/servletfilter/cors"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 413,
            "text": "{\"_id\":\"servletfilter/cors\",\"filterClass\":\"org.eclipse.jetty.ee10.servlets.CrossOriginFilter\",\"initParams\":{\"allowCredentials\":false,\"allowedHeaders\":\"authorization,accept,content-type,origin,x-requested-with,cache-control,accept-api-version,if-match,if-none-match\",\"allowedMethods\":\"GET,POST,PUT,DELETE,PATCH\",\"allowedOrigins\":\"*\",\"chainPreflight\":false,\"exposedHeaders\":\"WWW-Authenticate\"},\"urlPatterns\":[\"/*\"]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 26,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
