{
  "log": {
    "_recordingName": "agent/java-import/0_f_D/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2ac3e06d-51d8-40cb-b293-7c339c6a4c57"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 538,
            "text": "{\"_id\":\"*\",\"_rev\":\"36966512\",\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "etag",
              "value": "\"36966512\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2ac3e06d-51d8-40cb-b293-7c339c6a4c57"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 90,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2ac3e06d-51d8-40cb-b293-7c339c6a4c57"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 282,
            "text": "{\"_id\":\"version\",\"_rev\":\"355151460\",\"version\":\"7.6.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.6.0-SNAPSHOT Build 493165657bbb9390016bd43ca767a46f23d8d24a (2024-September-23 14:30)\",\"revision\":\"493165657bbb9390016bd43ca767a46f23d8d24a\",\"date\":\"2024-September-23 14:30\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"355151460\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2ac3e06d-51d8-40cb-b293-7c339c6a4c57"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 70,
      },
      {
        "_id": "ec17587f3be3d2ba45dcc8bc03692410",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2ac3e06d-51d8-40cb-b293-7c339c6a4c57"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"frodo-test-java-agent\",\"_type\":{\"_id\":\"J2EEAgent\",\"collection\":true,\"name\":\"J2EE Agents\"},\"advancedJ2EEAgentConfig\":{\"alternativeAgentHostname\":null,\"alternativeAgentPort\":null,\"alternativeAgentProtocol\":null,\"clientHostnameHeader\":null,\"clientIpHeader\":null,\"customProperties\":[],\"expiredSessionCacheSize\":500,\"expiredSessionCacheTTL\":20,\"fragmentRelayUri\":null,\"idleTimeRefreshWindow\":1,\"jwtCacheSize\":5000,\"jwtCacheTTL\":30,\"missingPostDataPreservationEntryUri\":[\"\"],\"monitoringToCSV\":false,\"policyCachePerUser\":50,\"policyCacheSize\":5000,\"policyClientPollingInterval\":3,\"possibleXssCodeElements\":[\"\"],\"postDataCacheTtlMin\":5,\"postDataPreservation\":false,\"postDataPreserveCacheEntryMaxEntries\":1000,\"postDataPreserveCacheEntryMaxTotalSizeMb\":-1,\"postDataPreserveMultipartLimitBytes\":104857600,\"postDataPreserveMultipartParameterLimitBytes\":104857600,\"postDataStickySessionKeyValue\":null,\"postDataStickySessionMode\":\"URL\",\"retainPreviousOverrideBehavior\":true,\"sessionCacheTTL\":15,\"ssoExchangeCacheSize\":100,\"ssoExchangeCacheTTL\":5,\"xssDetectionRedirectUri\":{}},\"amServicesJ2EEAgent\":{\"agentAdviceEncode\":false,\"amLoginUrl\":[],\"authServiceHost\":\"testurl.com\",\"authServicePort\":8080,\"authServiceProtocol\":\"http\",\"authSuccessRedirectUrl\":false,\"conditionalLoginUrl\":[\"\"],\"conditionalLogoutUrl\":[\"\"],\"customLoginEnabled\":false,\"legacyLoginUrlList\":[\"\"],\"overridePolicyEvaluationRealmEnabled\":false,\"policyEvaluationApplication\":\"iPlanetAMWebAgentService\",\"policyEvaluationRealm\":\"/\",\"policyNotifications\":true,\"restrictToRealm\":{},\"strategyWhenAMUnavailable\":\"EVAL_NER_USE_CACHE_UNTIL_EXPIRED_ELSE_503\",\"urlPolicyEnvGetParameters\":[\"\"],\"urlPolicyEnvJsessionParameters\":[\"\"],\"urlPolicyEnvPostParameters\":[\"\"]},\"applicationJ2EEAgentConfig\":{\"applicationLogoutUris\":{},\"clientIpValidationMode\":{\"\":\"OFF\"},\"clientIpValidationRange\":{},\"continuousSecurityCookies\":{},\"continuousSecurityHeaders\":{},\"cookieAttributeMultiValueSeparator\":\"|\",\"cookieAttributeUrlEncoded\":true,\"headerAttributeDateFormat\":\"EEE, d MMM yyyy hh:mm:ss z\",\"invertNotEnforcedIps\":false,\"invertNotEnforcedUris\":false,\"logoutEntryUri\":{},\"logoutIntrospection\":false,\"logoutRequestParameters\":{},\"notEnforcedFavicon\":true,\"notEnforcedIps\":[\"\"],\"notEnforcedIpsCacheEnabled\":true,\"notEnforcedIpsCacheSize\":1000,\"notEnforcedRuleCompoundSeparator\":\"|\",\"notEnforcedUris\":[\"\"],\"notEnforcedUrisCacheEnabled\":true,\"notEnforcedUrisCacheSize\":1000,\"profileAttributeFetchMode\":\"NONE\",\"profileAttributeMap\":{},\"resourceAccessDeniedUri\":{},\"responseAttributeFetchMode\":\"NONE\",\"responseAttributeMap\":{},\"sessionAttributeFetchMode\":\"NONE\",\"sessionAttributeMap\":{}},\"globalJ2EEAgentConfig\":{\"agentConfigChangeNotificationsEnabled\":true,\"agentgroup\":null,\"auditAccessType\":\"LOG_NONE\",\"auditLogLocation\":\"REMOTE\",\"cdssoRootUrl\":[\"agentRootURL=http://testurl.com:8080/\"],\"configurationReloadInterval\":0,\"customResponseHeader\":{},\"debugLevel\":\"error\",\"debugLogfilePrefix\":null,\"debugLogfileRetentionCount\":-1,\"debugLogfileRotationMinutes\":-1,\"debugLogfileRotationSize\":52428800,\"debugLogfileSuffix\":\"-yyyy.MM.dd-HH.mm.ss\",\"filterMode\":{\"\":\"ALL\"},\"fqdnCheck\":false,\"fqdnDefault\":\"testurl.com\",\"fqdnMapping\":{},\"httpSessionBinding\":true,\"jwtName\":\"am-auth-jwt\",\"lbCookieEnabled\":false,\"lbCookieName\":\"amlbcookie\",\"localAuditLogRotation\":false,\"localAuditLogfileRetentionCount\":-1,\"localAuditRotationSize\":52428800,\"loginAttemptLimit\":0,\"loginAttemptLimitCookieName\":\"amFilterParam\",\"preAuthCookieMaxAge\":300,\"preAuthCookieName\":\"amFilterCDSSORequest\",\"recheckAmUnavailabilityInSeconds\":5,\"redirectAttemptLimit\":0,\"redirectAttemptLimitCookieName\":\"amFilterRDParam\",\"repositoryLocation\":\"centralized\",\"secretLabelIdentifier\":null,\"status\":\"Inactive\",\"userAttributeName\":\"employeenumber\",\"userMappingMode\":\"USER_ID\",\"userPrincipalFlag\":false,\"userTokenName\":\"UserToken\",\"webSocketConnectionIntervalInMinutes\":30},\"miscJ2EEAgentConfig\":{\"agent302RedirectContentType\":\"application/json\",\"agent302RedirectEnabled\":true,\"agent302RedirectHttpData\":\"{redirect:{requestUri:%REQUEST_URI%,requestUrl:%REQUEST_URL%,targetUrl:%TARGET%}}\",\"agent302RedirectInvertEnabled\":false,\"agent302RedirectNerList\":[\"\"],\"agent302RedirectStatusCode\":200,\"authFailReasonParameterName\":null,\"authFailReasonParameterRemapper\":{},\"authFailReasonUrl\":null,\"gotoParameterName\":\"goto\",\"gotoUrl\":null,\"ignorePathInfo\":false,\"legacyRedirectUri\":\"/agent/sunwLegacySupportURI\",\"legacyUserAgentList\":[\"Mozilla/4.7*\"],\"legacyUserAgentSupport\":false,\"localeCountry\":\"US\",\"localeLanguage\":\"en\",\"loginReasonMap\":{},\"loginReasonParameterName\":null,\"portCheckEnabled\":false,\"portCheckFile\":\"PortCheckContent.txt\",\"portCheckSetting\":{\"8080\":\"http\"},\"unwantedHttpUrlParams\":[\"\"],\"unwantedHttpUrlRegexParams\":[\"\"],\"wantedHttpUrlParams\":[\"\"],\"wantedHttpUrlRegexParams\":[\"\"]},\"ssoJ2EEAgentConfig\":{\"acceptIPDPCookie\":false,\"acceptSsoTokenDomainList\":[\"\"],\"acceptSsoTokenEnabled\":false,\"authExchangeCookieName\":null,\"authExchangeUri\":null,\"cdssoDomainList\":[\"\"],\"cdssoRedirectUri\":\"/agent/post-authn-redirect\",\"cdssoSecureCookies\":false,\"cookieResetDomains\":{},\"cookieResetEnabled\":false,\"cookieResetNames\":[\"\"],\"cookieResetPaths\":{},\"encodeCookies\":false,\"excludedUserAgentsList\":[],\"httpOnly\":true,\"setCookieAttributeMap\":{},\"setCookieInternalMap\":{}}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/J2EEAgent/frodo-test-java-agent"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 9480,
            "text": "{\"_id\":\"frodo-test-java-agent\",\"_rev\":\"1692981145\",\"ssoJ2EEAgentConfig\":{\"encodeCookies\":{\"inherited\":false,\"value\":false},\"authExchangeUri\":{\"inherited\":false},\"cookieResetDomains\":{\"inherited\":false,\"value\":{}},\"authExchangeCookieName\":{\"inherited\":false},\"setCookieInternalMap\":{\"inherited\":false,\"value\":{}},\"excludedUserAgentsList\":{\"inherited\":false,\"value\":[]},\"cdssoRedirectUri\":{\"inherited\":false,\"value\":\"/agent/post-authn-redirect\"},\"cdssoSecureCookies\":{\"inherited\":false,\"value\":false},\"cookieResetPaths\":{\"inherited\":false,\"value\":{}},\"acc[...]
