{
  "log": {
    "_recordingName": "config/export/0_all-separate_no-metadata_default_directory_use-string-arrays_no-decode_no-coords_extract_separate-mappings/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a24d647eb74a9e69a6b0bd9ed23dc6ce",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3827,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-admin-token\",\"activeVersion\":\"1\",\"description\":\"Long-lived admin token\",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-03-20T14:46:13.461793Z\",\"lastChangedBy\":\"ba58ff99-76d3-4c69-9c4a-7f150ac70e2c\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-brando-pingone\",\"activeVersion\":\"4\",\"description\":\"This is to show the connection between PingOne and AIC. \",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-06-24T00:44:06.154598Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":true,\"loadedVersion\":\"4\",\"useInPlaceholders\":true},{\"_id\":\"esv-secret-import-test1\",\"activeVersion\":\"1\",\"description\":\"Secret Import Test 1\",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-06-22T01:13:13.9045[...]
