{
  "log": {
    "_recordingName": "info/3_json/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-54c94b50-c39d-4b19-a6aa-409451eba17e"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "6ac6499e9da2071",
              "value": "MHA64HUj_aJNQWXhqkdOngxIK-I.*AAJTSQACMDIAAlNLABxOVGFkMFRqVlRycG1qWnljR3hKOUxXNk5LcWs9AAR0eXBlAANDVFMAAlMxAAIwMQ..*"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html&scope=openid fr:idm:* fr:idc:esv:*&response_type=code&client_id=idmAdminClient&csrf=MHA64HUj_aJNQWXhqkdOngxIK-I.*AAJTSQACMDIAAlNLABxOVGFkMFRqVlRycG1qWnljR3hKOUxXNk5LcWs9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=7T_1x5pFv6R9lFd-_zQ806ES8FAFfeY0_TxCRn5s5lU&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html?code=YhBbGMTvSkjfseEVYIUh5xAJk08&iss=https%3A%2F%2Fopenam-frodo-dev.forgeblocks.com%3A443%2Fam%2Foauth2&client_id=idmAdminClient"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-54c94b50-c39d-4b19-a6aa-409451eba17e"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 61,
      },
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-54c94b50-c39d-4b19-a6aa-409451eba17e"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
[...]
