{
  "log": {
    "_recordingName": "agent/gateway-import/0_af/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c40e8d62-e23c-4ead-92b8-38e9427590e7"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 538,
            "text": "{\"_id\":\"*\",\"_rev\":\"36966512\",\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "etag",
              "value": "\"36966512\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c40e8d62-e23c-4ead-92b8-38e9427590e7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 87,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c40e8d62-e23c-4ead-92b8-38e9427590e7"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 282,
            "text": "{\"_id\":\"version\",\"_rev\":\"355151460\",\"version\":\"7.6.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.6.0-SNAPSHOT Build 493165657bbb9390016bd43ca767a46f23d8d24a (2024-September-23 14:30)\",\"revision\":\"493165657bbb9390016bd43ca767a46f23d8d24a\",\"date\":\"2024-September-23 14:30\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"355151460\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c40e8d62-e23c-4ead-92b8-38e9427590e7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 72,
      },
      {
        "_id": "21c9fc8f9ad434f8fedc7ca2ad1a50a8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c40e8d62-e23c-4ead-92b8-38e9427590e7"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"cdsso-ig-agent\",\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"collection\":true,\"name\":\"Identity Gateway Agents\"},\"agentgroup\":null,\"igCdssoLoginUrlTemplate\":null,\"igCdssoRedirectUrls\":[\"https://volker-demo.encore.forgerock.com:443/apps/hrlite/redirect\",\"https://volker-demo.encore.forgerock.com/apps/hrlite/redirect\",\"https://volker-demo.encore.forgerock.com:443/apps/hrlite-rest/redirect\",\"https://volker-demo.encore.forgerock.com:443/apps/contractor/redirect\",\"https://volker-demo.encore.forgerock.com/apps/hrlite-rest/redirect\",\"https://volker-demo.encore.forgerock.com/apps/contractor/redirect\"],\"igTokenIntrospection\":\"Realm_Subs\",\"secretLabelIdentifier\":null,\"status\":\"Active\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/cdsso-ig-agent"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 801,
            "text": "{\"_id\":\"cdsso-ig-agent\",\"_rev\":\"-1944736899\",\"secretLabelIdentifier\":{\"inherited\":false},\"igCdssoLoginUrlTemplate\":{\"inherited\":false},\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm_Subs\"},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[\"https://volker-demo.encore.forgerock.com:443/apps/hrlite/redirect\",\"https://volker-demo.encore.forgerock.com/apps/hrlite/redirect\",\"https://volker-demo.encore.forgerock.com:443/apps/hrlite-rest/redirect\",\"https://volker-demo.encore.forgerock.com:443/app[...]
