{
  "log": {
    "_recordingName": "esv/secret-set/0_secret-id_description/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d97e1fd9e83a63bc5b930dc683bb58a7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi-generic"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 271,
            "text": "{\"_id\":\"esv-test-secret-pi-generic\",\"activeVersion\":\"1\",\"description\":\"Test secret containing value of pi\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-09-22T15:54:05.075923Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
