{
  "log": {
    "_recordingName": "config-manager/pull/iga-workflows/0_i_D/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3414094a-1b22-4e32-8d7b-86d96ab8cc90"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/openidm/managed/svcacct/6b65c0a2-3ecd-4d7b-a52a-8c0a5c326f3f?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1035,
            "text": "{\"_id\":\"6b65c0a2-3ecd-4d7b-a52a-8c0a5c326f3f\",\"_rev\":\"58ad10bd-a1f8-4e41-95b6-b6d4365502cf-28632\",\"accountStatus\":\"active\",\"name\":\"frodo-dsevy\",\"description\":null,\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:iga:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"6HXYr7B1lk8cUVwkHu7mcx2_bhbGr3iISQje39G4W-1nJsC6KfPoCYxaAPeYRI7IqUyrgSmX3WvDybYjtLW1uGtKJ8YEoYaVfNUdcKjKhVMe0kVaf5CQIUgdfIYN_jt4KCL4MBP45Tzs4SQFI4FzujonNhl5cgRuPd8N21ziYnF11iKUKpNsKCSc1OzTYAeE2NM6fnP737gCs4FlJUY_v0qAkmBjqoLHIWxm_1GCJ3UBjcnzmUdCM4Akjftn45Oq_z0N_ZaANSS1twK53PL_hfKiNFWsBn2rJ-tmh4e5r-sx2nBseRHwH0AKtJklMw9lFHufQ9KNG73xZ-WaWtaxc55P3JnYl6kFaiuNDaSTvL3I4b1uKLeT4pUdr4In51bDd7P0gUSKe9LVTfafr50WkxaJ_e07SU1rFi7j41wjd4P7yCY5hBK_ZPvZsTT_6i1-gpBRBJFfpbcZxlhFF3PUf6p4M_Bzkwt4kdyoPErs7D3fXEpIqIHpeStD2G4RbdI-_MqYvJinc5ZXsGnWC44ZHwZj0QhweS7Zsp9ZA--nNTWz5zYwVjraOe5Jv9pBfY9a-DGy4QqKO23sAcZjjjQGf9H-YX-krCLHOjsjVfyMY3xiQPVZJUVMK-ocWqOT7dwvpMGJ8yG57j1OjAB8ZJvqlDduDY9w6fhdI6wVZ5FYwZ8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"58ad10bd-a1f8-4e41-95b6-b6d4365502cf-28632\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3414094a-1b22-4e32-8d7b-86d96ab8cc90"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 194,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3414094a-1b22-4e32-8d7b-86d96ab8cc90"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
