{
  "log": {
    "_recordingName": "iga/workflow-import/0_i_f/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-ccb-ai.forgeblocks.com/openidm/managed/svcacct/e696054f-b307-4d26-868a-b34376f396b2?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1411,
            "text": "{\"_id\":\"e696054f-b307-4d26-868a-b34376f396b2\",\"_rev\":\"130ad3d8-5a9b-44a7-ac5d-680b6f14fa4a-95404\",\"accountStatus\":\"active\",\"name\":\"frodo-volker.scheuber@pingidentity.com-2026-09-22T00:01:16.224Z\",\"description\":null,\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:iga:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\",\"fr:idc:proxy-connect:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"yWHPPMbomrpJVHwPPBtrKf5RrpdM-OUAShkF3_5socc\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"vPqMyENH-Hbmk00evFfzzl6mtbLdTkjekn9nRnRua2K2_RjX8U-8yUB-j3qnJavA7R57SIM1qD6RpBCQPqK8GbG9JDi8nRrPIOUG_AfA51l-eJ3yXEQRN1Kwd4rJsEch7kVsyn6Bj8rthV-1IElHg4cnJP6Be_IzK1JjpUtL3OWeObXmIWIXptkFRozwg7bUDHwtwsObUhIptLfKCy4nrl33xVyaqd0KhuH0XOuIcBqtTTSwfIsKtJBcSgTNPdnc9jx_mOS5iOGQ2XwmrtH89bfFTmCEOM8GECOu0jjDJoJGun2yu6dfcaS99PUWoGdsBmWsr0oon0xReGsKiivr24xrBKNEOgtv8WHHq2iYfsn4W7UdM0x9n0-SfGFXebXtJsZvUxqIcUtYOfeqf1toMnJgjsiFL5VeKVMg6gtST6XC8WbQI-0Knv1yvgBDESehyPZ-gGmqnyd3tjFhlVbhB-Gn8Cs1ki8YWSbC6HGjoEosta2YgjctQtzm66rYGNzZkDAD01_GxYPRJ730PJbeGGZjA2tLH0TDQagWDn2uWKc3S3eER69XQDdqirmSQDj6FMdNvYqAWvBlFCySZFwaCgXObFcMuT0vjuV3ivDYSx-yCJtcDjTWMTmJhdG0wnuyKKbSdVt0FcnAVELFQTsbfy6ic6EZFKitmQrKsGgYogs\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 229,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET[...]
