{
  "log": {
    "_recordingName": "idm/export/0_AxD/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a713239-8301-4d36-bdc6-9b3bde5a16af"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/ad62492c-d064-4952-95ed-0a74ed5b2fd1?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1476,
            "text": "{\"_id\":\"ad62492c-d064-4952-95ed-0a74ed5b2fd1\",\"_rev\":\"03de0609-c46a-478a-bc58-6f69391b4a0d-2546\",\"accountStatus\":\"active\",\"name\":\"Frodo TriVir\",\"description\":\"Frodo service account for use by TriVir\",\"scopes\":[\"fr:am:*\",\"fr:autoaccess:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:certificate:read\",\"fr:idc:content-security-policy:read\",\"fr:idc:cookie-domain:*\",\"fr:idc:cookie-domain:read\",\"fr:idc:custom-domain:read\",\"fr:idc:custom-domain:*\",\"fr:idc:esv:*\",\"fr:idc:promotion:*\",\"fr:idc:promotion:read\",\"fr:idc:release:*\",\"fr:idc:release:read\",\"fr:idc:sso-cookie:*\",\"fr:idc:sso-cookie:read\",\"fr:idm:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"rNWWJ9vZGkyMSXhaZVBEufp3oODou19gVDLje2_AMcw2Id4bILpBJ2Ob2LF4y2yV6l4m_OXVApvj5dInLqbsn_ZQoEmqc6AP6XFqAog4w-xRy5XFHBf1cKws3a5ANcZXlw-NTnuDFvzXkQXYeGH1WSqBIeVXlpjPe0C-7vtbN4oIZyy6QaFjqv7BEjmZ1F1YoHQryPzJl58rnomcQFqIk42-UMGfQt0w63ON1mtHyQOMWUduTFIU67_jGW7YKIrYs4JO9yizKR-4Uab9M1hKkYZRUmWCgL53YJtMjg-uVRWixKhJJy3fSCBDa_SXcz-c1glbg9fGQh908WRoN3tT4B0CaeDHexLId80Vuaq3VkplH6FZHzW9-KL8Td_0kOrKKbnLgtwRvr3Fxf95hLRVm1v4QCRujlRx5wtgkCWWHl9LET1d_MeLVYrfjz4p_Ha8ui8eWNPQLIPPcP3rbHX1py9zHHREt2Jp7ezA-lFnHbCAaoO4IksT5cIjmx1p1I_JhrVECXTn3J-s0ow3w9YIksXPovT2m-ytDWcqRJ-37OCr9xcO9CK2q9HAOjoqIpkJ0TfHrXw-YpqV9QR-sF79h-qwivBY2yrAUkfKoJwbBgjX60EDUpjEj5g157Jj576GVZtdRZgHRwzdcIFP2KyBrD3AfStpybVu2L2ZoOgebs0\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"03de0609-c46a-478a-bc58-6f69391b4a0d-2546\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a713239-8301-4d36-bdc6-9b3bde5a16af"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 77,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a713239-8301-4d36-bdc6-9b3bde5a16af"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],[...]
