{
  "log": {
    "_recordingName": "agent/gateway-import/0_i_f_D/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c4af7260-d3d3-4b15-99b3-b5525d8fd2f1"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 538,
            "text": "{\"_id\":\"*\",\"_rev\":\"36966512\",\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "etag",
              "value": "\"36966512\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c4af7260-d3d3-4b15-99b3-b5525d8fd2f1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 86,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c4af7260-d3d3-4b15-99b3-b5525d8fd2f1"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 282,
            "text": "{\"_id\":\"version\",\"_rev\":\"355151460\",\"version\":\"7.6.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.6.0-SNAPSHOT Build 493165657bbb9390016bd43ca767a46f23d8d24a (2024-September-23 14:30)\",\"revision\":\"493165657bbb9390016bd43ca767a46f23d8d24a\",\"date\":\"2024-September-23 14:30\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"355151460\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c4af7260-d3d3-4b15-99b3-b5525d8fd2f1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 74,
      },
      {
        "_id": "603fd1686174def667ad7462f18278b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c4af7260-d3d3-4b15-99b3-b5525d8fd2f1"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"frodo-test-ig-agent\",\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"collection\":true,\"name\":\"Identity Gateway Agents\"},\"agentgroup\":\"test_ig_group\",\"igCdssoLoginUrlTemplate\":\"http://testurl.com:8080/frodo\",\"igCdssoRedirectUrls\":[\"http://testurl.com:8080/frodo\"],\"igTokenIntrospection\":\"Realm\",\"secretLabelIdentifier\":null,\"status\":\"Inactive\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/frodo-test-ig-agent"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 474,
            "text": "{\"_id\":\"frodo-test-ig-agent\",\"_rev\":\"-255733308\",\"secretLabelIdentifier\":null,\"agentgroup\":\"test_ig_group\",\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm\"},\"igCdssoLoginUrlTemplate\":{\"inherited\":false,\"value\":\"http://testurl.com:8080/frodo\"},\"status\":{\"inherited\":false,\"value\":\"Inactive\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[\"http://testurl.com:8080/frodo\"]},\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "etag",
              "value": "\"-255733308\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c4af7260-d3d3-4b15-99b3-b5525d8fd2f1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 170,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
