{
  "log": {
    "_recordingName": "config/import/0_af_compare-and-delete_include-active-values/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ab083ed5-3f2f-4b02-9942-7cb1df5184ea"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/d5218d98-2327-45bf-81cc-6e948fbac517?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1371,
            "text": "{\"_id\":\"d5218d98-2327-45bf-81cc-6e948fbac517\",\"_rev\":\"6ec7aabc-f845-41fb-962f-f04f63faebe3-1390\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1743521597343\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:autoaccess:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"mDhkJcx9fSWSDvK28h29AtKRX4WAwT1w7gpRh1J0lUY\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"oeyOPeqyWGR4Kazx9yL8q1mGJ2NDIgueo5PK4VyIsfoFaFlgGsRWS4GBnRBeZJ5iDPuNbDtFNYvCHZTp4XcE80rwOB54DMWRGOQUFkGOLrgZiwVR2cfZpb9pS6Q-Pt0gEbu4uM74AVENrxt5P7kJZ-IaIFClEsltjbuffouXQ9ZAW9tAs1YL1g7Dcex7NelBWPeeX6dE0BccBCz7XijZZUKFRxF7s2m4WXgEK0YIv1wqSdh6k30o3C9PevGzHN8CFAeNWlWVyGs4_3mci3n3RuUg3OUJAkWOk8luTBvYSxErusRAMN27hIWLe8xi4-6xLtgjHMsJ-ozStAW1bMMEXL3AGARpfQlInqrqnf14BYb7DVjM7Rs7cnfSwmYVUY_0PFanzv1_Vm7NMo71WR5VOI2V_jDI8QkPn0tecNX-AaQe0j2luecwvOAhrQ41fOKrv5Ui9a6mqx5PW3n6GmfiEbyWVYpgn5ZQNvkgKWVRjHlBiK5ZrnHGj-PhtgC42oLTG1jBhG8Qa9LSLqUIqyOf5hD3zXDLUdueBaQTEMsFFNhwgUhFhItF0XXV9I_g75j_tIDV8C61SJRuOgdEg-ZU9VAdvNstzlbU4PE8I_MMkynZ7-lwoZc5oI2LZ2wxIGeIUMTfRHvc1POijVoEOq-g2fuGJvMBDoHilwS_ZUA19Qs\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"6ec7aabc-f845-41fb-962f-f04f63faebe3-1390\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ab083ed5-3f2f-4b02-9942-7cb1df5184ea"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 115,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ab083ed5-3f2f-4b02-9942-7cb1df5184ea"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
