{
  "log": {
    "_recordingName": "oauth/client-import/0_no-deps_i_f/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1ab88b06-a2ea-431e-9ec7-218be06400db"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 538,
            "text": "{\"_id\":\"*\",\"_rev\":\"36966512\",\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "etag",
              "value": "\"36966512\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1ab88b06-a2ea-431e-9ec7-218be06400db"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 92,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1ab88b06-a2ea-431e-9ec7-218be06400db"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 282,
            "text": "{\"_id\":\"version\",\"_rev\":\"355151460\",\"version\":\"7.6.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.6.0-SNAPSHOT Build 493165657bbb9390016bd43ca767a46f23d8d24a (2024-September-23 14:30)\",\"revision\":\"493165657bbb9390016bd43ca767a46f23d8d24a\",\"date\":\"2024-September-23 14:30\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"355151460\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1ab88b06-a2ea-431e-9ec7-218be06400db"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 76,
      },
      {
        "_id": "75e4d3601c64dfbac458f4478b87aa18",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1ab88b06-a2ea-431e-9ec7-218be06400db"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"test2\",\"_type\":{\"_id\":\"OAuth2Client\",\"collection\":true,\"name\":\"OAuth2 Clients\"},\"advancedOAuth2ClientConfig\":{\"clientUri\":[],\"contacts\":[],\"customProperties\":[],\"descriptions\":[\"Modified by Frodo on 4/16/2022, 8:41:59 PM\"],\"grantTypes\":[\"authorization_code\",\"refresh_token\",\"client_credentials\"],\"isConsentImplied\":false,\"javascriptOrigins\":[],\"logoUri\":[],\"mixUpMitigation\":false,\"name\":[],\"policyUri\":[],\"requestUris\":[],\"responseTypes\":[\"code\",\"token\",\"id_token\"],\"sectorIdentifierUri\":null,\"softwareIdentity\":null,\"softwareVersion\":null,\"subjectType\":\"public\",\"tokenEndpointAuthMethod\":\"client_secret_basic\",\"tokenExchangeAuthLevel\":0,\"tosURI\":[],\"updateAccessToken\":null},\"coreOAuth2ClientConfig\":{\"accessTokenLifetime\":0,\"authorizationCodeLifetime\":0,\"clientName\":[\"test2\"],\"clientType\":\"Confidential\",\"defaultScopes\":[\"openid\"],\"loopbackInterfaceRedirection\":false,\"redirectionUris\":[],\"refreshTokenLifetime\":0,\"scopes\":[\"openid\",\"fr:idm:*\"],\"status\":\"Active\"},\"coreOpenIDClientConfig\":{\"backchannel_logout_session_required\":false,\"backchannel_logout_uri\":null,\"claims\":[],\"clientSessionUri\":null,\"defaultAcrValues\":[],\"defaultMaxAge\":600,\"defaultMaxAgeEnabled\":false,\"jwtTokenLifetime\":0,\"postLogoutRedirectUri\":[]},\"coreUmaClientConfig\":{\"claimsRedirectionUris\":[]},\"overrideOAuth2ClientConfig\":{\"accessTokenMayActScript\":\"[Empty]\",\"accessTokenModificationScript\":\"d22f9a0c-426a-4466-b95e-d0f125b0d5fa\",\"clientsCanSkipConsent\":false,\"enableRemoteConsent\":false,\"issueRefreshToken\":true,\"issueRefreshTokenOnRefreshedToken\":true,\"oidcClaimsScript\":\"36863ffb-40ec-48b9-94b1-9a99f71cc3b5\",\"oidcMayActScript\":\"[Empty]\",\"overrideableOIDCClaims\":[],\"providerOverridesEnabled\":false,\"remoteConsentServiceId\":null,\"statelessTokensEnabled\":false,\"tokenEncryptionEnabled\":false,\"usePolicyEngineForScope\":false},\"signEncOAuth2ClientConfig\":{\"clientJwtPublicKey\":null,\"idTokenEncryptionAlgorithm\":\"RSA-OAEP-256\",\"idTokenEncryptionEnabled\":false,\"idTokenEncryptionMethod\":\"A128CBC-HS256\",\"idTokenPublicEncryptionKey\":null,\"idTokenSignedResponseAlg\":\"RS256\",\"jwkSet\":null,\"jwkStoreCacheMissCacheTime\":60000,\"jwksCacheTimeout\":3600000,\"jwksUri\":null,\"mTLSCertificateBoundAccessTokens\":false,\"mTLSSubjectDN\":null,\"mTLSTrustedCert\":null,\"publicKeyLocation\":\"jwks_uri\",\"requestParameterEncryptedAlg\":null,\"requestParameterEncryptedEncryptionAlgorithm\":\"A128CBC-HS256\",\"requestParameterSignedAlg\":null,\"tokenEndpointAuthSigningAlgorithm\":\"RS256\",\"tokenIntrospectionEncryptedResponseAlg\":\"RSA-OAEP-256\",\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"tokenIntrospectionResponseFormat\":\"JSON\",\"tokenIntrospectionSignedResponseAlg\":\"RS256\",\"userinfoEncryptedResponseAlg\":null,\"userinfoEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"userinfoResponseFormat\":\"JSON\",\"userinfoSignedResponseAlg\":null}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/OAuth2Client/test2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 4512,
            "text": "{\"_id\":\"test2\",\"_rev\":\"556854586\",\"coreOAuth2ClientConfig\":{\"loopbackInterfaceRedirection\":{\"inherited\":false,\"value\":false},\"defaultScopes\":{\"inherited\":false,\"value\":[\"openid\"]},\"refreshTokenLifetime\":{\"inherited\":false,\"value\":0},\"scopes\":{\"inherited\":false,\"value\":[\"openid\",\"fr:idm:*\"]},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"accessTokenLifetime\":{\"inherited\":false,\"value\":0},\"redirectionUris\":{\"inherited\":false,\"value\":[]},\"clientName\":{\"inherited\":false,\"value\":[\"test2\"]},\"clientType\":{\"inherited\":false,\"value\":\"Confidential[...]
