{
  "log": {
    "_recordingName": "oauth/client-import/0_no-deps_i_f/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9e9eb267-d228-4bab-adfe-f8a9b02ba21e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"allowedWithoutReferer\":true,\"refererWhitelist\":[]},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1874515102\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9e9eb267-d228-4bab-adfe-f8a9b02ba21e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 120,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9e9eb267-d228-4bab-adfe-f8a9b02ba21e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 283,
            "text": "{\"_id\":\"version\",\"_rev\":\"1217229914\",\"version\":\"7.4.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.4.0-SNAPSHOT Build 7e44c1624c3a11db5b5b0b576bb162618f1ac605 (2023-September-18 09:04)\",\"revision\":\"7e44c1624c3a11db5b5b0b576bb162618f1ac605\",\"date\":\"2023-September-18 09:04\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1217229914\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9e9eb267-d228-4bab-adfe-f8a9b02ba21e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 101,
      },
      {
        "_id": "d508a45a887595c39db9476a12bb6b8c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9e9eb267-d228-4bab-adfe-f8a9b02ba21e"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"test2\",\"coreOAuth2ClientConfig\":{\"loopbackInterfaceRedirection\":false,\"defaultScopes\":[\"openid\"],\"userpassword\":null,\"refreshTokenLifetime\":0,\"scopes\":[\"openid\",\"fr:idm:*\"],\"status\":\"Active\",\"accessTokenLifetime\":0,\"redirectionUris\":[],\"clientName\":[\"test2\"],\"clientType\":\"Confidential\",\"authorizationCodeLifetime\":0},\"overrideOAuth2ClientConfig\":{\"issueRefreshToken\":true,\"remoteConsentServiceId\":null,\"tokenEncryptionEnabled\":false,\"enableRemoteConsent\":false,\"usePolicyEngineForScope\":false,\"oidcMayActScript\":\"[Empty]\",\"oidcClaimsScript\":\"36863ffb-40ec-48b9-94b1-9a99f71cc3b5\",\"overrideableOIDCClaims\":[],\"accessTokenMayActScript\":\"[Empty]\",\"clientsCanSkipConsent\":false,\"accessTokenModificationScript\":\"d22f9a0c-426a-4466-b95e-d0f125b0d5fa\",\"providerOverridesEnabled\":false,\"issueRefreshTokenOnRefreshedToken\":true,\"statelessTokensEnabled\":false},\"advancedOAuth2ClientConfig\":{\"descriptions\":[\"Modified by Frodo on 4/16/2022, 8:41:59 PM\"],\"requestUris\":[],\"logoUri\":[],\"subjectType\":\"public\",\"clientUri\":[],\"tokenExchangeAuthLevel\":0,\"name\":[],\"contacts\":[],\"responseTypes\":[\"code\",\"token\",\"id_token\"],\"updateAccessToken\":null,\"mixUpMitigation\":false,\"customProperties\":[],\"javascriptOrigins\":[],\"policyUri\":[],\"softwareVersion\":null,\"tosURI\":[],\"sectorIdentifierUri\":null,\"tokenEndpointAuthMethod\":\"client_secret_basic\",\"isConsentImplied\":false,\"softwareIdentity\":null,\"grantTypes\":[\"authorization_code\",\"refresh_token\",\"client_credentials\"]},\"signEncOAuth2ClientConfig\":{\"tokenEndpointAuthSigningAlgorithm\":\"RS256\",\"idTokenEncryptionEnabled\":false,\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"requestParameterSignedAlg\":null,\"clientJwtPublicKey\":null,\"idTokenPublicEncryptionKey\":null,\"mTLSSubjectDN\":null,\"userinfoResponseFormat\":\"JSON\",\"mTLSCertificateBoundAccessTokens\":false,\"publicKeyLocation\":\"jwks_uri\",\"tokenIntrospectionResponseFormat\":\"JSON\",\"jwkStoreCacheMissCacheTime\":60000,\"requestParameterEncryptedEncryptionAlgorithm\":\"A128CBC-HS256\",\"userinfoSignedResponseAlg\":null,\"idTokenEncryptionAlgorithm\":\"RSA-OAEP-256\",\"requestParameterEncryptedAlg\":null,\"mTLSTrustedCert\":null,\"jwkSet\":null,\"idTokenEncryptionMethod\":\"A128CBC-HS256\",\"jwksCacheTimeout\":3600000,\"userinfoEncryptedResponseAlg\":null,\"idTokenSignedResponseAlg\":\"RS256\",\"jwksUri\":null,\"tokenIntrospectionSignedResponseAlg\":\"RS256\",\"userinfoEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"tokenIntrospectionEncryptedResponseAlg\":\"RSA-OAEP-256\"},\"coreOpenIDClientConfig\":{\"claims\":[],\"clientSessionUri\":null,\"backchannel_logout_uri\":null,\"defaultAcrValues\":[],\"jwtTokenLifetime\":0,\"defaultMaxAgeEnabled\":false,\"defaultMaxAge\":600,\"postLogoutRedirectUri\":[],\"backchannel_logout_session_required\":false},\"coreUmaClientConfig\":{\"claimsRedirectionUris\":[]},\"_type\":{\"_id\":\"OAuth2Client\",\"name\":\"OAuth2 Clients\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/OAuth2Client/test2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 4532,
            "text": "{\"_id\":\"test2\",\"_rev\":\"670386148\",\"coreOAuth2ClientConfig\":{\"userpassword\":null,\"loopbackInterfaceRedirection\":{\"inherited\":false,\"value\":false},\"defaultScopes\":{\"inherited\":false,\"value\":[\"openid\"]},\"refreshTokenLifetime\":{\"inherited\":false,\"value\":0},\"scopes\":{\"inherited\":false,\"value\":[\"openid\",\"fr:idm:*\"]},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"accessTokenLifetime\":{\"inherited\":false,\"value\":0},\"redirectionUris\":{\"inherited\":false,\"value\":[]},\"clientName\":{\"inherited\":false,\"value\":[\"test2\"]},\"clientType\":{\"inherited\":false,\"value\":\"Confidential[...]
