{
  "log": {
    "_recordingName": "config-manager/export/csp/0_D/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6a6e969e8ddb20c8a5a526a5866c3f99",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/content-security-policy/enforced"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 33,
            "text": "{\"active\":false,\"directives\":{}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "572a4794-4be2-46db-80b1-c227192357aa/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 120,
      },
      {
        "_id": "a676275fb0d588228d17f28b58146fd4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/content-security-policy/report-only"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 118,
            "text": "{\"active\":true,\"directives\":{\"frame-ancestors\":[\"'self'\"],\"script-src\":[\"'self'\",\"'unsafe-eval'\",\"'unsafe-inline'\"]}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "9fc4b781-76de-41e7-8729-b2738cf07f3d/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 187,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
