{
  "log": {
    "_recordingName": "config-manager/push/endpoints/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4f52806f4a9fe22a89a093bb54351997",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0f0f39e1-b284-432c-8e73-9cf7391ea669"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"endpoint/groovy\",\"description\":\"test\",\"type\":\"groovy\",\"source\":\"  import org.forgerock.json.resource.CreateRequest\\n  import org.forgerock.json.resource.ReadRequest\\n  import org.forgerock.json.resource.UpdateRequest\\n  import org.forgerock.json.resource.PatchRequest\\n  import org.forgerock.json.resource.DeleteRequest\\n  import org.forgerock.json.resource.NotSupportedException\\n\\n  if (request instanceof CreateRequest) {\\n    // POST\\n    return []\\n  } else if (request instanceof ReadRequest) {\\n    // GET\\n    return []\\n  } else if (request instanceof UpdateRequest) {\\n    // PUT\\n    return []\\n  } else if (request instanceof PatchRequest) {\\n    return []\\n  } else if (request instanceof DeleteRequest) {\\n    return []\\n  } else {\\n    throw new NotSupportedException(request.getClass().getName());\\n  }\\n\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/endpoint/groovy"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 830,
            "text": "{\"_id\":\"endpoint/groovy\",\"description\":\"test\",\"type\":\"groovy\",\"source\":\"  import org.forgerock.json.resource.CreateRequest\\n  import org.forgerock.json.resource.ReadRequest\\n  import org.forgerock.json.resource.UpdateRequest\\n  import org.forgerock.json.resource.PatchRequest\\n  import org.forgerock.json.resource.DeleteRequest\\n  import org.forgerock.json.resource.NotSupportedException\\n\\n  if (request instanceof CreateRequest) {\\n    // POST\\n    return []\\n  } else if (request instanceof ReadRequest) {\\n    // GET\\n    return []\\n  } else if (request instanceof UpdateRequest) {\\n    // PUT\\n    return []\\n  } else if (request instanceof PatchRequest) {\\n    return []\\n  } else if (request instanceof DeleteRequest) {\\n    return []\\n  } else {\\n    throw new NotSupportedException(request.getClass().getName());\\n  }\\n\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 21,
      },
      {
        "_id": "2ab26994df9e64f53aba1f0f72b1e305",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0f0f39e1-b284-432c-8e73-9cf7391ea669"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"endpoint/javascript\",\"description\":\"test\",\"globalsObject\":\"\\\"  {\\\\n    \\\\\\\"request\\\\\\\": {\\\\n      \\\\\\\"method\\\\\\\": \\\\\\\"create\\\\\\\"\\\\n    }\\\\n  }\\\"\",\"type\":\"text/javascript\",\"source\":\"  (function () {\\n    if (request.method === 'create') {\\n      // POST\\n      return {};\\n    } else if (request.method === 'read') {\\n      // GET\\n      return {};\\n    } else if (request.method === 'update') {\\n      // PUT\\n      return {};\\n    } else if (request.method === 'patch') {\\n      return {};\\n    } els[...]
