{
  "log": {
    "_recordingName": "email/template-export/0_Ni_D/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8aebdeafe8a93743f0bb78a58be9dbb4",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b8980c7b-06d2-434d-84ad-67581e52e3c2"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/76618ff6-e851-433e-9704-9d2852a17b7a?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1163,
            "text": "{\"_id\":\"76618ff6-e851-433e-9704-9d2852a17b7a\",\"_rev\":\"634c36d8-17f8-46ac-b172-30ca689a1c22-23850\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1701807230743\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"h4ifGrx6TkKeMMSvCOJRCOMw3S_CL9gfNSfIioTiIAU\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"7TPbNXJ04LNJzi9DkM7bEp4AWB0d2o1vpKWxcXQp8KYmDOi2TuevXGwDVLTLTgPUfucQ6ZI9GHNzqhO9yEYa4UUrAvV9AhIT9emvETliW-qb7kXfs3PgZS19_KsepHrZEnIZIm34GzIfrWIU94sfa12Lyoa1npwAauul_2sTYx8_Q_Hyqf0-VKjORAUd5hy5N7gUwa9-VKG9Pbx4z-g83VgD5cNyIqWI8449s1ZJTPKxDHhyh214IK1CWWJUJ6zk9wcOmfG3VAtTJ4gcUY83aOFKGrPCwP0i4OEE0-IN_cRdEpyje7ICYInX8AWMSs8M-8ci2FzPe2KQxlR9tajthjv8Mtv7GMQjAPoXr_a_kfcSo8I7YXDqdWgu50ybcb8oi29DMPl2i4RR2cfQ9eSfbZ5Mjgy8E9Pd460gAhN4HvfmCVDEn5OUH7vQTjcZpVjzbfml-p9xNEGl71RgcD5dPG8sHd94IIhy6XQ3I99oRkjeyqsC6f1BGz-xVceAd6c3fedsO9EkPxHfTBhGPpX9xiTMwmGW8oth2Efze81ZhFCKUN8wb0RukC3fr-bb09Huz-3mWlOtP8vhQ8lxUYWJiaXtKkYKrHsNYWueZvF9Rg-D8IlRCyDutZXkFnlZzAz2ybhRIpzHmjVKq96qV020yPgjcC9NSd_J49c2kKJysnE\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"634c36d8-17f8-46ac-b172-30ca689a1c22-23850\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b8980c7b-06d2-434d-84ad-67581e52e3c2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 77,
      },
      {
        "_id": "76be78f43255ef6c7f0ec368787fd6fa",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b8980c7b-06d2-434d-84ad-67581e52e3c2"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/welcome"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 879,
            "text": "{\"_id\":\"emailTemplate/welcome\",\"defaultLocale\":\"en\",\"displayName\":\"Welcome\",\"enabled\":true,\"from\":\"saas@forgerock.com\",\"html\":{\"en\":\"<div class=\\\"content\\\"><p>Welcome. Your username is '{{object.userName}}'.</p></div>\"},\"message\":{\"en\":\"<html><head></head><body style=\\\"background-color: #324054; color: #5e6d82; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px; margin: 0 auto; padding: 48px; width: 235px;\\\"><p>Welcome. Your username is '{{object.userName}}'.</p></div></body></html>\"},\"mimeType\":\"text/html\",\"styles\":\"body{\\n background-color:#324054;\\n color:#5e6d82;\\n padding:60px;\\n text-align:center\\n}\\na{\\n text-decoration:none;\\n color:#109cf1\\n}\\n.content{\\n background-color:#fff;\\n border-radius:4px;\\n margin:0 auto;\\n padding:48px;\\n width:235px\\n}\\n\",\"subject\":{\"en\":\"Your account has been created\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b8980c7b-06d2-434d-84ad-67581e52e3c2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
