{
  "log": {
    "_recordingName": "esv/variable-describe/0_json_usage_variable-id_file/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "69dc88b83cc53a5c31d5b07aae9c1011",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var-pi"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 230,
            "text": "{\"_id\":\"esv-test-var-pi\",\"description\":\"This is another test variable.\",\"expressionType\":\"number\",\"lastChangeDate\":\"2024-07-12T17:40:41.283412Z\",\"lastChangedBy\":\"Frodo-SA-1720799681233\",\"loaded\":true,\"valueBase64\":\"My4xNDE1OTI2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 340,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
