{
  "log": {
    "_recordingName": "oauth/client-import/0_f_directory/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-17c5d51d-9bbb-48d3-bc81-be758b3b4706"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 538,
            "text": "{\"_id\":\"*\",\"_rev\":\"36966512\",\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "etag",
              "value": "\"36966512\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-17c5d51d-9bbb-48d3-bc81-be758b3b4706"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-17c5d51d-9bbb-48d3-bc81-be758b3b4706"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 284,
            "text": "{\"_id\":\"version\",\"_rev\":\"-1830081578\",\"version\":\"7.6.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.6.0-SNAPSHOT Build 98ab9c81e93dae0afbb3fb3ee4bbc41d745361bd (2024-September-04 13:47)\",\"revision\":\"98ab9c81e93dae0afbb3fb3ee4bbc41d745361bd\",\"date\":\"2024-September-04 13:47\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1830081578\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-17c5d51d-9bbb-48d3-bc81-be758b3b4706"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 78,
      },
      {
        "_id": "b8d3b8245a3a9bcf7d4055ea73f963cb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-17c5d51d-9bbb-48d3-bc81-be758b3b4706"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"testclient\",\"_type\":{\"_id\":\"OAuth2Client\",\"collection\":true,\"name\":\"OAuth2 Clients\"},\"advancedOAuth2ClientConfig\":{\"clientUri\":[],\"contacts\":[],\"customProperties\":[],\"descriptions\":[],\"grantTypes\":[\"authorization_code\"],\"isConsentImplied\":false,\"javascriptOrigins\":[],\"logoUri\":[],\"mixUpMitigation\":false,\"name\":[],\"policyUri\":[],\"requestUris\":[],\"responseTypes\":[\"code\",\"token\",\"id_token\",\"code token\",\"token id_token\",\"code id_token\",\"code token id_token\",\"device_code\",\"device_code id_token\"],\"sectorIdentifierUri\":null,\"softwareIdentity\":null,\"softwareVersion\":null,\"subjectType\":\"public\",\"tokenEndpointAuthMethod\":\"client_secret_basic\",\"tokenExchangeAuthLevel\":0,\"tosURI\":[],\"updateAccessToken\":null},\"coreOAuth2ClientConfig\":{\"accessTokenLifetime\":0,\"authorizationCodeLifetime\":0,\"clientName\":[],\"clientType\":\"Confidential\",\"defaultScopes\":[],\"loopbackInterfaceRedirection\":false,\"redirectionUris\":[],\"refreshTokenLifetime\":0,\"scopes\":[\"email\",\"openid\",\"profile\"],\"status\":\"Active\"},\"coreOpenIDClientConfig\":{\"backchannel_logout_session_required\":false,\"backchannel_logout_uri\":null,\"claims\":[],\"clientSessionUri\":null,\"defaultAcrValues\":[],\"defaultMaxAge\":600,\"defaultMaxAgeEnabled\":false,\"jwtTokenLifetime\":0,\"postLogoutRedirectUri\":[]},\"coreUmaClientConfig\":{\"claimsRedirectionUris\":[]},\"signEncOAuth2ClientConfig\":{\"clientJwtPublicKey\":null,\"idTokenEncryptionAlgorithm\":\"RSA-OAEP-256\",\"idTokenEncryptionEnabled\":false,\"idTokenEncryptionMethod\":\"A128CBC-HS256\",\"idTokenPublicEncryptionKey\":null,\"idTokenSignedResponseAlg\":\"RS256\",\"jwkSet\":null,\"jwkStoreCacheMissCacheTime\":60000,\"jwksCacheTimeout\":3600000,\"jwksUri\":null,\"mTLSCertificateBoundAccessTokens\":false,\"mTLSSubjectDN\":null,\"mTLSTrustedCert\":null,\"publicKeyLocation\":\"jwks_uri\",\"requestParameterEncryptedAlg\":null,\"requestParameterEncryptedEncryptionAlgorithm\":\"A128CBC-HS256\",\"requestParameterSignedAlg\":null,\"tokenEndpointAuthSigningAlgorithm\":\"RS256\",\"tokenIntrospectionEncryptedResponseAlg\":\"RSA-OAEP-256\",\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"tokenIntrospectionResponseFormat\":\"JSON\",\"tokenIntrospectionSignedResponseAlg\":\"RS256\",\"userinfoEncryptedResponseAlg\":null,\"userinfoEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"userinfoResponseFormat\":\"JSON\",\"userinfoSignedResponseAlg\":null}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/OAuth2Client/testclient"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 4000,
            "text": "{\"_id\":\"testclient\",\"_rev\":\"-373885090\",\"coreOAuth2ClientConfig\":{\"loopbackInterfaceRedirection\":{\"inherited\":false,\"value\":false},\"defaultScopes\":{\"inherited\":false,\"value\":[]},\"refreshTokenLifetime\":{\"inherited\":false,\"value\":0},\"scopes\":{\"inherited\":false,\"value\":[\"email\",\"openid\",\"profile\"]},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"accessTokenLifetime\":{\"inherited\":false,\"value\":0},\"redirectionUris\":{\"inherited\":false,\"value\":[]},\"clientName\":{\"inherited\":false,\"value\":[]},\"clientType\":{\"inherited\":false,\"value\":\"Confidential\"},\"auth[...]
