{
  "log": {
    "_recordingName": "oauth/client-import/0_f_directory/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-259b3318-0858-40dc-8292-1ad64531f3c8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1874515102\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-259b3318-0858-40dc-8292-1ad64531f3c8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 127,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-259b3318-0858-40dc-8292-1ad64531f3c8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 275,
            "text": "{\"_id\":\"version\",\"_rev\":\"-718638044\",\"version\":\"7.5.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.5.0-SNAPSHOT Build cbdf0302eac3978c68f50b853a4495a622999003 (2024-March-06 09:56)\",\"revision\":\"cbdf0302eac3978c68f50b853a4495a622999003\",\"date\":\"2024-March-06 09:56\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-718638044\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-259b3318-0858-40dc-8292-1ad64531f3c8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 68,
      },
      {
        "_id": "b5028b2a730c5a96a641c27267872b79",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-259b3318-0858-40dc-8292-1ad64531f3c8"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"testclient\",\"_type\":{\"_id\":\"OAuth2Client\",\"collection\":true,\"name\":\"OAuth2 Clients\"},\"advancedOAuth2ClientConfig\":{\"clientUri\":{\"inherited\":false,\"value\":[]},\"contacts\":{\"inherited\":false,\"value\":[]},\"customProperties\":{\"inherited\":false,\"value\":[]},\"descriptions\":{\"inherited\":false,\"value\":[]},\"grantTypes\":{\"inherited\":false,\"value\":[\"authorization_code\"]},\"isConsentImplied\":{\"inherited\":false,\"value\":false},\"javascriptOrigins\":{\"inherited\":false,\"value\":[]},\"logoUri\":{\"inherited\":false,\"value\":[]},\"mixUpMitigation\":{\"inherited\":false,\"value\":false},\"name\":{\"inherited\":false,\"value\":[]},\"policyUri\":{\"inherited\":false,\"value\":[]},\"requestUris\":{\"inherited\":false,\"value\":[]},\"responseTypes\":{\"inherited\":false,\"value\":[\"code\",\"token\",\"id_token\",\"code token\",\"token id_token\",\"code id_token\",\"code token id_token\",\"device_code\",\"device_code id_token\"]},\"sectorIdentifierUri\":{\"inherited\":false},\"softwareIdentity\":{\"inherited\":false},\"softwareVersion\":{\"inherited\":false},\"subjectType\":{\"inherited\":false,\"value\":\"public\"},\"tokenEndpointAuthMethod\":{\"inherited\":false,\"value\":\"client_secret_basic\"},\"tokenExchangeAuthLevel\":{\"inherited\":false,\"value\":0},\"tosURI\":{\"inherited\":false,\"value\":[]},\"updateAccessToken\":{\"inherited\":false}},\"coreOAuth2ClientConfig\":{\"accessTokenLifetime\":{\"inherited\":false,\"value\":0},\"authorizationCodeLifetime\":{\"inherited\":false,\"value\":0},\"clientName\":{\"inherited\":false,\"value\":[]},\"clientType\":{\"inherited\":false,\"value\":\"Confidential\"},\"defaultScopes\":{\"inherited\":false,\"value\":[]},\"loopbackInterfaceRedirection\":{\"inherited\":false,\"value\":false},\"redirectionUris\":{\"inherited\":false,\"value\":[]},\"refreshTokenLifetime\":{\"inherited\":false,\"value\":0},\"scopes\":{\"inherited\":false,\"value\":[\"email\",\"openid\",\"profile\"]},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"userpassword\":null},\"coreOpenIDClientConfig\":{\"backchannel_logout_session_required\":{\"inherited\":false,\"value\":false},\"backchannel_logout_uri\":{\"inherited\":false},\"claims\":{\"inherited\":false,\"value\":[]},\"clientSessionUri\":{\"inherited\":false},\"defaultAcrValues\":{\"inherited\":false,\"value\":[]},\"defaultMaxAge\":{\"inherited\":false,\"value\":600},\"defaultMaxAgeEnabled\":{\"inherited\":false,\"value\":false},\"jwtTokenLifetime\":{\"inherited\":false,\"value\":0},\"postLogoutRedirectUri\":{\"inherited\":false,\"value\":[]}},\"coreUmaClientConfig\":{\"claimsRedirectionUris\":{\"inherited\":false,\"value\":[]}},\"signEncOAuth2ClientConfig\":{\"clientJwtPublicKey\":{\"inherited\":false},\"idTokenEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"RSA-OAEP-256\"},\"idTokenEncryptionEnabled\":{\"inherited\":false,\"value\":false},\"idTokenEncryptionMethod\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"idTokenPublicEncryptionKey\":{\"inherited\":false},\"idTokenSignedResponseAlg\":{\"inherited\":false,\"value\":\"RS256\"},\"jwkSet\":{\"inherited\":false},\"jwkStoreCacheMissCacheTime\":{\"inherited\":false,\"value\":60000},\"jwksCacheTimeout\":{\"inherited\":false,\"value\":3600000},\"jwksUri\":{\"inherited\":false},\"mTLSCertificateBoundAccessTokens\":{\"inherited\":false,\"value\":false},\"mTLSSubjectDN\":{\"inherited\":false},\"mTLSTrustedCert\":{\"inherited\":false},\"publicKeyLocation\":{\"inherited\":false,\"value\":\"jwks_uri\"},\"requestParameterEncryptedAlg\":{\"inherited\":false},\"requestParameterEncryptedEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"requestParameterSignedAlg\":{\"inherited\":false},\"tokenEndpointAuthSigningAlgorithm\":{\"inherited\":false,\"value\":\"RS256\"},\"tokenIntrospectionEncryptedResponseAlg\":{\"inherited\":false,\"value\":\"RSA-OAEP-256\"},\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"tokenIntrospectionResponseFormat\":{\"inherited\":false,\"value\":\"JSON\"},\"tokenIntrospectionSignedResponseAlg\":{\"inherited\":false,\"value\":\"RS256\"},\"userinfoEncryptedResponseAlg\":{\"inherited\":false},\"userinfoEncryptedResponseEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"userinfoResponseFormat\":{\"inherited\":false,\"value\":\"JSON\"},\"userinfoSignedResponseAlg\":{\"inherited\":false}}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/OAuth2Client/testclient"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 4000,
            "text": "{\"_id\":\"testclient\",\"_rev\":\"-373885090\",\"coreOAuth2ClientConfig\":{\"loopbackInterfaceRedirection\":{\"inherited\":false,\"val[...]
