{
  "log": {
    "_recordingName": "idm/export/0_N_f/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b9c3121cf238fa0d9e549b35af3040d5",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a078d97a-c1cb-4d82-9abd-376520b0e3d7"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/ba58ff99-76d3-4c69-9c4a-7f150ac70e2c?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1173,
            "text": "{\"_id\":\"ba58ff99-76d3-4c69-9c4a-7f150ac70e2c\",\"_rev\":\"0517f93c-53fc-42ec-bdf8-213760903270-609\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1701393386423\",\"description\":\"volker.scheuber@forgerock.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"7Dev4iJfutv2O3ysbHo-rZphSi3C2ldAK4NCOM5soWA\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"1LOnr1r01m9qMwrmXRt2FGuN__HL1JmJl5CDZA1Oqrc208cGKZk1gsvFNaYSU-bkDZuj6sgpmf-B5sc4xLGnqyOKeSw3z8GJbGQ5JyychNBsClpUu9981KlEBe_7cDvAhRtRT60Bni15Ff6KKcNdTD20W66XwKLefxPTpsnt7dsBlKXuhIq1pIPbXKFJJoct7tlufNqY_ypwrCbEhNsiVQ9A8Ozr8BUmPGfnaomlqUzMrO8jUV9TWw20WdXfHfCKja7ZnboQJpfXAe_iofFiVvXHVT2UadQDY8A1dtSuIksl3sSLPWUgBwCpZpRmUck1Cbc2l2coBu7qEMK8WEA0POnGRwam7KAi4tWbrc2F9M8ZyuUf8QLvBBjCJQBQwltfjGBmMinEDBWHfyAwYKKBCfQRdFwgmL2D8d_ItZf4PP0AVSgzHLLmis7FtvkiLDI4q7vSoK4lPrKh_i700z5oQY1mXZOQNmFJRx8HkuVxnUDEIAlO4__t-1JdXMYjLEuIXIZZAGAcDF_zes641h4mjV5tyg61e9JRIcGErsqXDNpfUWfbgd4EN0oBZFTI0vL2q87Oyzj8QetqlpPPvOcQniQEbUtBeATheQfUbZkOxFkg7E3LVJxhxKDeagsWOHqjhpDMKAbZ3Bej0zH8F4LJHV2SPAxJd5WkunZmRwoQKsM\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"0517f93c-53fc-42ec-bdf8-213760903270-609\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a078d97a-c1cb-4d82-9abd-376520b0e3d7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 74,
      },
      {
        "_id": "0b8355f1ac5870bd599a7d814921a98f",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a078d97a-c1cb-4d82-9abd-376520b0e3d7"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/script"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1016,
            "text": "{\"_id\":\"script\",\"ECMAScript\":{\"#javascript.debug\":\"&{openidm.script.javascript.debug}\",\"javascript.recompile.minimumInterval\":60000},\"Groovy\":{\"#groovy.disabled.global.ast.transformations\":\"\",\"#groovy.errors.tolerance\":10,\"#groovy.output.debug\":false,\"#groovy.output.verbose\":false,\"#groovy.script.base\":\"#any class extends groovy.lang.Script\",\"#groovy.script.extension\":\".groovy\",\"#groovy.source.encoding\":\"utf-8 #default US-ASCII\",\"#groovy.target.bytecode\":\"1.5\",\"#groovy.target.indy\":true,\"#groovy.warnings\":\"likely errors #othere values [none,likely,possible,paranoia]\",\"groovy.classpath\":\"&{idm.install.dir}/lib\",\"groovy.recompile\":true,\"groovy.recompile.minimumInterval\":60000,\"groovy.source.encoding\":\"UTF-8\",\"groovy.target.directory\":\"&{idm.install.dir}/classes\"},\"properties\":{},\"sources\":{\"default\":{\"directory\":\"&{idm.install.dir}/bin/defaults/script\"},\"install\":{\"directory\":\"&{idm.install.dir}\"},\"project\":{\"directory\":\"&{idm.instance.dir}\"},\"project-script\":{\"directory\":\"&{idm.instance.dir}/script\"}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a078d97a-c1cb-4d82-9abd-376520b0e3d7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 57,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
