{
  "log": {
    "_recordingName": "esv/secret-create/0_i_value_description_encoding/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d6f02d654653c861ed6aa10f5cde4483",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"My4xNDE1OTI2NTM1ODk3OTMyMzg0NjI2NDMzODMyNzk1MDI4ODQ=\",\"description\":\"This is a test secret containing the value pi.\",\"encoding\":\"unknown\",\"useInPlaceholders\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi-unknown"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 83,
            "text": "{\"code\":606,\"message\":\"encoding in body should be one of [generic pem base64hmac]\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 171,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
