{
  "log": {
    "_recordingName": "config-manager/push/saml/0_n_E_E_D_m/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://platform.dev.trivir.com/platform/appAuthHelperRedirect.html&scope=fr:idm:* openid&response_type=code&client_id=idm-admin-ui&csrf=g6tS1Guvg0sXU2lAWcOzHYOZcyg.*AAJTSQACMDIAAlNLABxvejhKSHIrVHZnTVMzVDAxM0dKazllNC9IQ1E9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=tznjQFwqRkzVBqnsawp_hIdvPtGzDCNh4oYhBcGvuLI&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "expires": "1970-01-01T00:00:00.000Z",
              "httpOnly": true,
              "name": "OAUTH_REQUEST_ATTRIBUTES",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "<cookie>"
            }
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://platform.dev.trivir.com/platform/appAuthHelperRedirect.html?code=qcr-nTMeE29cqbL34L27EX7d720&iss=https%3A%2F%2Fplatform.dev.trivir.com%2Fam%2Foauth2&client_id=idm-admin-ui"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 28,
      },
      {
        "_id": "ff75519a93ccab829f8ee8cf5e92b49f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "client_id=idm-admin-ui&redirect_uri=https://platform.dev.trivir.com/platform/appAuthHelperRedirect.html&grant_type=authorization_code&code=qcr-nTMeE29cqbL34L27EX7d720&code_verifier=RaU8r_g6quZuYywj4UjLPJK09SOpSlwzOV8krPmhjlo"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1247,
            "text": "{\"access_token\":\"<access token>\",\"scope\":\"openid fr:idm:*\",\"id_token\":\"<id token>\",\"token_type\":\"Bearer\",\"expires_in\":239}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 87,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
