{
  "log": {
    "_recordingName": "oauth/client-import/0_no-deps_AD/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6305d5fa-8fb9-49e0-b788-e75a1dd3456e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"allowedWithoutReferer\":true,\"refererWhitelist\":[]},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1874515102\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6305d5fa-8fb9-49e0-b788-e75a1dd3456e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6305d5fa-8fb9-49e0-b788-e75a1dd3456e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 283,
            "text": "{\"_id\":\"version\",\"_rev\":\"1217229914\",\"version\":\"7.4.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 7.4.0-SNAPSHOT Build 7e44c1624c3a11db5b5b0b576bb162618f1ac605 (2023-September-18 09:04)\",\"revision\":\"7e44c1624c3a11db5b5b0b576bb162618f1ac605\",\"date\":\"2023-September-18 09:04\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1217229914\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6305d5fa-8fb9-49e0-b788-e75a1dd3456e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 86,
      },
      {
        "_id": "e1ca3f75838c6879d0c9e0d727e86ad4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6305d5fa-8fb9-49e0-b788-e75a1dd3456e"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"RCSClient\",\"coreOAuth2ClientConfig\":{\"userpassword\":null,\"loopbackInterfaceRedirection\":{\"inherited\":false,\"value\":false},\"defaultScopes\":{\"inherited\":false,\"value\":[]},\"refreshTokenLifetime\":{\"inherited\":false,\"value\":0},\"scopes\":{\"inherited\":false,\"value\":[\"fr:idm:*\"]},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"accessTokenLifetime\":{\"inherited\":false,\"value\":0},\"redirectionUris\":{\"inherited\":false,\"value\":[]},\"clientName\":{\"inherited\":false,\"value\":[]},\"clientType\":{\"inherited\":false,\"value\":\"Confidential\"},\"authorizationCodeLifetime\":{\"inherited\":false,\"value\":0}},\"advancedOAuth2ClientConfig\":{\"descriptions\":{\"inherited\":false,\"value\":[]},\"requestUris\":{\"inherited\":false,\"value\":[]},\"logoUri\":{\"inherited\":false,\"value\":[]},\"subjectType\":{\"inherited\":false,\"value\":\"Public\"},\"clientUri\":{\"inherited\":false,\"value\":[]},\"name\":{\"inherited\":false,\"value\":[]},\"contacts\":{\"inherited\":false,\"value\":[]},\"responseTypes\":{\"inherited\":false,\"value\":[\"code\",\"token\",\"id_token\",\"code token\",\"token id_token\",\"code id_token\",\"code token id_token\",\"device_code\",\"device_code id_token\"]},\"updateAccessToken\":{\"inherited\":false},\"mixUpMitigation\":{\"inherited\":false,\"value\":false},\"javascriptOrigins\":{\"inherited\":false,\"value\":[]},\"policyUri\":{\"inherited\":false,\"value\":[]},\"sectorIdentifierUri\":{\"inherited\":false},\"tokenEndpointAuthMethod\":{\"inherited\":false,\"value\":\"client_secret_basic\"},\"isConsentImplied\":{\"inherited\":false,\"value\":false},\"grantTypes\":{\"inherited\":false,\"value\":[\"client_credentials\"]}},\"signEncOAuth2ClientConfig\":{\"tokenEndpointAuthSigningAlgorithm\":{\"inherited\":false,\"value\":\"RS256\"},\"idTokenEncryptionEnabled\":{\"inherited\":false,\"value\":false},\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"requestParameterSignedAlg\":{\"inherited\":false},\"clientJwtPublicKey\":{\"inherited\":false},\"idTokenPublicEncryptionKey\":{\"inherited\":false},\"mTLSSubjectDN\":{\"inherited\":false},\"userinfoResponseFormat\":{\"inherited\":false,\"value\":\"JSON\"},\"mTLSCertificateBoundAccessTokens\":{\"inherited\":false,\"value\":false},\"publicKeyLocation\":{\"inherited\":false,\"value\":\"jwks_uri\"},\"tokenIntrospectionResponseFormat\":{\"inherited\":false,\"value\":\"JSON\"},\"jwkStoreCacheMissCacheTime\":{\"inherited\":false,\"value\":60000},\"requestParameterEncryptedEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"userinfoSignedResponseAlg\":{\"inherited\":false},\"idTokenEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"RSA-OAEP-256\"},\"requestParameterEncryptedAlg\":{\"inherited\":false},\"mTLSTrustedCert\":{\"inherited\":false},\"jwkSet\":{\"inherited\":false},\"idTokenEncryptionMethod\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"jwksCacheTimeout\":{\"inherited\":false,\"value\":3600000},\"userinfoEncryptedResponseAlg\":{\"inherited\":false},\"idTokenSignedResponseAlg\":{\"inherited\":false,\"value\":\"RS256\"},\"jwksUri\":{\"inherited\":false,\"value\":\"http://am:80/am/oauth2/connect/jwk_uri\"},\"tokenIntrospectionSignedResponseAlg\":{\"inherited\":false,\"value\":\"RS256\"},\"userinfoEncryptedResponseEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"tokenIntrospectionEncryptedResponseAlg\":{\"inherited\":false,\"value\":\"RSA-OAEP-256\"}},\"coreOpenIDClientConfig\":{\"claims\":{\"inherited\":false,\"value\":[]},\"clientSessionUri\":{\"inherited\":false},\"defaultAcrValues\":{\"inherited\":false,\"value\":[]},\"jwtTokenLifetime\":{\"inherited\":false,\"value\":0},\"defaultMaxAgeEnabled\":{\"inherited\":false,\"value\":false},\"defaultMaxAge\":{\"inherited\":false,\"value\":600},\"postLogoutRedirectUri\":{\"inherited\":false,\"value\":[]}},\"overrideOAuth2ClientConfig\":{\"oidcClaimsScript\":\"1f389a3d-21cf-417c-a6d3-42ea620071f0\",\"accessTokenModificationPluginType\":\"SCRIPTED\",\"clientsCanSkipConsent\":true,\"accessTokenModificationScript\":\"c234ba0b-58a1-4cfd-9567-09edde980745\",\"oidcClaimsPluginType\":\"SCRIPTED\",\"providerOverridesEnabled\":true,\"statelessTokensEnabled\":true},\"coreUmaClientConfig\":{\"claimsRedirectionUris\":{\"inherited\":false,\"value\":[]}},\"_type\":{\"_id\":\"OAuth2Client\",\"name\":\"OAuth2 Clients\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/OAuth2Client/RCSClient"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 4044,
            "text": "{\"_id\":\"RCSClient\",\"_rev\":\"119389614\",\"coreOAuth2ClientConfig\":{\"userpassword\":null,\"loopbackInterfaceRedirection\":{\"inherited\":false,\"v[...]
