{
  "log": {
    "_recordingName": "esv/variable-set/0_Fi_description/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6613e5a23ac4f2dc39fd93cf9ad66bc8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"This is a pi test variable.\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "setDescription"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var-pi-string?_action=setDescription"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 978,
      },
      {
        "_id": "9826be4ffe4ebbd2e00015087b290f1e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-test-var-pi-string"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 231,
            "text": "{\"_id\":\"esv-test-var-pi-string\",\"description\":\"This is a pi test variable.\",\"expressionType\":\"string\",\"lastChangeDate\":\"2026-09-28T14:20:53.364067Z\",\"lastChangedBy\":\"Frodo-SA-1782747461119\",\"loaded\":false,\"valueBase64\":\"My4xNA==\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 254,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
