{
  "log": {
    "_recordingName": "esv/secret-import/0_force-update_all_file_include-active-values/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/9f7b6b8b-6ab5-45b3-aad5-5bda19eb3064?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1393,
            "text": "{\"_id\":\"9f7b6b8b-6ab5-45b3-aad5-5bda19eb3064\",\"_rev\":\"dd15d28f-b367-474a-90a4-e32212a23a99-6954\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1783448612033\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\",\"fr:idc:telemetry:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"4Bit1jUmJsjLI1iAS8VQdecDPEZp5uNsGF5s9WPiJZI\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"ogAK4_BGuGf97NFAD8UN9qTi1wv3iF4XqvF2_NsztrfV528vMLqhU-HvgbC7XhE56RiDQB085pJIvUF81LQcTBbUWLuJPMRgrIbRM6BDrCFgUUaLOxT9vuWP2CW99NC9__3EVwwP512HlB-vxx8JZEZkj5Jzznq48xResexXViUQC4WXL8H_b2gSoHC0i2W3QJGpTuIvYRc1-oCcYA12hFpUzhR_DIqI1xxMx4BUgQBgM8msXu171G4zX6vHb8_CJXE2zBHxCOTD55tQl50UX75fvnK4BbayU6W_nwV64GyIt5NCn41yRTApoK_S-kWJ8K8wCxK_QDLpqDhnjGEJvKzzMCPPGAJLyMGqL40EFOW_LvzjtWLoTWrbwqYsexEEO4bfl-18fRaMO7yyYAmTQApZfWTi25fqddhIC7q2qdmDoo1EqUmWIPdEW60hc7lSzFw98Zc7zRwA7-Kpcla2a7bhH-0itjPoV35PphYxOLNJsomUUm-F4EzufTx3ZY5MDUwhEGQW-8eUBQ8CVJPlRP6Hvq6X4RztCgnoQp9vpD4my16EWAIPiAFwmWlI235SVhxihBeamqNSFBAJoiTX-9gBNWh63F8vf_M4ToFk5Vlc8OZmWxb5nLLZ5JrKCLPE1HoetlKDfoBSlOhmu5kyJS1EPdeaL1WfLJAp-s14a30\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 208,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET[...]
