{
  "log": {
    "_recordingName": "mapping/import/0_af_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "de3566e649dc89e93a6365b0fdaecd4e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a8cc34aa-264d-4c56-8f04-f4f85d2e1948"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 10,
      },
      {
        "_id": "3f3b03432a833cfcbe27438276bb566b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a8cc34aa-264d-4c56-8f04-f4f85d2e1948"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openam-password",
              "value": "openidm-admin"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 3,
      },
      {
        "_id": "4c1fef66c916c8940b0315dddc564b06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a8cc34aa-264d-4c56-8f04-f4f85d2e1948"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config/sync"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json;charset=utf-8",
            "size": 815,
            "text": "[\"H4sIAAAAAAAA/w==\",\"7ZhRj6IwEMe/S59JfPetq0jIYcmBPJiLIV2opBtsOVo25xm/+7Wre6fZshRluRcfTBRm/owwv/+MHkBKczAFYs8y4IAdrirKCgGmPw4XZyY7zHBB8rAuMKO/saScpedjES+Jysw4E4TJiPxsaE1U4haXgjggp6Iq8R7hHVFi3TpUCYEpa8rSAcw2qeIlzSg5lY0zHQGmB1CU/FlVod4eHSB4U2dabjIRBDNJhFSZcl/pY5L8kpMX/IpFVtNKAh1PZYNPSgAun3wvCZNYnRjsAuqL5nTwUuMwiWZuuvTj2EfezfUWNeevey1ecSHhXQqX5ZnqAjBeoxm4DlyECZqnMIhcOF+ngY++ufPurAR9T[...]
