{
  "log": {
    "_recordingName": "mapping/import/0_af_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4c1fef66c916c8940b0315dddc564b06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-81cac237-a225-491d-a71e-aaabf58199c6"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config/sync"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json;charset=utf-8",
            "size": 539,
            "text": "[\"H4sIAAAAAAAA/w==\",\"7ZVBb4IwGIb/S88k3r2hImmGbQZyMIshHVbSBQpry8EZ//vagQtGTOvFE8e2z/e2h/eBM8jYAcyBPPEceKAiTcN4IcH84zw4mUlKuKJS9eeazGsuKVcx/W6ZoBo8klJSDxyYbEpyQqSiZvhujulBMOdtWXqAP4KaumQ5o90zSK6YmQF+skNLfSqZasl1b5EEaAsuno2LoizEKHAgNwsYpjhN7OgSozWMN8HKjq5xilyxzI/iwF/tsgiiN5dww2UYRTs7uoFJAlFoBxOcxssggyHCscsbet45f+vHYbB1z0+Rr5ND5Ma+p34E19DAe10nUTdUqK5Qei3rVuSmeRXhpKCHGZGSFbzSfTZJuvD+UVHRwYqIgqoBXIuCcPbTXWbeMvCkZ/AAyfq9uC6pszf2nBGP7EOTV5NXr/TqRpVbs+6++mOqCVPbccWS//G/Zf35RXN1rXsq9R1PuuYS+Fg6l+nJvsm+V9onxzpp09Cz/kbGRG1Nwy/7yy8hq2ynTwoAAA==\"]"
          },
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 15,
      },
      {
        "_id": "8f3e3a107302ea3ae5ac70a33addb602",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-81cac237-a225-491d-a71e-aaabf58199c6"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"mappings\":[{\"_id\":\"sync/seantestmapping\",\"consentRequired\":false,\"displayName\":\"seantestmapping\",\"icon\":null,\"name\":\"seantestmapping\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"ASYNC\",\"situation\":\"LINK_ONLY\"},{\"action\":\"ASYNC\",\"situation\":\"MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"UNASSIGNED\"},{\"action\":\"ASYNC\",\"situation\":\"UNQUALIFIED\"}],\"properties\":[],\"source\":\"managed/assignment\",\"syncAfter\":[],\"target\":\"managed/organization\"},{\"_id\":\"sync/managedOrganization_managedRole\",\"consentRequired\":false,\"displayName\":\"managedOrganization_managedRole\",\"icon\":null,\"name\":\"managedOrganization_managedRole\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"si[...]
