{
  "log": {
    "_recordingName": "esv/secret-create/0_i_value_description/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bdbf7784ffe3e1c6e94572bb362bc58d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"My4xNDE1OTI2NTM1ODk3OTMyMzg0NjI2NDMzODMyNzk1MDI4ODQ=\",\"description\":\"This is a test secret containing the value pi.\",\"encoding\":\"generic\",\"useInPlaceholders\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-test-secret-pi-generic"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 299,
            "text": "{\"_id\":\"esv-test-secret-pi-generic\",\"activeVersion\":\"1\",\"description\":\"This is a test secret containing the value pi.\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-10-17T22:37:13.115Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 810,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
