{
  "log": {
    "_recordingName": "node/import/0_i_f/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9d852691-f685-4418-9a10-3ab7e8a1ddef"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 585,
            "text": "{\"_id\":\"*\",\"_rev\":\"-494299414\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"cloudOnlyFeaturesEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"-494299414\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9d852691-f685-4418-9a10-3ab7e8a1ddef"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 96,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9d852691-f685-4418-9a10-3ab7e8a1ddef"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 281,
            "text": "{\"_id\":\"version\",\"_rev\":\"1652964296\",\"version\":\"8.1.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 8.1.0-SNAPSHOT Build 0f3c85c8bbc4e5c93454ee525528ade846b19bcb (2025-December-04 22:27)\",\"revision\":\"0f3c85c8bbc4e5c93454ee525528ade846b19bcb\",\"date\":\"2025-December-04 22:27\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1652964296\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9d852691-f685-4418-9a10-3ab7e8a1ddef"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112,
      },
      {
        "_id": "1175c4fdd69150a1690a688b187f4875",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9d852691-f685-4418-9a10-3ab7e8a1ddef"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"c605506774a848f7877b4d17a453bd39-1\",\"description\":\"Checks if the user has a current session.\",\"displayName\":\"Has Session\",\"errorOutcome\":false,\"inputs\":[],\"outcomes\":[\"True\",\"False\"],\"outputs\":[],\"properties\":{},\"script\":\"var SCRIPT_OUTCOMES = {\\n    TRUE: 'True',\\n    FALSE: 'False'\\n}\\n\\nfunction main() {\\n    action.goTo(typeof existingSession === \\\"undefined\\\" ? SCRIPT_OUTCOMES.FALSE : SCRIPT_OUTCOMES.TRUE);\\n}\\n\\nmain();\\n\",\"serviceName\":\"c605506774a848f7877b4d17a453bd39\",\"tags\":[\"utilities\"]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/node-designer/node-type"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 119,
            "text": "{\"code\":409,\"reason\":\"Conflict\",\"message\":\"Node Type with resource id c605506774a848f7877b4d17a453bd39 already exists\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9d852691-f685-4418-9a10-3ab7e8a1ddef"
            }
 [...]
